<app-banner
  color="purple"
  title="Notificaciones"
  img="/assets/img/banners/banner-reportes-pc.jpg"
  imgMobile="/assets/img/banners/banner-reportes-mobile.jpg"
></app-banner>

<span
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="container mt-2"
>
  <button mat-button [routerLink]="['/notificaciones']">
    <span class="galano-bold f-16" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Volver
    </span>
  </button>

  <button mat-button class="red" (click)="deleteNotication()">
    <span fxLayoutAlign="center space-between"> Eliminar mensaje </span>
  </button>
</span>

<div
  class="container mt-4 fade-in"
  fxLayout.gt-xs="row"
  fxLayout.xs="column"
  fxLayoutGap="30px"
>
  <mat-card fxFlex="100%">
    <h3>{{ title }}</h3>
    <span class="date">{{ date | date: 'dd/MM/yyyy' }}</span>
    <div [innerHtml]="content"></div>
  </mat-card>
</div>
