@import "variables";
@import "general";
@import "animations";

.image-bussiness {
  width: 132px;
  height: 58px;
}

.text-link {
  color: #8d7eb7 !important;
  text-decoration: underline;
}
.border-blue {
  border-bottom-color: #352767 !important;
}
.new-category {
  justify-content: center;
  border: 1px dashed;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  span {
    color: #37236a;
    font-family: $font-galano-bold;
  }
}
.w-label {
  width: 160px;
}
.w-label-info {
  width: 178px;
}
.gray {
  color: $gray2;
  font-size: 11px;
}
.normal-text {
  color: #37236a;
  font-size: 14px;
  //line-height: 28px;
  //font-family: "galano-medium";
}
.margin-zero-bottom {
  margin-bottom: 0px !important;
}
.margin-zero-top {
  margin-top: 0px !important;
}
.w-description {
  width: 550px;
  margin-right: 10px;
}
.normal-link {
  color: #8d7eb7 !important;
  text-decoration: underline;
}
.label-up-text-selected {
  color: #a7a3b1;
  font-family: $font-galano-bold !important;
  margin-top: 15px;
  font-size: 14px;
}
.w-image {
  width: 100%;
}
.download-file {
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  position: absolute;
  bottom: -45px;
  right: 0px;
  background-color: #8e7cbb;
}
.span-relative-new {
  position: relative;
  bottom: 7px;
}
.status-img {
  position: relative;
  top: 4px;
}

.button-save {
  background-color: #37236a;
  box-shadow: 0px 3px 9px #3a226a80;
  color: #ffffff;
}
.button-delete-comision {
  position: relative;
  //right: 20px;
}
.center-template {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-title {
  color: #f21905;
}
.w-container {
  width: 80%;
  text-align: center;
}
.icon-update {
  position: relative;
  bottom: 3px;
}
.background-white {
  background-color: #ffffff !important;
  th {
    border: none;
  }
}
.background-white-header {
  background-color: #ffffff !important;
}
.header-color-cell-ini {
  background-color: #f3f1f6;
  border-top-left-radius: 10px;
  border-bottom: none;
}
.header-color-cell {
  background-color: #f3f1f6;
  border-bottom: none;
}
.header-color-cell-fin {
  background-color: #f3f1f6;
  border-top-right-radius: 10px;
  border-bottom: none;
}
.style-icon {
  font-size: 22px;
  color: #37236a;
}
