<app-banner
  title="{{ 'DASHBOARD.BUSINESS' | translate}}"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>
<div class="container mt-3">
    <div class="mb-3" fxLayout="row" fxLayoutAlign="space-between" >
        <div fxLayout="row">
            <img class="image-bussiness" [src]="image" alt="">
            <span> <h3>{{title}} / Comisiones</h3></span>
        </div>
        <span  fxLayout="row" >
            <!-- <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.BUSSINESS' | translate }}</h3> -->
            <button mat-button [routerLink]="[ '/negocios-admin']">
                <span class="galano-bold f-16" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Volver
                </span>
            </button>
          </span>
    </div>
<div class="container m-t4 fade-in">
    <div ngClass="comision-container" > 
        <table mat-table #table2  
        [dataSource]="dataSource" 
        cdkDropList
        [cdkDropListData]="dataSource"
        (cdkDropListDropped)="dropTableComision($event)">
        <ng-container matColumnDef="drag">
            <th class="header-color-cell-ini" mat-header-cell *matHeaderCellDef> </th>
            <td class="pt-2" mat-cell *matCellDef="let element;let i= index" > 
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="end center" fxLayoutAlign.xs="center center">
                    <mat-icon  matSuffix class="mr-1 blue cursor-pointer" cdkDragHandle>drag_indicator</mat-icon>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="bussiness">
            <th class="header-color-cell" style="width: 890px;" mat-header-cell *matHeaderCellDef> COMISIONES </th>
            <td class="pt-2" mat-cell *matCellDef="let element"> 
                <p>{{element.description}}</p>
            </td>
        </ng-container>
        <ng-container matColumnDef="comision">
            <th class="header-color-cell" mat-header-cell *matHeaderCellDef> COMISIÓN </th>
            <td class="pt-2" mat-cell *matCellDef="let element"> 
                <p>{{element.commission}}</p>
                
            </td>
        </ng-container>
        <ng-container matColumnDef="button">
            <th class="header-color-cell-fin" mat-header-cell *matHeaderCellDef> ACCIONES </th>
            <td class="pt-2" mat-cell *matCellDef="let element;let i= index"> 
                <img class="cursor-pointer" (click)=editCategory(element) src="/assets/img/dashboard/icon-edit.svg" alt="">
                            <img class="cursor-pointer" (click)="deleteComision(element,i)" src="/assets/img/dashboard/icon-remove-comision.svg" alt="">
                
            </td>
        </ng-container>
        <tr class="background-white-header" mat-header-row *matHeaderRowDef="displayedColumnsComision"></tr>
                <tr ngClass="background-white" mat-row *matRowDef="let rowComision; columns: displayedColumnsComision;let i= index" cdkDrag [cdkDragData]="rowComision"></tr>
        </table>
        
    </div>    
    
    <div class="mt-3 mb-3" fxLayout="row" fxLayoutAlign="end">
        
        <button mat-raised-button class="button-save" (click)="newComision()" 
        > Agregar Nueva Comisión </button>
    </div>
</div>

<ng-template #templateNewEdit>
    <div class="center-template">
        <div fxLayout="column">
            <mat-form-field [id]="description+i" style="width: 385px;">
                <textarea
                    matInput
                    placeholder="NOMBRE"
                    
                    type="text"
                    [(ngModel)]="elemento.description"
                    (ngModelChange)="validation(elemento.description)"
                    required
                    class="text-area-heigth"
                    style="height: 90px;     color: #37236A;"
                ></textarea>  
            </mat-form-field>
            <mat-form-field style="width: 385px;">
                <input
                  style="height: 20px;     color: #37236A;"
                  matInput
                  
                  type="text"
                  placeholder="COMISIÓN"
                  [(ngModel)]="elemento.commission"
                  (ngModelChange)="validation(elemento.description)"
                  required
                />
            </mat-form-field>
        </div>
    </div>
        <div style="justify-content: flex-end;" fxLayout="row" fxLayout.xs="column"  fxLayoutGap="30px" fxLayoutGap.xs="5px">
            <div ngClass=" hide-button-on-mobile">
                <button mat-button ngClass="button_cancel" (click)="cancelEdit()"
                > Cancelar </button>
              </div>
            <div>
            <button mat-raised-button class="button-save"  (click)="saveInformation()" [disabled]="disabledButton"
            ><span
            fxLayoutAlign="center space-between"
            >
            Guardar
            </span></button>
          </div>
    </div>
    
</ng-template>