<mat-card class="mat-elevation-z0 card-product card-other fade-in p-1 cursor-pointer" *ngIf="exito" (click)="product()">
  <mat-card-content fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.xs="space-around">
    <span fxLayout="column" fxFlex="20" fxFlex.xs="40" fxFLex.gt-xs="100" fxLayoutAlign="center">
      <div class="{{ container }}">
        <img loading="lazy"class="img-responsive ch-100 heigth-automatic" mat-card-image src="{{ imagen }}" alt="{{ altimagen }}" />
      </div>
    </span>
    <span
      fxLayout="column"
      fxFlex="100"
      fxFLex.gt-xs="100"
      fxLayoutAlign="center center"
      fxLayoutAlign.xs="center start"
      fxLayoutAlign.gt-xs="inherit inherit"
    >
      <span fxLayout="row" fxLayout.xs="column" fxLayout.gt-xs="column">
        <span fxLayout="column" ngClass.gt-xs="container" ngClass.gt-xs="container-card-info" fxLayoutAlign="end start">
          <h3 ngClass.gt-xs="f-18" id="{{ idne }}" matTooltip="{{ nombreProducto }}">
            {{ nombreProducto | truncate: '50' }}
          </h3>
          <div class="w-100">
            <span class="f-13" ngClass.gt-xs="f-18" *ngIf="precio !== 0"></span>

            <span
              *ngIf="precio !== 0"
              fxLayout="row"
              fxLayout.gt-xs="column"
              fxLayoutAlign="start space-between"
              fxLayoutGap="10px"
              fxLayoutGap.xs="20px"
            >
              <span>
                <span *ngIf="descuento !== precio" class="d-block discount text-line small">
                  {{ descuento | currency: '':'symbol':'1.0-0' }}
                </span>
                <span>
                  <span ngClass.xs="f-13" ngClass.gt-xs="f-18" class="d-block discount">
                    {{ precio | currency: '':'symbol':'1.0-0' }}
                  </span>
                  <span ngClass.xs="f-13" ngClass.gt-xs="f-18" class="plu"> PLU:{{ pluexito }} </span>
                </span>
              </span>
              <span
                fxLayout="column"
                fxLayoutAlign="flex-end flex-end"
                fxLayoutAlign.xs="flex-end flex-end"
                ngClass.gt-xs="button-wrap pb-3 "
              >
                <button
                  id="{{ butonid }}"
                  mat-raised-button
                  color="orange"
                  ngClass.xs="widb"
                  class="mb-1 button-properties mr-1"
                  (click)="product()"
                  [disabled]="precio === 0"
                >
                  <span id="{{ butonid }}">{{ textoboton }}</span>
                </button>
              </span>
            </span>

            <span *ngIf="precio === 0" fxLayout.gt-xs="column" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <span class="badge-product"> Producto no disponible </span>
              <span class="min-18"> </span>

              <button
                mat-raised-button
                color="orange"
                ngClass.xs="widb"
                class="mb-1 button-20"
                (click)="product()"
                [disabled]="precio === 0"
              >
                <span>{{ textoboton }}</span>
              </button>
            </span>
          </div>
        </span>
      </span>
    </span>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z0 card-product card-other fade-in p-1" *ngIf="otro">
  <mat-card-content fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between" class="card-product__content">
    <span fxFlex="30" fxLayoutAlign="start center" class="product-image">
      <div class="{{ container }}" fxLayout="row" fxLayoutAlign="center">
        <img loading="lazy" class="product-image__image" src="{{ imagen }}" alt="{{ altimagen }}" />
      </div>
    </span>
    <span
      fxLayout="row wrap"
      fxFlex="70"
      fxLayoutAlign="start center"
      class="px-10">
      
        <span fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
          <h3 class="mt-3 mb-0 min-width-auto" ngClass.gt-xs="f-18" id="{{ idne }}" matTooltip="{{ nombreProducto }}">
            {{ nombreProducto | truncate: '30' }}
          </h3>
          <p>
            <span class="f-13" ngClass.gt-xs="f-18">Recompensa:</span>
            <span class="d-block orange-text f-13" ngClass.gt-xs="f-18">
              {{ porcentaje }}
            </span>
          </p>
        </span>

        <div fxFlex="100" fxLayout="row wrap" fxFlex fxLayoutAlign="end" fxLayoutGap="10px" class="mt-2 mb-2">
            <button id="{{ butonid }}" mat-raised-button color="orange" *ngIf="clickear" [(ngClass)]="Class" (click)="product()">
              <span [(ngClass)]="Class">{{ textoboton }}</span>
            </button>
          
            <button id="{{ butonid }}" mat-raised-button color="purple2" *ngIf="phygital" [(ngClass)]="Class" (click)="phygitalModal()">
              <span [(ngClass)]="Class">Punto físico</span>
            </button>
        </div>

    </span>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z0 p-0 fade-in" *ngIf="categoria">
  <mat-card-content fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="10px" fxLayoutAlign.xs="center center" class="category border-radius-10">
    <span fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
      <img loading="lazy"(click)="product()" [src]="foto" class="img-responsive mb-3 cursor-pointer {{ Class }}{{ nombreProducto }}" />
    </span>
  </mat-card-content>
</mat-card>
