<article class="product-container" [ngClass]="gtm" (click)="product('container')">
  <div class="image-container" [ngClass]="gtm">
    <img class="image-item" [ngClass]="gtm" [src]="imagen" [alt]="nombreProducto" />
  </div>
  <div class="description-container" [ngClass]="gtm">
    <div class="text-container" [ngClass]="gtm">
      <div class="product-name-and-gain" [ngClass]="gtm">
        <h3 class="product-name product-text-base" [ngClass]="gtm">{{ nombreProducto | truncate: '50' }}</h3>
      </div>
      <div class="product-info" [ngClass]="gtm">
        <p class="product-text-base" *ngIf="porcentaje" [ngClass]="gtm">{{ porcentaje }}</p>
        <p class="product-text-base" *ngIf="precio" [ngClass]="gtm">{{ precio | currency: '':'symbol':'1.0-0' }}</p>
        <p class="product-plu" *ngIf="pluexito" [ngClass]="gtm">PLU: {{ pluexito }}</p>
      </div>
    </div>
    <button *ngIf="clickear" class="btn-clickam" (click)="product('button')" [ngClass]="gtm">Referir o comprar</button>
  </div>
</article>
