<div class="sale w-100 gtmPanelRevisaReportes" fxLayout="column" fxLayoutAlign="center start">
  <p class="m-0 gtmPanelRevisaReportes">TOTAL DE RECOMPENSAS</p>
  <div class="w-100 gtmPanelRevisaReportes" fxLayout="row" fxLayoutAlign="space-between start">
    <span class="f-32 purple-text galano-bold gtmPanelRevisaReportes">{{ totalComission | currency : '' : 'symbol' : '1.0-0' }}</span>
    <i class="tio-chevron_right f-32 purple-text galano-bold gtmPanelRevisaReportes"></i>
  </div>
  <h3 class="underline gtmPanelRevisaReportes {{ className }}">Revisa tus reportes</h3>
</div>
