<section *ngIf="sectionLeft">
    <div class="home-section" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="start">
            <img class="img-left" [src]="img" alt={{alt}}>
        </div>
        <div fxLayout="column" fxFlex.gt-xs="30" fxLayoutAlign="flex-end flex-end" class={{textDirection}}>
            <h2 class="text-right">{{title}}</h2>
            <p class="text-right lineheight">{{description}}</p>
            <button mat-raised-button class="orange-border gtmHomeClicInfVerComisiones" color="primary" id="comision-button" [routerLink]="['/click-academy']">{{textbutton}}</button>
        </div>
    </div>
</section>

<section *ngIf="sectionRight">
    <div class="home-section" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex.gt-xs="24" fxLayoutAlign="flex-start flex-start"  class={{textDirection}}>
            <h2>{{title}}</h2>
            <p class="lineheight">{{description}}</p>
            <button mat-raised-button class="orange-border gtmHomeClicInfVerOfertas" color="primary"  id="offers-button" [routerLink]="['/ofertas']"><span class="gtmHomeClicInfVerOfertas">{{textbutton}}</span> </button>
        </div>
        <div fxLayout="column" fxLayoutAlign="start">
            <img class="img-right" src={{img}} alt={{alt}}>
        </div>
    </div>
</section>

