<div class="navigation-item">
  <span class="navigation-item__drag">
    <mat-icon matSuffix class="mr-1 blue cursor-pointer" cdkDragHandle
      >drag_indicator</mat-icon
    >
  </span>
  <span ngClass="navigation-item__description {{ link.icon }}">{{
    link.description || link.name
  }}</span>
  <span class="navigation-item__link">
    <a
      href="{{ link.link }}"
      class="text-link text-underline cursor-pointer"
      target="_blank"
    >
      {{ link.link || link.route }}</a
    >
  </span>
  <div class="navigation-item__actions">
    <i
      class="tio-edit style-icon cursor-pointer"
      (click)="editNavigationItem()"
    ></i>

    <i
      *ngIf="link.menusystem === true"
      class="style-icon cursor-pointer"
      [ngClass]="{
        'tio-visible': link.active === true,
        'tio-hidden': link.active === false
      }"
      (click)="changeState()"
    ></i>

    <img
      *ngIf="link.menusystem === false"
      class="cursor-pointer"
      (click)="openDeleteNavigationItem()"
      src="/assets/img/dashboard/icon-remove-comision.svg"
      alt=""
    />
  </div>
</div>
