@import 'variables';
@import 'general';
@import 'skeleton';
.purchase-title {
  font-size: 20px;
  color: #37236a;
  margin: 20px 0px 0px 0px;
  font-family: $font-galano-bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  &__text {
    margin: 0px 16px 16px 0px;
  }
  .datepicker-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9aaacf1a;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 16px;
    width: 260px;
    .mat-form-field {
      .mat-form-field-wrapper {
        padding-bottom: 0px !important;
        .mat-form-field-flex {
          padding-top: 0px !important;
          background-color: #fff;
          .mat-form-field-infix {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;
            padding: 4px 0px;
            .mat-date-range-input {
              margin-top: 8px;
            }
            .mat-datepicker-toggle {
              margin-left: -10.5px;
              margin-top: -4px;
              .mat-button-wrapper {
                color: #37236a;
              }
            }
            .mat-form-field-label-wrapper {
              padding-top: 0px !important;
              top: auto !important;
              display: flex;
              align-items: center;
              .mat-form-field-label {
                padding-left: 28px;
                margin-top: 0px !important;
                top: auto !important;
              }
            }
            .mat-icon-search {
              &__disabled {
                opacity: 0.5;
              }
            }
          }
        }
        .mat-form-field-underline {
          display: none !important;
        }
      }
      &.mat-form-field-should-float {
        .mat-form-field-label {
          padding-left: 40px !important;
        }
      }
    }
    .mat-datepicker-input {
      border: none;
      box-shadow: none;
    }
  }
}
.purchase-table-container {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 16px 16px #9aaacf1a;
  overflow: auto;
  .mat-table {
    width: 100%;
    .element-row {
      background-color: #fff !important;
      &.expanded-handle {
        border-bottom: none;
        background-image: linear-gradient(to right, #cdcdcd 50%, rgba(255, 255, 255, 0) 20%);
        background-position: bottom;
        background-size: 20px 1px;
        background-repeat: repeat-x;
      }
      &:last-child {
        border-bottom: none;
      }
      &:nth-last-child(2) {
        border-bottom-width: 0px;
        @media screen and (min-width: 840px) {
          border-bottom-width: 1px;
        }
      }
      &:nth-child(4n-1) {
        background-color: #f3f1f6 !important;
        @media screen and (min-width: 840px) {
          background-color: #fff !important;
        }
      }
      &:nth-child(even) {
        @media screen and (min-width: 840px) {
          background-color: #f3f1f6 !important;
        }
      }
      &.row-detail {
        min-height: 0;
        padding: 0px;
        transition: 0.1s;
        border-bottom-width: 0px;
        &.expanded-row {
          padding: 24px 0px;
          border-bottom-width: 1px;
        }
        .row-detail-element {
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          .element-containt-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 16px;
            &:last-child {
              margin-bottom: 0px;
            }
            .info-item {
              display: flex;
              flex-direction: column;
              &:nth-child(1) {
                align-items: flex-start;
              }
              &:nth-child(2) {
                align-items: flex-end;
              }
            }
          }
          .element-containt-title {
            color: #37236a;
            text-transform: uppercase;
            font-family: $font-galano-bold;
            margin: 0px;
            margin-bottom: 4px;
          }
          .element-containt-description {
            color: #37236a;
            font-family: $font-family-sans-serif;
          }
        }
      }
    }
    .table-header,
    .table-data {
      padding-right: 16px;
      font-size: 14px;
    }
    .table-header {
      color: #37236a;
      font-family: $font-galano-bold;
      text-transform: uppercase;
    }
    .table-data {
      color: #37236a;
      font-family: $font-family-sans-serif;
      &.data-status {
        padding: 6px 16px;
        border-radius: 18px;
        padding: 4px 0px !important;
        text-align: center;
        color: #fff;
        min-width: 110px;
        &.porvalidar-color {
          background: transparent linear-gradient(90deg, #5f71da 0%, #5f71da 100%) 0% 0% no-repeat padding-box;
        }
        &.acumulado-color {
          background: #5db458 0% 0% no-repeat padding-box;
        }
        &.rechazada-color {
          background: #f25c5c 0% 0% no-repeat padding-box;
        }
        &.porpagar-color {
          background: transparent linear-gradient(90deg, #f4b062 0%, #f6c486 100%) 0% 0% no-repeat padding-box;
        }
      }
    }
    .column-showMore {
      width: 40px;
      padding-left: 12px;
      flex: none !important;
      @media screen and (min-width: 840px) {
        display: none;
      }
    }
    .column-fecha {
      width: 100px;
      @media screen and (min-width: 840px) {
        width: 130px !important;
        flex: none;
      }
      .table-data,
      .table-header {
        padding-left: 0px;
        @media screen and (min-width: 840px) {
          padding-left: 24px;
        }
      }
    }
    .column-cantidad {
      width: 100px;
      flex: none;
      .table-header,
      .table-data {
        margin-left: auto;
      }
    }
    .column-venta,
    .column-recompensa {
      word-wrap: break-word !important;
      white-space: unset !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      min-width: 130px !important;
      .table-header,
      .table-data {
        margin-left: auto;
      }
      @media screen and (min-width: 840px) {
        width: 130px !important;
        flex: none;
      }
    }
    .column-producto,
    .column-negocio {
      .table-data {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .mat-tooltip {
        margin: 0px !important;
      }
    }
    .column-estado {
      min-width: 120px;
      padding-right: 12px;
      .table-header,
      .table-data {
        margin: auto;
        padding: 0px;
      }
      @media screen and (min-width: 840px) {
        width: 150px !important;
        flex: none;
        padding-right: 24px;
      }
    }
    .hide-data {
      display: none;
      @media screen and (min-width: 840px) {
        display: inherit;
      }
    }
  }
  .no-info-message {
    width: 100%;
    padding: 16px;
    text-align: center;
    margin: 0px;
    font-size: 24px 0px;
    color: #8c80b4;
    letter-spacing: -0.32px;
  }
}
.loading-card {
  height: 300px;
  border-radius: 12px;
}
