<section class="sectionPopUp">
  <a id="closeDialog" matRipple (click)="onNoClick()"><mat-icon class="close cursor-pointer">close</mat-icon></a>
  <div>
      <!-- Imagen Web -->
    <img 
    class="imageContainer"
    fxShow.xs="false" 
    src="{{ data.imageUrlWeb }}" 
    alt="{{ data.textbutton }}"
  >
  <!-- Imagen Mobile -->
  <img 
    class="imageContainer" 
    fxShow.gt-xs="false" 
    src="{{ data.imageUrlMobile }}" 
    alt="{{ data.textbutton }}"
  >
  <a 
    *ngIf="data.textbutton && data.BLink" 
    (click)="onNoClick()" 
    href="{{data.BLink}}" 
    class="buttonPopUp"
    [style.backgroundColor]="data.colorbutton"
    target="_blank"
  >{{ data.textbutton }}</a>
  <button 
    *ngIf="data.textbutton && !data.BLink" 
    (click)="onNoClick()" 
    class="buttonPopUp"
    [style.backgroundColor]="data.colorbutton"
  >{{ data.textbutton }}</button>
  </div>
</section>