<mat-card class="card mat-card-box-shadow ctlg">
  <app-title showTitleh3="true" [text]="data.description" commonClass="border-bottom-gray pb-2"></app-title>
  <a [href]="data.pdfurl" target="_blank">
      <app-image imageClass="cover border-bottom-gray pb-2 w-100 cursor-pointer" [src]="data.imageurl" [alt]="data.description"></app-image>
  </a>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column">
      <p class="mb-0">
          <a class="link" [href]="data.pdfurl" target="_blank">
              Descargar catálogo
          </a>
        </p>
      <span class="date">Vigencia {{ data.enddate | date: 'yyyy-MM-dd' }}</span>
    </div>
    <div fxLayout="column">
      <i class="tio-download_from_cloud mt-3 f-25 purple2-text"></i>
    </div>
  </div>
</mat-card>
