<mat-card class="card mat-card-box-shadow ctlg gtmHerramientasCatalogo{{data.description | trim}}">
  <app-title showTitleh3="true" [text]="data.description" commonClass="border-bottom-gray pb-2"></app-title>
  <a (click)="generatePdf(data)" class="gtmHerramientasCatalogo{{data.description | trim}}">
      <app-image imageClass="cover border-bottom-gray pb-2 w-100 cursor-pointer gtmHerramientasCatalogo{{data.description | trim}}" [src]="data.imageurl" [alt]="data.description"></app-image>
  </a>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="gtmHerramientasCatalogo{{data.description | trim}}">
    <div fxLayout="column">
      <p class="mb-0 gtmHerramientasCatalogo{{data.description | trim}}">
          <a class="link gtmHerramientasCatalogo{{data.description | trim}}" (click)="generatePdf(data)">
              Descargar catálogo
          </a>
        </p>
      <span class="date gtmHerramientasCatalogo{{data.description | trim}}">Vigencia {{ data.enddate | date: 'yyyy-MM-dd' }}</span>
    </div>
    <div fxLayout="column">
      <i class="tio-download_from_cloud mt-3 f-25 purple2-text gtmHerramientasCatalogo{{data.description | trim}}"></i>
    </div>
  </div>
</mat-card>
