<h2 class="border-bottom-orange-init">
  {{ "GENERAL_RESUME.TITLE" | translate }}
</h2>

<div
  class="sell pb-4"
  fxLayout="row"
  fxLayoutGap="20px"
  fxLayoutAlign="start center"
>
  <div fxLayout="column">
    <img src="assets/img/money-bag.svg" alt="comisiones" />
  </div>
  <div fxLayout="column">
    <span class="number">$ 1'245.078</span>
    <span class="subtitle">{{ "GENERAL_RESUME.COMISSIONS" | translate }}</span>
  </div>
</div>

<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" class="mb-3">
  <div fxLayout="column" fxLayoutAlign="start">
    <img class="pb-4 icon-resume" src="assets/img/link.svg" alt="link" />
    <span class="number">45</span>
    <span class="subtitle">{{ "GENERAL_RESUME.LINKS_CREATED" | translate }}</span>
  </div>
  <div fxLayout="column">
    <img class="pb-4 icon-resume" src="assets/img/HomePage.svg" alt="page" />
    <span class="number">32</span>
    <span class="subtitle">{{ "GENERAL_RESUME.PRODUCTS_SELLER" | translate }}</span>
  </div>
  <div fxLayout="column">
    <img class="pb-4 icon-resume" src="assets/img/conversion.svg" alt="conversion" />
    <span class="number">63,4</span>
    <span class="subtitle">{{ "GENERAL_RESUME.CONVERSION" | translate }}</span>
  </div>
</div>
