<app-banner
  title="Herramientas"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>
<div class="container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="gtmTerminosCondicionesClicTerminosLegales">Carrusel</span>
      </ng-template>
      <div class="mt-3">
        <div class="mb-2" fxLayout="row">
          <button
            mat-raised-button
            color="orange"
            (click)="selectAll()"
            class="button-selected mr-4"
          >
            <img
              class="icon-download"
              src="assets/img/dashboard/icon-check.svg"
              alt="descarga"
            />
            {{ selectAllVideosImg }}
          </button>
          <button
            mat-raised-button
            (click)="deleteEvery()"
            [ngClass]="
              active === true
                ? 'button-selected-red'
                : 'button-selected-red-disabled'
            "
            [disabled]="!active"
          >
            <img
              class="icon-download"
              src="assets/img/dashboard/icon-trash-red.svg"
              alt="descarga"
            />
            Borrar
          </button>
        </div>
        <table
          mat-table
          #table
          class="mat-elevation-z2"
          [dataSource]="dataSource"
          cdkDropList
          [cdkDropListData]="dataSource"
          (cdkDropListDropped)="dropTable($event)"
        >
          <ng-container matColumnDef="drag">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign.gt-xs="end center"
                fxLayoutAlign.xs="center center"
              >
                <mat-icon
                  matSuffix
                  class="mr-1 blue cursor-pointer"
                  cdkDragHandle
                  >drag_indicator</mat-icon
                >
                <mat-checkbox
                  [(ngModel)]="element.selected"
                  class="check-margin mr-2"
                  (change)="loadDelete()"
                >
                </mat-checkbox>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="imagenWeb">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold">
              IMAGEN WEB
            </th>
            <td mat-cell *matCellDef="let element">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign.gt-xs="start center"
                fxLayoutAlign.xs="center center"
              >
                <span fxLayout="column">
                  <img
                    class="iconb-bussiness mt-2 mb-2 mr-2"
                    [src]="element.imageurlweb"
                    style="width: 125px; height: 42px; border-radius: 10px"
                  />
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="imagenMobile">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold">
              IMAGEN MOBILE
            </th>
            <td mat-cell *matCellDef="let element">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign.gt-xs="start center"
                fxLayoutAlign.xs="center center"
              >
                <span fxLayout="column">
                  <img
                    class="iconb-bussiness mt-2 mb-2 mr-2"
                    [src]="element.imageurlmobile"
                    style="width: 75px; height: 42px; border-radius: 10px"
                  />
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="nameContent">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="width: 20%; font-weight: bold"
            >
              NOMBRE DE CONTENIDO
            </th>
            <td mat-cell *matCellDef="let element">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign.gt-xs="start center"
                fxLayoutAlign.xs="center center"
              >
                <span fxLayout="column" class="f-16 mr-2" fxHide.xs="true">
                  {{ element.description }}
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="link">
            <th
              mat-header-cell
              class="tr"
              *matHeaderCellDef
              style="width: 10%; font-weight: bold"
            >
              LINK
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div fxLayout="row">
                <textarea
                  fxLayout="column"
                  class="f-16 mr-2"
                  fxHide.xs="true"
                  style="
                    width: 145px;
                    height: 100px;
                    text-decoration: underline;
                    overflow: hidden;
                    border: none;
                    resize: none;
                    color: #8d7eb7 !important;
                    background: transparent;
                  "
                  readonly
                  >{{ element.link }}</textarea
                >
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="bussiness">
            <th
              mat-header-cell
              class="tr"
              *matHeaderCellDef
              style="width: 20%; font-weight: bold"
            >
              NEGOCIO
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div fxLayout="row" fxLayoutGap="10px">
                <span fxLayout="column" class="f-16" fxHide.xs="true">
                  {{ element.business }}
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="comision">
            <th
              mat-header-cell
              class="tr"
              *matHeaderCellDef
              style="width: 20%; font-weight: bold"
            >
              COMISIÓN
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div fxLayout="row" fxLayoutGap="10px">
                <span fxLayout="column" class="f-16" fxHide.xs="true">
                  {{ element.infoaditional }}
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="active">
            <th
              mat-header-cell
              class="tr"
              *matHeaderCellDef
              style="width: 7%; font-weight: bold"
            >
              ACTIVO / INACTIVO
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-slide-toggle
                  *ngIf="!element.programmed && !element.undefinedDate"
                  [(ngModel)]="element.active"
                  (change)="activate(element)"
                  color="orange2-toggle"
                ></mat-slide-toggle>
                <div *ngIf="element.programmed" class="programmed">
                  <h4>Programada</h4>
                  <p>{{formatDate(element.datestart)}}</p>
                </div>
                <div *ngIf="!element.programmed && element.undefinedDate" class="programmed">
                  <h4>Tiempo indefinido</h4>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="center-text"
              style="font-weight: bold"
            >
              ACCIONES
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign.gt-xs="center"
                fxLayoutAlign.xs="center center"
              >
                <i
                  class="tio-edit style-icon cursor-pointer"
                  (click)="editCarouselModal(element)"
                ></i>

                <img
                  class="cursor-pointer"
                  (click)="deleteOfer(element, '')"
                  src="/assets/img/dashboard/icon-remove-comision.svg"
                  alt=""
                />
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns; let i = index"
            cdkDrag
            [cdkDragData]="row"
          ></tr>
        </table>
        <div class="mt-3 mb-3" fxLayout="row" fxLayoutAlign="end end">
          <button
            mat-raised-button
            color="orange"
            (click)="saveCarouselModal()"
            id="download-users"
            class="ml-2"
          >
            Agregar imagen
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="gtmTerminosCondicionesClicTerminosLegales">Ofertas</span>
      </ng-template>
      <div class="mt-3">
        <div fxLayout="row" class="mb-2">
          <button
            mat-raised-button
            color="orange"
            (click)="selectAllOfertas()"
            class="button-selected mr-4"
          >
            <img
              class="icon-download"
              src="assets/img/dashboard/icon-check.svg"
              alt="descarga"
            />
            {{ selectAllVideosImgOfer }}
          </button>
          <button
            mat-raised-button
            (click)="deleteEveryOfertas()"
            [ngClass]="
              active2 === true
                ? 'button-selected-red'
                : 'button-selected-red-disabled'
            "
            [disabled]="!active2"
          >
            <img
              class="icon-download"
              src="assets/img/dashboard/icon-trash-red.svg"
              alt="descarga"
            />
            Borrar
          </button>
        </div>
        <table
          mat-table
          #table2
          class="mat-elevation-z2"
          [dataSource]="dataSourceOfer"
          cdkDropList
          [cdkDropListData]="dataSourceOfer"
          (cdkDropListDropped)="dropTable2($event)"
        >
          <ng-container matColumnDef="drag">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign.gt-xs="end center"
                fxLayoutAlign.xs="center center"
              >
                <mat-icon
                  matSuffix
                  class="mr-1 blue cursor-pointer"
                  cdkDragHandle
                  >drag_indicator</mat-icon
                >
                <mat-checkbox
                  [(ngModel)]="element.selected"
                  class="check-margin mr-2"
                  (change)="loadDelete2()"
                >
                </mat-checkbox>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold">
              IMAGEN
            </th>
            <td mat-cell *matCellDef="let element">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign.gt-xs="start center"
                fxLayoutAlign.xs="center center"
              >
                <span fxLayout="column">
                  <img
                    class="iconb-bussiness mt-2 mb-2 mr-2"
                    [src]="element.imageurlmobile"
                    style="width: 75px; height: 42px; border-radius: 10px"
                  />
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="nameContent">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="width: 20%; font-weight: bold"
            >
              NOMBRE DE CONTENIDO
            </th>
            <td mat-cell *matCellDef="let element">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign.gt-xs="start center"
                fxLayoutAlign.xs="center center"
              >
                <span fxLayout="column" class="f-16 mr-2" fxHide.xs="true">
                  {{ element.description }}
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="link">
            <th
              mat-header-cell
              class="tr"
              *matHeaderCellDef
              style="width: 30%; font-weight: bold"
            >
              LINK
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div fxLayout="row">
                <textarea
                  fxLayout="column"
                  class="f-16 mr-2"
                  fxHide.xs="true"
                  style="
                    width: 245px;
                    height: 100px;
                    text-decoration: underline;
                    overflow: hidden;
                    border: none;
                    resize: none;
                    color: #8d7eb7 !important;
                    background: transparent;
                  "
                  readonly
                  >{{ element.link }}</textarea
                >
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="bussiness">
            <th
              mat-header-cell
              class="tr"
              *matHeaderCellDef
              style="width: 20%; font-weight: bold"
            >
              NEGOCIO
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div fxLayout="row" fxLayoutGap="10px">
                <span fxLayout="column" class="f-16" fxHide.xs="true">
                  {{ element.business }}
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="comision">
            <th
              mat-header-cell
              class="tr"
              *matHeaderCellDef
              style="width: 20%; font-weight: bold"
            >
              COMISIÓN
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div fxLayout="row" fxLayoutGap="10px">
                <span fxLayout="column" class="f-16" fxHide.xs="true">
                  {{ element.infoaditional }}
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="active">
            <th
              mat-header-cell
              class="tr"
              *matHeaderCellDef
              style="width: 7%; font-weight: bold"
            >
              ACTIVO / INACTIVO
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-slide-toggle
                  *ngIf="!element.programmed && !element.undefinedDate"
                  [(ngModel)]="element.active"
                  (change)="activate(element)"
                  color="orange2-toggle"
                ></mat-slide-toggle>
                <div *ngIf="element.programmed" class="programmed">
                  <h4>Programada</h4>
                  <p>{{formatDate(element.datestart)}}</p>
                </div>
                <div *ngIf="!element.programmed && element.undefinedDate" class="programmed">
                  <h4>Tiempo indefinido</h4>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="center-text"
              style="font-weight: bold"
            >
              ACCIONES
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign.gt-xs="center"
                fxLayoutAlign.xs="center center"
              >
                <i
                  class="tio-edit style-icon cursor-pointer"
                  (click)="editOfertasModal(element)"
                ></i>
                <img
                  class="cursor-pointer"
                  (click)="deleteOfer(element, '')"
                  src="/assets/img/dashboard/icon-remove-comision.svg"
                  alt=""
                />
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns2; let i = index"
            cdkDrag
            [cdkDragData]="row"
          ></tr>
        </table>
        <div class="mt-3 mb-3" fxLayout="row" fxLayoutAlign="end end">
          <button
            mat-raised-button
            color="orange"
            (click)="saveOfertasModal()"
            id="download-users"
            class="ml-2"
          >
            Agregar imagen
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Popups</span>
      </ng-template>
      <div class="mt-3">
        
        <h3 class="popup-category">Activos <span class="line"></span></h3>
        <app-popup-card 
          *ngFor="let element of dataPopupActive; let i = index"
          [idPopup]="element.id"
          [title]="element.description"
          [imgDesktop]="element.imageurlweb"
          [imgMobile]="element.imageurlmobile"
          [link]="element.link"
          [dateStart]="element.datestart"
          [dateEnd]="element.dateend"
          [textButton]="element.textbutton"
          [section]="getSectionName(element.seccion)"
          [showHidden]="element.active"
          (edit)="editPopupModal(element)"
          (delete)="deleteOfer($event, 'popup')"
          (setShowHidden)="activate($event)">
        </app-popup-card>

        <h3 class="popup-category">Programados <span class="line"></span></h3>
        <app-popup-card 
          *ngFor="let element of dataPopupProgrammed; let i = index"
          [idPopup]="element.id"
          [title]="element.description"
          [imgDesktop]="element.imageurlweb"
          [imgMobile]="element.imageurlmobile"
          [link]="element.link"
          [dateStart]="element.datestart"
          [dateEnd]="element.dateend"
          [textButton]="element.textbutton"
          [section]="getSectionName(element.seccion)"
          [showHidden]="element.active"
          (edit)="editPopupModal(element)"
          (delete)="deleteOfer($event, 'popup')"
          (setShowHidden)="activate($event)">
        </app-popup-card>

        <h3 class="popup-category">Borradores <span class="line"></span></h3>
        <app-popup-card 
          *ngFor="let element of dataPopupRoughCopy; let i = index"
          [idPopup]="element.id"
          [title]="element.description"
          [imgDesktop]="element.imageurlweb"
          [imgMobile]="element.imageurlmobile"
          [link]="element.link"
          [dateStart]="element.datestart"
          [dateEnd]="element.dateend"
          [textButton]="element.textbutton"
          [section]="getSectionName(element.seccion)"
          [showHidden]="element.active"
          (edit)="editPopupModal(element)"
          (delete)="deleteOfer($event, 'popup')"
          (setShowHidden)="activate($event)">
        </app-popup-card>

        <h3 class="popup-category">Vencidos <span class="line"></span></h3>
        <app-popup-card 
          *ngFor="let element of dataPopupExpire; let i = index"
          [idPopup]="element.id"
          [title]="element.description"
          [imgDesktop]="element.imageurlweb"
          [imgMobile]="element.imageurlmobile"
          [link]="element.link"
          [dateStart]="element.datestart"
          [dateEnd]="element.dateend"
          [textButton]="element.textbutton"
          [section]="getSectionName(element.seccion)"
          [showHidden]="element.active"
          (edit)="editPopupModal(element)"
          (delete)="deleteOfer($event, 'popup')"
          (setShowHidden)="activate($event)">
        </app-popup-card>

        <div class="mt-3 mb-3" fxLayout="row" fxLayoutAlign="end end">
          <button
            mat-raised-button
            color="orange"
            (click)="savePopupModal()"
            id="download-users"
            class="ml-2"
          >
            Agregar Popup
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Stories</span>
      </ng-template>
      <div class="mt-3">
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #templateAddImagenCarousel>
  <div ngClass="delete-container">
    <div>
      <form [formGroup]="dataAddImagen">
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="NOMBRE DE CONTENIDO"
            formControlName="nameContent"
            type="text"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagen.controls.nameContent.invalid &&
              dataAddImagen.controls.nameContent.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Nombre de contenido" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="LINK"
            type="text"
            formControlName="link"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagen.controls.link.invalid &&
              dataAddImagen.controls.link.errors.required
            "
            >{{
              "GENERIC.REQUIRED" | translate: { formValue: "Link" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <mat-label>NEGOCIO</mat-label>
          <select formControlName="business" matNativeControl required>
            <option
              *ngFor="let selected of selectedBuss"
              value="{{ selected.id }}"
            >
              <span style="color: #37236a">{{ selected.description }}</span>
            </option>
          </select>
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagen.controls.business.invalid &&
              dataAddImagen.controls.business.errors.required
            "
            >{{
              "GENERIC.REQUIRED" | translate: { formValue: "Negocio" }
            }}</mat-error
          >
        </mat-form-field>

        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="COMISIÓN"
            type="text"
            formControlName="comision"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagen.controls.comision.invalid &&
              dataAddImagen.controls.comision.errors.required
            "
            >{{
              "GENERIC.REQUIRED" | translate: { formValue: "Comisión" }
            }}</mat-error
          >
        </mat-form-field>

        <div
          fxLayout="row"
          fxLayoutAlign="space-start center"
          fxLayoutGap="50px"
          fxLayoutGap.xs="5px"
          class="pb-3"
        >
          <div fxLayout="column" fxLayoutAlign="center" class="space">
            <strong class="title-gray" style="color: #a7a3b1; font-size: 11px"
              >ADJUNTAR IMAGEN WEB (2000X671PX, FORMATO .JPG, MAX 300KB)</strong
            >
            <span
              class="title-secondary"
              *ngIf="nameFileCert === ''"
              style="font-size: 11px"
              >No hay archivo seleccionado</span
            >
            <span
              class="file-input"
              *ngIf="nameFileCert !== ''"
              style="color: #37236a; font-size: 11px"
              >{{ nameFileCert | truncate: "20" }}</span
            >
          </div>
          <div>
            <label for="image" id="upload" class="cursor-pointer">
              <span *ngIf="!showErrorCert">
                <img
                  class="mt-1"
                  *ngIf="nameFileCert === ''"
                  src="/assets/img/image-file-upload.svg"
                  alt="upload"
                />
                <img
                  class="mt-1"
                  *ngIf="nameFileCert !== ''"
                  src="/assets/img/image-file-upload-ok.svg"
                  alt="upload"
                />
              </span>
              <img
                class="mt-1 w-icon"
                *ngIf="showErrorCert"
                src="/assets/img/icono-error-carga.svg"
                alt="upload"
              />
            </label>
          </div>
        </div>
        <mat-error *ngIf="showErrorCert" class="text-small small pb-2 d-block">
          Formato inválido, sólo se pueden subir archivos con la extensión JPG y
          menores de 300KB
        </mat-error>
        <input
          (change)="onFileChangeFiles($event, 'image')"
          id="image"
          type="file"
          style="display: none"
          formControlName="image"
        />
        <div
          fxLayout="row"
          fxLayoutAlign="space-start center"
          fxLayoutGap="50px"
          fxLayoutGap.xs="5px"
          class="pb-3"
        >
          <div fxLayout="column" fxLayoutAlign="center" class="space">
            <strong class="title-gray" style="color: #a7a3b1; font-size: 11px"
              >ADJUNTAR IMAGEN MOBILE (1000X561PX, FORMATO .JPG, MAX
              300KB)</strong
            >
            <span
              class="title-secondary"
              *ngIf="nameFileCert2 === ''"
              style="font-size: 11px"
              >No hay archivo seleccionado</span
            >
            <span
              class="file-input"
              *ngIf="nameFileCert2 !== ''"
              style="color: #37236a; font-size: 11px"
              >{{ nameFileCert2 | truncate: "20" }}</span
            >
          </div>
          <div>
            <label for="image2" id="upload" class="cursor-pointer">
              <span *ngIf="!showErrorCert2">
                <img
                  class="mt-1"
                  *ngIf="nameFileCert2 === ''"
                  src="/assets/img/image-file-upload.svg"
                  alt="upload"
                />
                <img
                  class="mt-1"
                  *ngIf="nameFileCert2 !== ''"
                  src="/assets/img/image-file-upload-ok.svg"
                  alt="upload"
                />
              </span>
              <img
                class="mt-1 w-icon"
                *ngIf="showErrorCert2"
                src="/assets/img/icono-error-carga.svg"
                alt="upload"
              />
            </label>
          </div>
        </div>
        <mat-error *ngIf="showErrorCert2" class="text-small small pb-2 d-block">
          Formato inválido, sólo se pueden subir archivos con la extensión JPG y
          menores de 300KB
        </mat-error>
        <input
          (change)="onFileChangeFilesSecond($event, 'image')"
          id="image2"
          type="file"
          style="display: none"
          formControlName="image2"
        />
        <ng-container *ngTemplateOutlet="templatePublication"> </ng-container>
      </form>
    </div>

    <div class="mt-3 mb-2" fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClick()">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="orange"
        (click)="saveImagenCarousel()"
        id="download-users"
        class="ml-2"
        [disabled]="!dataAddImagen.valid || !activebutton || (!visible && !datePublication) || (!visible && !undefinedDate && !dateFinishPublication)"
      >
        Guardar Cambios
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templateAddImagenOfertas>
  <div ngClass="delete-container">
    <div>
      <form [formGroup]="dataAddImagenOfertas">
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="NOMBRE DE CONTENIDO"
            formControlName="nameContent"
            type="text"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagenOfertas.controls.nameContent.invalid &&
              dataAddImagenOfertas.controls.nameContent.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Nombre de contenido" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="LINK"
            type="text"
            formControlName="link"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagenOfertas.controls.link.invalid &&
              dataAddImagenOfertas.controls.link.errors.required
            "
            >{{
              "GENERIC.REQUIRED" | translate: { formValue: "Link" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <mat-label>NEGOCIO</mat-label>
          <select formControlName="business" matNativeControl required>
            <option
              *ngFor="let selected of selectedBuss"
              value="{{ selected.id }}"
            >
              <span style="color: #37236a">{{ selected.description }}</span>
            </option>
          </select>
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagenOfertas.controls.business.invalid &&
              dataAddImagenOfertas.controls.business.errors.required
            "
            >{{
              "GENERIC.REQUIRED" | translate: { formValue: "Negocio" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="COMISIÓN"
            type="text"
            formControlName="comision"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagenOfertas.controls.comision.invalid &&
              dataAddImagenOfertas.controls.comision.errors.required
            "
            >{{
              "GENERIC.REQUIRED" | translate: { formValue: "Comisión" }
            }}</mat-error
          >
        </mat-form-field>

        <div
          fxLayout="row"
          fxLayoutAlign="space-start center"
          fxLayoutGap="50px"
          fxLayoutGap.xs="5px"
          class="pb-3"
        >
          <div fxLayout="column" fxLayoutAlign="center" class="space">
            <strong class="title-gray" style="color: #a7a3b1; font-size: 11px"
              >ADJUNTAR IMAGEN WEB (1000X561PX, FORMATO .JPG, MAX 300KB)</strong
            >
            <span
              class="title-secondary"
              *ngIf="nameFileCert === ''"
              style="font-size: 11px"
              >No hay archivo seleccionado</span
            >
            <span
              class="file-input"
              *ngIf="nameFileCert !== ''"
              style="color: #37236a; font-size: 11px"
              >{{ nameFileCert | truncate: "20" }}</span
            >
          </div>
          <div>
            <label for="image" id="upload" class="cursor-pointer">
              <span *ngIf="!showErrorCert">
                <img
                  class="mt-1"
                  *ngIf="nameFileCert === ''"
                  src="/assets/img/image-file-upload.svg"
                  alt="upload"
                />
                <img
                  class="mt-1"
                  *ngIf="nameFileCert !== ''"
                  src="/assets/img/image-file-upload-ok.svg"
                  alt="upload"
                />
              </span>
              <img
                class="mt-1 w-icon"
                *ngIf="showErrorCert"
                src="/assets/img/icono-error-carga.svg"
                alt="upload"
              />
            </label>
          </div>
        </div>
        <mat-error *ngIf="showErrorCert" class="text-small small pb-2 d-block">
          Formato inválido, sólo se pueden subir archivos con la extensión JPG y
          menores de 300KB
        </mat-error>
        <input
          (change)="onFileChangeFiles($event, 'image')"
          id="image"
          type="file"
          style="display: none"
          formControlName="image"
        />
        <ng-container *ngTemplateOutlet="templatePublication"> </ng-container>
      </form>
    </div>

    <div class="mt-3 mb-2" fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClick()">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="orange"
        (click)="saveImagenOfertas()"
        id="download-users"
        class="ml-2"
        [disabled]="!dataAddImagenOfertas.valid || !activeButtonOfer || (!visible && !datePublication) || (!visible && !undefinedDate && !dateFinishPublication)"
      >
        Guardar Cambios
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templateAddImagenPopup>
  <div ngClass="delete-container">
    <div>
      <form [formGroup]="dataAddImagenPopup">
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="Nombre"
            formControlName="nameContent"
            type="text"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagenPopup.controls.nameContent.invalid &&
              dataAddImagenPopup.controls.nameContent.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Nombre" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="Link"
            type="text"
            formControlName="link"
            class="text-area-heigth"
            style="color: #37236a"
          />
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <mat-label>UBICACIÓN</mat-label>
          <select formControlName="seccion" matNativeControl required>
            <option
              *ngFor="let selected of selectedSection"
              value="{{ selected.route }}"
            >
              <span style="color: #37236a">{{ selected.menu }}</span>
            </option>
          </select>
          <mat-error
            id="requiredName"
            *ngIf="
              dataAddImagenPopup.controls.seccion.invalid &&
              dataAddImagenPopup.controls.seccion.errors.required
            "
            >{{
              "GENERIC.REQUIRED" | translate: { formValue: "Ubicación" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 225px; margin-right: 15px;">
          <input
            matInput
            placeholder="Texto del botón"
            type="text"
            formControlName="textbutton"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredTextButton"
            *ngIf="
              dataAddImagenPopup.controls.textbutton.invalid &&
              dataAddImagenPopup.controls.textbutton.errors.required
            "
            >{{
              "GENERIC.REQUIRED" | translate: { formValue: "Comisión" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 130px">
          <mat-placeholder class="selected-placeholder"
            >COLOR DE BOTÓN</mat-placeholder
          >
          <mat-select
            id="tipoReport"
            formControlName="colorbutton"
            class="selected-color"
            required
          >
            <mat-option
              *ngFor="let selected of selectedColors"
              value="{{ selected.color }}"
            >
              <span [style.backgroundColor]="selected.color" class="circle"></span>
              <span style="color: #726D7E">{{ selected.name }}</span>
            </mat-option>
          </mat-select>
          <mat-error
            id="requiredColor"
            *ngIf="
              dataAddImagenPopup.controls.colorbutton.invalid &&
              dataAddImagenPopup.controls.colorbutton.errors.required
            "
            >{{
              "GENERIC.REQUIRED" | translate: { formValue: "" }
            }}</mat-error
          >
        </mat-form-field>

        <div
          fxLayout="row"
          fxLayoutAlign="space-start center"
          fxLayoutGap="50px"
          fxLayoutGap.xs="5px"
          class="pb-3"
        >
          <div fxLayout="column" fxLayoutAlign="center" class="space">
            <strong class="title-gray" style="color: #a7a3b1; font-size: 11px"
              >ADJUNTAR IMAGEN WEB (680x360px, formato .jpg, max 250kb)</strong
            >
            <span
              class="title-secondary"
              *ngIf="nameFileCert === ''"
              style="font-size: 11px"
              >No hay archivo seleccionado</span
            >
            <span
              class="file-input"
              *ngIf="nameFileCert !== ''"
              style="color: #37236a; font-size: 11px"
              >{{ nameFileCert | truncate: "20" }}</span
            >
          </div>
          <div>
            <label for="image" id="upload" class="cursor-pointer">
              <span *ngIf="!showErrorCert">
                <img
                  class="mt-1"
                  *ngIf="nameFileCert === ''"
                  src="/assets/img/image-file-upload.svg"
                  alt="upload"
                />
                <img
                  class="mt-1"
                  *ngIf="nameFileCert !== ''"
                  src="/assets/img/image-file-upload-ok.svg"
                  alt="upload"
                />
              </span>
              <img
                class="mt-1 w-icon"
                *ngIf="showErrorCert"
                src="/assets/img/icono-error-carga.svg"
                alt="upload"
              />
            </label>
          </div>
        </div>
        <mat-error *ngIf="showErrorCert" class="text-small small pb-2 d-block">
          Formato inválido, sólo se pueden subir archivos con la extensión JPG y
          menores de 250kb
        </mat-error>
        <input
          (change)="onFileChangeFiles($event, 'image')"
          id="image"
          type="file"
          style="display: none"
          formControlName="image"
        />

        <div
          fxLayout="row"
          fxLayoutAlign="space-start center"
          fxLayoutGap="50px"
          fxLayoutGap.xs="5px"
          class="pb-3"
        >
          <div fxLayout="column" fxLayoutAlign="center" class="space">
            <strong class="title-gray" style="color: #a7a3b1; font-size: 11px"
              >ADJUNTAR IMAGEN MOBILE (300x420px, formato .jpg, max 150kb)</strong
            >
            <span
              class="title-secondary"
              *ngIf="nameFileCert2 === ''"
              style="font-size: 11px"
              >No hay archivo seleccionado</span
            >
            <span
              class="file-input"
              *ngIf="nameFileCert2 !== ''"
              style="color: #37236a; font-size: 11px"
              >{{ nameFileCert2 | truncate: "20" }}</span
            >
          </div>
          <div>
            <label for="image2" id="upload" class="cursor-pointer">
              <span *ngIf="!showErrorCert">
                <img
                  class="mt-1"
                  *ngIf="nameFileCert2 === ''"
                  src="/assets/img/image-file-upload.svg"
                  alt="upload"
                />
                <img
                  class="mt-1"
                  *ngIf="nameFileCert2 !== ''"
                  src="/assets/img/image-file-upload-ok.svg"
                  alt="upload"
                />
              </span>
              <img
                class="mt-1 w-icon"
                *ngIf="showErrorCert"
                src="/assets/img/icono-error-carga.svg"
                alt="upload"
              />
            </label>
          </div>
        </div>
        <mat-error *ngIf="showErrorCert" class="text-small small pb-2 d-block">
          Formato inválido, sólo se pueden subir archivos con la extensión JPG y
          menores de 150kb
        </mat-error>
        <input
          (change)="onFileChangeFilesSecond($event, 'image2')"
          id="image2"
          type="file"
          style="display: none"
          formControlName="image2"
        />
        <ng-container *ngTemplateOutlet="templatePublication"> </ng-container>
      </form>
    </div>

    <div class="mt-3 mb-2" fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClick()">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="orange"
        (click)="saveImagenPopup()"
        id="download-users"
        class="ml-2"
        [disabled]="!dataAddImagenPopup.valid || !activeButtonOfer || (visible && !dateFinishPublication)"
      >
        {{ visible 
          ? 'Publicar' 
          : (datePublication && dateFinishPublication
            ? 'Programar' 
            : 'Guardar como borrador') 
        }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templatePublication>
  <div class="publication">
    <h3 class="secundary-text">PUBLICACIÓN</h3>
    <div class="slide-visible">
      Visible
      <mat-slide-toggle
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="visible"
        style="margin-left: 5px; position: relative; top: 2px"
        color="orange2-toggle"
      ></mat-slide-toggle>
    </div>
    <div class="publication-date-range">
      <div class="publication-date">
        <label class="label-up-text mt-2" for="picker">
          FECHA DE PUBLICACIÓN
        </label>
        <div class="mt-2 content-input">
          <mat-datepicker
            class="icon-date"
            touchUi
            #picker
          ></mat-datepicker>
          <mat-datepicker-toggle
            class="icon-date"
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <input
            matInput
            (click)="picker.open()"
            [matDatepicker]="picker"
            [min]="maxDate"
            readonly
            (dateChange)="hourChange($event, 'publicationDate')"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="datePublication"
            [disabled]="visible"
            class="border-input mat-elevation-z1 border-radius"
            placeholder="DD/MM/AAAA"
          />
        </div>
      </div>
      <div class="post-time">
        <label class="label-up-text mt-2">
          HORA DE PUBLICACIÓN
        </label>
        <div class="mt-2 content-input">
          <mat-icon *ngIf="!visible" class="tio-watch_later"></mat-icon>
          <mat-icon *ngIf="visible" class="tio-watch_later opaque"
            ></mat-icon
          >
          <input
            [ngModelOptions]="{ standalone: true }"
            [disabled]="visible"
            [(ngModel)]="hourDate"
            [ngxTimepicker]="min"
            matInput
            placeholder="HH/MM"
            readonly
            [min]="minHours"
            class="border-input mat-elevation-z1 border-radius"
          />
          <ngx-material-timepicker #min></ngx-material-timepicker>
        </div>
      </div>
    </div>
    <span *ngIf="showUndefinedDate" class="s-label">
      <mat-checkbox
        id="undefined-time"
        class="mr-1 mb-2"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="undefinedDate"
      >
      </mat-checkbox>
      <label class="undefined-time" for="undefined-time">
        Tiempo indefinido
      </label> 
    </span>
    <div class="finish-date-range">
      <div class="finish-date">
        <label class="label-up-text mt-2" for="pickerF">
          FECHA DE FINALIZACIÓN
        </label>
        <div class="mt-2 content-input">
          <mat-datepicker
            class="icon-date"
            touchUi
            #pickerF
          ></mat-datepicker>
          <mat-datepicker-toggle
            class="icon-date"
            matSuffix
            [for]="pickerF"
          ></mat-datepicker-toggle>
          <input
            matInput
            (click)="pickerF.open()"
            [matDatepicker]="pickerF"
            [min]="maxDate"
            readonly
            class="border-input mat-elevation-z1 border-radius"
            [disabled]="showUndefinedDate && (undefinedDate || visible)"
            (dateChange)="hourChange($event, 'finishDate')"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="dateFinishPublication"
            placeholder="DD/MM/AAAA"
          />
        </div>
      </div>
      <div class="ending-time">
        <label class="label-up-text mt-2">
          HORA DE FINALIZACIÓN
        </label>
        <div class="mt-2 content-input">
          <mat-icon *ngIf="!showUndefinedDate || (!undefinedDate && !visible)" class="tio-watch_later"></mat-icon>
          <mat-icon *ngIf="showUndefinedDate && (undefinedDate || visible)" class="tio-watch_later opaque"></mat-icon>
          <input
            [ngModelOptions]="{ standalone: true }"
            [disabled]="showUndefinedDate && (undefinedDate || visible)"
            [(ngModel)]="hourDateFinish"
            [ngxTimepicker]="min2"
            matInput
            placeholder="HH/MM"
            readonly
            [min]="minHours"
            class="border-input mat-elevation-z1 border-radius"
          />
          <ngx-material-timepicker #min2></ngx-material-timepicker>
        </div>
      </div>
    </div>
  </div>
</ng-template>