<footer class="p-4">
  <div fxLayout="column" fxLayoutAlign="center center" class="mt-2">
      <span  class="border-bottom-orange">
          <img src="assets/img/logo-footer.svg" alt="Clickam" />
      </span>
    <div fxLayoutAlign="center center" class="social-links pt-4">
      <img src="assets/img/arrow-footer.svg" alt="Clickam" />
      <app-sociallinks></app-sociallinks>
      <img class="rotate" src="assets/img/arrow-footer.svg" alt="Clickam" />
    </div>

    <div class="footer-links pt-4" fxLayout="column" fxLayoutAlign="center center">
        <a matRipple id="home-footer" class="border-bottom-orange section" [routerLink]="['inicio']">Inicio</a>
        <a matRipple *ngIf="auth.isLoggedIn()" id="offers-footer" class="border-bottom-orange section" [routerLink]="['']">Reportes</a>
        <a matRipple id="offers-footer" class="border-bottom-orange section" [routerLink]="['ofertas']" >Ofertas</a>
        <a matRipple id="academy-footer" class="border-bottom-orange section" [routerLink]="['click-academy']">Click Academy</a>
        <a matRipple id="question-footer" class="border-bottom-orange section" [routerLink]="['preguntas-frecuentes']">Preguntas Frecuentes</a>
    </div>
    
    <div class="terms" id="terms-footer" fxLayout="column" fxLayoutAlign="center center">
        <a [routerLink]="['terminos-y-condiciones']">Términos y condiciones</a>
    </div>

    <div class="border-footer mt-3"></div>

    <span class="pt-3 copy">Copyright 2019 &copy;</span>
    
  </div>
</footer>
