@import 'variables.scss';
@import 'general';

footer {
  background: #3d2f59;
  padding: 3% 6%;

  display: grid;
  // grid-template-columns: 40% 55%;
  // column-gap: 5%;
  grid-template-columns: 25% 10% 60%;
  column-gap: 5%;

  @media (max-width: 959px) {
    grid-template-columns: 1fr;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }
  .qr {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }

  .linksInformation {
    display: flex;
    column-gap: 2rem;
    text-align: left;

    section {
      flex: 1 1 0px;
    }
  }

  .linksInformation2 {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 2rem;

    section {
      width: 100%;
      border-bottom: 1px solid #3d2f59;
    }

    ul {
      margin-bottom: 2rem;
    }
  }

  h3 {
    font-size: 21px;
    color: #ffffff;
  }

  p {
    color: #ffffff !important;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  ul {
    text-align: left;
    padding: 0;
  }

  section {
    text-align: left;
  }

  li {
    list-style-type: none;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  .social {
    margin-top: 2rem;
  }

  .copyRight {
    text-align: left;
    color: #ffffff;
    font-size: 12px;
    margin-top: 1rem;
  }

  details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details summary {
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    list-style: none;
    outline: 0;
    color: #fff;
  }

  details summary:after {
    content: '\e9b0';
    font-family: 'The-Icon-of', sans-serif;
    color: #fff;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
  }

  details[open] summary:after {
    content: '\e9b3';
    font-family: 'The-Icon-of', sans-serif;
  }

  details p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
  }
}
