@import "variables";
@import "animations";

.border-rad {
  border-radius: 10px;
}

label {
  width: 80px;
  color: $gray2;
  text-transform: uppercase;
  font-family: $font-galano-bold;
}

.info {
  color: #2b2a27;
  font-family: $font-galano;
  font-size: 16px;
}

.item {
  line-height: 3;
  border-bottom: 1px solid #ececec;
  padding-left: 2rem;
  &:last-child {
    border-bottom: none;
  }
}

.w-85 {
  width: 85%;
}

.lineh {
  line-height: 2;
  padding: 10px 0px;
}

@media screen and (max-width: 450px) {
  .truncate {
    width: 100px;
    overflow: hidden;
    display: block !important;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .info {
    font-size: 14px;
  }
}

.passText {
  width: 213px;
}

input[type="file"] {
  display: none;
}

.header {
  background: #f3f1f6;
  color: #37236a;
  text-transform: uppercase;
}

.address {
  line-height: 1;
}
.delete-container {
  max-width: 395px;
  text-align: center;
}
.title_delete {
  color: #f21905;
}
.button_cancel {
  color: #3a226a;
}

.text-container {
  max-width: 365px;
}
.delete-card {
  padding-top: 10px;
  padding-bottom: 10px;
}
.title-delete {
  color: #ff5555;
  width: 100%;
  margin-right: 0px !important;
}
.card-delete {
  background-color: #ffeeeb !important;
}
@media screen and (max-width: 450px) {
  .title-delete {
    font-size: 11px;
  }
}
.delete-container-text {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.red-disable {
  background-color: #ff8f84 !important;
  color: #ffffff !important;
  border-color: #ff8f84 !important;
}

.center-buttons {
  justify-content: center !important;
}
@media screen and (max-width: 450px) {
  .hide-button-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 451px) {
  .hide-button-on-desktop {
    display: none;
  }
}
.container-profile {
  width: 80% !important;
}
.container-account {
  width: 70% !important;
}
@media screen and (max-width: 450px) {
  .container-profile {
    width: 100% !important;
  }
  .container-account {
    width: 100% !important;
  }
}
//.modal-heigth {
//  height: 78vh;
//}

.style-icon {
  font-size: 21px;
  position: relative;
  bottom: 4px;
  color: #8d7eb7;
}
