@import 'variables';
@import 'animations';
@import 'mixins';

.small{
  font-size: 11px;
}

.account-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.user-info {
  width: 100%;
}

.bank-info {
  width: 40%;
  min-width: 440px;
  @include from($large) {
    width: 100%;
    max-width: 510px;
    min-width: initial;
  }
}

.border-rad {
  border-radius: 10px;
}

label {
  width: 80px;
  color: $gray2;
  text-transform: uppercase;
  font-family: $font-galano-bold;
}

.info {
  color: #2b2a27;
  font-family: $font-galano;
  font-size: 16px;
}

.item {
  line-height: 3;
  border-bottom: 1px solid #ececec;
  padding-left: 2rem;
  &:last-child {
    border-bottom: none;
  }
}

.w-85 {
  width: 85%;
}

.lineh {
  line-height: 1.2;
  padding: 10px 0px;
  @include from($small) {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .truncate {
    width: 100px;
    overflow: hidden;
    display: block !important;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .info {
    font-size: 14px;
  }
}

.passText {
  width: 213px;
}

input[type='file'] {
  display: none;
}

.header {
  background: #f3f1f6;
  color: $primary-color;
  text-transform: uppercase;

  h3 {
    font-size: 16px;
    @include from($small) {
      font-size: 13px;
    }
  }
}

.account-info {
  padding: 0;

  .content-state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
  }

  h3 {
    display: inline-block;
    line-height: 1.2;
    @include from(375px) {
      max-width: 122px;
    }
  }
}

.info-status {
  width: 100%;
  line-height: 1.2;
  text-transform: initial;
  padding: 15px;
  @include from($large) {
    padding: 15px 20px;
  }

  h4 {
    margin: 0 0 5px;
    font-size: 15px;
    @include from($small) {
      font-size: 14px;
    }
  }
  p {
    margin: 0;
    color: $primary-color;
    font-size: 15px;
    font-family: 'galano', sans-serif;
    @include from($small) {
      font-size: 14px;
    }
  }
}

.verification-status {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  text-transform: initial;
  background-color: $medium-grey;
  color: white;
  border-radius: 10px;
  padding: 3px 8px 4px 5px;
  min-width: 100px;
  margin-left: 10px;
  font-size: 12px;

  img {
    margin-right: 4px;
    width: 17px;
  }
}

.in-progress .verification-status {
  background-color: $medium-yellow;
}

.verified .verification-status {
  background-color: $green;
}

.rejected .verification-status {
  background-color: $red;
}

.rejected ~ .info-status {
  background-color: #ffeeeb;

  h4,
  p {
    color: $red;
  }
}

.registered-account {
  padding: 12px 5px 12px 2em;
  label {
    @include from($small) {
      line-height: 1.2;
    }
  }
}

.bank-account {
  color: $primary-color;
  font-family: 'galano-medium', sans-serif;
  span:first-child {
    color: $footer-bg;
    font-family: 'galano', sans-serif;
  }
}

.address {
  line-height: 1;
}
.delete-container {
  max-width: 395px;
  text-align: center;
}
.title_delete {
  color: #f21905;
}
.button_cancel {
  color: #3a226a;
}

.text-container {
  max-width: 365px;
}
.delete-card {
  padding-top: 10px;
  padding-bottom: 10px;
}
.title-delete {
  color: #ff5555;
  width: 100%;
  margin-right: 0px !important;
  line-height: 1.2;
}
.card-delete {
  background-color: #ffeeeb !important;
  width: 60%;
}
@media screen and (max-width: 450px) {
  .title-delete {
    font-size: 11px;
  }
}
.delete-container-text {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.red-disable {
  background-color: #ff8f84 !important;
  color: #ffffff !important;
  border-color: #ff8f84 !important;
}

.center-buttons {
  justify-content: center !important;
}
@media screen and (max-width: 450px) {
  .hide-button-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 451px) {
  .hide-button-on-desktop {
    display: none;
  }
}
.container-profile {
  width: 55%;
  min-width: 515px;
  @include from($large) {
    width: 100%;
    max-width: 510px;
    min-width: initial;
  }
}
.text-area-heigth {
  //width: 80%;
  height: 90px;
  border-bottom: 1px solid #949494;
  margin-bottom: 5px;
}
.label-up-text {
  width: 170px;
  color: #37236a;
}
@media screen and (max-width: 450px) {
  .container-account {
    width: 100% !important;
  }
}

.style-icon {
  font-size: 21px;
  position: relative;
  bottom: 4px;
  color: #8d7eb7;
}

.info-confirm {
  p {
    margin: 5px auto 20px;
  }

  .input-password {
    margin: 0 auto 20px;
    display: block;
    width: 60%;

    @include from($s-medium) {
      width: 100%;
      margin: 0 auto 15px;
    }
  }
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  @include from($small) {
    flex-direction: column;
  }
}

.buttons-container.flex-start {
  justify-content: flex-start;

  @include from($small) {
    justify-content: center;
  }
}

.button {
  padding: 4px 25px;
}

.button_cancel {
  margin-right: 15px;

  @include from($small) {
    margin-right: 0;
    margin-top: 10px;
  }
}

.reason-change {
  margin-bottom: 15px;
}

.mxw-30 {
  max-width: 30px;
}
