@import 'variables';
@import 'animations';

.border-rad{
    border-radius: 10px;
}

label {
    width: 80px;
    color:$gray2;
    text-transform: uppercase;
    font-family: $font-galano-bold;
}

.info{
    color: #2B2A27;
    font-family: $font-galano;
    font-size: 16px;
}

.item{
    line-height: 3;
    border-bottom: 1px solid #ECECEC;
    padding-left: 2rem;
    &:last-child{
        border-bottom: none;
    }
}

.w-85{
    width: 85%;
}


.lineh{
    line-height: 2;
    padding: 10px 0px;
}

@media screen and (max-width: 450px) {
    .truncate{
      width: 100px;
      overflow: hidden;
      display: block !important;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .info{
        font-size: 14px;
    }

  }
  
  .passText{
      width: 213px;
  }