<div fxLayout="column" fxLayoutAlign="center" class="border-bottom-gray border-blue">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3 class="mb-3 title-name">  <img class="icon-dashboard" src="/assets/img/ayuda/reportar-novedad/icon-reportar-novedad.svg" alt="user"> <strong> No. de caso </strong> 215222</h3>
      <a id="closeDialog" matRipple (click)="onNoClick()"
          ><mat-icon class="close">close</mat-icon></a
          >
    </div>
</div>
<div fxLayout="row" class="border-bottom-gray pb-2">
    <div fxLayout="column" fxLayoutGap="20px" >
        <h3>Información de novedad</h3>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">FECHA DE LA SOLICITUD</span> 
            <span class="normal-text">20/12/2020</span>
        </p>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">FECHA DE NOVEDAD</span> 
            <span class="normal-text">12/12/2020</span>
        </p>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">NEGOCIO</span> 
            <span class="normal-text">Almacenes Éxito</span>
        </p>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">REFERENCIA DE ORDEN/SERVICIO</span> 
            <span class="normal-text">Almacenes Éxito</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray ">DESCRIPCIÓN DE LA NOVEDAD</span> 
            <span class="normal-text w-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">EVIDENCIA</span> 
            <span (click)="viewerImage()" class="normal-link">elemento.jpg</span>
        </p>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray ">ESTADO</span> 
            <span class="ml-2 normal-text">Pendiente</span>
        </p>
    </div>
    <div fxLayout="column">
        <h3>Información del clicker</h3>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">NOMBRE</span> 
            <span class="normal-text ">Andres Acosta</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">ID</span> 
            <span class="normal-text ">andres.a</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">CEDULA</span> 
            <span class="normal-text ">11002910212</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">CELULAR</span> 
            <span class="normal-text ">3224981222</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">CORREO</span> 
            <span class="normal-text ">corre.correo@gmail.com</span>
        </p>
    </div>

</div>
<div class="mt-3" fxLayout="row" fxLayoutAlign="end" >
    <form [formGroup]="dateForm" >
        <mat-form-field class="selected-report">
            <mat-placeholder [class]="label-up-text-selected">NUEVO ESTADO</mat-placeholder>
            <mat-select
              
              id="tipoReport"
              formControlName="status"
              class="selected-report"
            >
              <mat-option (click)="onChangeSelected(selected.titulo)" *ngFor="let selected of selecteds" value="{{ selected.titulo }}">
                <span >{{ selected.titulo }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="orange" (click)="getAnyReport()" id="download-users" class="ml-2 send-button" [disabled]="disableButon">Guardar</button>    
    </form>
</div>

<ng-template #templateImage>
    <div>
        <img class="w-image" src="https://d500.epimg.net/cincodias/imagenes/2018/11/13/lifestyle/1542113135_776401_1542116070_noticia_normal.jpg" alt="">
        <a class="download-file"><img class="icon-download" src="assets/img/dashboard/descarga.svg" alt="descarga"> Descargar </a>
    </div>
</ng-template>
