<div fxLayout="column" fxLayoutAlign="center" class="border-bottom-gray border-blue">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3 class="mb-3 title-name">  <img class="icon-dashboard" src="/assets/img/ayuda/reportar-novedad/icon-reportar-novedad.svg" alt="user"> <strong> No. de caso </strong> {{data.element.consecutive}}</h3>
      <a id="closeDialog" matRipple (click)="onNoClick()"
          ><mat-icon class="close">close</mat-icon></a
          >
    </div>
</div>
<div fxLayout="row" class="border-bottom-gray pb-2">
    <div fxLayout="column" fxLayoutGap="20px" >
        <h3>Información de novedad</h3>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">FECHA DE LA SOLICITUD</span> 
            <span class="normal-text">{{data.element.date | date: 'dd/MM/yyyy'}}</span>
        </p>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">FECHA DE NOVEDAD</span> 
            <span class="normal-text">{{data.element.datenovelty | date: 'dd/MM/yyyy'}}</span>
        </p>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">NEGOCIO</span> 
            <span class="normal-text">{{data.element.businessdescription}}</span>
        </p>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">REFERENCIA DE ORDEN/SERVICIO</span> 
            <span class="normal-text">{{data.element.code}} </span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray ">DESCRIPCIÓN DE LA NOVEDAD</span> 
            <span class="normal-text w-description">{{data.element.description}}</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">EVIDENCIA</span> 
            <span (click)="viewerImage()" class="normal-link cursor-pointer">{{image}}</span>
        </p>
        <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray ">ESTADO</span> 
            <span *ngIf="data.element.statusnovelty === 'Pendiente'" class="span-relative-new ml-2 normal-text"><img class="status-img" src="/assets/img/dashboard/icon-info.svg" alt="pendind"> Pendiente</span>
            <span *ngIf="data.element.statusnovelty === 'Solucionado'" class="span-relative-new ml-2 normal-text"><img class="status-img" src="/assets/img/dashboard/icon-check-new.svg" alt="pendind"> Solucionado</span>
            <span *ngIf="data.element.statusnovelty === 'En revisión'" class="span-relative-new ml-2 normal-text"><img class="status-img" src="/assets/img/dashboard/icon-revision.svg" alt="pendind"> En revisión</span>
        </p>
    </div>
    <div fxLayout="column">
        <h3>Información del clicker</h3>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">NOMBRE</span> 
            <span class="normal-text ">{{data.element.name}}</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">ID</span> 
            <span class="normal-text ">{{data.element.idclicker}}</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">CÉDULA</span> 
            <span class="normal-text ">{{data.element.identification}}</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">CELULAR</span> 
            <span class="normal-text ">{{data.element.cellphone}}</span>
        </p>
        <p fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray w-label-info">CORREO</span> 
            <span class="normal-text ">{{data.element.email}}</span>
        </p>
    </div>

</div>
<div class="mt-3" fxLayout="row" fxLayoutAlign="end" >
    <form [formGroup]="dateForm" >
        <mat-form-field class="selected-report">
            <mat-placeholder [class]="label-up-text-selected">NUEVO ESTADO</mat-placeholder>
            <mat-select
              
              id="tipoReport"
              formControlName="status"
              class="selected-report"
            >
              <mat-option (click)="onChangeSelected(selected.titulo)" *ngFor="let selected of selecteds" value="{{ selected.titulo }}">
                <span >{{ selected.titulo }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="orange" [disabled]="active" (click)="saveChanges()" id="download-users" class="ml-2 send-button" >Guardar</button>    
    </form>
</div>

<ng-template #templateImage>
    <div>
        <img class="w-image" [src]="data.element.documenturl" alt="">
    </div>
</ng-template>
