@import "variables";
@import "general";
@import "animations";

.text-link {
  color: #8d7eb7 !important;
  text-decoration: underline;
}
.border-blue {
  border-bottom-color: #352767 !important;
}
.title-name {
  color: #37236a;
  font-size: 20px;
  line-height: 28px;
  strong {
    color: #878195;
  }
}
.w-label {
  width: 160px;
}
.w-label-info {
  width: 178px;
}
.gray {
  color: $gray2;
  font-size: 11px;
}
.normal-text {
  color: #37236a;
  font-size: 14px;
  //line-height: 28px;
  //font-family: "galano-medium";
}
.margin-zero-bottom {
  margin-bottom: 0px !important;
}
.margin-zero-top {
  margin-top: 0px !important;
}
.w-description {
  width: 350px;
}
.normal-link {
  color: #8d7eb7 !important;
  text-decoration: underline;
}
.label-up-text-selected {
  color: #a7a3b1;
  font-family: $font-galano-bold !important;
  margin-top: 15px;
  font-size: 14px;
}
.w-image {
  width: 100%;
}
.download-file {
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  position: absolute;
  bottom: -45px;
  right: 0px;
  background-color: #8e7cbb;
}
