@import 'variables';

.op {
  opacity: 0.8;
}

.border-radius-10 {
  border-radius: 10px;
}

.show-tutorial {
  margin-bottom: 15px;
  background-color: #8d7eb7;
  color: $white;
  border-radius: 10px;
  box-shadow: 0px 16px 20px #9aaacf1a;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 6px 10px;
  position: relative;
  mat-icon {
    transform: rotateY(180deg);
    position: absolute;
    right: 10px;
    top: 25%;
  }
}

.active-topic {
  color: $primary-color;
  font-family: $font-galano-bold;
  &::before {
    content: '';
    background: $secondary-color;
    width: 3px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 1px;
  }
}

.head {
  height: 35px !important;
}
