<p class="galano-bold f-20 purple-text op mt-0">{{'HELP_CENTER.TOPICS' | translate}}</p>

<mat-accordion>
    <mat-expansion-panel [expanded]="true" class="help-center">
      <mat-expansion-panel-header  class="head">
       <span [routerLink]="['/centro-de-ayuda']" routerLinkActive="active-topic">{{'HELP_CENTER.ABOUT_CLICKAM.ABOUT_CLICKAM' | translate}}</span> 
      </mat-expansion-panel-header>
  
      <mat-list role="list" *ngFor="let item of aboutClickam; let i = index">
        <mat-list-item class="cursor-pointer" role="listitem" [routerLink]="item.route"  routerLinkActive="active">{{item.name}}</mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        This is the expansion 2 title
      </mat-expansion-panel-header>
  
      This the expansion 2 content
  
    </mat-expansion-panel> -->
  
  </mat-accordion>
