<p class="galano-bold f-20 purple-text op mt-0">
  {{ 'HELP_CENTER.TOPICS' | translate }}
</p>

<button mat-button class="show-tutorial gtmTemasPrincipalesVerTutorial" (click)="showOnboarding()"><span>Ver Tutorial</span> <mat-icon>reply</mat-icon></button>

<mat-accordion>
  <mat-expansion-panel
    [expanded]="step === 0"
    [ngClass]="{ 'border-radius-10': step === 0 }"
    (opened)="setStep(0)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesSobreClickam">
      <span class="gtmTemasPrincipalesSobreClickam">
        <a href="/centro-de-ayuda" routerLinkActive="active-topic" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'HELP_CENTER.ABOUT_CLICKAM.ABOUT_CLICKAM' | translate }}
        </a>
      </span>
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let item of aboutClickam; let i = index">
      <mat-list-item (click)="setStep(0)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a>
        </span></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step === 1"
    [ngClass]="{ 'border-radius-10': step === 1 }"
    (opened)="setStep(1)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesConfiguracionDeCuenta">
      <span class="gtmTemasPrincipalesConfiguracionDeCuenta">
        <a href="/centro-de-ayuda/configuraciones-de-cuenta" routerLinkActive="active-topic" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'HELP_CENTER.CONFIGURATIONS.CONFIGURATIONS' | translate }}
        </a>
      </span>
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let item of configurations; let i = index">
      <mat-list-item (click)="setStep(1)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a>
        </span></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step === 2"
    [ngClass]="{ 'border-radius-10': step === 2 }"
    (opened)="setStep(2)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesComisiones">
      <span class="gtmTemasPrincipalesComisiones">
        <a href="/centro-de-ayuda/comisiones" routerLinkActive="active-topic" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'HELP_CENTER.COMMISSIONS.COMMISSIONS' | translate }}
        </a>
      </span>
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let item of commissions; let i = index">
      <mat-list-item (click)="setStep(2)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a></span
        ></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step === 3"
    [ngClass]="{ 'border-radius-10': step === 3 }"
    (opened)="setStep(3)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesReportes">
      <span class="gtmTemasPrincipalesReportes">
        <a href="/centro-de-ayuda/reportes" routerLinkActive="active-topic" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'HELP_CENTER.REPORTS.REPORTS' | translate }}
        </a>
      </span>
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let item of reports; let i = index">
      <mat-list-item (click)="setStep(3)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a></span
        ></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step === 4"
    [ngClass]="{ 'border-radius-10': step === 4 }"
    (opened)="setStep(4)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesRefiereAUnAmigo">
      <span
        class="gtmTemasPrincipalesRefiereAUnAmigo"
        >
        <a href="/centro-de-ayuda/refiere-a-un-amigo" routerLinkActive="active-topic" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'HELP_CENTER.REFER.REFER' | translate }}
        </a>
        </span
      >
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let item of refer; let i = index">
      <mat-list-item (click)="setStep(4)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a></span
        ></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step === 5"
    [ngClass]="{ 'border-radius-10': step === 5 }"
    (opened)="setStep(5)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesOfertas">
      <span
        class="gtmTemasPrincipalesOfertas"
        >
        <a href="/centro-de-ayuda/ofertas" routerLinkActive="active-topic" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'HELP_CENTER.OFFERS.OFFERS' | translate }}
        </a>
        </span
      >
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let item of offers; let i = index">
      <mat-list-item (click)="setStep(5)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a></span
        ></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step === 6"
    [ngClass]="{ 'border-radius-10': step === 6 }"
    (opened)="setStep(6)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesOtrasPreguntas">
      <span
        class="gtmTemasPrincipalesOtrasPreguntas"
        >
        <a href="/centro-de-ayuda/otras-preguntas-frecuentes" routerLinkActive="active-topic" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'HELP_CENTER.QUESTIONS.QUESTIONS' | translate }}
        </a>
        </span
      >
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let item of questions; let i = index">
      <mat-list-item (click)="setStep(6)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a></span
        ></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step === 7"
    [ngClass]="{ 'border-radius-10': step === 7 }"
    (opened)="setStep(7)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesContactaLosNegocios">
      <span
        class="gtmTemasPrincipalesContactaLosNegocios"
        >
        <a href="/centro-de-ayuda/contacta-los-negocios" routerLinkActive="active-topic" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'HELP_CENTER.CONTACTS.CONTACTS' | translate }}
        </a>
        </span
      >
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let item of contacts; let i = index">
      <mat-list-item (click)="setStep(7)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a></span
        ></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step === 8"
    [ngClass]="{ 'border-radius-10': step === 8 }"
    (opened)="setStep(8)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesContactarnos">
      <span
        class="gtmTemasPrincipalesContactarnos"
        [routerLink]="['/centro-de-ayuda/contactanos']"
        routerLinkActive="active-topic"
        [routerLinkActiveOptions]="{ exact: true }"
        >
        <a href="/centro-de-ayuda/contactanos" routerLinkActive="active-topic" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'HELP_CENTER.CONTACTUS.CONTACTUS' | translate }}
        </a>
        </span
      >
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let item of contactUs; let i = index">
      <mat-list-item (click)="setStep(8)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a></span
        ></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel
    *ngIf="reportVisible"
    [expanded]="step === 9"
    [ngClass]="{ 'border-radius-10': step === 9 }"
    (opened)="setStep(9)"
    class="help-center expansion-panel-box-shadow"
  >
    <mat-expansion-panel-header class="head gtmTemasPrincipalesReportarNovedad">
      <span
        class="gtmTemasPrincipalesReportarNovedad"
        [routerLink]="['/centro-de-ayuda/reportar']"
        routerLinkActive="active-topic"
        [routerLinkActiveOptions]="{ exact: true }"
        >
        REPORTAR NOVEDAD</span
      >
    </mat-expansion-panel-header>
    <mat-list role="list" *ngFor="let item of report; let i = index">
      <mat-list-item (click)="setStep(9)" ngClass="cursor-pointer gtmCentroDeAyudaClicMenu{{ item.class }}" role="listitem"
        ><span class="gtmCentroDeAyudaClicMenu{{ item.class }}">
          <a routerLinkActive="active" [href]="item.route">
            {{ item.name }}
          </a></span
        ></mat-list-item
      >
    </mat-list>
  </mat-expansion-panel>
  <mat-list-item class="help-center itemli expansion-panel-box-shadow" *ngIf="reportVisible">
    <span
      class="gtmTemasPrincipalesConsultarOrden"
      [routerLink]="['/centro-de-ayuda/consultar']"
      routerLinkActive="active-topic"
      [routerLinkActiveOptions]="{ exact: true }"
      >CONSULTAR NÚMERO DE ORDEN</span
    >
  </mat-list-item>
</mat-accordion>
