@import 'variables';

.line-medium {
  width: 80%;
  height: 1px;
  position: relative;
  top: 20px;
  border-color: #87819533;
}
.card-padding {
  padding: 0px !important;
  margin-bottom: 20px;
}
.imagen-blog {
  width: 170px;
  height: 90px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  object-fit: cover;
}
.container-blogs {
  max-width: 930px;
  margin-right: auto;
  margin-left: auto;
}
.title-content {
  width: 440px;
}
.button-save {
  background-color: $primary-color;
  box-shadow: 0px 3px 9px #3a226a80;
  color: #ffffff;
}

.style-icon {
  font-size: 24px;
  color: $purple2;
}
