<mat-card class="card">
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span fxLayout="column" fxFlex="45">
                    <circle-progress
                    percent="{{circle}}"
                  ></circle-progress>
            </span>
            <span fxLayout="column" fxLayoutAlign="flex-end flex-end" fxFlex="55">
                <img class="icon-dashboard" src="/assets/img/dashboard/icono-usuarios1.svg" alt="user">
                <p class="mb-0">{{ 'DASHBOARD.TOTAL_USERS' | translate }}</p>
                <span class="number"> {{cifer}}</span>
                <p class="mb-0">{{ 'DASHBOARD.TOTAL_ACTIVE' | translate }}</p>
                <span class="number">{{cifer2}}</span>
            </span>
        </div>
    </mat-card-content>  
</mat-card>