@import 'variables';

table {
  width: 500px;
  th {
    width: 20%;
    font-family: $font-galano-bold;
    color: $primary-color;
    text-align: center;
  }
  td {
    padding-right: 15px;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  table {
    width: 100%;
  }
}
