<div *ngIf="typedc !== 'nit'">
    <h2 class="border-bottom-orange-init">{{ textTerminos }}</h2>
    <div [innerHtml]="contentTerminos"></div>
    <h2 class="border-bottom-orange-init">{{ textProteccion }}</h2>
    <div [innerHtml]="contentProteccion"></div>
    <h2 class="border-bottom-orange-init">{{ textTransparencia }}</h2>
    <div [innerHtml]="contentTransparencia"></div>
    <h2 class="border-bottom-orange-init">{{ textPrograma }}</h2>
    <div [innerHtml]="contentPrograma"></div>
</div>
<div *ngIf="typedc === 'nit'">
    <h2 class="border-bottom-orange-init">{{ textTerminosPJ }}</h2>
    <div [innerHtml]="contentTerminosPJ"></div>
</div>
<button mat-raised-button id="accept-modal" class="mt-2 center button button-height button-100 register-button"
    color="orange" (click)="acceptModal()">
    {{ 'GENERIC.ACCEPT' | translate }}
</button>