<div class="full-container">
  <div>
    <div
      class="loader-overlay"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="70">
        <!-- <mat-spinner color="orange-spinner"></mat-spinner> -->
        <div class="loader"></div>
        <h3 class="white f-25 text-center">Generando link inteligente</h3>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/img/envios-click-horizontal.svg" alt="clickam" />
        <p
          class="white"
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
        >
          Powered by
          <span>
            <img src="/assets/img/grupo-exito.svg" alt="exito" class="ml-2"
          /></span>
        </p>
      </div>
    </div>
  </div>
</div>
