@import 'variables';

.card {
  &-dark {
    background: $card-bg;
  }
}

.orderNumber {
  h3 {
    text-transform: uppercase;
    color: $primary-color;
    font-size: 14px;
    margin-bottom: 0;
  }
  p {
    margin: 0;
    color: $primary-color;
  }
}
