@import 'variables';
@import 'general';
@import 'animations';

.border-input {
  border: none;
  outline: none;
  height: 32px;
}

.border-radius {
  border-radius: 5px;
}

.icon-download {
  position: relative;
  left: 5px;
  bottom: 2px;
}

.icon-date {
  position: relative;
  top: 7px;
  left: 30px;
}

.form-control {
  padding-left: 35px !important;
  font-family: $font-galano !important;
}

.downloadUsers {
  position: relative;
  left: -23px;
}

.minaud {
  min-height: 500px;
}
.style-icon {
  font-size: 18px;
  position: relative;
  bottom: 4px;
}

.custom-file-upload {
  border: 1px solid $primary-color;
  display: flex;
  border-radius: 10px;
  padding: 6px 12px;
  cursor: pointer;
  background: $primary-color;
  color: #ffffff;
  align-items: center;
}

input[type='file'] {
  display: none;
}