@import 'variables';
@import 'general';
@import 'animations';

.title{
    font-family: $font-galano;
    font-weight: normal;
    color:$gray;
    min-height: 58px;
}

.small {
    font-size: .8rem;
}

.text-line{
    text-decoration: line-through;
}

.discount{
    color: $primary-color;
    font-size: 1rem;
}

.img-responsive{
    max-width: 100%;
}

.gray {
    color: $gray;
}

.img-container {
    margin: 10px auto;
    min-height: 40px;
}

@media screen and (min-width: 600px) {

    .img-container-2{
        max-width: 50%;
        margin: 0px auto;
        height: 20vh;
    }
}
