<mat-card class="mat-elevation-z0 card-product puff-in-center">
    <mat-card-content>
      <img class="img-responsive" mat-card-image src="{{image}}" alt="{{alt}}">
      <h3 class="title" id="{{id}}">{{productName}}</h3>
      <p>
       <span class="d-block discount">
         {{price | currency}}
       </span>
       <span class="d-block discount">
         {{discount | currency}}
       </span>
      </p>
      <p>
        <span class="plu">
        PLU:{{plu}}
      </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button id={{btnid}}  mat-raised-button color="orange" class="mb-1 button-100" (click)="product()">{{textbutton}}</button>
      </mat-card-actions>
  </mat-card>