<div fxLayout="row" class="bar sticky" fxLayoutAlign="start end">
  <span fxLayout="column" fxLayoutAlign="start start" fxFlex="12">
    <mat-icon class="cursor-pointer" (click)="closeComponent()"
      >keyboard_arrow_left</mat-icon
    >
  </span>
  <span fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
    <h4 class="m-0 text-capitalize f-16">{{ title }}</h4>
  </span>
  <span fxLayout="column" fxLayoutAlign="end end" fxFlex="80">
    <h4 class="m-0 orange-text f-12">{{ aditional }}</h4>
  </span>
</div>
