<div fxShow.gt-xs="false" fxLayout="row" class="bar sticky" fxLayoutAlign="start end">
  <span fxLayout="column" fxLayoutAlign="start start" fxFlex="12">
    <mat-icon class="cursor-pointer" (click)="closeComponent()"
      >keyboard_arrow_left</mat-icon
    >
  </span>
  <span fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
    <h4 class="m-0 text-capitalize f-16">{{ title }}</h4>
  </span>
  <span fxLayout="column" fxLayoutAlign="end end" fxFlex="80">
    <h4 class="m-0 orange-text f-12">{{ aditional }}</h4>
  </span>
</div>

<div fxHide.xs="true" fxLayout="row" fxLayoutAlign="space-between center" class="container pt-4 pb-4 border-bottom-gray">
  <span fxLayout="column" fxLayoutAlign="center center">
  <button (click)="closeComponent()" mat-button><mat-icon class="cursor-pointer"
    >keyboard_arrow_left</mat-icon
  > <span class="f-20 gray">Volver</span></button>  
  </span>
  <span fxLayout="column">
    <img class="company-logo" src="{{imageurl}}" alt="{{title}}">
  </span>
  <span fxLayout="column">
    <h3 class="m-0 orange-text">{{ aditional }}</h3>
  </span>
</div>
