
<div fxShow.xs="false">
<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
>
  <div ngxSlickItem *ngFor="let slide of sliderWeb; let i=index" class="slide text-center">
    <a href="{{ slide.link }}" id="banner{{i}}">
      <img src="{{ slide.imageurl }}" class="responsive-img round-img"  alt="{{ slide.description }}" />
    </a>
  </div>
</ngx-slick-carousel>
</div>

<div fxShow.gt-xs="false">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let slide of sliderMobile; let i=index" class="slide text-center pl-3">
        <span (click)="openShare($event)">
          <!-- <img class="responsive-img round-img" src="{{ slide.imageurl }}"  alt="{{ slide.description }}" /> -->
          <app-product
              id="slide{{i}}"
              [photo]="slide.imageurl"
              category="true"
              home
              (infoProduct)="dataCategory(slide)"
            ></app-product>
        </span>
      </div>
    </ngx-slick-carousel>
    </div>
    

