<div fxShow.xs="false" class="no-focus">
  <div class="position-relative">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      *ngIf="isSlider === true"
    >
      <div
        ngxSlickItem
        *ngFor="let slide of sliderWeb; let i = index"
        class="slide text-center"
      >
        <span (click)="openShare($event)">
          <app-product
            id="slide{{ i }}"
            [photo]="slide.imageurl"
            infoaditional="slide.infoaditional"
            category="true"
            home
            (infoProduct)="dataCategory(slide)"
          ></app-product>
        </span>
      </div>
    </ngx-slick-carousel>
    <div class="position-absolute" fxLayout="row" fxLayoutAlign="space-between" *ngIf="showArrows === true">
      <button mat-mini-fab color="orange" class="ml-4 op" (click)="prev()">
        <img class="rotate" src="/assets/img/arrow-right.svg" alt="upload" />
      </button>
      <button mat-mini-fab color="orange" class="mr-4 op" (click)="next()">
        <img src="/assets/img/arrow-right.svg" alt="upload" />
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="isSlider === false"
  fxLayout="row wrap"
  class="container"
  fxLayoutAlign="space-between"
>
  <div
    fxLayout="column"
    *ngFor="let slide of sliderMobile; let i = index"
    class="slide text-center"
  >
    <span (click)="openShare($event)">
      <app-product
        id="slide{{ i }}"
        class="no-slider round-img"
        [photo]="slide.imageurl"
        infoaditional="slide.infoaditional"
        category="true"
        home
        (infoProduct)="dataCategory(slide)"
      ></app-product>
    </span>
  </div>
</div>

<div fxShow.gt-xs="false" class="no-focus">
  <ngx-slick-carousel
    *ngIf="isSlider === true"
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div
      ngxSlickItem
      *ngFor="let slide of sliderMobile; let i = index"
      class="slide text-center pl-3"
    >
      <span (click)="openShare($event)">
        <app-product
          id="slide{{ i }}"
          [photo]="slide.imageurl"
          infoaditional="slide.infoaditional"
          category="true"
          home
          (infoProduct)="dataCategory(slide)"
        ></app-product>
      </span>
    </div>
  </ngx-slick-carousel>
</div>

<!-- template share -->

<ng-template #templateCategories>
  <div *ngIf="!reference">
    <form [formGroup]="formLink">
      <div fxLayout="column">
        <div fxLayout="column" fxFlex="100" fxFlex.xs="100">
          <mat-form-field appearance="dashed" class="dashed mt-2">
            <input
              id="url"
              matInput
              formcontrolName="link"
              [value]="urlshorten"
              #linkInput
              readonly
            />
          </mat-form-field>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="center space-between"
          class="mt-2 share-desktop"
          fxLayoutGap="8px"
        >
          <button
            mat-button
            id="btnCopy"
            color="orange"
            [disabled]="enableCopy"
            class="gtmInicioClicFiltroExitocomCopiarLink"
            (click)="copyInputMessage(linkInput)"
          >
            <span
              fxLayoutAlign="center space-between"
              class="gtmInicioClicFiltroExitocomCopiarLink"
            >
              {{ "GENERIC.COPY_LINK" | translate }}
            </span>
          </button>

          <button
            mat-button
            id="refer"
            color="orange"
            (click)="showReference()"
          >
            <span fxLayoutAlign="center space-between">
              Referir
            </span>
          </button>

          <button
            mat-button
            id="buy"
            color="orange"
            class="orange-border"
            (click)="buy()"
          >
            <span fxLayoutAlign="center space-between ">
              Comprar
            </span>
          </button>
        </div>
      </div>
    </form>

    <h3 class="border-bottom-orange-init share-desktop">
      {{ "GENERIC.SHARE" | translate }}
    </h3>

    <div class="share-desktop" id="share">
      <button
        theme="circles-dark"
        shareButton="facebook"
        [url]="urlshorten"
        class="sharebutton gtmInicioClicFiltroExitocomFacebook mr-2"
      >
        <i class="fab fa-facebook-f gtmInicioClicFiltroExitocomFacebook"></i>
      </button>
      <button
        theme="circles-dark"
        shareButton="twitter"
        [url]="urlshorten"
        class="sharebutton gtmInicioClicFiltroExitocomTwitter mr-2"
      >
        <i class="fab fa-twitter gtmInicioClicFiltroExitocomTwitter"></i>
      </button>
      <button
        theme="circles-dark"
        shareButton="whatsapp"
        [url]="urlshorten"
        class="sharebutton gtmInicioClicFiltroExitocomWhatsapp"
      >
        <i class="fab fa-whatsapp gtmInicioClicFiltroExitocomWhatsapp"></i>
      </button>
    </div>

    <div class="share-mobile">
      <button
        mat-button
        class="gtmrs  mb-2 mt-2 "
        (click)="share()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span class="gtmrs f-15" fxLayout="row" fxLayoutAlign="center center">
          <img
            class="icon-compartir pr-2"
            src="/assets/img/Compartir.svg"
            alt="user"
          />
          Compartir</span
        >
      </button>

      <button
        mat-button
        class="gtmrs  mb-2 mt-2 "
        (click)="showReference()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span class="gtmrs f-15" fxLayout="row" fxLayoutAlign="center center">
          <img
            class="icon-compartir pr-2"
            src="/assets/img/Referir.svg"
            alt="user"
          />
          Referir
        </span>
      </button>

      <button
        mat-button
        class="gtmrs  mb-2 mt-2 "
        (click)="buy()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span class="gtmrs f-15" fxLayout="row" fxLayoutAlign="center center">
          <img
            class="icon-compartir pr-2"
            src="/assets/img/Comprar.svg"
            alt="user"
          />
          Comprar
        </span>
      </button>
    </div>
  </div>
  <br />
  <form
    class="forgotpassword-container"
    [formGroup]="idCustomerForm"
    fxLayout="column"
    *ngIf="reference"
  >
  <span (click)="backStep()" class="cursor-pointer gray" fxLayout="row" fxLayoutAlign="start start" fxFlex="12">
    <mat-icon
      >keyboard_arrow_left</mat-icon
    > <span class="text-back">Volver</span> 
  </span>
    <p>{{ "GENERIC.REFERENCE_IDENTIFICATION" | translate }}</p>
    <mat-form-field appearance="outline" class="mt-2">
      <input
        matInput
        class="p-2"
        id="idcustomer"
        type="text"
        placeholder="N° de Documento"
        formControlName="identification"
        required
      />
      <mat-error
        id="reuiredId"
        *ngIf="
          idCustomerForm.controls.identification.invalid &&
          idCustomerForm.controls.identification.errors.required
        "
        >{{
          "GENERIC.REQUIRED" | translate: { formValue: "Número de documento" }
        }}</mat-error
      >

      <mat-error
        id="maxId"
        *ngIf="
          idCustomerForm.controls.identification.invalid &&
          idCustomerForm.controls.identification.errors.maxlength
        "
        >{{
          "GENERIC.MAX_CHARACTERS"
            | translate
              : {
                  maxchar:
                    idCustomerForm.controls.identification.errors.maxlength
                      .requiredLength
                }
        }}</mat-error
      >

      <mat-error
        id="numberId"
        *ngIf="
          idCustomerForm.controls.identification.invalid &&
          idCustomerForm.controls.identification.errors.pattern
        "
        >{{ "GENERIC.ONLY_NUMBERS" | translate }}</mat-error
      >
    </mat-form-field>

    <div fxLayout="column">
      <button
        mat-raised-button
        class="button button-100 p-1 gtmCrearCedulaSiguiente"
        id="recoverPassword"
        color="orange"
        (click)="saveLinkReference()"
        [disabled]="!idCustomerForm.valid"
      >
        <span class="gtmCrearCedulaSiguiente">{{
          "GENERIC.ACCEPT" | translate
        }}</span>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #templateDialogAssured>
  <div id="share">
    <div *ngIf="showFormCustomer">
      <p class="text-id">{{ "GENERIC.CUSTOMER_ID" | translate }}</p>
      <form
        class="forgotpassword-container"
        [formGroup]="idCustomerForm"
        fxLayout="column"
      >
        <mat-form-field appearance="outline" class="mt-2">
          <input
            matInput
            class="p-2"
            id="idcustomer"
            type="text"
            placeholder="N° de Documento"
            formControlName="identification"
            required
          />
          <mat-error
            id="reuiredId"
            *ngIf="
              idCustomerForm.controls.identification.invalid &&
              idCustomerForm.controls.identification.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Número de documento" }
            }}</mat-error
          >

          <mat-error
            id="maxId"
            *ngIf="
              idCustomerForm.controls.identification.invalid &&
              idCustomerForm.controls.identification.errors.maxlength
            "
            >{{
              "GENERIC.MAX_CHARACTERS"
                | translate
                  : {
                      maxchar:
                        idCustomerForm.controls.identification.errors.maxlength
                          .requiredLength
                    }
            }}</mat-error
          >

          <mat-error
            id="numberId"
            *ngIf="
              idCustomerForm.controls.identification.invalid &&
              idCustomerForm.controls.identification.errors.pattern
            "
            >{{ "GENERIC.ONLY_NUMBERS" | translate }}</mat-error
          >
        </mat-form-field>

        <div fxLayout="column" class="mt-2">
          <button
            mat-raised-button
            class="button button-100 p-1 gtmCrearCedulaSiguiente"
            id="recoverPassword"
            color="orange"
            (click)="nextStep()"
            [disabled]="!idCustomerForm.valid"
          >
            <span
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="pl-3 pr-3 gtmCrearCedulaSiguiente"
            >
              {{ "GENERIC.NEXT" | translate }}
              <mat-icon>arrow_forward</mat-icon>
            </span>
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="showForm">
      <form [formGroup]="formLink">
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxLayout="column" fxFlex="70" fxFlex.xs="100">
            <mat-form-field appearance="dashed" class="dashed mt-2">
              <input
                id="url"
                matInput
                formcontrolName="link"
                [value]="urlshorten"
                #linkInput
                readonly
              />
            </mat-form-field>
          </div>
          <div fxLayout="column" class="mt-2 share-desktop">
            <button
              mat-button
              id="btnCopy"
              color="orange"
              [disabled]="enableCopy"
              class="gtmInicioClicFiltroExitocomCopiarLink"
              (click)="copyInputMessage(linkInput)"
            >
              <span
                fxLayoutAlign="space-between center"
                class="gtmInicioClicFiltroExitocomCopiarLink"
              >
                {{ "GENERIC.COPY_LINK" | translate }}
              </span>
            </button>
          </div>
        </div>
      </form>

      <h3 class="border-bottom-orange-init share-desktop">
        {{ "GENERIC.SHARE" | translate }}
      </h3>

      <div class="share-desktop" id="share">
        <button
          theme="circles-dark"
          shareButton="facebook"
          [url]="urlshorten"
          class="sharebutton gtmInicioClicFiltroExitocomFacebook mr-2"
        >
          <i class="fab fa-facebook-f gtmInicioClicFiltroExitocomFacebook"></i>
        </button>
        <button
          theme="circles-dark"
          shareButton="twitter"
          [url]="urlshorten"
          class="sharebutton gtmInicioClicFiltroExitocomTwitter mr-2"
        >
          <i class="fab fa-twitter gtmInicioClicFiltroExitocomTwitter"></i>
        </button>
        <button
          theme="circles-dark"
          shareButton="whatsapp"
          [url]="urlshorten"
          class="sharebutton gtmInicioClicFiltroExitocomWhatsapp"
        >
          <i class="fab fa-whatsapp gtmInicioClicFiltroExitocomWhatsapp"></i>
        </button>
      </div>

      <div class="share-mobile">
        <button
          mat-button
          class="gtmrs  mb-2 mt-2 "
          (click)="share()"
          fxLayout="row"
          fxLayoutAlign="start start"
        >
          <span class="gtmrs f-15" fxLayout="row" fxLayoutAlign="center center">
            <img
              class="icon-compartir pr-2"
              src="/assets/img/Compartir.svg"
              alt="user"
            />
            Compartir</span
          >
        </button>

        <button
          mat-button
          class="gtmrs  mb-2 mt-2 "
          (click)="buy()"
          fxLayout="row"
          fxLayoutAlign="start start"
        >
          <span class="gtmrs f-15" fxLayout="row" fxLayoutAlign="center center">
            <img
              class="icon-compartir pr-2"
              src="/assets/img/Comprar.svg"
              alt="user"
            />
            Comprar
          </span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
