<div class="user-status">
  <h3 class="secundary-text">Usuario</h3>

  <span fxLayout="row" fxLayoutAlign="space-between center">
    <p class="galano-bold gray w-label w-label-width">ORIGEN</p>
    <span class="normal-text" *ngIf="data.isemployeegrupoexito === true"> Interno </span>
    <span class="normal-text" *ngIf="data.isemployeegrupoexito === false"> Externo </span>
  </span>

  <span fxLayout="row" fxLayoutAlign="space-between center">
    <p class="galano-bold gray w-label w-label-width">SCORE</p>
    <span class="normal-text"> {{ data.score }} </span>
  </span>

  <p class="galano-bold gray w-label">COMUNICACIONES</p>

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-slide-toggle (change)="notifications($event, 'email')" [(ngModel)]="mail"> <span class="purple-text galano-bold">Recibe email</span> </mat-slide-toggle>
    <mat-slide-toggle (change)="notifications($event, 'sms')" [(ngModel)]="sms"><span class="purple-text galano-bold">Recibe SMS</span> </mat-slide-toggle>
  </div>

  <div fxLayout="row" fxLayoutGap="20px">
    <span fxLayout="column">
      <p class="galano-bold gray w-label w-label-width">ESTADO</p>
      <mat-slide-toggle
        (change)="changeValueService($event, 'status')"
        [(ngModel)]="state"
        color="orange-toggle"
        labelPosition="before"
        id="state-toggle"
      >
        <span class="third-text" *ngIf="state"> Activo </span>
        <span class="third-text" *ngIf="!state"> Inactivo </span>
      </mat-slide-toggle>
    </span>
    <span>
      <p class="galano-bold gray w-label w-label-width">INTERNO</p>

      <mat-slide-toggle (change)="changeValueService($event, 'internal')" [(ngModel)]="data.isemployeegrupoexito" color="orange-toggle" labelPosition="before" id="internal-toggle">
        <span class="third-text" *ngIf="data.isemployeegrupoexito === false"> No </span>
        <span class="third-text" *ngIf="data.isemployeegrupoexito === true"> Si </span>
      </mat-slide-toggle>
    </span>
  </div>
</div>
