// @import 'general';
.social-networks-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .social-networks-login-btn {
    .facebook-btn-icon {
      width: 10px;
    }
    .google-btn-icon {
      width: 20px;
    }
  }
}