<div mat-dialog-content>
  <form [formGroup]="catalogueForm" fxLayout="column">
    <app-title showTitleh3="true" text="Catálogo"></app-title>

    <mat-form-field>
      <input matInput id="nameBussiness" type="text" placeholder="NOMBRE" formControlName="name" required />

      <mat-error id="requiredName" *ngIf="catalogueForm.controls.name.invalid && catalogueForm.controls.name.errors.required">{{
        'GENERIC.REQUIRED' | translate: { formValue: 'Nombre' }
      }}</mat-error>

      <mat-error id="maxName" *ngIf="catalogueForm.controls.name.invalid && catalogueForm.controls.name.errors.maxlength">{{
        'GENERIC.MAX_CHARACTERS'
          | translate
            : {
                maxchar: catalogueForm.controls.name.errors.maxlength.requiredLength
              }
      }}</mat-error>

      <mat-error id="invalidName" *ngIf="catalogueForm.controls.name.invalid && catalogueForm.controls.name.errors.pattern">{{
        'GENERIC.INVALID_FORMAT' | translate: { val: 'Nombre' }
      }}</mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" fxLayoutGap.xs="5px" class="pb-3">
      <div fxLayout="column" fxLayoutAlign="center" class="space">
        <strong class="title-gray">ADJUNTAR IMAGEN DE PORTADA (250X300PX, FORMATO .JPG, MAX 150KB)</strong>
        <span class="title-secondary" *ngIf="nameFile === ''">No hay archivo seleccionado</span>
        <span class="file-input" *ngIf="nameFile !== ''">{{ nameFile | truncate: '20' }}</span>
      </div>
      <div>
        <label for="image" id="upload" class="cursor-pointer">
          <span *ngIf="!errorFile">
            <i class="tio-upload_on_cloud mt-1 f-25 purple2-text" *ngIf="nameFile === ''"></i>
            <i class="tio-cloud_on mt-1 f-25 purple2-text" *ngIf="nameFile !== ''"></i>
          </span>
          <i class="tio-cloud_disabled mt-1 f-25 purple2-text" *ngIf="errorFile"></i>
        </label>
      </div>
    </div>
    <mat-error *ngIf="errorFile" class="text-small small pb-2 d-block">
      Formato inválido solo se pueden subir archivos con la extensión {{ extension }} y menores de {{ size }}KB
    </mat-error>

    <input (change)="uploadFileImage($event)" id="image" type="file" style="display: none" formControlName="image" />

    <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" fxLayoutGap.xs="5px" class="pb-3">
      <div fxLayout="column" fxLayoutAlign="center" class="space">
        <strong class="title-gray">ADJUNTAR CATALOGO PDF (FORMATO .PDF, MAX 5MB)</strong>
        <span class="title-secondary" *ngIf="nameFile2 === ''">No hay archivo seleccionado</span>
        <span class="file-input" *ngIf="nameFile2 !== ''">{{ nameFile2 | truncate: '20' }}</span>
      </div>
      <div>
        <label for="pdf" id="upload" class="cursor-pointer">
          <span *ngIf="!errorFile2">
            <i class="tio-upload_on_cloud mt-1 f-25 purple2-text" *ngIf="nameFile2 === ''"></i>
            <i class="tio-cloud_on mt-1 f-25 purple2-text" *ngIf="nameFile2 !== ''"></i>
          </span>
          <i class="tio-cloud_disabled mt-1 f-25 purple2-text" *ngIf="errorFile2"></i>
        </label>
      </div>
    </div>
    <mat-error *ngIf="errorFile2" class="text-small small pb-2 d-block">
      Formato inválido solo se pueden subir archivos con la extensión {{ extension2 }} y menores de {{ size2 }}KB
    </mat-error>

    <input (change)="uploadFileImage2($event)" id="pdf" type="file" style="display: none" formControlName="pdf" />

    <app-title showTitleh3="true" text="NEGOCIO + URL" commonClass="border-bottom-gray mt-1 pb-2"></app-title>

    <span fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <mat-form-field class="w-100">
        <mat-placeholder>NEGOCIO</mat-placeholder>
        <mat-select id="business" formControlName="business" class="selected-business">
          <mat-option *ngFor="let item of business" [value]="{id:item.id, desc: item.description}">
            <span>{{ item.description }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input  (keydown)="changeValue()" matInput id="url" type="text" placeholder="URL" formControlName="url" />
      </mat-form-field>

      <button mat-mini-fab color="purple2" (click)="addItem()" [disabled]=add>
        <mat-icon class="mb-1">add</mat-icon>
      </button>

    </span>

    <div class="listCatalogue">
        <div *ngFor="let item of listCatalogue; let i = index" class="border-bottom-gray p-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column">
                <span class="galano-bold purple-text f-14">{{item.business || item.businessdescription}}</span>
                <span class="link f12">{{item.url}}</span>
            </div>
            <div fxLayout="column">
                <img class="cursor-pointer" (click)="deleteItem(item)" src="/assets/img/dashboard/icon-remove-comision.svg" alt="delete" />
            </div>
        </div>
    </div>

    <app-title showTitleh3="true" text="PUBLICACIÓN" commonClass="border-bottom-gray mt-1 pb-2"></app-title>

    <div>
      <span class="purple-text galano-bold mr-2">Visible</span>
      <mat-slide-toggle style="position: relative; top: 1px" formControlName="visible" color="orange2-toggle"></mat-slide-toggle>
    </div>

    <div fxLayout="row" class="mt-2" fxLayoutGap="10px">
      <div>
        <label class="label mt-2 mb-1"> FECHA DE FINALIZACIÓN </label>
        <span class="mat-elevation-z1 border-radius" fxLayout="row-reverse">
          <input matInput [matDatepicker]="picker" formControlName="date" readonly />
          <mat-datepicker-toggle class="icon-date" matSuffix [for]="picker"></mat-datepicker-toggle>

          <mat-datepicker class="icon-date" touchUi #picker></mat-datepicker>
        </span>
      </div>

      <div>
        <label class="label mt-2 mb-1"> HORA DE FINALIZACIÓN </label>

        <span class="mat-elevation-z1 p-2 border-radius" fxLayout="row-reverse">
          <input [ngxTimepicker]="min" matInput aria-label="default time" [min]="minHours" formControlName="hour" readonly />
          <mat-icon matPrefix class="clock-time">alarm</mat-icon>
          <ngx-material-timepicker #min></ngx-material-timepicker>
        </span>
      </div>
    </div>
  </form>

  <div class="container button-padding mb-4 mt-4">
    <div fxLayout="row" fxLayoutAlign="end center">
      <app-button title="Cancelar" (click)="onNoClick()" [haveIcon]="false" color="transparent" classButton="no-shadow"></app-button>
      <app-button
        title="Publicar"
        (action)="saveCatalogue()"
        [haveIcon]="false"
        classButton="shadow-purple"
        [disabled]="!catalogueForm.valid && listCatalogue.length > 0"
      ></app-button>
    </div>
  </div>
</div>
