@import 'variables';
@import 'animations';

.item{
    line-height: 3;
    border-bottom: 1px solid #ECECEC;
    padding: 0 25px;
    &:last-child{
        border-bottom: none;
    }
}

label {
    width: 190px;
    color:$gray2;
    text-transform: uppercase;
    font-family: $font-galano-bold;
    line-height: 1.5;
}

.w-85{
    width: 85%;
}