<div>
  <p>{{ "PROFILE.BASIC" | translate }}</p>

  <mat-accordion class="ml-2 mr-2 additional-info">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="gray m-0">{{ "ADDITIONAL.PERSONAL" | translate }}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="80px"
        fxLayoutGap.xs="0px"
        class="item"
      >
        <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
          "ADDITIONAL.BIRTHDATE" | translate
        }}</label>
        <span
          class="info"
          fxLayout="column"
          fxLayout.xs="row"
          fxFLex="70"
          fxFLex.xs="0"
        ></span>
      </span>

      <span
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="80px"
        fxLayoutGap.xs="0px"
        class="item"
      >
        <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
          "ADDITIONAL.CIVIL_STATE" | translate
        }}</label>
        <span
          class="info"
          fxLayout="column"
          fxLayout.xs="row"
          fxFLex="70"
          fxFLex.xs="0"
        ></span>
      </span>

      <span
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="80px"
        fxLayoutGap.xs="0px"
        class="item"
      >
        <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
          "ADDITIONAL.GENDER" | translate
        }}</label>
        <span
          class="info"
          fxLayout="column"
          fxLayout.xs="row"
          fxFLex="70"
          fxFLex.xs="0"
        ></span>
      </span>

      <span
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="80px"
        fxLayoutGap.xs="0px"
        class="item"
      >
        <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
          "ADDITIONAL.EDUCATION_LEVEL" | translate
        }}</label>
        <span
          class="info"
          fxLayout="column"
          fxLayout.xs="row"
          fxFLex="70"
          fxFLex.xs="0"
        ></span>
      </span>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="ml-2 mr-2 additional-info">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 class="gray m-0">{{ "ADDITIONAL.PROFESIONAL" | translate }}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
              "ADDITIONAL.ACTIVITY" | translate
            }}</label>
            <span
              class="info"
              fxLayout="column"
              fxLayout.xs="row"
              fxFLex="70"
              fxFLex.xs="0"
            ></span>
          </span>
    
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
              "ADDITIONAL.INCOME_FIXED" | translate
            }}</label>
            <span
              class="info"
              fxLayout="column"
              fxLayout.xs="row"
              fxFLex="70"
              fxFLex.xs="0"
            ></span>
          </span>
    
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
              "ADDITIONAL.OTHER_INCOME" | translate
            }}</label>
            <span
              class="info"
              fxLayout="column"
              fxLayout.xs="row"
              fxFLex="70"
              fxFLex.xs="0"
            ></span>
          </span>
        </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="ml-2 mr-2 additional-info">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 class="gray m-0">{{ "ADDITIONAL.PLACE" | translate }}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
              "ADDITIONAL.ADDRESS" | translate
            }}</label>
            <span
              class="info"
              fxLayout="column"
              fxLayout.xs="row"
              fxFLex="70"
              fxFLex.xs="0"
            ></span>
          </span>
    
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
              "ADDITIONAL.STRATUM" | translate
            }}</label>
            <span
              class="info"
              fxLayout="column"
              fxLayout.xs="row"
              fxFLex="70"
              fxFLex.xs="0"
            ></span>
          </span>
    
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
              "ADDITIONAL.TYPE_PLACE" | translate
            }}</label>
            <span
              class="info"
              fxLayout="column"
              fxLayout.xs="row"
              fxFLex="70"
              fxFLex.xs="0"
            ></span>
          </span>
    
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
              "ADDITIONAL.LIVING_PEOPLE" | translate
            }}</label>
            <span
              class="info"
              fxLayout="column"
              fxLayout.xs="row"
              fxFLex="70"
              fxFLex.xs="0"
            ></span>
          </span>
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
              "ADDITIONAL.CARGO_PERSONS" | translate
            }}</label>
            <span
              class="info"
              fxLayout="column"
              fxLayout.xs="row"
              fxFLex="70"
              fxFLex.xs="0"
            ></span>
          </span>
          
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{
              "ADDITIONAL.MOVILITY" | translate
            }}</label>
            <span
              class="info"
              fxLayout="column"
              fxLayout.xs="row"
              fxFLex="70"
              fxFLex.xs="0"
            ></span>
          </span>

        </mat-expansion-panel>
      </mat-accordion>

</div>
