<form class="login-container" [formGroup]="loginForm">
  <mat-form-field>
    <input
      matInput
      id="email"
      type="email"
      placeholder="{{ 'GENERIC.EMAIL' | translate }}"
      formControlName="Username"
      spacebar
      required
    />
    <span matPrefix><mat-icon color="gray">person</mat-icon></span>
    <mat-error id="introduceEmail" *ngIf="loginForm.controls.Username.invalid && loginForm.controls.Username.errors.required">{{
      "LOGIN.INTRODUCE_EMAIL" | translate
    }}</mat-error>
    <mat-error id="invalidEmail" *ngIf="loginForm.controls.Username.invalid && loginForm.controls.Username.errors.pattern">{{
      "LOGIN.INVALID_EMAIL" | translate
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
      <mat-pass-toggle-visibility
      #toggleVisbility
      matSuffix
    ></mat-pass-toggle-visibility>
    <input
      matInput
      id="password"
      [type]="toggleVisbility.type"
      placeholder="{{ 'GENERIC.PASSWORD' | translate }}"
      formControlName="Password"
      spacebar
      required
    />
    <span matPrefix><mat-icon color="gray">lock</mat-icon></span>
    <mat-error id="introducePassword" *ngIf="loginForm.controls.Password.invalid && loginForm.controls.Password.errors.required">{{
      "LOGIN.INTRODUCE_PASSWORD" | translate
    }}</mat-error>

    <mat-error id="minPassword" *ngIf="loginForm.controls.Password.invalid && loginForm.controls.Password.errors.minlength">{{
      "GENERIC.MIN_CHARACTERS" | translate: {minchar:loginForm.controls.Password.errors.minlength.requiredLength}
    }}</mat-error>

    <mat-error id="maxPassword" *ngIf="loginForm.controls.Password.invalid && loginForm.controls.Password.errors.maxlength">{{
      "GENERIC.MAX_CHARACTERS" | translate: {maxchar:loginForm.controls.Password.errors.maxlength.requiredLength}
    }}</mat-error>

  </mat-form-field>
<div class="text-center">
    <button
    class="button button-100 gtmIniciarSesiónClicLtrlIniciarSesion"
    mat-raised-button
    id="login"
    color="orange"
    (click)="login()"
    [disabled]="!loginForm.valid"
  >
   <span class="gtmIniciarSesiónClicLtrlIniciarSesion">{{ "LOGIN.LOGIN" | translate }}</span> 
  </button>
  
</div>
 
</form>