<app-banner title="{{'BANNERS.HELP_CENTER' | translate}}" img="/assets/img/banners/centro-ayuda-pc.jpg" imgMobile="/assets/img/banners/centro-ayuda-mobile.jpg"></app-banner>
<div class="container">
    <div fxLayout.gt-xs="row" fxLayoutGap.gt-xs="30px" ngClass.gt-xs="mt-3">
        <span fxHide.gt-xs="true">
            <button mat-button [routerLink]="[ '/centro-de-ayuda/reportar' ]">
                <span class="galano-bold f-16" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Volver
                </span>
            </button>
        </span>
        <div fxLayout.gt-xs="column" fxFlex.gt-xs="25" fxShow.gt-xs="true" fxShow.xs="false">
            <app-menu-help-center></app-menu-help-center>
        </div>
        <div  fxLayout.gt-xs="column" class="mt-3">
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-card>
                    <div fxLayout="row" fxLayoutGap="10px" class="report-news">
                        <img src="/assets/img/ayuda/reportar-novedad/icon-reportar-novedad.svg" alt="">
                        <h3>Estado de novedades</h3>
                    </div>
                    <div class="card-report-dark mt-3">
                        <p class="margin-zero-top">El tiempo de respuesta para cada novedad puede tomar hasta 15 días hábiles después de reportada la novedad o desde que se notifique un rechazo por parte del banco al realizar el pago.</p>    
                    </div>
                    <div class="panel-spacing mt-3">
                      <mat-accordion>
                        <mat-expansion-panel  *ngFor="let item of dataSourceNews ; let i = index"  (closed)="stepIni(-1)" (opened)="stepIni(i)"
                        >
                          <mat-expansion-panel-header>
                            <mat-panel-title class="between-datas">
                              <div fxLayout="column" class="mr-4">
                                <p class="mt-0 mb-0 radications-p">NO. DE RADICADO</p>
                                <span class="span-data">{{item.consecutive}}</span>
                              </div>
                              <div fxLayout="column" class="mr-4" fxShow.gt-xs="true" fxShow.xs="false">
                                <p class="mt-0 mb-0 radications-p">FECHA DE REPORTE</p>
                                <span class="norma-data">{{item.dateReport}}</span>
                              </div>
                              <div fxLayout="column" class="mr-4" fxShow.gt-xs="true" fxShow.xs="false">
                                <p class="mt-0 mb-0 radications-p">FECHA DE CIERRE</p>
                                <span class="norma-data">{{item.dateClose}}</span>
                              </div>
                              <div fxLayout="column" class="mr-4" fxShow.gt-xs="true" fxShow.xs="false">
                                <p class="mt-0 mb-0 radications-p">ESTADO</p>
                                <span class="norma-data">{{item.status}}</span>
                              </div>
                              <div fxLayour="column">
                                <p [class]="(selectedInic===i)?'data-detail-color':'data-details'">Detalles</p> 
                              </div>  
                            </mat-panel-title>
                            
                          </mat-expansion-panel-header>
                          <div fxLayout="row">
                          <div fxLayout="column" class="mr-4 margin-mobile" fxShow.gt-xs="false" fxShow.xs="true">
                            <p class="mt-0 mb-0 radications-p">FECHA DE REPORTE</p>
                            <span class="norma-data">{{item.dateReport}}</span>
                          </div>

                          <div fxLayout="column" class="mr-4 margin-mobile" fxShow.gt-xs="false" fxShow.xs="true">
                            <p class="mt-0 mb-0 radications-p">FECHA DE CIERRE</p>
                            <span class="norma-data">{{item.dateClose}}</span>
                          </div>
                        </div>
                        <div fxLayout="column" class="mr-4 " fxShow.gt-xs="false" fxShow.xs="true">
                          <p class="mt-0 mb-0 radications-p">ESTADO</p>
                          <span class="norma-data">{{item.status}}</span>
                        </div>
                          <div fxLayout="column">
                            <p class="mt-0 mb-0 radications-p">DESCRIPCIÓN DE LA NOVEDAD</p>
                            <span class="text-description">{{item.description}}</span>
                          </div>
                          
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
