@import "variables";

.bg-home{
    background-image: url('/assets/img/bg-home-banner@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 81vh;
    p,h2{
        color: $white;
    }
}

.home-section-top{
    min-height: 300px;
}