<section class="bg-home pl-3 pr-3 pt-4">
    <div class="home-section-top container" fxLayout="column" fxLayoutAlign="center start">

        <div class="text-action">
            <div fxLayout="column" fxLayoutAlign="start" class={{textDirection}} ngClass.xs="mt-4">
                <h2 id="titleSectionbg">{{title}}</h2>
                <p class="desc"> <span class="d-block">{{ 'HOME.DESCRIPTION_RAISE' | translate }}</span> {{ 'HOME.DESCRIPTION_RAISE2' | translate }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start"  class="mt-4">
                    <button mat-raised-button class="orange gtmHomeClicLatrlRgtr" color="primary" id="register-bg" (click)="openRegister()"><span class="gtmHomeClicLatrlRgtr">{{textbutton}}</span> </button>
            </div>
        </div>

    </div>
</section>