<app-banner
  title="Historias"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>

<div class="container mt-3">
  <div class="mb-3" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row">
      <img class="image-bussiness" [src]="image" alt="" />
      <span>
        <h3>{{ title }} / Historias</h3></span
      >
    </div>
    <span fxLayout="row">
      <!-- <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.BUSSINESS' | translate }}</h3> -->
      <button mat-button [routerLink]="['/negocios-admin']">
        <span
          class="galano-bold f-16"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
          Volver
        </span>
      </button>
    </span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row">
      <button
        mat-raised-button
        color="orange"
        (click)="selectAll()"
        class="button-selected mr-4"
      >
        <img
          class="icon-download"
          src="assets/img/dashboard/icon-check.svg"
          alt="descarga"
        />
        {{ selectAllStories }}
      </button>
      <button
        mat-raised-button
        (click)="deleteEvery()"
        [ngClass]="
          active === true
            ? 'button-selected-red'
            : 'button-selected-red-disabled'
        "
        [disabled]="!active"
      >
        <img
          class="icon-download"
          src="assets/img/dashboard/icon-trash-red.svg"
          alt="Borrar"
        />
        Borrar
      </button>
    </div>
    <span fxLayout="row">
      <button class="button-selected-upload cursor-pointer" (click)="createStory()">
        <i
          class="tio-upload_on_cloud style-icon icon-update icon-download-file"
        ></i>
        Cargar nueva historia</button
      >
    </span>
  </div>
  <div class="business-stories">
    <app-card-story 
        class="card"
        *ngFor="let story of stories; let i = index" 
        [story]="story"
        [pause]="story.pause"
        [play]="false"
        [id]="'story-' + i"
        [index]="i"
        [showShared]="false"
        [showCheck]="true"
        [check]="dataReal[i].dataR"
        [showProgress]="false"
        [showInfo]="true"
        [showImageClient]="false"
        [showTitleClient]="false"
        [cardOpen]="true"
        (checkStory)="addOrRemoveDeleted($event, i)"
        (openStoryCard)="openDialogStories($event)"
      ></app-card-story>
  </div>
</div>

<ng-template #templateDeleteContent>
  <div class="center-template">
    <h3 class="delete-title">Eliminar contenido</h3>
    <p class="w-container">
      ¿Está seguro que desea eliminar el contenido seleccionado?
    </p>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-start center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="5px"
      class="center-buttons"
    >
      <div ngClass="mt-3 mb-2 hide-button-on-mobile">
        <button mat-button ngClass="button_cancel" (click)="cancelDelete()">
          Cancelar
        </button>
      </div>
      <div>
        <button mat-button class="red" (click)="deleteStories()">
          <span fxLayoutAlign="center space-between"> Eliminar contenido </span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #templateAddStory>
  <div>
    <form [formGroup]="dataAddStory">
      <mat-form-field style="width: 370px">
        <input
          matInput
          placeholder="Nombre de contenido"
          formControlName="nameContent"
          type="text"
          required
          style="color: #37236a"
        />
        <mat-error
          id="requiredName"
          *ngIf="
            dataAddStory.controls.nameContent.invalid &&
            dataAddStory.controls.nameContent.errors.required
          "
          >{{
            "GENERIC.REQUIRED" | translate: { formValue: "Nombre de contenido" }
          }}</mat-error
        >
      </mat-form-field>
      <mat-form-field style="width: 370px">
        <input
          matInput
          placeholder="Link"
          formControlName="link"
          type="text"
          required
          style="color: #37236a"
        />
        <mat-error
          id="requiredName"
          *ngIf="
            dataAddStory.controls.link.invalid &&
            dataAddStory.controls.link.errors.required
          "
          >{{
            "GENERIC.REQUIRED" | translate: { formValue: "Link" }
          }}</mat-error
        >
      </mat-form-field>
      <mat-form-field style="width: 370px">
        <input
          matInput
          placeholder="Comisión"
          formControlName="commission"
          type="text"
          required
          style="color: #37236a"
        />
        <mat-error
          id="requiredName"
          *ngIf="
            dataAddStory.controls.commission.invalid &&
            dataAddStory.controls.commission.errors.required
          "
          >{{
            "GENERIC.REQUIRED" | translate: { formValue: "Comisión" }
          }}</mat-error
        >
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" fxLayoutGap.xs="5px" class="pb-3">
        <div fxLayout="column" fxLayoutAlign="center" class="space">
          <strong class="text-upload-file uppercase">Adjuntar imagen en formato vertical (1080x1920px, formato .jpg, .mp4, max 7MB, 72MB)</strong>
          <span class="title-secondary" *ngIf="nameFile === ''">No hay archivo seleccionado</span>
          <span class="file-input" *ngIf="nameFile !== ''">{{
            nameFile
          }}</span>
        </div>
        <div >
          <label for="image-story" id="upload" class="cursor-pointer">
            <span  *ngIf="!showErrorImg">
            <img
              class="mt-1"
              *ngIf="nameFile === ''"
              src="/assets/img/image-file-upload.svg"
              alt="upload"
            />
            <img
              class="mt-1"
              *ngIf="nameFile !== ''"
              src="/assets/img/image-file-upload-ok.svg"
              alt="upload"
            />
          </span>
            <img
            class="mt-1 w-icon"
            *ngIf="showErrorImg"
            src="/assets/img/icono-error-carga.svg"
            alt="upload"
          />
          </label>
        </div>
      </div>
      <mat-error *ngIf="showErrorImg" class="text-small small pb-2 d-block">
        Formato inválido, solo se pueden subir archivos con la extensión JPG max 7MB y MP4 max 72MB
      </mat-error>
    
      <input
        (change)="onFileChangeFiles($event)"
        id="image-story"
        type="file"
        formControlName="image"
      />
    </form>

    <div class="mt-3 mb-2" fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClickAddStory()">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="orange"
        (click)="saveStory()"
        class="ml-2"
        [disabled]="!dataAddStory.valid || !validFormat"
      >
        Guardar Cambios
      </button>
    </div>
  </div>
</ng-template>