@import 'variables';

.slide {
  width: 100px;
  height: 120px;
  cursor: pointer;
}

.discount {
  color: $color-p;
  width: 150px;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.st{
    min-height: 100px;
}