<div mat-dialog-content class="dialog-height-life">
    
    <div fxLayout="row" class="mt-3 mb-3">
      
      <p class="p-range">RANGO DE FECHAS</p>
      
      <form class="form-relative" [formGroup]="dateFormHoja">
        
        <div fxLayout="row">
          <i class="tio-date_range icon-date"></i>
          <input
            formControlName="dateRange"
            (change)="getDatas()"
            [locale]="locale"
            [placeholder]="placeholder"
            type="text"
            [maxDate]="maxDate"
            ngxDaterangepickerMd
            class="form-control border-input mat-elevation-z1 p-2 border-radius"
          />
        </div>

      </form>

    </div>

    <div class="table-height">

      <table mat-table [dataSource]="dataSourceBusi" class="users-table">
        
        <ng-container matColumnDef="negocio">
          <th mat-header-cell class="galano-bold" *matHeaderCellDef style="width: 40%; border-top-left-radius: 10px;; padding-left: 10px">
            NEGOCIOS
          </th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-left' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element; let i=index"
          >
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
              <span fxLayout="column">
                <img *ngIf="element.icondashboard != ''" class="iconb" [src]="element.icondashboard" alt=" negocios " />
              </span>
              <span
                fxLayout="column"
                [class]="element.icondashboard != '' ? 'galano-bold f-16 text-color-table' : 'text-color-total galano-bold'"
                fxHide.xs="true"
              >
                {{ element.negocio }}
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="linksgenerator">
          <th mat-header-cell class="galano-bold" *matHeaderCellDef style="width: 15%;">LINKS GENERADOS</th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-int' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element; let i=index"
          >
            <div fxLayout="row">
              <p [class]="element.negocio === 'TOTAL' ? 'color-last-rigth-p' : 'm-0 text-font'">
                {{ element.linksgenerados }}
              </p>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="linksclicker">
          <th mat-header-cell class="galano-bold" *matHeaderCellDef style="width: 15%;">LINKS CLICKEADOS</th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-int' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element; let i=index"
          >
            <div fxLayout="row">
              <p [class]="element.negocio === 'TOTAL' ? 'color-last-rigth-p' : 'm-0 text-font'">
                {{ element.linkclickeados }}
              </p>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="commision">
          <th mat-header-cell class="galano-bold" *matHeaderCellDef style="width: 20%;">COMISIONES</th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-int' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element; let i=index"
          >
            <div fxLayout="row">
              <p [class]="element.negocio === 'TOTAL' ? 'color-last-rigth-p' : 'm-0 text-font'">
                {{ element.comisiones | currency: '':'symbol':'1.0-0' }}
              </p>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="sells">
          <th mat-header-cell class="galano-bold" *matHeaderCellDef style="width: 30%; border-top-right-radius: 10px;">VENTA ACUMULADA</th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-rigth' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element; let i=index"
          >
            <div fxLayout="row">
              <p [class]="element.negocio === 'TOTAL' ? 'color-last-rigth-p' : 'm-0 text-font'">
                {{ element.ventas | currency: '':'symbol':'1.0-0' }}
              </p>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr id="user-{{ i }}" mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>

      </table>

    </div>

    <div class="card-blue mt-2" fxLayout="row">

      <div class="span-corte" fxLayout="row">
        <b class="mr-2">ÚLTIMO PAGO ({{ dateLastPayment | date: 'yyyy-MM-dd' }})</b>
        <p>{{ afterPayment | currency: '':'symbol':'1.0-0' }}</p>
      </div>

      <div class="span-corte ml-4 mr-3" fxLayout="row">
        <b class="mr-2">PAGO PRÓXIMO CORTE</b>
        <p>{{ nextPayment | currency: '':'symbol':'1.0-0' }}</p>
      </div>

    </div>

  </div>
