@import 'variables';
@import 'general';

.p-range {
  font-size: 11px;
  font-family: $font-galano-bold !important;
  color: #a7a3b1;
}

.form-control {
    padding-left: 35px !important;
    font-family: $font-galano !important;
  }
  
  .border-input {
    border: none;
    outline: none;
    height: 32px;
  }
  
  .border-radius {
    border-radius: 5px;
  }

  .text-color-table {
    color: $primary-color !important;
    font-size: 14px !important;
    margin-left: 5px;
  }

.gray {
  color: $gray2;
}

.gray-title {
  color: $gray;
  font-size: 14px;
}

p {
  color: #231f20;
  font-size: 14px;
  margin-bottom: 0;
}

.galano-bold {
  font-size: 14px;
}

.title-name {
  color: $primary-color;
  font-size: 20px;
  line-height: 28px;
}

.secundary-text {
  color: $primary-color;
  font-size: 16px;
  line-height: 28px;
}

.third-text {
  color: $primary-color;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
}

.normal-text {
  color: $primary-color;
  font-size: 14px;
}


.button-tab-data {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #f3f1f6;
  color: $primary-color;
  font-family: $font-galano-bold !important;
  border: 0px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  font-size: 14px;
}

.button-tab-life {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: $purple2;
  color: #ffffff;
  font-family: $font-galano-bold !important;
  border: 0px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  font-size: 14px;
}

.position-relative-tab {
  position: relative;
  bottom: 8px;
}

.img-tabs {
  position: relative;
  top: 3px;
  color: $primary-color;
  font-size: 20px;
}

.img-tabs-selected {
  position: relative;
  top: 3px;
  font-size: 20px;
  //filter: grayscale(100%) invert(1);
  color: #ffffff;
}

.icon-date {
  position: relative;
  top: 4px;
  left: 30px;
  font-size: 22px;
  color: $purple2;
}

.img-pointer {
  width: 45px;
  //height: 30px;
  margin-right: 10px;
}

.color-last-left {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  background-color: $purple2;
  border-bottom-left-radius: 10px;
  margin-top: 0px !important;
  //border-bottom-right-radius: 10px;
}

.color-last-int {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  background-color: $purple2;
  margin-top: 0px !important;
}

.color-last-rigth {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  background-color: $purple2;
  margin-top: 0px !important;

  border-bottom-right-radius: 10px;
}

.color-last-rigth-p {
  color: #ffffff !important;
  font-family: $font-galano-bold !important;
  margin-top: 0px !important;
}

.text-color-total {
  color: #ffffff !important;
  font-size: 14px;
  margin-top: 0px !important;
  margin-left: 50px;
}

.padding-top-bottom {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.card-blue {
  background-color: $primary-color;
  border-radius: 10px;
  justify-content: flex-end;
  padding: 10px;
}

.span-corte {
  align-items: center;
  b {
    font-size: 12px;
    color: #a7a3b1;
    font-family: $font-galano-bold !important;
  }
  p {
    color: #ffffff;
    font-size: 20px;
    font-family: $font-galano-bold !important;
    margin-top: 0px !important;
  }
}

.position-relative-close {
  position: relative;
  bottom: 8px;
}

.iconb {
  width: 45px;
}

.style-icon {
  font-size: 22px;
  color: $purple2;
}

.style-icon-enable {
  color: $purple2;
}

.style-icon-disabled {
  color: #d2d0d4;
  pointer-events: none;
}

.select-option-status.mat-selected:not(.mat-option-disabled) {
  background-color: $purple2;
  color: white;
}

.text-area-heigth {
  height: 140px;
}

.table-height{
    max-height: 110vh;
    overflow: auto;
}
