@import 'variables';
@import 'general';

.bussines-section {
  margin-top: 20px;
  .info-about {
    width: 100%;
    padding: 20px 0px;
    .img-container {
      margin: auto;
      img {
        margin: auto;
        max-width: 300px;
        width: 100%;
      }
    }
    .text-info-container {
      .bussiness-name {
        margin: 32px 0px 12px 0px;
        font-size: 24px;
      }
      .discount-percent {
        color: $secondary-color;
        font-size: 16px;
        margin: 0px;
        font-weight: bold;
      }
      .bussiness-description {
        margin: 12px 0px 0px 0px;
        white-space: break-spaces;
      }
    }
    .commission-container {
      .payment-date {
        color: #37236a;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin: 24px 0px 0px 0px;
      }
      .commision-payment {
        color: #a7a3b1;
        font-size: 12px;
        text-align: center;
        margin: 0px;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .bussines-section {
    .info-about {
      .img-container {
        img {
        }
      }
      .text-info-container {
        .bussiness-name {
          margin: 0px 0px 12px 0px;
          font-size: 32px;
        }
        .discount-percent {
          font-size: 20px;
        }
        .bussiness-description {
          
        }
      }
      .commission-container {
        .payment-date {
          
        }
        .commision-payment {
          
        }
      }
    }
  }
}

.full {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  background: #fff;
  overflow-y: auto;
  max-width: none;
}

.text-productos {
  font-size: 22px;
}
.title-h3 {
  font-size: 23px;
}
.text-terms-conditions {
  //padding-top: 7px;
  color: #8d7eb7;
}
@media screen and (max-width: 600px) {
  .text-productos {
    font-size: 22px;
  }

  .text-terms-conditions {
    text-align: end;
  }
}
.p {
  &-60 {
    padding-top: 60px;
  }
}

.accept-terms {
  font-size: 12px;
  color: $gray2;
  text-decoration: underline;
}

.center {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.bw {
  width: 300px;
}

@media screen and (min-width: 600px) {
  .register-button {
    width: 200px;
  }
}

.border-inferior {
  border-bottom: 1px solid #0000001a;
}

.card-library {
  border-radius: 10px;
  background-color: #947fba;
  color: #ffffff;
  margin-bottom: 15px;
  position: relative;
  height: 96px;
  overflow: hidden;
  grid-row: 1;
  grid-column: 2;
  h3 {
    color: #ffffff;
    font-size: 22px;
  }
}
.button-oferts {
  width: 140px;
}
.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
  left: 20px;
}
.about-bussiness {
  padding: 16px;
}
.button-selected {
  background-color: #ffffff;
  color: #3d136e;
  height: 35px;
  border: 1px solid #3d136e;
  margin-top: 22px;
  img {
    position: relative;
    bottom: 3px;
  }
}
@media screen and (max-width: 600px) {
  .card-library {
    padding-left: 20px;
    h3 {
      font-size: 14px;
      width: 200px;
    }
    .button-oferts {
      width: 110px;
    }
  }
  .about-bussiness {
    padding: 8px;
  }
  .position-relative {
    left: 0px;
  }
  .heigth-image {
    height: auto;
  }
  .button-selected {
    margin-top: 10px;
    width: 200px;
  }
}
.imagen-absolute-oferts {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
}
.imagen-resposive-mobile {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  left: 0;
}

.arrow-down {
  position: relative;
  top: 6px;
}
.border-up-gray {
  border-top: 1px solid #e8e7e9;
}

.nothing-text {
  font-size: 18px !important;
  font-family: $font-galano-bold;
  color: #b9b6c1;
  margin-bottom: 50px;
}
.nothing-icon {
  transform: rotate(45deg);
  margin-top: 50px;
  color: #b9b6c1;
  width: 30px;
  height: 30px;
}
.title-tip {
  margin-bottom: 0px !important;
}
.description-tip {
  margin-top: 0px !important;
}
.subtitle-about {
  font-size: 18px;
}
.subtitle-tips-other {
  font-size: 20px;
}

.order {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}

.comisions {
  grid-row: 2;
  grid-column: 1;
}

.tips {
  grid-row: 3;
  grid-column: 1;
}

.products {
  grid-row: 5;
  grid-column: 2;
}

.search {
  grid-row: 3;
  grid-column: 2;
}

.results,
.not-found {
  grid-row: 4;
  grid-column: 2;
}

.terms {
  grid-row: 2;
  grid-column: 2;
}

.no-border {
  border: none;
}
