<section class="bussines-section max-1600-container">
  <div class="go-back-container">
    <app-back-button></app-back-button>
  </div>

  <mat-card class="info-about" *ngIf="!isLoading">
    <div class="img-container">
      <img *ngIf="image" loading="lazy" [src]="image" [alt]="description" />
    </div>
    <div class="bussiness-info-container">
      <div class="text-info-container">
        <h2 class="bussiness-name">{{ description }}</h2>
        <p class="discount-percent">{{ percent }}</p>
        <p class="bussiness-description">{{ nonEditedContent }}</p>
      </div>
      <div class="commission-location-container">
        <div class="commission-container" *ngIf="commision">
          <p class="payment-date">+{{ commision }} M</p>
          <p class="commision-payment">Recompensas pagadas</p>
        </div>
        <button class="button-base location-button" (click)="location()" *ngIf="phygital">
          <!-- <button class="button-base location-button" (click)="location()"> -->
          <img src="assets/img/location.svg" alt="" />
          Verifica puntos de venta
        </button>
      </div>
    </div>
  </mat-card>
  <div class="info-about-skeleton loading" *ngIf="isLoading"></div>

  <mat-card class="search-card" *ngIf="hasproduct && !isLoading">
    <p class="search-card__text">
      ¿Cuál producto deseas comprar o
      <span class="no-break">
        referir?
        <img
          class="search-about-icon"
          src="assets/img/icon-info-white.svg"
          alt="alert"
          matTooltip="Puedes buscar con el nombre del producto o con su código PLU"
          (click)="tooltip.toggle()"
          #tooltip="matTooltip"
          matTooltipClass="purple-tip"
        />
      </span>
    </p>
    <app-search class="search-input" *ngIf="id === 1" (search)="searchBiggyExito($event)"></app-search>
    <app-search class="search-input" *ngIf="id === 2" (search)="searchBiggyCarulla($event)"></app-search>
  </mat-card>
  <div class="search-card-skeleton loading" *ngIf="isLoading"></div>
  <app-not-found *ngIf="!searchingIsLoading && showNotFound"></app-not-found>

  <div class="search-result-container" *ngIf="showResults">
    <h3 class="search-result-title">Resultados de búsqueda</h3>
    <button (click)="deleteSearch()" class="search-result-button button-base">Borrar resultados</button>
  </div>

  <div class="products-section-container">
    <div class="products-cards products-cards-skeleton" *ngIf="searchingIsLoading">
      <div class="product product-skeleton" *ngFor="let item of [].constructor(4)">
        <div class="product-skeleton-card loading"></div>
      </div>
    </div>

    <div class="products-cards" *ngIf="showResults">
      <app-product-bussiness
        *ngFor="let product of searchProductList | slice: 0:showSearchProducts; let i = index"
        class="product"
        [gtm]="getGTMBussiness(title, product.title)"
        [nombreProducto]="product.title"
        [descuento]="product.oldprice"
        [precio]="product.price"
        [imagen]="!!product.image.value ? product.image.value : '/assets/img/Na.svg'"
        [pluexito]="product.plu"
        [clickear]="clickear"
        textoboton="{{ 'PRODUCTS.GET_LINK' | translate }}"
        (infoProduct)="dataProduct($event, product)"
      ></app-product-bussiness>
      <span class="show-more">
        <button class="show-more-button button-base" (click)="showMoreSearchProducts()" [disabled]="showSearchProducts > totalItems">
          Mostrar más
        </button>
      </span>
    </div>

    <h3 class="categories-title">Categorías</h3>
    <p class="categories-description" *ngIf="!isLoading">Encuentra las mejores promociones y campañas que {{ description }} te brinda.</p>
    <div class="categories-description-skeleton loading" *ngIf="isLoading"></div>
    <ng-container *ngIf="!bussinessIsLoading; else bussinessIsLoadingTemplate">
      <div class="products-cards">
        <app-product-bussiness
          *ngFor="let bussiness of bussiness | slice: 0:showCategoriesProducts; let i = index"
          class="product"
          [gtm]="getGTMBussiness(title, bussiness.description)"
          [nombreProducto]="bussiness.description"
          [porcentaje]="bussiness.infoaditional"
          [imagen]="bussiness.imageurl"
          [clickear]="clickear"
          textoboton="{{ 'PRODUCTS.GET_LINK' | translate }}"
          (infoProduct)="dataSliderCategory($event, bussiness)"
        ></app-product-bussiness>
        <div class="show-more">
          <button
            class="show-more-button button-base"
            (click)="showMoreCategories()"
            [disabled]="showCategoriesProducts > bussiness.length"
          >
            Mostrar más
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #bussinessIsLoadingTemplate>
      <div class="products-cards products-cards-skeleton">
        <div class="product product-skeleton" *ngFor="let item of [].constructor(4)">
          <div class="product-skeleton-card loading"></div>
        </div>
      </div>
    </ng-template>

    <div class="no-categories-container" *ngIf="!bussinessIsLoading && bussiness.length === 0">
      <mat-icon class="no-categories-icon">push_pin</mat-icon>
      <p class="no-categories-text">Aún no tenemos categorías para este negocio</p>
    </div>
  </div>

  <div class="see-offers-container" *ngIf="!isLoading" [ngStyle]="{ 'background-image': 'url(' + seeOffersImage + ')' }">
    <h3 class="see-offers-text">Descarga las mejores ofertas para compartir.</h3>
    <button class="see-offers-button button-base" (click)="libraryRoute()">Ver Ofertas</button>
  </div>
  <div class="see-offers-container-skeleton loading" *ngIf="isLoading"></div>

  <div class="sale-tips-container" *ngIf="!isLoading && saleTips.length > 0">
    <h3 class="bussiness-list-main-title">Tips de venta</h3>
    <ul class="bussiness-list-style">
      <li *ngFor="let item of saleTips" class="bussiness-list-item">
        <h4 class="bussiness-list-title">{{ item.title }}</h4>
        <p class="bussiness-list-description">{{ item.description }}</p>
      </li>
    </ul>
  </div>
  <div class="sale-tips-skeleton loading" *ngIf="isLoading"></div>

  <ng-container *ngIf="(generalInfo || exceptionsInfo || caseSpecial) && !isLoading">
    <div class="terms-and-conditions" [ngClass]="{ open: visibleTerms }">
      <h3 class="bussiness-list-main-title">Términos y condiciones</h3>
      <span class="terms-and-conditions-see-more cursor-pointer" (click)="vermas()">
        {{ visibleTerms ? 'Ver menos' : 'Ver más' }}
        <mat-icon *ngIf="!visibleTerms; else arrowUp">keyboard_arrow_down</mat-icon>
        <ng-template #arrowUp>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </ng-template>
      </span>
      <ul class="bussiness-list-style" *ngIf="visibleTerms">
        <li class="bussiness-list-item" *ngIf="generalInfo">
          <h4 class="bussiness-list-title">Excepciones</h4>
          <p class="bussiness-list-description">{{ generalInfo }}</p>
        </li>
        <li class="bussiness-list-item" *ngIf="exceptionsInfo">
          <h4 class="bussiness-list-title">Casos especiales</h4>
          <p class="bussiness-list-description">{{ exceptionsInfo }}</p>
        </li>
        <li class="bussiness-list-item" *ngIf="caseSpecial">
          <h4 class="bussiness-list-title">Tiempos de verificación</h4>
          <p class="bussiness-list-description">{{ caseSpecial }}</p>
        </li>
      </ul>
    </div>
  </ng-container>
  <div class="terms-and-conditions-skeleton loading" *ngIf="isLoading"></div>
</section>

<!-- template share -->
<ng-template #templateCategories>
  <div *ngIf="!reference">
    <form [formGroup]="formLink">
      <div fxLayout="column">
        <div fxLayout="column" fxFlex="100" fxFlex.xs="100">
          <mat-form-field appearance="dashed" class="dashed mt-2">
            <input id="url" matInput formcontrolName="link" [value]="urlshorten" #linkInput readonly />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center space-between" fxLayoutGap="10px" class="mt-2 share-desktop">
          <button
            mat-button
            id="btnCopy"
            color="orange"
            [disabled]="enableCopy"
            ngClass="{{ classButtonCopy }}"
            (click)="copyInputMessage(linkInput)"
          >
            <span fxLayoutAlign="center space-between" ngClass="{{ classButtonCopy }}">
              {{ 'GENERIC.COPY_LINK' | translate }}
            </span>
          </button>

          <button mat-button id="buy" [disabled]="enableCopy" color="orange" ngClass="orange-border {{ classButtonBuy }}" (click)="buy()">
            <span ngClass="{{ classButtonBuy }}" fxLayoutAlign="center space-between"> Comprar </span>
          </button>
        </div>
      </div>
    </form>

    <h3 class="border-bottom-orange-init share-desktop">
      {{ 'GENERIC.SHARE' | translate }}
    </h3>

    <div class="share-desktop" id="share">
      <button
        [disabled]="enableCopy"
        theme="circles-dark"
        shareButton="facebook"
        [url]="urlshorten"
        ngClass="sharebutton {{ classButtonFacebook }} mr-2"
      >
        <i ngClass="fab fa-facebook-f {{ classButtonFacebook }}"></i>
      </button>
      <button
        [disabled]="enableCopy"
        theme="circles-dark"
        shareButton="twitter"
        [url]="urlshorten"
        ngClass="sharebutton {{ classButtonTwitter }} mr-2"
      >
        <i ngClass="fab fa-twitter {{ classButtonTwitter }}"></i>
      </button>
      <a
        mat-button
        [disabled]="enableCopy"
        href="https://web.whatsapp.com/send?text={{ urlshorten }}"
        target="_blank"
        data-action="share/whatsapp/share"
        ngClass="sharebutton p-3 {{ classButtonWhatsapp }}"
      >
        <i ngClass="fab fa-whatsapp {{ classButtonWhatsapp }}"></i>
      </a>
    </div>

    <div class="share-mobile">
      <button
        [disabled]="enableCopy"
        mat-button
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonShare }}"
        (click)="share()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonShare }}" fxLayout="row" fxLayoutAlign="center center">
          <img loading="lazy" ngClass="icon-compartir pr-2 {{ classButtonShare }}" src="/assets/img/Compartir.svg" alt="user" />
          Referir</span
        >
      </button>

      <button
        mat-button
        [disabled]="enableCopy"
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonBuy }}"
        (click)="buy()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonBuy }}" fxLayout="row" fxLayoutAlign="center center">
          <img loading="lazy" ngClass="icon-compartir pr-2 {{ classButtonBuy }}" src="/assets/img/Comprar.svg" alt="user" />
          Comprar
        </span>
      </button>
    </div>
  </div>
  <br />
  <form class="forgotpassword-container" [formGroup]="idCustomerForm" fxLayout="column" *ngIf="reference">
    <span (click)="backStep()" class="cursor-pointer gray" fxLayout="row" fxLayoutAlign="start start" fxFlex="12">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span class="text-back">{{ 'BUTTONS.BACK' | translate }}</span>
    </span>
    <p>{{ 'GENERIC.REFERENCE_IDENTIFICATION' | translate }}</p>
    <mat-form-field appearance="outline" class="mt-2">
      <input matInput class="p-2" id="idcustomer" type="text" placeholder="N° de Documento" formControlName="identification" required />
      <mat-error
        id="reuiredId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.required"
        >{{ 'GENERIC.REQUIRED' | translate: { formValue: 'Número de documento' } }}</mat-error
      >

      <mat-error
        id="maxId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.maxlength"
        >{{
          'GENERIC.MAX_CHARACTERS'
            | translate
              : {
                  maxchar: idCustomerForm.controls.identification.errors.maxlength.requiredLength
                }
        }}</mat-error
      >

      <mat-error
        id="numberId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.pattern"
        >{{ 'GENERIC.ONLY_NUMBERS' | translate }}</mat-error
      >
    </mat-form-field>

    <div fxLayout="column">
      <button
        mat-raised-button
        class="button button-100 p-1 gtmCrearCedulaSiguiente"
        id="recoverPassword"
        color="orange"
        (click)="saveLinkReference()"
        [disabled]="!idCustomerForm.valid"
      >
        <span class="gtmCrearCedulaSiguiente">{{ 'GENERIC.ACCEPT' | translate }}</span>
      </button>
    </div>
  </form>
</ng-template>

<!-- template exito, carulla -->
<ng-template #templateEC>
  <div *ngIf="!reference">
    <form [formGroup]="formLink">
      <div fxLayout="column">
        <div fxLayout="column" fxFlex="100" fxFlex.xs="100">
          <mat-form-field appearance="dashed" class="dashed mt-2">
            <input id="url" matInput formcontrolName="link" [value]="urlshorten" #linkInput readonly />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center space-between" fxLayoutGap="10px" class="mt-2 share-desktop">
          <button
            mat-button
            [disabled]="enableCopy"
            id="btnCopy"
            color="orange"
            [disabled]="enableCopy"
            ngClass="{{ classButtonCopy }}"
            (click)="copyInputMessage(linkInput)"
          >
            <span fxLayoutAlign="center space-between" ngClass="{{ classButtonCopy }}">
              {{ 'GENERIC.COPY_LINK' | translate }}
            </span>
          </button>

          <button mat-button [disabled]="enableCopy" id="buy" color="orange" ngClass="orange-border {{ classButtonBuy }}" (click)="buy()">
            <span ngClass="{{ classButtonBuy }}" fxLayoutAlign="center space-between"> Comprar </span>
          </button>
        </div>
      </div>
    </form>

    <h3 class="border-bottom-orange-init share-desktop">
      {{ 'GENERIC.SHARE' | translate }}
    </h3>

    <div class="share-desktop" id="share">
      <button
        [disabled]="enableCopy"
        theme="circles-dark"
        shareButton="facebook"
        [url]="urlshorten"
        ngClass="sharebutton {{ classButtonFacebook }} mr-2"
      >
        <i ngClass="fab fa-facebook-f {{ classButtonFacebook }}"></i>
      </button>
      <button
        [disabled]="enableCopy"
        theme="circles-dark"
        shareButton="twitter"
        [url]="urlshorten"
        ngClass="sharebutton {{ classButtonTwitter }} mr-2"
      >
        <i ngClass="fab fa-twitter {{ classButtonTwitter }}"></i>
      </button>
      <a
        mat-button
        [disabled]="enableCopy"
        href="https://web.whatsapp.com/send?text={{ urlshorten }}"
        target="_blank"
        data-action="share/whatsapp/share"
        ngClass="sharebutton p-3 {{ classButtonWhatsapp }}"
      >
        <i ngClass="fab fa-whatsapp {{ classButtonWhatsapp }}"></i>
      </a>
    </div>

    <div class="share-mobile">
      <button
        [disabled]="enableCopy"
        mat-button
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonShare }}"
        (click)="share()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonShare }}" fxLayout="row" fxLayoutAlign="center center">
          <img loading="lazy" ngClass="icon-compartir pr-2 {{ classButtonShare }}" src="/assets/img/Compartir.svg" alt="user" />
          Referir</span
        >
      </button>

      <button
        mat-button
        [disabled]="enableCopy"
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonBuy }}"
        (click)="buy()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonBuy }}" fxLayout="row" fxLayoutAlign="center center">
          <img loading="lazy" ngClass="icon-compartir pr-2 {{ classButtonBuy }}" src="/assets/img/Comprar.svg" alt="user" />
          Comprar
        </span>
      </button>
    </div>
  </div>
  <br />
  <form class="forgotpassword-container" [formGroup]="idCustomerForm" fxLayout="column" *ngIf="reference">
    <span (click)="backStep()" class="cursor-pointer gray" fxLayout="row" fxLayoutAlign="start start" fxFlex="12">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span class="text-back">{{ 'BUTTONS.BACK' | translate }}</span>
    </span>
    <p>{{ 'GENERIC.REFERENCE_IDENTIFICATION' | translate }}</p>
    <mat-form-field appearance="outline" class="mt-2">
      <input matInput class="p-2" id="idcustomer" type="text" placeholder="N° de Documento" formControlName="identification" required />
      <mat-error
        id="reuiredId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.required"
        >{{ 'GENERIC.REQUIRED' | translate: { formValue: 'Número de documento' } }}</mat-error
      >

      <mat-error
        id="maxId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.maxlength"
        >{{
          'GENERIC.MAX_CHARACTERS'
            | translate
              : {
                  maxchar: idCustomerForm.controls.identification.errors.maxlength.requiredLength
                }
        }}</mat-error
      >

      <mat-error
        id="numberId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.pattern"
        >{{ 'GENERIC.ONLY_NUMBERS' | translate }}</mat-error
      >
    </mat-form-field>

    <div fxLayout="column">
      <button
        mat-raised-button
        class="button button-100 p-1 gtmCrearCedulaSiguiente"
        id="recoverPassword"
        color="orange"
        (click)="saveLinkReference()"
        [disabled]="!idCustomerForm.valid"
      >
        <span class="gtmCrearCedulaSiguiente">{{ 'GENERIC.ACCEPT' | translate }}</span>
      </button>
    </div>
  </form>
</ng-template>
