<app-banner
  color="purple"
  title="{{ 'HOME.BUSSINESS' | translate }}"
  img="/assets/img/banners/banner-negocios-pc.jpg"
  imgMobile="/assets/img/banners/banner-negocios-mobile.jpg"
></app-banner>

<div class="container" fxLayoutAlign="end end" ngClass.xs="mb-3">
  <span>
    <app-back-button (click)="goback()"></app-back-button>
  </span>
</div>

<div class="container order">
  <div>
    <mat-card class="about">
      <div fxLayout="column" class="about-bussiness">
        <span class="border-inferior" fxLayout="column" fxLayoutAlign="center center">
          <img [src]="image" alt="logo afiliado" />
          <h3 class="red-text">{{ percent }}</h3>
        </span>
        <div></div>
        <div>
          <h4 class="subtitle-about mb-0 mt-4">Sobre el negocio:</h4>
          <p class="break" fxShow.xs="false">{{ nonEditedContent }}</p>
          <p class="break" fxShow.gt-xs="false">{{ infoBussiness }}</p>
          <div fxShow.gt-xs="false" fxLayout="row" fxLayoutAlign="end end">
            <a *ngIf="!isContentToggled && invisible === false" (click)="toggleContent()" style="color: #8d7eb7" i18n
              >Ver más
              <mat-icon class="arrow-down">keyboard_arrow_down</mat-icon>
            </a>
            <a *ngIf="isContentToggled && invisible === false" (click)="toggleContent()" style="color: #8d7eb7" i18n
              >Ver menos <mat-icon class="arrow-down">keyboard_arrow_up</mat-icon></a
            >
          </div>
        </div>
      </div>
    </mat-card>

    <div fxHide.xs="true">
      <mat-card class="mt-3 comisions">
        <div class="about-bussiness">
          <h3 class="subtitle-tips-other border-inferior">Comisiones</h3>
          <p>En {{ description }} nuestros clickers han recibido a la fecha:</p>
          <span>
            <p class="payment-date">+{{ commision }} M</p>
          </span>
          <span>
            <p class="commision-payment">COMISIONES PAGADAS A LA FECHA</p>
          </span>
        </div>
      </mat-card>

      <mat-card class="mt-3 tips">
        <div class="about-bussiness">
          <h3 class="subtitle-tips-other border-inferior">Tips de venta</h3>
          <div *ngFor="let item of tips">
            <h4 class="subtitle-about title-tip">{{ item.title }}</h4>
            <p class="description-tip">{{ item.description }}</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div>
    <div fxLayout="row" class="card-library mt-2 container">
      <img class="imagen-absolute-oferts" fxHide.xs="true" src="/assets/img/banners/oferts.png" alt="ofertas" />
      <img class="imagen-resposive-mobile" fxHide.gt-xs="true" src="/assets/img/banners/oferts_mobile.png" alt="ofertas" />
      <div class="position-relative banner-mobile heigth-image">
        <h3 class="mb-1">Descarga las mejores ofertas para compartir.</h3>
        <button mat-raised-button class="button-oferts" color="orange" (click)="libraryRoute()" id="download-users">Ver Ofertas</button>
      </div>
    </div>

    <div class="terms">
      <mat-card>
        <div class="mb-2">
          <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column">
            <h3 class="text-productos mt-0 mb-0">Términos & Condiciones</h3>
            <span class="text-terms-conditions cursor-pointer" (click)="vermas()" *ngIf="visibleTerms === false">
              {{ visibleTerms ? 'Ver menos' : 'Ver más' }}
              <mat-icon *ngIf="visibleTerms" class="arrow-down">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="!visibleTerms" class="arrow-down">keyboard_arrow_down</mat-icon>
            </span>
          </div>
          <div class="border-up-gray" *ngIf="visibleTerms">
            <h4 class="subtitle-about mb-0">Excepciones</h4>
            <p class="break mt-0">{{ generalInfo }}</p>
            <h4 class="subtitle-about mt-1 mb-0">Casos especiales</h4>
            <p class="break mt-0">{{ exceptionsInfo }}</p>
            <h4 class="subtitle-about mb-0">Tiempos de verificación</h4>
            <p class="break mt-0">{{ caseSpecial }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="end end">
            <span class="text-terms-conditions cursor-pointer" (click)="vermas()" *ngIf="visibleTerms === true">
              {{ visibleTerms ? 'Ver menos' : 'Ver más' }}
              <mat-icon *ngIf="visibleTerms" class="arrow-down">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="!visibleTerms" class="arrow-down">keyboard_arrow_down</mat-icon>
            </span>
          </div>
        </div>
      </mat-card>
    </div>

    <app-search class="search" *ngIf="id === '1' && hasproduct" (search)="searchBiggyExito($event)"></app-search>
    <app-search class="search" *ngIf="id === '2' && hasproduct" (search)="searchBiggyCarulla($event)"></app-search>

    <app-search class="search" *ngIf="id !== '2' && id !== '1' && hasproduct" (search)="searchOtherbusiness($event)"></app-search>

    <div *ngIf="showResults" class="results">
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column">
        <h3 class="text-productos border-bottom-orange-init">Resultados de búsqueda</h3>
        <button mat-raised-button color="orange" (click)="deleteSearch()" class="button-selected mr-4 mb-4">Borrar resultados</button>
      </div>

      <div fxLayout="column" fxLayoutGap="10px">
        <ng-container class="mt-4" *ngFor="let product of productsListExito | slice: 0:mostrarProductos; let i = index">
          <app-product-bussiness
            class="product-exito"
            fxLayout="column"
            fxFlex="24"
            fxFlex.xs="100"
            fxFlex.sm="30"
            idne="productTitle{{ i }}"
            butonid="btnLink{{ i }}"
            [nombreProducto]="product.title"
            [descuento]="product.oldprice"
            [precio]="product.price"
            [imagen]="!!product.image.value ? product.image.value : '/assets/img/Na.svg'"
            [altimagen]="product.name"
            [pluexito]="product.plu"
            textoboton="{{ 'PRODUCTS.GET_LINK' | translate }}"
            exito="true"
            (infoProduct)="dataProduct(product)"
          ></app-product-bussiness>
        </ng-container>
        <span class="w-100" fxLayout="row" fxLayoutAlign="center center">
          <button
            mat-raised-button
            class="button-height f-18 bw mb-3 blue-ligth"
            (click)="verMasProductos()"
            [disabled]="mostrarProductos > totalItems"
          >
            Mostrar más
          </button>
        </span>
      </div>
    </div>

    <div class="not-found" *ngIf="showNotFound">
      <app-not-found></app-not-found>
    </div>

    <div class="products" *ngIf="bussiness.length !== 0">
      <h3 class="text-productos border-bottom-orange-init">Categorías</h3>

      <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
        <div
          fxLayout="column"
          fxFlex.xs="100"
          fxFlex.sm="30"
          fxFlex.gt-sm="24"
          class="mb-3"
          *ngFor="let bussiness of bussiness; let i = index"
        >
          <app-product-bussiness
            idne="bussiness{{ i }}"
            butonid="gtmNegocio{{ title }}{{ bussiness.description | trim }}"
            [nombreProducto]="bussiness.description"
            [precio]="bussiness.commission"
            [porcentaje]="bussiness.infoaditional"
            [imagen]="bussiness.imageurl"
            [altimagen]="bussiness.description"
            otro="true"
            Class="mb-1 button-20 gtmNegocio{{ title }}{{ bussiness.description | trim }}"
            container="img-container-viajes"
            textoboton="{{ 'PRODUCTS.GET_LINK' | translate }}"
            (infoProduct)="dataSliderCategory(bussiness)"
          ></app-product-bussiness>
        </div>
      </div>
    </div>

    <div *ngIf="bussiness.length === 0" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="nothing-icon">push_pin</mat-icon>
      <p class="nothing-text">Aún no tenemos categorías para este negocio</p>
    </div>

    <div fxHide.gt-xs="true">
      <mat-card class="mt-3 comisions">
        <div class="about-bussiness">
          <h3 class="subtitle-tips-other border-inferior">Comisiones</h3>
          <p>En {{ description }} nuestros clickers han recibido a la fecha:</p>
          <span>
            <p class="payment-date">+{{ commision }} M</p>
          </span>
          <span>
            <p class="commision-payment">COMISIONES PAGADAS A LA FECHA</p>
          </span>
        </div>
      </mat-card>

      <mat-card class="mt-3 tips">
        <div class="about-bussiness">
          <h3 class="subtitle-tips-other border-inferior">Tips de venta</h3>
          <div *ngFor="let item of tips">
            <h4 class="subtitle-about title-tip">{{ item.title }}</h4>
            <p class="description-tip">{{ item.description }}</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<!-- template share -->

<ng-template #templateCategories>
  <div *ngIf="!reference">
    <form [formGroup]="formLink">
      <div fxLayout="column">
        <div fxLayout="column" fxFlex="100" fxFlex.xs="100">
          <mat-form-field appearance="dashed" class="dashed mt-2">
            <input id="url" matInput formcontrolName="link" [value]="urlshorten" #linkInput readonly />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center space-between" fxLayoutGap="10px" class="mt-2 share-desktop">
          <button
            mat-button
            id="btnCopy"
            color="orange"
            [disabled]="enableCopy"
            ngClass="{{ classButtonCopy }}"
            (click)="copyInputMessage(linkInput)"
          >
            <span fxLayoutAlign="center space-between" ngClass="{{ classButtonCopy }}">
              {{ 'GENERIC.COPY_LINK' | translate }}
            </span>
          </button>

          <button
            *ngIf="showReferenceButton"
            mat-button
            id="refer"
            [disabled]="enableCopy"
            color="orange"
            ngClass="{{ classButtonRefer }}"
            (click)="showReference()"
          >
            <span ngClass="{{ classButtonRefer }}" fxLayoutAlign="center space-between"> Referir </span>
          </button>

          <button mat-button id="buy" [disabled]="enableCopy" color="orange" ngClass="orange-border {{ classButtonBuy }}" (click)="buy()">
            <span ngClass="{{ classButtonBuy }}" fxLayoutAlign="center space-between"> Comprar </span>
          </button>
        </div>
      </div>
    </form>

    <h3 class="border-bottom-orange-init share-desktop">
      {{ 'GENERIC.SHARE' | translate }}
    </h3>

    <div class="share-desktop" id="share">
      <button
        [disabled]="enableCopy"
        theme="circles-dark"
        shareButton="facebook"
        [url]="urlshorten"
        ngClass="sharebutton {{ classButtonFacebook }} mr-2"
      >
        <i ngClass="fab fa-facebook-f {{ classButtonFacebook }}"></i>
      </button>
      <button
        [disabled]="enableCopy"
        theme="circles-dark"
        shareButton="twitter"
        [url]="urlshorten"
        ngClass="sharebutton {{ classButtonTwitter }} mr-2"
      >
        <i ngClass="fab fa-twitter {{ classButtonTwitter }}"></i>
      </button>
      <a
        mat-button
        [disabled]="enableCopy"
        href="https://web.whatsapp.com/send?text={{ urlshorten }}"
        target="_blank"
        data-action="share/whatsapp/share"
        ngClass="sharebutton p-3 {{ classButtonWhatsapp }}"
      >
        <i ngClass="fab fa-whatsapp {{ classButtonWhatsapp }}"></i>
      </a>
    </div>

    <div class="share-mobile">
      <button
        [disabled]="enableCopy"
        mat-button
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonShare }}"
        (click)="share()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonShare }}" fxLayout="row" fxLayoutAlign="center center">
          <img ngClass="icon-compartir pr-2 {{ classButtonShare }}" src="/assets/img/Compartir.svg" alt="user" />
          Compartir</span
        >
      </button>

      <button
        *ngIf="showReferenceButton"
        mat-button
        [disabled]="enableCopy"
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonRefer }}"
        (click)="showReference()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonRefer }}" fxLayout="row" fxLayoutAlign="center center">
          <img ngClass="icon-compartir pr-2 {{ classButtonRefer }}" src="/assets/img/Referir.svg" alt="user" />
          Referir
        </span>
      </button>

      <button
        mat-button
        [disabled]="enableCopy"
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonBuy }}"
        (click)="buy()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonBuy }}" fxLayout="row" fxLayoutAlign="center center">
          <img ngClass="icon-compartir pr-2 {{ classButtonBuy }}" src="/assets/img/Comprar.svg" alt="user" />
          Comprar
        </span>
      </button>
    </div>
  </div>
  <br />
  <form class="forgotpassword-container" [formGroup]="idCustomerForm" fxLayout="column" *ngIf="reference">
    <span (click)="backStep()" class="cursor-pointer gray" fxLayout="row" fxLayoutAlign="start start" fxFlex="12">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span class="text-back">{{ 'BUTTONS.BACK' | translate }}</span>
    </span>
    <p>{{ 'GENERIC.REFERENCE_IDENTIFICATION' | translate }}</p>
    <mat-form-field appearance="outline" class="mt-2">
      <input matInput class="p-2" id="idcustomer" type="text" placeholder="N° de Documento" formControlName="identification" required />
      <mat-error
        id="reuiredId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.required"
        >{{ 'GENERIC.REQUIRED' | translate: { formValue: 'Número de documento' } }}</mat-error
      >

      <mat-error
        id="maxId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.maxlength"
        >{{
          'GENERIC.MAX_CHARACTERS'
            | translate
              : {
                  maxchar: idCustomerForm.controls.identification.errors.maxlength.requiredLength
                }
        }}</mat-error
      >

      <mat-error
        id="numberId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.pattern"
        >{{ 'GENERIC.ONLY_NUMBERS' | translate }}</mat-error
      >
    </mat-form-field>

    <div fxLayout="column">
      <button
        mat-raised-button
        class="button button-100 p-1 gtmCrearCedulaSiguiente"
        id="recoverPassword"
        color="orange"
        (click)="saveLinkReference()"
        [disabled]="!idCustomerForm.valid"
      >
        <span class="gtmCrearCedulaSiguiente">{{ 'GENERIC.ACCEPT' | translate }}</span>
      </button>
    </div>
  </form>
</ng-template>

<!-- template exito, carulla -->

<ng-template #templateEC>
  <div *ngIf="!reference">
    <form [formGroup]="formLink">
      <div fxLayout="column">
        <div fxLayout="column" fxFlex="100" fxFlex.xs="100">
          <mat-form-field appearance="dashed" class="dashed mt-2">
            <input id="url" matInput formcontrolName="link" [value]="urlshorten" #linkInput readonly />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center space-between" fxLayoutGap="10px" class="mt-2 share-desktop">
          <button
            mat-button
            [disabled]="enableCopy"
            id="btnCopy"
            color="orange"
            [disabled]="enableCopy"
            ngClass="{{ classButtonCopy }}"
            (click)="copyInputMessage(linkInput)"
          >
            <span fxLayoutAlign="center space-between" ngClass="{{ classButtonCopy }}">
              {{ 'GENERIC.COPY_LINK' | translate }}
            </span>
          </button>

          <button mat-button [disabled]="enableCopy" id="refer" color="orange" ngClass="{{ classButtonRefer }}" (click)="showReference()">
            <span ngClass="{{ classButtonRefer }}" fxLayoutAlign="center space-between"> Referir </span>
          </button>

          <button mat-button [disabled]="enableCopy" id="buy" color="orange" ngClass="orange-border {{ classButtonBuy }}" (click)="buy()">
            <span ngClass="{{ classButtonBuy }}" fxLayoutAlign="center space-between"> Comprar </span>
          </button>
        </div>
      </div>
    </form>

    <h3 class="border-bottom-orange-init share-desktop">
      {{ 'GENERIC.SHARE' | translate }}
    </h3>

    <div class="share-desktop" id="share">
      <button
        [disabled]="enableCopy"
        theme="circles-dark"
        shareButton="facebook"
        [url]="urlshorten"
        ngClass="sharebutton {{ classButtonFacebook }} mr-2"
      >
        <i ngClass="fab fa-facebook-f {{ classButtonFacebook }}"></i>
      </button>
      <button
        [disabled]="enableCopy"
        theme="circles-dark"
        shareButton="twitter"
        [url]="urlshorten"
        ngClass="sharebutton {{ classButtonTwitter }} mr-2"
      >
        <i ngClass="fab fa-twitter {{ classButtonTwitter }}"></i>
      </button>
      <a
        mat-button
        [disabled]="enableCopy"
        href="https://web.whatsapp.com/send?text={{ urlshorten }}"
        target="_blank"
        data-action="share/whatsapp/share"
        ngClass="sharebutton p-3 {{ classButtonWhatsapp }}"
      >
        <i ngClass="fab fa-whatsapp {{ classButtonWhatsapp }}"></i>
      </a>
    </div>

    <div class="share-mobile">
      <button
        [disabled]="enableCopy"
        mat-button
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonShare }}"
        (click)="share()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonShare }}" fxLayout="row" fxLayoutAlign="center center">
          <img ngClass="icon-compartir pr-2 {{ classButtonShare }}" src="/assets/img/Compartir.svg" alt="user" />
          Compartir</span
        >
      </button>

      <button
        mat-button
        [disabled]="enableCopy"
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonRefer }}"
        (click)="showReference()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonRefer }}" fxLayout="row" fxLayoutAlign="center center">
          <img ngClass="icon-compartir pr-2 {{ classButtonRefer }}" src="/assets/img/Referir.svg" alt="user" />
          Referir
        </span>
      </button>

      <button
        mat-button
        [disabled]="enableCopy"
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonBuy }}"
        (click)="buy()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span ngClass="gtmrs f-15 {{ classButtonBuy }}" fxLayout="row" fxLayoutAlign="center center">
          <img ngClass="icon-compartir pr-2 {{ classButtonBuy }}" src="/assets/img/Comprar.svg" alt="user" />
          Comprar
        </span>
      </button>
    </div>
  </div>
  <br />
  <form class="forgotpassword-container" [formGroup]="idCustomerForm" fxLayout="column" *ngIf="reference">
    <span (click)="backStep()" class="cursor-pointer gray" fxLayout="row" fxLayoutAlign="start start" fxFlex="12">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span class="text-back">{{ 'BUTTONS.BACK' | translate }}</span>
    </span>
    <p>{{ 'GENERIC.REFERENCE_IDENTIFICATION' | translate }}</p>
    <mat-form-field appearance="outline" class="mt-2">
      <input matInput class="p-2" id="idcustomer" type="text" placeholder="N° de Documento" formControlName="identification" required />
      <mat-error
        id="reuiredId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.required"
        >{{ 'GENERIC.REQUIRED' | translate: { formValue: 'Número de documento' } }}</mat-error
      >

      <mat-error
        id="maxId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.maxlength"
        >{{
          'GENERIC.MAX_CHARACTERS'
            | translate
              : {
                  maxchar: idCustomerForm.controls.identification.errors.maxlength.requiredLength
                }
        }}</mat-error
      >

      <mat-error
        id="numberId"
        *ngIf="idCustomerForm.controls.identification.invalid && idCustomerForm.controls.identification.errors.pattern"
        >{{ 'GENERIC.ONLY_NUMBERS' | translate }}</mat-error
      >
    </mat-form-field>

    <div fxLayout="column">
      <button
        mat-raised-button
        class="button button-100 p-1 gtmCrearCedulaSiguiente"
        id="recoverPassword"
        color="orange"
        (click)="saveLinkReference()"
        [disabled]="!idCustomerForm.valid"
      >
        <span class="gtmCrearCedulaSiguiente">{{ 'GENERIC.ACCEPT' | translate }}</span>
      </button>
    </div>
  </form>
</ng-template>
