@import 'variables';
@import 'general';
@import 'skeleton';

.bussines-section {
  margin: 20px auto;
  .info-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    margin-top: 24px;
    @media screen and (min-width: 600px) {
      padding: 20px 0px;
      flex-direction: row;
    }
    &-skeleton {
      width: 100%;
      height: 300px;
      border-radius: 12px;
      margin-top: 24px;
      @media screen and (min-width: 600px) {
        height: 200px;
      }
    }
    .img-container {
      @media screen and(min-width:600px) {
        padding: 0px 32px;
      }
      img {
        height: 84px;
        display: block;
        border-radius: 12px;
        @media screen and (min-width: 750px) {
          height: 164px;
          max-width: 164px;
        }
      }
    }
    .bussiness-info-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media screen and (min-width: 600px) {
        padding-right: 20px;
      }
      @media screen and (min-width: 1100px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .text-info-container {
        width: 100%;
        @media screen and (min-width: 600px) {
          flex: 1;
        }
        .bussiness-name {
          margin: 12px 0px;
          font-size: 24px;
          @media screen and (min-width: 600px) {
            margin: 0px 0px 12px 0px;
            font-size: 32px;
          }
        }
        .discount-percent {
          color: $secondary-color;
          font-size: 16px;
          margin: 0px;
          font-weight: bold;
          @media screen and (min-width: 600px) {
            font-size: 20px;
          }
        }
        .bussiness-description {
          margin: 12px 0px 0px 0px;
          white-space: break-spaces;
        }
      }
      .commission-location-container {
        width: 100%;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        @media screen and (min-width: 750px) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        @media screen and (min-width: 1100px) {
          width: auto;
          margin-top: 0px;
          padding-left: 20px;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
        }
        .commission-container {
          .payment-date {
            color: #37236a;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin: 0px;
            @media screen and (min-width: 750px) {
              font-size: 20px;
              text-align: left;
            }
            @media screen and (min-width: 1100px) {
              text-align: right;
            }
          }
          .commision-payment {
            color: #a7a3b1;
            font-size: 16px;
            text-align: center;
            margin: 0px;
            @media screen and (min-width: 850px) {
              text-align: left;
            }
            @media screen and (min-width: 1100px) {
              text-align: right;
            }
          }
        }
        .location-button {
          margin-top: 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          white-space: nowrap;
          font-size: 16px;
          padding: 12px 20px;
        }
      }
    }
  }
  .search-card {
    background-color: $primary-color;
    padding: 24px;
    margin-top: 24px;
    border-radius: 12px;
    &-skeleton {
      width: 100%;
      height: 120px;
      border-radius: 12px;
      margin-top: 24px;
      @media screen and (min-width: 600px) {
        height: 75px;
      }
    }
    .search-card__text {
      color: $white;
      font-size: 20px;
      margin: 0px 0px 20px 0px;
      width: 100%;
      position: relative;
      padding-right: 30px;
      .no-break {
        white-space: nowrap;
        .search-about-icon {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 20px;
          color: #ffffff;
          background-color: transparent;
          vertical-align: sub;
        }
      }
    }
    .search-input {
      width: 100%;
    }
    @media screen and (min-width: 600px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 44px;
      .search-card__text {
        width: auto;
        margin: 0px 20px 0px 0px;
        padding-right: 0px;
        .no-break {
          .search-about-icon {
            position: initial;
            top: auto;
            right: auto;
          }
        }
      }
      .search-input {
        width: 50%;
        max-width: 416px;
      }
      .categories-title {
        font-size: 32px;
        margin-bottom: 12px;
        padding-left: 24px;
      }
      .categories-description {
        padding-left: 24px;
      }
    }
  }
  .search-result-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .search-result-title {
      margin: 0px auto 20px 0px;
      white-space: nowrap;
      flex: 1;
    }
    .search-result-button {
      align-self: center;
      margin: 0px auto 20px auto;
      font-size: 12px;
      padding: 12px 20px;
      background-color: $secondary-color;
    }
  }
  .categories-title,
  .search-result-title {
    font-size: 24px;
    margin-top: 20px;
    padding-left: 0px;
  }
  .categories-description {
    font-size: 16px;
    margin: 8px 0px 0px 0px;
    padding-left: 0px;
    &-skeleton {
      margin-top: 8px;
      width: 100%;
      height: 20px;
      border-radius: 12px;
    }
  }
  .products-section-container {
    .products-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      &-skeleton {
        flex-wrap: nowrap;
        overflow: hidden;
      }
      .product {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
        height: auto;
        margin: 4px 0px;
        padding: 8px;
        @media screen and (min-width: 800px) {
          width: 33.3%;
          min-width: 33.3%;
          max-width: 33.3%;
        }
        @media screen and (min-width: 1300px) {
          width: 25%;
          min-width: 25%;
          max-width: 25%;
        }
        &-skeleton {
          padding: 8px;
          &-card {
            border-radius: 12px;
            height: 230px;
            @media screen and (min-width: 800px) {
              height: 410px;
            }
          }
        }
      }
      .show-more {
        width: 100%;
        text-align: center;
        margin-top: 16px;
      }
    }
    .no-categories-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .no-categories-icon {
        transform: rotate(45deg);
        margin-top: 50px;
        color: #b9b6c1;
        width: 30px;
        height: 30px;
      }
      .no-categories-text {
        font-size: 18px !important;
        font-family: $font-galano-bold;
        color: #b9b6c1;
        margin-bottom: 50px;
        text-align: center;
      }
    }
  }
  .see-offers-container {
    width: 100%;
    background-position: center right;
    background-size: cover;
    padding: 24px;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin: 24px 0px 0px 0px;
    &-skeleton {
      margin-top: 20px;
      height: 140px;
      border-radius: 12px;
    }
    @media screen and (min-width: 800px) {
      padding: 24px 5%;
    }
    .see-offers-text {
      font-size: 16px;
      color: #ffffff;
      margin: 0px 0px 12px 0px;
      @media screen and (min-width: 800px) {
        font-size: 28px;
      }
    }
    .see-offers-button {
      padding: 12px 28px;
      font-size: 12px;
      @media screen and (min-width: 800px) {
        padding: 16px 32px;
      }
    }
  }
  .terms-and-conditions {
    margin-top: 20px;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    box-shadow: 0px 16px 16px #9aaacf4d;
    overflow: hidden;
    background-color: #ffffff;
    &-skeleton {
      width: 100%;
      height: 70px;
      border-radius: 12px;
      margin-top: 20px;
    }
    &.open {
      padding-bottom: 50px;
    }
    &-title {
      font-size: 22px;
      width: 100%;
      padding-right: 120px;
    }
    &-see-more {
      position: absolute;
      right: 20px;
      bottom: 27px;
      .mat-icon {
        position: relative;
        top: 7px;
      }
    }
    .bussiness-list-main-title {
      border: none;
      padding: 0px;
      @media screen and (min-width: 600px) {
        font-size: 24px;
      }
    }
  }
  .sale-tips-container {
    margin-top: 20px;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 16px 16px #9aaacf4d;
    overflow: hidden;
    background-color: #ffffff;
  }
  .sale-tips-skeleton {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    margin-top: 20px;
  }
  .bussiness-list-main-title {
    color: $primary-color;
    font-size: 20px;
    border-bottom: 1px solid #d2d0d4;
    padding-bottom: 16px;
    margin: 0px;
    @media screen and (min-width: 600px) {
      font-size: 28px;
      border-bottom: none;
      padding-bottom: 0px;
    }
  }
  .bussiness-list-style {
    list-style: none;
    padding: 0px;
    @media screen and (min-width: 600px) {
      padding-left: 20px;
    }
    .bussiness-list-item {
      margin: 20px 0px 0px 0px;
      @media screen and (min-width: 600px) {
        margin: 24px 0px 0px 0px;
      }
      .bussiness-list-title {
        font-size: 16px;
        color: $primary-color;
        margin: 0px 0px 12px 0px;
        @media screen and (min-width: 600px) {
          font-size: 20px;
        }
      }
      .bussiness-list-description {
        font-size: 16px;
        margin: 0px;
        color: $color-p;
      }
    }
  }
  .button-base {
    padding: 16px 32px;
    font-size: 16px;
    border: none;
    background-color: $primary-color;
    box-shadow: 0px 3px 9px #3a226a80;
    color: #ffffff;
    cursor: pointer;
    &:disabled {
      box-shadow: none;
      background-color: $gray2;
    }
  }
}
