@import "variables";
@import "general";

.full {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  background: #fff;
  overflow-y: auto;
  max-width: none;
}
.container-right {
  width: 30%;
  margin-right: 15px;
}
.container-left {
  width: 70%;
}
.text-productos {
  font-size: 22px;
}
.title-h3 {
  font-size: 23px;
}
.text-terms-conditions {
  //padding-top: 7px;
  color: #8d7eb7;
}
@media screen and (max-width: 600px) {
  .text-productos {
    font-size: 22px;
  }
  .container-right {
    width: 100%;
  }
  .container-left {
    width: 100%;
    margin-right: 0px;
  }
  .text-terms-conditions {
    text-align: end;
  }
}
.p {
  &-60 {
    padding-top: 60px;
  }
}

.accept-terms {
  font-size: 12px;
  color: $gray2;
  text-decoration: underline;
}

.center {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.bw {
  width: 300px;
}

@media screen and (min-width: 600px) {
  .register-button {
    width: 200px;
  }
}
.red-text {
  color: $secondary-color;
}
.border-inferior {
  border-bottom: 1px solid #0000001a;
}

.card-library {
  border-radius: 10px;
  background-color: #947fba;
  color: #ffffff;
  margin-bottom: 15px;
  //padding-left: 20px;
  position: relative;
  h3 {
    color: #ffffff;
    font-size: 22px;
    margin-top: 20px !important;
    margin-bottom: 12px !important;
  }
}
.button-oferts {
  width: 140px;
}
.position-absolute {
  position: absolute;
}
.heigth-image {
  height: 118px;
}

.position-relative {
  position: relative;
  left: 20px;
}
.about-bussiness {
  padding: 16px;
}
@media screen and (max-width: 600px) {
  .card-library {
    padding-left: 20px;
    h3 {
      font-size: 14px;
      width: 200px;
    }
    .button-oferts {
      width: 110px;
    }
  }
  .about-bussiness {
    padding: 8px;
  }
  .position-relative {
    left: 0px;
  }
  .heigth-image {
    height: auto;
  }
}
.imagen-absolute-oferts {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.imagen-resposive-mobile {
  position: absolute;
  height: 100%;
  border-radius: 10px;
  width: 94%;
}

.arrow-down {
  position: relative;
  top: 6px;
}
.border-up-gray {
  border-top: 1px solid #e8e7e9;
}
.payment-date {
  color: #37236a;
  font-size: 27px;
  text-align: center;
}
.commision-payment {
  color: #a7a3b1;
  font-size: 14px;
  text-align: center;
}
.nothing-text {
  font-size: 18px !important;
  font-family: $font-galano-bold;
  color: #b9b6c1;
  margin-bottom: 50px;
}
.nothing-icon {
  transform: rotate(45deg);
  margin-top: 50px;
  color: #b9b6c1;
  width: 30px;
  height: 30px;
}
.title-tip {
  margin-bottom: 0px !important;
}
.description-tip {
  margin-top: 0px !important;
}
.subtitle-about {
  font-size: 18px;
}
.subtitle-tips-other {
  font-size: 20px;
}
.break {
  white-space: break-spaces;
}
