<div fxLayout="row" class="bar sticky" fxLayoutAlign="start center"> 
  <span fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
    <mat-icon class="cursor-pointer" (click)="closeComponent()">keyboard_arrow_left</mat-icon>
  </span>
  <span fxLayout="column" fxLayoutAlign="center center" fxFlex="60">
    <h4 class="m-0">{{title}}</h4>
  </span>
</div>

<div fxLayout="row" fxLayoutAlign="center center" class="pt-5 mt-5">
  <div class="logo pl-3">
    <img src="assets/img/logo-header-2.svg" alt="" />
  </div>
</div>
