<div fxLayout="row" class="bar sticky" fxLayoutAlign="start center">
  <span fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
    <mat-icon class="cursor-pointer" (click)="closeComponent()"
      >keyboard_arrow_left</mat-icon
    >
  </span>
  <span fxLayout="column" fxLayoutAlign="center center" fxFlex="60">
    <h4 class="m-0">{{ title }}</h4>
  </span>
</div>

<div fxLayout="row" fxLayoutAlign="center center" class="pt-5">
  <div class="logo">
    <img src="assets/img/clickam-vertical.svg" alt="" />
  </div>
</div>
