<div class="widget-bar" fxLayoutAlign="center center" fxHide.lt-md="true" *ngIf="showBar">
    <div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <span class="galano-bold">¡Gana más rápido con nuestra extensión Chrome!, Haz click <a href="#">aquí</a>  para instalarla desde la tienda.</span>
        <app-button title="" (action)="close()" [haveTitle]="false" [haveIcon]="true" align="center center" classIcon="tio-clear f-25 purple-text" color="icon"></app-button>
    </div>
</div>
