@import 'variables';

table {
  width: 100%;
  th {
    font-family: $font-galano-bold;
    color: $primary-color;
  }
  td {
    padding-right: 15px;
    text-align: start;
  }
}

.iconb {
  height: 35px;
  width: 100px;
  object-fit: contain;
}
.iconclick {
  height: 35px;
  width: 100px;
}
.overflow-auto {
  overflow: auto;
}

.tr {
  text-align: right;
}
.center-text {
  text-align: center;
}
.display-none {
  visibility: hidden;
}
.display-block {
  visibility: visible;
}
.display-relative-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 3px 6px #726d7d40;
}
.position-configure {
  position: relative;
  right: 50px;
}
.header-comision {
  justify-content: space-between;
  width: 740px;
  background-color: #f3f1f6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.header-category {
  width: 495px;
  color: #37236a;
  font-family: $font-galano-bold;
  margin-left: 10px;
}
.header-standar {
  color: #37236a;
  font-family: $font-galano-bold;
}
.content-comision {
  justify-content: space-between;
}
.new-category {
  justify-content: center;
  border: 1px dashed;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  span {
    color: #37236a;
    font-family: $font-galano-bold;
  }
}
.button-save {
  background-color: #37236a;
  box-shadow: 0px 3px 9px #3a226a80;
  color: #ffffff;
}
.button-delete-comision {
  position: relative;
  //right: 20px;
}
.center-template {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-title {
  color: #f21905;
}
.w-container {
  width: 80%;
  text-align: center;
}
.icon-update {
  position: relative;
  bottom: 3px;
}
.background-white {
  background-color: #ffffff !important;
  th {
    border: none;
  }
}
.background-white-header {
  background-color: #ffffff !important;
}
.header-color-cell-ini {
  background-color: #f3f1f6;
  border-top-left-radius: 10px;
  border-bottom: none;
}
.header-color-cell {
  background-color: #f3f1f6;
  border-bottom: none;
}
.header-color-cell-fin {
  background-color: #f3f1f6;
  border-top-right-radius: 10px;
  border-bottom: none;
}
.w-icon {
  width: 30px;
}
.title-gray {
  color: #a7a3b1;
  font-size: 11px;
}
.file-input {
  color: #37236a;
  font-size: 11px;
}
