
<div fxLayout="row" fxLayoutGap="15px" class="mb-3 mt-3">
    
    <div fxLayout="column" fxFlex="50">
        <table mat-table #table class="mat-elevation-z2"  
        [dataSource]="dataSource" 
        cdkDropList
        [cdkDropListData]="dataSource"
        (cdkDropListDropped)="dropTable($event)">
            <!--bussiness Column -->
            <ng-container matColumnDef="drag">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element;let i= index" > 
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="end center" fxLayoutAlign.xs="center center">
                        <mat-icon  matSuffix class="mr-1 blue cursor-pointer" cdkDragHandle>drag_indicator</mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="bussiness">
                <th mat-header-cell *matHeaderCellDef> {{ 'DASHBOARD.NEW_BUSINESS' | translate }} </th>
                <td mat-cell *matCellDef="let element"> 
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                        <span fxLayout="column">
                            <img class="iconb" [src]="element.imageurl" [alt]="element.description">
                        </span>
                        <span fxLayout="column" class="galano-bold f-16" fxHide.xs="true">
                            {{ element.description }}
                        </span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="activate">
                <th mat-header-cell class="tr" *matHeaderCellDef> ACTIVO / INACTIVO </th>
                <td mat-cell *matCellDef="let element;let i= index"> 
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="end center" fxLayoutAlign.xs="center center">
                        <mat-slide-toggle [(ngModel)]="element.active" color="orange2-toggle" (change)="activate(element)"></mat-slide-toggle>
                    </div>
                </td>
            </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;let i= index" cdkDrag [cdkDragData]="row"></tr>
        </table>
    </div>

</div>
