<mat-card  (click)="navigateBussiness()" class="bussiness cursor-pointer gtmHomeClicNegocios{{title}}" ngClass.xs="mb-4" fxLayoutAlign="center center">
    <div class="gtmHomeClicNegocios{{title}} inner-business" fxLayout="column"  fxLayoutAlign="center center">
        <span fxLayout="column" class="img-responsive gtmHomeClicNegocios{{title}}">
            <img [src]="img" class="gtmHomeClicNegocios{{title}}" alt="{{title}}">
        </span>
        <span fxLayout="column" class="gtmHomeClicNegocios{{title}}">
            <h4 class="title-bussiness m-0 gtmHomeClicNegocios{{title}}">{{title}}</h4>
            <p *ngIf="code === 'movil-exito'" class="m-0">Antes el 5%</p>
            <span class="percent orange-text gtmHomeClicNegocios{{title}}">{{percent}}</span>
        </span>
    </div>
</mat-card>