@import 'variables';

.bussiness{

    @media screen and (max-width: 600px) {
        .title-bussiness{
            font-size: 11px !important;
        }
    
        .percent{
            font-size: 12px !important;
            margin-top: 5px;
        }
    }

    text-align: center;

    img{
        max-width: 100%;
        width: 100%;
    }
    
    .title-bussiness{
        font-size: 14px;
        font-family: $font-galano;
    }

    .percent{
        color: $secondary-color;
        font-size: 16px;
    }

}

span.img-responsive img {
    max-width: 100%;
}

@media screen and (min-width: 600px) {

    .bussiness{
        max-width: 250px;
        min-width: 250px;
    }

    img{
        max-width: 100%;
        width: 175px !important;
    }
}