@import 'variables';

.bussiness {
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 24px 20px;
  @media screen and (max-width: 600px) {
    .title-bussiness {
      font-size: 11px !important;
    }

    .percent {
      font-size: 12px !important;
      margin-top: 5px;
    }
  }

  text-align: center;

  img {
    max-width: 100%;
    width: 100%;
    min-width: 110px;
  }

  .title-bussiness {
    font-size: 14px;
    font-family: $font-galano;
    color: #726D7E !important;
  }

  .percent {
    color: $secondary-color;
    font-size: 16px;
  }
}

span.img-responsive img {
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .bussiness {
    max-width: 250px;
    min-width: 250px;
    max-height: 140px;
    overflow: hidden;
  }

  img {
    max-width: 100%;
    width: 230px !important;
    object-fit: scale-down;
  }
}


.infomarketing{
  background: $primary-color;
  color: #ffffff;
  border-radius: 10px;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  position: absolute;
}

.postion-relative{
  position: relative;
}