<mat-card class="mb-3 bussiness" (click)="navigateBussiness()" class="cursor-pointer" ngClass.xs="mb-4">
    <div fxLayout.gt-xs="column" fxLayoutGap.gt-xs="0" fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="30px">
        <span fxLayout="column" fxFlex="20" class="img-responsive">
            <img [src]="img" alt="{{bussiness}}">
        </span>
        <span fxLayout="column" fxFlex="80">
            <h4 class="title-bussiness m-0">{{title}}</h4>
            <span class="percent orange-text">{{percent}}</span>
        </span>
    </div>
</mat-card>