<app-banner title="{{ 'REFER.CONTROL_PAGE' | translate }}" img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"></app-banner>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
  <div class="border-radius mat-card mat-card-box-shadow mt-3">
    <h3>
      {{ 'REFER.CONTROL_TITLE' | translate }}
    </h3>
    <p>{{ 'REFER.CONTROL_TEXT' | translate }}</p>
    <form fxLayout="row" fxLayoutAlign="space-between center" [formGroup]="form">
      <mat-form-field fxFlex="75">
        <input fxFill matInput id="amount" type="text" placeholder="Cantidad de cédulas" 
        formControlName="idAmount" spacebar required />

        <mat-error *ngIf="form.get('idAmount').hasError('min')">{{
          'GENERIC.REQUIRED' | translate: { formValue: 'Cantidad de cédulas' }
          }}</mat-error>

        <mat-error *ngIf="form.get('idAmount').hasError('pattern')">{{
          'GENERIC.ONLY_NUMBERS' | translate
          }}</mat-error>
      </mat-form-field>
      <button (click)="onSubmit()" mat-raised-button color="orange" id="send-comission" class="ml-2">
        Guardar
      </button>
    </form>
  </div>
</div>