<h3 class="gray border-left-orange pt-3">{{ "REGISTER.ADITIONAL_FILE" | translate }}</h3>

  <p>{{ "REGISTER.INFO_ADDITIONAL" | translate }}</p>
  <p class="black">
    <strong>{{ "REGISTER.INFO_ADDITIONAL_2" | translate }}</strong>
  </p>

<form
  autocomplete="nope"
  class="mb-3"
  [formGroup]="externalForm"
>

  <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" class="pb-3">
    <div fxLayout="column" fxLayoutAlign="center" class="space">
      <strong class="gray">{{ "REGISTER.CED1" | translate }}</strong>
      <span *ngIf="nameFileCed1 === ''">No hay archivo seleccionado</span>
      <span class="file-input" *ngIf="nameFileCed1 !== ''">{{
        nameFileCed1
      }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" class="space">
      <label for="ced1" id="upload" class="cursor-pointer">
        <img
          class="mt-1"
          *ngIf="nameFileCed1 === ''"
          src="/assets/img/image-file-upload.svg"
          alt="upload"
        />
        <img
          class="mt-1"
          *ngIf="nameFileCed1 !== ''"
          src="/assets/img/image-file-upload-ok.svg"
          alt="upload"
        />
      </label>
    </div>
  </div>

  <input
    (change)="onFileChange($event, 'ced1')"
    id="ced1"
    type="file"
    formControlName="ced1"
  />

  <mat-error *ngIf="showErrorCed1" class="small pb-2">
    {{ "GENERIC.INVALID_FORMAT_FILE_REGISTER" | translate }}
  </mat-error>

  <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" class="pb-3">
    <div fxLayout="column" fxLayoutAlign="center" class="space">
      <strong class="gray">{{ "REGISTER.CED2" | translate }}</strong>
      <span *ngIf="nameFileCed2 === ''">No hay archivo seleccionado</span>
      <span class="file-input" *ngIf="nameFileCed2 !== ''">{{
        nameFileCed2
      }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" class="space">
      <label for="ced2" id="upload" class="cursor-pointer">
        <img
          class="mt-1"
          *ngIf="nameFileCed2 === ''"
          src="/assets/img/image-file-upload.svg"
          alt="upload"
        />
        <img
          class="mt-1"
          *ngIf="nameFileCed2 !== ''"
          src="/assets/img/image-file-upload-ok.svg"
          alt="upload"
        />
      </label>
    </div>
  </div>

  <input
    (change)="onFileChange($event, 'ced2')"
    id="ced2"
    type="file"
    formControlName="ced2"
  />
  <mat-error *ngIf="showErrorCed2" class="small pb-2">
    {{ "GENERIC.INVALID_FORMAT_FILE_REGISTER" | translate }}
  </mat-error>

  <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" class="pb-3">
    <div fxLayout="column" fxLayoutAlign="center" class="space">
      <strong class="gray">{{ "REGISTER.ACCOUNT_CERT" | translate }}</strong>
      <span *ngIf="nameFileCert === ''">No hay archivo seleccionado</span>
      <span class="file-input" *ngIf="nameFileCert !== ''">{{
        nameFileCert
      }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" class="space">
      <label for="cert" id="upload" class="cursor-pointer">
        <img
          class="mt-1"
          *ngIf="nameFileCert === ''"
          src="/assets/img/image-file-upload.svg"
          alt="upload"
        />
        <img
          class="mt-1"
          *ngIf="nameFileCert !== ''"
          src="/assets/img/image-file-upload-ok.svg"
          alt="upload"
        />
      </label>
    </div>
  </div>

  <input
    (change)="onFileChange($event, 'cert')"
    id="cert"
    type="file"
    formControlName="cert"
  />

  <mat-error *ngIf="showErrorCert" class="small pb-2">
    {{ "GENERIC.INVALID_FORMAT_FILE_REGISTER" | translate }}
  </mat-error>

  <button
    mat-raised-button
    id="sendFiles"
    class="button bw"
    color="orange"
    (click)="sendInfo()"
    [disabled]="!externalForm.valid"
  >
  {{ "GENERIC.SEND" | translate }}
  </button>

</form>
