<form [formGroup]="onBoard" (keydown)="formBoardChange()">
  <h3>Nueva imagen</h3>
  <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" fxLayoutGap.xs="5px" class="pb-3">
    <div fxLayout="column" fxLayoutAlign="center" class="space">
      <strong class="title-gray">Adjuntar imagen para web (496x256px, formato .jpg, .png / max 2mb)</strong>
      <span class="title-secondary" *ngIf="nameImageWeb === ''">No hay archivo seleccionado</span>
      <span class="file-input" *ngIf="nameImageWeb !== ''">{{ nameImageWeb | truncate: '20' }}</span>
    </div>
    <div>
      <label for="image" id="upload" class="cursor-pointer">
        <span *ngIf="!showErrorWeb">
          <i *ngIf="nameImageWeb === ''" class="tio-upload_on_cloud style-icon"></i>
          <i *ngIf="nameImageWeb !== ''" class="tio-cloud_on style-icon"></i>
        </span>
        <i *ngIf="showErrorWeb" class="tio-cloud_disabled style-icon"></i>
      </label>
    </div>
  </div>
  <mat-error *ngIf="showErrorWeb" class="text-small small pb-2 d-block">
    Formato inválido, sólo se pueden subir archivos con la extensión (JPG,PNG) y menores de 2MB
  </mat-error>

  <input (change)="onFileChangeFiles($event, 'web')" id="image" type="file" formControlName="image" />
  <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" fxLayoutGap.xs="5px" class="pb-3">
    <div fxLayout="column" fxLayoutAlign="center" class="space">
      <strong class="title-gray">Adjuntar imagen para mobile (260x310px, formato .jpg, .png / max 2mb)</strong>
      <span class="title-secondary" *ngIf="nameImageMobile === ''">No hay archivo seleccionado</span>
      <span class="file-input" *ngIf="nameImageMobile !== ''">{{ nameImageMobile | truncate: '20' }}</span>
    </div>
    <div>
      <label for="image2" id="upload" class="cursor-pointer">
        <span *ngIf="!showErrorMobile">
          <i *ngIf="nameImageMobile === ''" class="tio-upload_on_cloud style-icon"></i>
          <i *ngIf="nameImageMobile !== ''" class="tio-cloud_on style-icon"></i>
        </span>
        <i *ngIf="showErrorMobile" class="tio-cloud_disabled style-icon"></i>
      </label>
    </div>
  </div>
  <mat-error *ngIf="showErrorMobile" class="text-small small pb-2 d-block">
    Formato inválido, sólo se pueden subir archivos con la extensión (JPG,PNG) y menores de 2MB
  </mat-error>
  <input (change)="onFileChangeFiles($event, 'mobile')" id="image2" type="file" formControlName="image2" />

  <h3 class="mb-0">CTA 1</h3>
  <mat-form-field class="w-100">
    <input matInput placeholder="Nombre del botón" formControlName="namecta1" type="text" />
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput placeholder="Link" formControlName="linkcta1" type="text" />
  </mat-form-field>

  <h3 class="mb-0">CTA 2</h3>
  <mat-form-field class="w-100">
    <input matInput placeholder="Nombre del botón" formControlName="namecta2" type="text" />
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput placeholder="Link" formControlName="linkcta2" type="text" />
  </mat-form-field>

  <div class="mt-3 mb-2" fxLayout="row" fxLayoutAlign="end end">
    <button mat-button ngClass="button_cancel" (click)="onNoClick()">Cancelar</button>
    <button
      mat-raised-button
      color="orange"
      (click)="saveOnboard()"
      id="onboard"
      class="ml-2"
      [disabled]="!onBoard.valid"
    >
      Publicar
    </button>
  </div>

</form>
