<div class="upload-documents">
  <div class="orange-line"></div>
  <div class="upload-documents__content">
    <mat-icon class="close-icon upload-documents__close">close</mat-icon>
    <div class="upload-documents__content-main">
      <img class="info-icon" src="assets/img/documents-info.svg" alt="" />
      <div class="upload-documents__text-info">
        <h3 class="upload-documents__title">¡No te olvides de tus recompensas!</h3>
        <p class="upload-documents__paragraph">Inscribe tu cuenta bancaria donde podremos consignar todas tus recompensas.</p>
      </div>
    </div>
    <div class="upload-documents__button-container">
      <button class="upload-documents__button">Inscribir cuenta</button>
    </div>
  </div>
</div>
