<div class="tabs">
  <h2 class="border-bottom-orange-init">
    {{ "HOME.TITLE_SEARCH" | translate }}
  </h2>
  <p>{{ "HOME.DESCRIPTION_SEARCH" | translate }}</p>

  <mat-tab-group>
    <!-- exito -->
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="gtmInicioClicFiltroExitocom">exito.com</span>
       </ng-template>

      <app-search (search)="searchProductPaginate($event)"></app-search>
      <div class="order border-bottom-gray" fxLayout="row" fxLayoutAlign="flex-end center" *ngIf="showResults">
        
        <label class="mr-4">Ordenar por: </label>
        <mat-form-field>
          <mat-select value="OrderByTopSaleDESC">
              <mat-option *ngFor="let option of orderOptions" [value]="option.value" (click)="order(option.value)">
                  <span>{{option.description}}</span></mat-option
                >
          </mat-select>
        </mat-form-field>
      
      </div>
      <div *ngIf="showResults">
        <div class="row m-0">
          <mat-paginator
            class="mb-3"
            id="paginator"
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            (page)="pagination($event)"
          >
          </mat-paginator>
          <div fxLayout="row wrap">
            <div
              fxLayout="column"
              fxFlex.xs="50"
              fxFlex.sm="33"
              fxFlex.gt-sm="25"
              *ngFor="let product of productsList;let i = index;"
            >
              <app-product
                id="productTitle{{ i }}"
                btnid="btnLink{{ i }}"
                [productName]="product.productName"
                [discount]="product.items[0].sellers[0].commertialOffer.ListPrice"
                [aliance]="totalPriceArrays[i]"
                [logo]="imgLogoAliance[i]"
                [price]="product.items[0].sellers[0].commertialOffer.Price"
                productDescription=""
                [image]="product.items[0].images[0].imageUrl"
                [alt]="product.productName"
                textbutton="{{ 'PRODUCTS.GET_LINK' | translate }}"
                [plu]="product.items[0].itemId"
                exito="true"
                (infoProduct)="dataProduct(product);"
              ></app-product>
            </div>
          </div>
          <mat-paginator
            class="mb-3 hide-pag"
            id="paginator"
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            (page)="pagination($event)"
          >
          </mat-paginator>
        </div>
      </div>

      <div class="not-found" *ngIf="showNotFound">
        <app-not-found></app-not-found>
      </div>
    </mat-tab>

    <!-- seguros -->
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="gtmInicioClicFiltroSeguro">Seguros</span>
       </ng-template>
      <div fxLayout="row wrap">
        <div
          fxLayout="column"
          fxFlex.xs="100"
          fxFlex.sm="33"
          fxFlex.gt-sm="20"
          class="mt-3 mb-3"
          *ngFor="let asurred of assureds; let i = index"
        >
          <app-product
            id="asurred{{ i }}"
            btnid="btnassured{{ i }}"
            [productName]="asurred.description"
            [price]="asurred.commission"
            [image]="asurred.imageurl"
            [alt]="asurred.description"
            other="true"
            Class="mb-1 button-100 gtmInicioClicLinkSeg{{i}}"
            textbutton="{{ 'PRODUCTS.GET_LINK' | translate }}"
            container="img-container-seguros"
            (infoProduct)="dataAssured(asurred)"
          ></app-product>
        </div>
      </div>
    </mat-tab>

    <!-- viajes -->
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="gtmInicioClicFiltroViajes">Viajes</span>
       </ng-template>
      <div fxLayout="row wrap">
        <div
          fxLayout="column"
          fxFlex.xs="100"
          fxFlex.sm="33"
          fxFlex.gt-sm="20"
          class="mt-3 mb-3"
          *ngFor="let trip of trips; let i = index"
        >
          <app-product
            id="trip{{ i }}"
            btnid="btntrip{{ i }}"
            [productName]="trip.description"
            [price]="trip.commission"
            [image]="trip.imageurl"
            [alt]="trip.description"
            other="true"
            Class="mb-1 button-100 gtmInicioClicLinkViaj{{i}}"
            container="img-container-viajes"
            textbutton="{{ 'PRODUCTS.GET_LINK' | translate }}"
            home
            (infoProduct)="dataTrip(trip)"
          ></app-product>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- categorias -->
<h3>{{ 'GENERIC.CATEGORIES' | translate }}</h3>
<ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                      >
<div ngxSlickItem  *ngFor="let category of categories; let i = index" class="slide">
<div fxLayout="row wrap">
      <app-product
        id="category{{i}}"
        [categoryName]="category.description"
        [photo]="category.imageurl"
        category="true"
        home
        (infoProduct)="dataCategory(category)"
      ></app-product>
    </div>
  </div>
</ngx-slick-carousel>

<!-- template bottomsheet -->

<ng-template #templateDialog>
  <div *ngIf="!reference">
  <form [formGroup]="formLink">
    <div fxLayout="row" fxLayoutGap="20px"> 
    <div fxLayout="column" fxFlex="90">
      <mat-form-field appearance="dashed" class="dashed mt-2">
        <input
          id="url"
          matInput
          formcontrolName="link"
          [value]="urlshorten"
          #linkInput
          readonly
        />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="10" class="mt-2">
      <button
        mat-mini-fab
        id="btnCopy"
        color="orange"
        class="gtmInicioClicFiltroExitocomCopiarLink"
        (click)="copyInputMessage(linkInput)"
      >
        <span fxLayoutAlign="space-between center">
          <mat-icon matSuffix>link</mat-icon>
        </span>
      </button>
    </div>
  </div>
  </form>

  <div id="share">
    <h3 class="border-bottom-orange-init">{{ "GENERIC.SHARE" | translate }}</h3>
    <share-button
      id="facebook"
      [url]="urlshorten"
      button="facebook"
      theme="circles-dark"
      class="gtmInicioClicFiltroExitocomFacebook"
    ></share-button>
    <share-button
      id="twitter"
      [url]="urlshorten"
      button="twitter"
      theme="circles-dark"
      class="gtmInicioClicFiltroExitocomTwitter"
    ></share-button>
    <share-button
      id="whatsapp"
      [url]="urlshorten"
      button="whatsapp"
      theme="circles-dark"
      class="gtmInicioClicFiltroExitocomWhatsapp"
    ></share-button>
  </div>
  <p>{{'GENERIC.REFERENCE_TEXT' | translate}}</p>
  <button mat-raised-button class="orange-border mb-2" color="primary" id="reference" (click)="showReference()">{{'GENERIC.REFERENCE' | translate}}</button>
</div>
  <br>
  <form class="forgotpassword-container" [formGroup]="idCustomerForm" fxLayout="column" *ngIf="reference">
      <p>{{'GENERIC.REFERENCE_IDENTIFICATION' | translate}}</p>
      <mat-form-field appearance="outline" class="mt-2">
        <input
          matInput
          class="p-2"
          id="idcustomer"
          type="text"
          placeholder="N° de Documento"
          formControlName="identification"
          required
        />
        <mat-error
        id="reuiredId"
        *ngIf="
          idCustomerForm.controls.identification.invalid &&
          idCustomerForm.controls.identification.errors.required
        "
        >{{
          "GENERIC.REQUIRED" | translate: { formValue: "Número de documento" }
        }}</mat-error
      >
    
      <mat-error
        id="maxId"
        *ngIf="
          idCustomerForm.controls.identification.invalid &&
          idCustomerForm.controls.identification.errors.maxlength
        "
        >{{
          "GENERIC.MAX_CHARACTERS"
            | translate
              : {
                  maxchar:
                    idCustomerForm.controls.identification.errors.maxlength.requiredLength
                }
        }}</mat-error
      >
    
      <mat-error
        id="numberId"
        *ngIf="
          idCustomerForm.controls.identification.invalid &&
          idCustomerForm.controls.identification.errors.pattern
        "
        >{{ "GENERIC.ONLY_NUMBERS" | translate }}</mat-error
      >
      </mat-form-field>
    
      <div fxLayout="column">
      <button
        mat-raised-button
        class="button button-100 p-1"
        id="recoverPassword"
        color="orange"
        (click)="saveLinkReference()"
        [disabled]="!idCustomerForm.valid"
      >
       {{ "GENERIC.ACCEPT" | translate }}
      </button>
     </div>
    </form>

</ng-template>

<!-- template categories -->

<ng-template #templateCategories>
  <div *ngIf="!reference">
  <form [formGroup]="formLink">
    <div fxLayout="row" fxLayoutGap="20px"> 
    <div fxLayout="column" fxFlex="90">
      <mat-form-field appearance="dashed" class="dashed mt-2">
        <input
          id="url"
          matInput
          formcontrolName="link"
          [value]="urlshorten"
          #linkInput
          readonly
        />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="10" class="mt-2">
      <button
        mat-mini-fab
        id="btnCopy"
        color="orange"
        (click)="copyInputMessage(linkInput)"
      >
        <span fxLayoutAlign="space-between center">
          <mat-icon matSuffix>link</mat-icon>
        </span>
      </button>
    </div>
  </div>
  </form>

  <div id="share">
    <h3 class="border-bottom-orange-init">{{ "GENERIC.SHARE" | translate }}</h3>
    <share-button
      id="facebook"
      [url]="urlshorten"
      button="facebook"
      theme="circles-dark"
    ></share-button>
    <share-button
      id="twitter"
      [url]="urlshorten"
      button="twitter"
      theme="circles-dark"
    ></share-button>
    <share-button
      id="whatsapp"
      [url]="urlshorten"
      button="whatsapp"
      theme="circles-dark"
    ></share-button>
  </div>
</div>
</ng-template>

<!-- template bottomsheet -->

<ng-template #templateDialogAssured>
  <div id="share">
    <div *ngIf="showFormCustomer">
      <p class="text-id">{{"GENERIC.CUSTOMER_ID" | translate}}</p>
        <form class="forgotpassword-container" [formGroup]="idCustomerForm" fxLayout="column">
            <mat-form-field appearance="outline" class="mt-2">
              <input
                matInput
                class="p-2"
                id="idcustomer"
                type="text"
                placeholder="N° de Documento"
                formControlName="identification"
                required
              />
              <mat-error
              id="reuiredId"
              *ngIf="
                idCustomerForm.controls.identification.invalid &&
                idCustomerForm.controls.identification.errors.required
              "
              >{{
                "GENERIC.REQUIRED" | translate: { formValue: "Número de documento" }
              }}</mat-error
            >
          
            <mat-error
              id="maxId"
              *ngIf="
                idCustomerForm.controls.identification.invalid &&
                idCustomerForm.controls.identification.errors.maxlength
              "
              >{{
                "GENERIC.MAX_CHARACTERS"
                  | translate
                    : {
                        maxchar:
                          idCustomerForm.controls.identification.errors.maxlength.requiredLength
                      }
              }}</mat-error
            >
          
            <mat-error
              id="numberId"
              *ngIf="
                idCustomerForm.controls.identification.invalid &&
                idCustomerForm.controls.identification.errors.pattern
              "
              >{{ "GENERIC.ONLY_NUMBERS" | translate }}</mat-error
            >
            </mat-form-field>
          
            <div fxLayout="column">
            <button
              mat-raised-button
              class="button button-100 p-1"
              id="recoverPassword"
              color="orange"
              (click)="nextStep()"
              [disabled]="!idCustomerForm.valid"
            >
              <span fxLayout="row" fxLayoutAlign="space-between center" class="pl-3 pr-3">
                  {{ "GENERIC.NEXT" | translate }}
                  <mat-icon>arrow_forward</mat-icon>
                </span>
            </button>
           </div>
          </form>
          
    </div>
    
    <div *ngIf="showForm">
      <form [formGroup]="formLink">
          <div fxLayout="row" fxLayoutGap="20px"> 
          <div fxLayout="column" fxFlex="90">
            <mat-form-field appearance="dashed" class="dashed mt-2">
              <input
                id="url"
                matInput
                formcontrolName="link"
                [value]="urlshorten"
                #linkInput
                readonly
              />
            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="10" class="mt-2">
            <button
              mat-mini-fab
              id="btnCopy"
              color="orange"
              (click)="copyInputMessage(linkInput)"
            >
              <span fxLayoutAlign="space-between center">
                <mat-icon matSuffix>link</mat-icon>
              </span>
            </button>
          </div>
        </div>
        </form>

      <h3 class="border-bottom-orange-init">
        {{ "GENERIC.SHARE" | translate }}
      </h3>
      <share-button
        id="facebook"
        [url]="urlshorten"
        button="facebook"
        theme="circles-dark"
      ></share-button>
      <share-button
        id="twitter"
        [url]="urlshorten"
        button="twitter"
        theme="circles-dark"
      ></share-button>
      <share-button
        id="whatsapp"
        [url]="urlshorten"
        button="whatsapp"
        theme="circles-dark"
      ></share-button>
    </div>
  </div>
</ng-template>
