.title {
  &-h3 {
    font-size: 23px;
  }
}
.card-library {
  border-radius: 10px;
  background-color: #947fba;
  color: #ffffff;
  margin-bottom: 15px;
  padding-left: 20px;
  h3 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 20px !important;
    margin-bottom: 12px !important;
  }
}
.button-oferts {
  width: 140px;
}
.position-absolute {
  position: absolute;
}
.heigth-image {
  height: 118px;
}
@media screen and (max-width: 600px) {
  .card-library {
    h3 {
      font-size: 14px;
      width: 200px;
    }
    .button-oferts {
      width: 110px;
    }
  }
  .heigth-image {
    height: auto;
  }
}

.purple{
  background: transparent linear-gradient(180deg, #2C1E59 0%, #1F1547 100%) 0% 0% no-repeat padding-box;
  color: #ffffff;
}

.underline{
  color: #FD5555;
  text-decoration: underline;
}

.select{
  width: 270px;
}

.mr-24{
  margin-right: 24px;
}
.bussiness-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .bussiness-card {
    width: 50%;
    padding: 12px;
    @media screen and (min-width: 800px) {
      width: 33.3%;
    }
    @media screen and (min-width: 1100px) {
      width: 25%;
    }
    @media screen and (min-width: 1300px) {
      width: 20%;
    }
  }
}