@import 'variables';
@import 'general';

.blue {
  color: $blue;
}

.lupa {
  position: relative;
}

#BarSearch {
  font-style: italic;
}

.search-form{
  border-radius: 8px;
  overflow: hidden;
  background-color: #FFFFFF;
  .search-container{
    width: 100%;
    &.mat-form-field{
      .mat-form-field-wrapper{
        margin: 0px;
        padding: 0px;
      }
    }
    .input-container{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;
      border-radius: 8px;
      .search-input{
        flex: 1;
      }
      .search-button{
        width: auto;
        padding: 0px;
        border: none;
        background-color: transparent;
        .close-icon{
          width: 20px;
          height: 20px;
          &::after {
            content: '';
            height: 16px;
            border-left: 2px solid $primary-color;
            position: absolute;
            transform: rotate(45deg);
          }
          &::before {
            content: '';
            height: 16px;
            border-left: 2px solid $primary-color;
            position: absolute;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
