<form [formGroup]="searchForm" fxLayoutAlign="start" class="search-form" (ngSubmit)="searchProduct()">
  <mat-form-field appearance="outline" class="search-container">
    <div class="input-container">
      <input
        matInput
        type="search"
        id="BarSearch"
        placeholder="{{ 'GENERIC.SEARCH' | translate }} por producto o PLU"
        formControlName="search"
        class="search-input"
      />
      <button
        (click)="handleSearch()"
        id="BtnSearch"
        class="search-button"
        type="button"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="15.748" height="15.748" viewBox="0 0 15.748 15.748" *ngIf="!isSearching">
          <g id="search" transform="translate(1 1)">
            <g id="Group">
              <path id="Vector" d="M11.852,5.926A5.926,5.926,0,1,1,5.926,0,5.926,5.926,0,0,1,11.852,5.926Z" fill="none" stroke="#230040" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              <path id="Vector-2" data-name="Vector" d="M3.222,3.222,0,0" transform="translate(10.111 10.111)" fill="none" stroke="#230040" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </g>
          </g>
        </svg>
        <div class="close-icon" *ngIf="isSearching"></div>
      </button>
    </div>
  </mat-form-field>
</form>
