<app-banner
  title="{{ 'COMMISION_TABLE.COMMISION_TABLE' | translate }}"
  img="/assets/img/banners/banner-comisiones-pc-.jpg"
  imgMobile="/assets/img/banners/banner-comisiones-mobile.jpg"
></app-banner>
<!-- <app-logo></app-logo> -->

<div class="container">
  <mat-tab-group>
    <mat-tab *ngFor="let item of tableComission | keyvalue; let i = index">
      <ng-template mat-tab-label>
        {{ item.key }}
      </ng-template>

      <table class="tableComission w-100 text-left mt-3">
        <thead>
          <th class="w-80">Categoría de producto</th>
          <th class="text-center">Comisiones</th>
        </thead>
        <tbody>
          <tr *ngFor="let table of item.value; let i = index">
            <td>{{ table.description }}</td>
            <td>{{ table.commission }}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>

  <p>
    *Marketplace internacional está excluido y ninguno de sus productos generan
    comisión.
  </p>
</div>
