<div class="container">
    <h1>{{'COMMISION_TABLE.COMMISION_TABLE' | translate}}</h1>
    <mat-tab-group>
        <!-- exito -->
        <mat-tab>
            <ng-template mat-tab-label>
                 <span class="gtmClicAcademyClicExitocom">{{'CLICKACADEMY.CLICKACADEMY_TAB_EXITO' | translate}}</span>
            </ng-template>
            <div innerHtml="{{ 'CLICKACADEMY.CLICKACADEMY_TAB_EXITO_TABLE' | translate }}"></div> 
        </mat-tab>
    
         <!-- seguros -->
        <mat-tab> 
                <ng-template mat-tab-label>
                        <span class="gtmClicAcademyClicSeguros">{{'CLICKACADEMY.CLICKACADEMY_TAB_SEGUROS' | translate}}</span>
                   </ng-template>
            <div innerHtml="{{ 'CLICKACADEMY.CLICKACADEMY_TAB_SEGUROS_TABLE' | translate }}"></div> 
        </mat-tab>
    
         <!-- viajes -->
        <mat-tab>
                <ng-template mat-tab-label>
                        <span class="gtmClicAcademyClicViajes">{{'CLICKACADEMY.CLICKACADEMY_TAB_VIAJES' | translate}}</span>
                   </ng-template>
            <div innerHtml="{{ 'CLICKACADEMY.CLICKACADEMY_TAB_VIAJES_TABLE' | translate }}"></div> 
        </mat-tab>
    
      </mat-tab-group>
    
      <p>{{'CLICKACADEMY.MARKETPLACE' | translate}}</p>
</div>

