<div class="dialog-navigation-group">
  <h3 title-name>{{ data.title }}</h3>

  <div mat-dialog-content>
    <form [formGroup]="dateForm">
      <mat-form-field>
        <input
          matInput
          id="description"
          type="text"
          placeholder="Nombre"
          formControlName="description"
          maxlength="100"
        />
        <mat-error
          id="requiredDescription"
          *ngIf="
            dateForm.controls.description.invalid &&
            dateForm.controls.description.errors.required
          "
          >{{
            'GENERIC.REQUIRED' | translate: { formValue: 'Nombre' }
          }}</mat-error
        >
      </mat-form-field>

      <mat-form-field *ngIf="data.icon !== undefined || data.isMenu">
        <mat-label>Icono</mat-label>
        <mat-select [(value)]="iconSelected">
          <mat-option
            *ngFor="let icon of iconList"
            [value]="icon.name"
            class="menu-option"
            ngClass="{{ icon.name }}"
          >
            {{ icon.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="dialog-navigation-group__buttons">
        <button mat-button ngClass="button_cancel" (click)="onNoClick()">
          Cancelar
        </button>
        <button
          mat-raised-button
          color="orange"
          (click)="saveSection()"
          [disabled]="!dateForm.valid"
        >
          {{ data.buttonName }}
        </button>
      </div>
    </form>
  </div>
</div>
