<div class="navigation-footer">
  <header class="navigation-footer__header">
    <p></p>
    <p>NOMBRE</p>
    <p>ENLACE</p>
    <p class="navigation-footer__actions">ACCIONES</p>
  </header>
  <div class="navigation-footer__content">
    <div class="navigation-footer__list-sections" cdkDropList (cdkDropListDropped)="dropSection($event)">
      <app-navigation-group
        *ngFor="let section of sectionsLinks"
        [section]="section"
        (editGroup)="editNavigationGroup($event)"
        (deleteGroup)="deleteNavigationGroup($event)"
        (addItem)="addNavigationItem($event)"
        (editItem)="editNavigationItem($event)"
        (deleteItem)="deleteNavigationItem($event)"
        (saveOrderItems)="saveOrderItems($event)"
        cdkDrag
      >
      </app-navigation-group>
    </div>
    <div fxLayout="row" fxLayoutAlign.gt-xs="end center" fxLayoutAlign.xs="center center" class="container button-padding mb-4">
      <button mat-raised-button color="orange" class="ml-2" [disabled]="isInvalidAddSection" (click)="addSection()">Nuevo grupo</button>
    </div>
  </div>
</div>

<ng-template #templateDeleteNavigationGroup>
  <div ngClass="delete-container">
    <h3 ngClass="title_delete">Eliminar grupo</h3>
    <p ngClass="text-container">¿Está seguro que desea eliminar el grupo seleccionado?</p>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-start center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="5px"
      class="center-buttons"
    >
      <div ngClass="mt-3 mb-2 hide-button-on-mobile">
        <button mat-button ngClass="button_cancel" (click)="cancelDelete()">Cancelar</button>
      </div>
      <div>
        <button mat-button class="red" (click)="deleteNavigationSectionService()">
          <span fxLayoutAlign="center space-between"> Eliminar grupo </span>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDeleteNavigationItem>
  <div ngClass="delete-container">
    <h3 ngClass="title_delete">Eliminar acceso</h3>
    <p ngClass="text-container">¿Está seguro que desea eliminar el acceso seleccionado?</p>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-start center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="5px"
      class="center-buttons"
    >
      <div ngClass="mt-3 mb-2 hide-button-on-mobile">
        <button mat-button ngClass="button_cancel" (click)="cancelDelete()">Cancelar</button>
      </div>
      <div>
        <button mat-button class="red" (click)="deleteNavigationItemService()">
          <span fxLayoutAlign="center space-between"> Eliminar acceso </span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
