<div fxLayoutAlign="start center" fxLayoutGap="1rem">
  <a
    href="https://www.facebook.com/Clickamoficial-111583976917774/"
    rel="noopener noreferrer"
    target="_blank"
    class="gtmHomeClicAppleStoreIcono"
  >
    <span fxLayout="column">
      <img
        src="assets/img/Facebook.svg"
        class="gtmHomeClicAppleStoreIcono"
        alt="Facebook"
      />
    </span>
  </a>
  <a
    href="https://www.instagram.com/clickamoficial/?hl=es"
    rel="noopener noreferrer"
    target="_blank"
    class="gtmHomeClicGooglePlayIcono"
  >
    <span fxLayout="column">
      <img
        src="assets/img/Instagram.svg"
        class="gtmHomeClicGooglePlayIcono"
        alt="Instagram"
      />
    </span>
  </a>

  <a
    href="https://www.youtube.com/channel/UCyJTGsZ1N8qV5JRDeMiC9OQ"
    rel="noopener noreferrer"
    target="_blank"
    class="gtmHomeClicAppGalleryIcono"
  >
    <span fxLayout="column">
      <img
        src="assets/img/YouTube.svg"
        class="gtmHomeClicAppGalleryIcono"
        alt="YouTube"
      /> </span
  ></a>
</div>

<!-- 
<div fxLayoutAlign="start center">
  <a matRipple
    id="facebook-footer"
    href="https://www.facebook.com/Clickamoficial-111583976917774/"
    target="_blank"
    rel="noopener noreferrer"
    class="gtmHomeClicFacebookIcono"
    ><i class="fab fa-facebook-f gtmHomeClicFacebookIcono"></i
  ></a>
  <a matRipple
    id="instagram-footer"
    href="https://www.instagram.com/clickamoficial/?hl=es"
    target="_blank"
    rel="noopener noreferrer"
    class="gtmHomeClicInstagramIcono"
    ><i class="fab fa-instagram gtmHomeClicInstagramIcono"></i
  ></a>
  <a matRipple
    id="youtube-footer"
    href="https://www.youtube.com/channel/UCyJTGsZ1N8qV5JRDeMiC9OQ"
    target="_blank"
    rel="noopener noreferrer"
    class="gtmHomeClicYoutubeIcono"
    ><i class="fab fa-youtube gtmHomeClicYoutubeIcono"></i
  ></a>

</div> -->
