<div fxLayoutAlign="start center">
  <a matRipple
    id="facebook-footer"
    href="https://www.facebook.com/Pling-347571669450553/"
    target="_blank"
    ><i class="fab fa-facebook-f"></i
  ></a>
  <a matRipple
    id="instagram-footer"
    href="https://www.instagram.com/plingcol/"
    target="_blank"
    ><i class="fab fa-instagram"></i
  ></a>
  <a matRipple
    id="youtube-footer"
    href="https://www.youtube.com/channel/UCyJTGsZ1N8qV5JRDeMiC9OQ"
    target="_blank"
    ><i class="fab fa-youtube"></i
  ></a>
  <i id="twitter-footer" class="fab fa-twitter"></i>
</div>
