<div fxLayoutAlign="start center" fxLayoutGap="1rem">
  <a
    href="https://www.facebook.com/Clickamoficial-111583976917774/"
    rel="noopener noreferrer"
    target="_blank"
    class="gtmHomeLogoRedesSocialesFacebook"
  >
    <span fxLayout="column">
      <img src="assets/img/Facebook.svg" class="gtmHomeLogoRedesSocialesFacebook" alt="Facebook" />
    </span>
  </a>
  <a href="https://www.instagram.com/clickamoficial/?hl=es" rel="noopener noreferrer" target="_blank" class="gtmHomeLogoRedesSocialesInstagram">
    <span fxLayout="column">
      <img src="assets/img/Instagram.svg" class="gtmHomeLogoRedesSocialesInstagram" alt="Instagram" />
    </span>
  </a>

  <a
    href="https://www.youtube.com/channel/UCyJTGsZ1N8qV5JRDeMiC9OQ"
    rel="noopener noreferrer"
    target="_blank"
    class="gtmHomeLogoRedesSocialesYoutube"
  >
    <span fxLayout="column"> <img src="assets/img/YouTube.svg" class="gtmHomeLogoRedesSocialesYoutube" alt="YouTube" /> </span
  ></a>
</div>