@import "variables";
@import "general";
@import "animations";

input[type="file"] {
  display: none;
}

.button-selected-label {
  background-color: #37236a;
  padding: 5px 16px 12px 16px;
  box-sizing: border-box;
  color: white;
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px rgb(61 47 86 / 18%),
    0 2px 2px 0 rgb(61 47 86 / 18%), 0 1px 5px 0 rgb(61 47 86 / 18%);
}

.style-icon {
  font-size: 20px;
}

.icon-update {
  position: relative;
  bottom: 3px;
}

.icon-download-file {
  position: relative;
  top: 6px;
  margin-left: 5px;
}

.import-files {
  margin-bottom: 10px;
  h3 {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }
}

.upload-files {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    display: flex;
    margin-right: 30px;
  }
}

.download-files {
  margin-left: 15px;

  .button-selected-label {
    padding: 2px 16px 10px 16px;
  }
}

.dateRange-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.paging-table-transparent .mat-paginator {
  background-color: transparent;
  border: none;
}

.container-search {
  width: 300px;
  margin-right: 30px !important;
}

.container-forms {
  justify-content: space-between;
}

.label-up-text {
  color: #a7a3b1;
  font-family: $font-galano-bold !important;
  margin-bottom: 6px;
  margin-left: 25px;
  font-size: 11px;
}

.icon-date {
  position: relative;
  top: 4px;
  left: 30px;
  font-size: 22px;
  color: #8d7eb7;
}

.border-input {
  border: none;
  outline: none;
  height: 32px;
}

.border-radius {
  border-radius: 5px;
}

.form-control {
  padding-left: 35px !important;
  font-family: $font-galano !important;
}

.border-bottom-gray {
  border-bottom: 1px solid #352767;
}

.title-name {
  font-family: $font-galano-bold;
  font-size: 20px;
  color: $primary-color;

  strong {
    color: #878195;
  }
}

.dataColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;

  h3 {
    margin: 16px 0 5px;
    font-size: 16px;
  }
}

.dataInfo {
  box-sizing: border-box;
  margin: 8px 0 0;

  span {
    display: block;
    font-family: $font-galano-bold;
    color: $gray4;
    font-size: 12px;

    &:first-of-type {
      text-transform: uppercase;
    }
  }

  .normal-text {
    color: $primary-color;
    font-size: 14px;
    font-family: $font-family-sans-serif;
  }
}

.pb-25 {
  padding-bottom: 25px;
}

.rejected-button {
  background-color: $third-color;
  padding: 5px 26px;
  color: white;
}

.eliminated-button {
  background-color: $secondary-color;
  padding: 5px 26px;
  color: white;
}

.users-table.commissions-table {
  .link-style {
    color: $purple2;
    text-decoration: underline;
  }

  th.mat-header-cell, td.mat-cell {
    padding: 5px 8px;
  }

  td.mat-cell {
    font-size: 12px;
  }
}

.buttons-container {
  margin-top: 30px;
  margin-bottom: 1rem;

  .cancel-button {
    background-color: transparent;
    border: none;
    margin-right: 20px;
  }
}