@import "variables";
@import "general";
@import "animations";

input[type="file"] {
  display: none;
}

.button-selected-label {
  background-color: #37236a;
  padding: 5px 16px 12px 16px;
  box-sizing: border-box;
  color: white;
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px rgb(61 47 86 / 18%),
    0 2px 2px 0 rgb(61 47 86 / 18%), 0 1px 5px 0 rgb(61 47 86 / 18%);
}

.style-icon {
  font-size: 20px;
}

.icon-update {
  position: relative;
  bottom: 3px;
}

.icon-download-file {
  position: relative;
  top: 6px;
  margin-left: 5px;
}

.import-files {
  margin-bottom: 10px;
  h3 {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }
}

.upload-files {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    display: flex;
    margin-right: 30px;
  }
}

.download-files {
  margin-top: 20px;
}