<div *ngIf="data.showCarousel" class="modal-stories">
  <button id="closeDialogStories" matRipple (click)="onNoClick()">
    <mat-icon class="close cursor-pointer">close</mat-icon>
  </button>
  <ngx-slick-carousel
    [config]="slideConfig"
    #slickModalStories="slick-carousel"
    (init)="slickInit($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <app-card-story
      class="card"
      ngxSlickItem
      *ngFor="let business of data.storiesBusiness; let i = index"
      [stories]="filterStoriesBusiness(business.idbusiness)"
      [pause]="business.pause"
      [id]="'story-' + i"
      [index]="i"
      [currentSlick]="data.id"
      [showCarousel]="data.showCarousel"
      [userId]="data.userId"
      (nextStory)="nextOrClose($event)"
      (prevStory)="prev()"
    ></app-card-story>
    <div ngxSlickItem style="display: none"></div>
    <div ngxSlickItem style="display: none"></div>
    <div ngxSlickItem style="display: none"></div>
  </ngx-slick-carousel>
  <div class="arrows" *ngIf="showArrows === true">
    <button id="arrow-prev" color="orange" class="slick-arrow arrow-left">
      <img loading="lazy"*ngIf="showArrowLeft === true" src="/assets/img/slick-arrow-left.svg" alt="arrow left" />
    </button>
    <button id="arrow-next" color="orange" class="slick-arrow arrow-right">
      <img loading="lazy"*ngIf="showArrowRight === true" src="/assets/img/slick-arrow-right.svg" alt="arrow right" />
    </button>
  </div>
</div>

<div *ngIf="!data.showCarousel" class="modal-stories">
  <button id="closeDialogStories" matRipple (click)="onNoClick()">
    <mat-icon class="close cursor-pointer">close</mat-icon>
  </button>
  <div *ngIf="data.stories[data.id]" class="single-item">
    <app-card-story
      class="card only"
      [stories]="[data.stories[data.id]]"
      [pause]="data.stories[data.id].pause"
      [id]="'story-modal-' + data.id"
      [index]="data.id"
      [currentSlick]="data.id"
      [showProgress]="true"
      [showShared]="false"
      [showCarousel]="false"
    ></app-card-story>
  </div>
</div>
