<app-banner
  title="Navegación"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>
<div class="container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>MENÚ VISITANTE</span>
      </ng-template>
      <app-navigation-menu></app-navigation-menu>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span>FOOTER</span>
      </ng-template>
      <app-navigation-footer></app-navigation-footer>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span>MENÚ CLICKER</span>
      </ng-template>
      <app-navigation-menu-clicker></app-navigation-menu-clicker>
    </mat-tab>
  </mat-tab-group>
</div>
