<div class="frequent container mb-3">
  <h1>{{ "FREQUENT.FREQUENT_QUESTIONS" | translate }}</h1>
  <p>{{ "FREQUENT.FREQUENT_QUESTIONS_DESCRIPTION" | translate }}</p>


<div class="questions">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        This is the expansion 1 title
      </mat-expansion-panel-header>

      This the expansion 1 content
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        This is the expansion 2 title
      </mat-expansion-panel-header>

      This the expansion 2 content
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>