<app-logo></app-logo>

<div class="frequent container mb-3">
  <h1>{{ "FREQUENT.FREQUENT_QUESTIONS" | translate }}</h1>
  <p>{{ "FREQUENT.FREQUENT_QUESTIONS_DESCRIPTION" | translate }}</p>


<div class="questions">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">

      <mat-expansion-panel-header class="gtmPreguntaClicLatrlFunciona">
        <span class="gtmPreguntaClicLatrlFunciona">{{ "FREQUENT.HOW_WORKS_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.HOW_WORKS_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="grmPreguntaClicLatrlVenta">
        <span class="grmPreguntaClicLatrlVenta">{{ "FREQUENT.SALES_TITLE" | translate }}</span>  
      </mat-expansion-panel-header>
      {{ "FREQUENT.SALES_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaClicLatrlComisiones">
        <span class="gtmPreguntaClicLatrlComisiones">{{ "FREQUENT.WON_COMISSION_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.WON_COMISSION_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaClicLatrlOfertas">
        <span class="gtmPreguntaClicLatrlOfertas"> {{ "FREQUENT.BEST_OFFER_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.BEST_OFFER_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaClicLatrlNegocios">
        <span class="gtmPreguntaClicLatrlNegocios">{{ "FREQUENT.ASSOCIATED_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      <div innerHtml="{{ 'FREQUENT.ASSOCIATED_DESCRIPTION' | translate }}"></div> 
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaClicLatrlFechasPago">
        <span class="gtmPreguntaClicLatrlFechasPago">{{ "FREQUENT.PAYDAYS_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      <div innerHtml="{{ 'FREQUENT.PAYDAYS_DESCRIPTION' | translate }}"></div> 
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaClicLatrlDondePagan">
        <span class="gtmPreguntaClicLatrlDondePagan">{{ "FREQUENT.WHERE_PAY_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.WHERE_PAY_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaClicLatrlMediosPagos">
        <span class="gtmPreguntaClicLatrlMediosPagos">{{ "FREQUENT.PAYMET_METHODS_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.PAYMET_METHODS_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaClicLatrlEnvios">
        <span class="gtmPreguntaClicLatrlEnvios">{{ "FREQUENT.SHIPMENT_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      <div innerHtml="{{ 'FREQUENT.SHIPMENT_DESC' | translate }}"></div> 
    </mat-expansion-panel>


  </mat-accordion>
</div>
</div>