<app-logo></app-logo>

<div class="frequent container mb-3">
  <h1>{{ "FREQUENT.FREQUENT_QUESTIONS" | translate }}</h1>
  <p>{{ "FREQUENT.FREQUENT_QUESTIONS_DESCRIPTION" | translate }}</p>


<div class="questions">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">

      <mat-expansion-panel-header class="gtmPreguntaFrecuenteClicFunciona">
        <span class="gtmPreguntaFrecuenteClicFunciona">{{ "FREQUENT.HOW_WORKS_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.HOW_WORKS_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="grmPreguntaFrecuenteClicCruzanVenta">
        <span class="grmPreguntaFrecuenteClicCruzanVenta">{{ "FREQUENT.SALES_TITLE" | translate }}</span>  
      </mat-expansion-panel-header>
      {{ "FREQUENT.SALES_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaFrecuenteClicComisiones">
        <span class="gtmPreguntaFrecuenteClicComisiones">{{ "FREQUENT.WON_COMISSION_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.WON_COMISSION_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaFrecuenteClicOfertas">
        <span class="gtmPreguntaFrecuenteClicOfertas"> {{ "FREQUENT.BEST_OFFER_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.BEST_OFFER_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaFrecuenteClicNegocios">
        <span class="gtmPreguntaFrecuenteClicNegocios">{{ "FREQUENT.ASSOCIATED_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      <div innerHtml="{{ 'FREQUENT.ASSOCIATED_DESCRIPTION' | translate }}"></div> 
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaFrecuenteClicFechasPago">
        <span class="gtmPreguntaFrecuenteClicFechasPago">{{ "FREQUENT.PAYDAYS_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      <div innerHtml="{{ 'FREQUENT.PAYDAYS_DESCRIPTION' | translate }}"></div> 
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaFrecuenteClicDondePagan">
        <span class="gtmPreguntaFrecuenteClicDondePagan">{{ "FREQUENT.WHERE_PAY_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.WHERE_PAY_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaFrecuenteClicMediosPagos">
        <span class="gtmPreguntaFrecuenteClicMediosPagos">{{ "FREQUENT.PAYMET_METHODS_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      {{ "FREQUENT.PAYMET_METHODS_DESCRIPTION" | translate }}
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header class="gtmPreguntaFrecuenteClicEnvios">
        <span class="gtmPreguntaFrecuenteClicEnvios">{{ "FREQUENT.SHIPMENT_TITLE" | translate }}</span>
      </mat-expansion-panel-header>
      <div innerHtml="{{ 'FREQUENT.SHIPMENT_DESC' | translate }}"></div> 
    </mat-expansion-panel>


  </mat-accordion>
</div>
</div>