<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1 id="resultError">
                        Oops!</h1>
                    <h2 id="notResults">
                        No hay resultados</h2>
                    <div class="error-details">
                         No se encontro lo que estabas buscando!
                    </div>
                </div>
            </div>
        </div>
    </div>
    