<div class="wrapper" *ngIf="slides.length">
  <a class="close-dialog" matRipple (click)="onNoClick()"><mat-icon class="close cursor-pointer">close</mat-icon></a>
  <ngx-slick-carousel id="onboarding-slick" class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div class="item" ngxSlickItem *ngFor="let item of slides">
      <img [src]="item.imagemobile" class="img-mobile" alt="Onboarding" />
      <img [src]="item.imageweb" class="img-desktop" alt="Onboarding" />

      <div class="actions">
        <a mat-button [href]="item.linkname1" *ngIf="item.buttonname1 && item.linkname1">
          {{ item.buttonname1 }}
        </a>
        <a mat-button [href]="item.linkname2" *ngIf="item.buttonname2 && item.linkname2">
          {{ item.buttonname2 }}
        </a>
      </div>
    </div>
  </ngx-slick-carousel>
  <div class="arrows" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-icon-button color="orange" class="op" (click)="prev()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-icon-button color="orange" class="op" (click)="next()">
      <mat-icon>arrow_forward_ios </mat-icon>
    </button>
  </div>
</div>
