<div class="container mt-4">
  <h3 class="gray">{{ "DASHBOARD.USERS" | translate }}</h3>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.xs="space-between" fxLayoutAlign.sm="space-between"  fxLayoutAlign="flex-start flex-start" fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="33" fxFlex.xs="100" fxFlex.sm="100">
      <app-card-dashboard
        [circle]="percent"
        [cifer]="totalUsers"
        [cifer2]="totalActiveUsers"
      ></app-card-dashboard>
    </div>
    <div fxLayout="column" fxFlex="33" fxFlex.xs="100" fxFlex.sm="100">
      <app-card-dashboard-info
        icon="/assets/img/dashboard/icono-usuarriosregistrados.svg"
        iconClass="icon-dashboard"
        title=""
        [dataNumber]="totalMonthRegisterUsers"
        textData="{{ 'DASHBOARD.TOTAL_MONTH' | translate }}"
        cifer2="2.1"
        textData2="{{ 'DASHBOARD.TODAY' | translate }}"
        aligment="flex-end flex-end"
        [cifer3]="todayRegisterUsers"
      ></app-card-dashboard-info>
    </div>
    <div fxLayout="column" fxFlex="33" fxFlex.xs="100" fxFlex.sm="100">
      <app-card-dashboard-info
        icon="/assets/img/dashboard/icono-usuarios-activos.svg"
        iconClass="icon-dashboard"
        title=""
        [dataNumber]="totalMonthRegisterActive"
        textData="{{ 'DASHBOARD.ACTIVE_MONTH' | translate }}"
        textData2="{{ 'DASHBOARD.YESTERDAY' | translate }}"
        aligment="flex-end flex-end"
        [cifer3]="todayActiveUsers"
      ></app-card-dashboard-info>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.xs="space-between" fxLayoutAlign.sm="space-between" fxLayoutAlign="flex-start flex-start" fxLayoutGap="20px" class="mb-4">
    <div fxLayout="column" fxFlex="28" fxFlex.xs="100" fxFlex.sm="100">
      <app-card-dashboard-info
        icon="/assets/img/dashboard/Icono-ventas.svg"
        iconClass="icon-dashboard-bottom"
        title="{{ 'DASHBOARD.SELLS' | translate }}"
        [dataNumberBottom]="salesMonth"
        textBottomCard ="{{ 'DASHBOARD.MONTH' | translate }}"
        aligment="center center"
        textData4 = "{{ 'DASHBOARD.YESTERDAY2' | translate }}"
        [cifer4]="salesMonthTotalYesterday"
        textData5 = "{{ 'DASHBOARD.TOTAL' | translate }}"
        [cifer5]="salesMonthTotalYesterday"
      ></app-card-dashboard-info>
    </div>
    <div fxLayout="column" fxFlex="28" fxFlex.xs="100" fxFlex.sm="100">
      <app-card-dashboard-info
        icon="/assets/img/dashboard/Icono-comisiones.svg"
        iconClass="icon-dashboard-bottom"
        title="{{ 'DASHBOARD.COMMISSIONS' | translate }}"
        [dataNumberBottom]="commissionMonth"
        textBottomCard ="{{ 'DASHBOARD.MONTH' | translate }}"
        aligment="center center"
        textData4 = "{{ 'DASHBOARD.YESTERDAY2' | translate }}"
        [cifer4]="commissionMonthYesterday"
        textData5 = "{{ 'DASHBOARD.TOTAL' | translate }}"
        [cifer5]="commissionMonthTotalYesterday"
      ></app-card-dashboard-info>
    </div>
    <div fxLayout="column" fxFlex="28" fxFlex.xs="100" fxFlex.sm="100">
      <app-card-dashboard-info
        icon="/assets/img/dashboard/Icono-links-generados.svg"
        iconClass="icon-dashboard-bottom"
        title="{{ 'DASHBOARD.LINKS_GENERATED' | translate }}"
        [dataNumberBottom]="linksMonth"
        textBottomCard ="{{ 'DASHBOARD.MONTH' | translate }}"
        aligment="center center"
        textData4 = "{{ 'DASHBOARD.TODAY' | translate }}"
        [cifer4]="linksMonthYesterday"
        textData5 = "{{ 'DASHBOARD.TOTAL' | translate }}"
        [cifer5]="linksMonthTotalYesterday"
        [links] = "links"
      ></app-card-dashboard-info>
    </div>
  </div>
</div>
