@import 'animations';
@import 'variables';
@import 'mixins';
@import 'general';

.login {
  box-shadow: none !important;
}

.mat-transparent {
  background: transparent;
}

.link {
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.text-decoration {
  text-decoration: underline;
}

.bg-gray {
  background: #ececec5f;
  overflow: hidden;
}

.border-gray {
  border-top: 1px solid $gray2;
}

.title {
  &-h3 {
    font-size: 23px;
  }
}

.img-responsive {
  max-width: 100%;
}

// .bg-slide {
//   background: url('/assets/img/home/bg-videos.jpg') no-repeat;
//   background-size: cover;
// }

.imgsection {
  max-width: 100%;
}

.bg-welcome {
  background: url('/assets/img/home/bg-home.png') no-repeat;
  background-size: cover;
}

.card-library {
  border-radius: 10px;
  background-color: #947fba;
  color: #ffffff;
  margin-bottom: 15px;
  padding-left: 20px;
  h3 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 20px !important;
    margin-bottom: 12px !important;
  }
}
.button-oferts {
  width: 140px;
}
.position-absolute {
  position: absolute;
}
.heigth-image {
  height: 118px;
}
.text-area-heigth {
  width: 100%;
  height: 80px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.text-area-heigth::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f3f1f680;
}
.label-up-text {
  color: #ffffff;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .card-library {
    h3 {
      font-size: 14px;
      width: 200px;
    }
    .button-oferts {
      width: 110px;
    }
  }
  .heigth-image {
    height: auto;
  }
  .text-area-heigth {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.forms-help {
  background-color: #8d7eb7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  margin: -5px;
}
.text-cuentanos {
  font-size: 24px;
  color: #ffffff;
}
.expresion-cuentanos {
  font-size: 18px;
  color: #ffffff;
}
.open-form {
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
}
.arrow-down {
  position: relative;
  top: 6px;
}

.stories-section {
  margin: 0;
  padding: 0;
}

#urlLink {
  border: none;
  width: 100%;
}

.cpb {
  position: relative;
  top: -3px;
}

.card{
  &.purple{
    background: $primary-color;
    color: #ffffff;
  }
}

.underline{
  text-decoration: underline;
}

.white {
  color: #ffffff;
}

.fix{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

