@import 'animations';
@import 'variables';
@import 'general';

.login{
    box-shadow: none !important;
  }

  .mat-transparent{
    background: transparent;
  }

  .link{
    color: $primary-color;
    text-decoration: underline;
    cursor: pointer;
  }

  .cursor{
    &-pointer{
      cursor: pointer;
    }
  }
  
  .text-decoration{
      text-decoration: underline;
  }
  

.bg-gray{
  background: #ECECEC5F;
  overflow: hidden;
}

.border-gray{
  border-top: 1px solid $gray2;
}

.title{
  &-h3{
    font-size: 23px;
  }
}

.img-responsive{
  max-width: 100%;
}

.bg-slide{
  background: url('/assets/img/home/bg-videos.jpg') no-repeat;
  background-size: cover;
}

.medals{
  position: relative;
  .mat-card{
    background: transparent linear-gradient(180deg, #FD6A6A 0%, #FF7C7C 100%) 0% 0% no-repeat padding-box;
    min-height: 90px;
    width: 360px;
  }
}

.icon-medal{
  position: absolute;
  top: 0;
  left: 20px;
}