@import 'animations';
@import 'variables';
@import 'general';

.login{
    box-shadow: none !important;
  }

  .mat-transparent{
    background: transparent;
  }

  .link{
    color: $primary-color;
    text-decoration: underline;
    cursor: pointer;
  }

  .cursor{
    &-pointer{
      cursor: pointer;
    }
  }
  
  .text-decoration{
      text-decoration: underline;
  }
  

.bg-gray{
  background: #ECECEC5F;
  overflow: hidden;
}

.border-gray{
  border-top: 1px solid $gray2;
}

.title{
  &-h3{
    font-size: 23px;
  }
}

.img-responsive{
  max-width: 100%;
}