<app-logo></app-logo>
<app-slider (action)="sliderOffers()"  [sliderMobile]="newsSlider.mobile" [sliderWeb]="newsSlider.web"></app-slider>


<div class="container">
  <span class="border-gray d-block"></span>
  <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.BUSSINESS' | translate }}</h3>
  <app-bussiness-card *ngFor="let bussines of bussiness" [img]="bussines.imageurl" [title]="bussines.description" [percent]="bussines.infoaditional" ></app-bussiness-card>
  <span class="border-gray d-block"></span>
  <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.OFFERS' | translate }}</h3>
</div>

<app-slider (action)="sliderOffers()" [sliderMobile]="offers.mobile" [sliderWeb]="offers.web" class="mb-3"></app-slider>

