<app-title commonClass="pl-3 pr-3" showTitleh3="true" text="Agregar partner"></app-title>

<form fxLayout="column" [formGroup]="partnerForm" class="w-100">
    <mat-form-field>
        <input matInput id="firstNames" type="text" placeholder="Nombres" formControlName="firstNames" maxlength="100" required />
        <mat-error id="requiredDescription" *ngIf="partnerForm.controls.firstNames.invalid && partnerForm.controls.firstNames.errors.required">{{
          'GENERIC.REQUIRED' | translate: { formValue: 'Nombres' }
        }}</mat-error>
      </mat-form-field>

    <mat-form-field>
        <input matInput id="lastNames" type="text" placeholder="Apellidos" formControlName="lastNames" maxlength="100" required/>
        <mat-error id="requiredDescription" *ngIf="partnerForm.controls.lastNames.invalid && partnerForm.controls.lastNames.errors.required">{{
          'GENERIC.REQUIRED' | translate: { formValue: 'Apellidos' }
        }}</mat-error>
      </mat-form-field>

  <mat-form-field>
    <input matInput id="email" type="email" placeholder="{{ 'GENERIC.EMAIL' | translate }}" formControlName="email" spacebar required />
    <mat-error id="introduceEmail" *ngIf="partnerForm.controls.email.invalid && partnerForm.controls.email.errors.required">{{
      'LOGIN.INTRODUCE_EMAIL' | translate
    }}</mat-error>
    <mat-error id="invalidEmail" *ngIf="partnerForm.controls.email.invalid && partnerForm.controls.email.errors.pattern">{{
      'LOGIN.INVALID_EMAIL' | translate
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-pass-toggle-visibility #toggleVisbility0 matSuffix></mat-pass-toggle-visibility>
    <input
      matInput
      id="password"
      type="password"
      placeholder="{{ 'GENERIC.PASSWORD' | translate }}"
      formControlName="password"
      [type]="toggleVisbility0.type"
      required
      spacebar
    />
    <mat-error id="requiredPassword" *ngIf="partnerForm.controls.password.invalid && partnerForm.controls.password.errors.required">{{
      'GENERIC.REQUIRED' | translate: { formValue: 'Contraseña' }
    }}</mat-error>

    <mat-error id="minPassword" *ngIf="partnerForm.controls.password.invalid && partnerForm.controls.password.errors.minlength">{{
      'GENERIC.MIN_CHARACTERS'
        | translate
          : {
              minchar: partnerForm.controls.password.errors.minlength.requiredLength
            }
    }}</mat-error>

    <mat-error id="maxPassword" *ngIf="partnerForm.controls.password.invalid && partnerForm.controls.password.errors.maxlength">{{
      'GENERIC.MAX_CHARACTERS'
        | translate
          : {
              maxchar: partnerForm.controls.password.errors.maxlength.requiredLength
            }
    }}</mat-error>

    <mat-error id="patternPassword" *ngIf="partnerForm.controls.password.invalid && partnerForm.controls.password.errors.pattern">{{
      'GENERIC.PASSWORD_PATTERN' | translate
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-pass-toggle-visibility #toggleVisbility1 matSuffix></mat-pass-toggle-visibility>
    <input
      matInput
      id="confirmPassword"
      type="password"
      placeholder="{{ 'GENERIC.CONFIRM_PASSWORD' | translate }}"
      formControlName="confirmPassword"
      [type]="toggleVisbility1.type"
      required
      spacebar
    />
    <mat-error
      id="notmatchPassword"
      *ngIf="partnerForm.get('confirmPassword').errors && partnerForm.get('confirmPassword').errors.ConfirmPassword"
      >{{ 'REGISTER.PASSWORD_NOT_MATCH' | translate }}</mat-error
    >

    <mat-error
      id="requiredConfirmPassword"
      *ngIf="partnerForm.controls.confirmPassword.invalid && partnerForm.controls.confirmPassword.errors.required"
      >{{ 'GENERIC.REQUIRED' | translate: { formValue: 'Contraseña' } }}</mat-error
    >

    <mat-error
      id="minConfirmPassword"
      *ngIf="partnerForm.controls.confirmPassword.invalid && partnerForm.controls.confirmPassword.errors.minlength"
      >{{
        'GENERIC.MIN_CHARACTERS'
          | translate
            : {
                minchar: partnerForm.controls.confirmPassword.errors.minlength.requiredLength
              }
      }}</mat-error
    >

    <mat-error
      id="maxConfirmPassword"
      *ngIf="partnerForm.controls.confirmPassword.invalid && partnerForm.controls.confirmPassword.errors.maxlength"
      >{{
        'GENERIC.MAX_CHARACTERS'
          | translate
            : {
                maxchar: partnerForm.controls.confirmPassword.errors.maxlength.requiredLength
              }
      }}</mat-error
    >
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
    <app-button id="cancelp" title="Cancelar" [haveIcon]="false" (action)="onNoClick()" color="white" classButton="no-shadow"></app-button>
    <app-button
      id="savep"
      title="Guardar"
      [haveIcon]="false"
      (action)="savePartner()"
      classButton="shadow-purple"
      [disabled]="!partnerForm.valid"
    ></app-button>
  </div>
</form>
