<div class="store" fxLayout="row" fxLayoutAlign="space-evenly center">
<a href="https://apps.apple.com/co/app/clickam/id1495823258" target="_blank" class="gtmHomeClicAppleStoreIcono">
    <span fxLayout="column">
      <img src="assets/img/store/Applestore.png" class="gtmHomeClicAppleStoreIcono" />
      <p>Apple Store</p>
    </span>
</a>
<a *ngIf="showLogo" href="https://play.google.com/store/apps/details?id=com.clickam.appcompania" target="_blank" class="gtmHomeClicGooglePlayIcono">
  <span fxLayout="column">
    <img src="assets/img/store/GooglePlay.png" class="gtmHomeClicGooglePlayIcono" />
    <p>Google Play</p>
  </span></a>
  <a *ngIf="showLogo" href="https://appgallery.cloud.huawei.com/marketshare/app/C101678383?locale=es_US&source=appshare&subsource=C101678383" target="_blank" class="gtmHomeClicAppGalleryIcono">
  <span fxLayout="column">
    <img src="assets/img/store/AppGallery.png" class="gtmHomeClicAppGalleryIcono" />
    <p>App Gallery</p>
  </span></a>
</div>
