<!-- <div class="store" fxLayout="row" fxLayoutAlign="space-evenly center"> -->
<div class="stores-container">
  <a
    href="https://apps.apple.com/co/app/clickam/id1495823258"
    rel="noopener noreferrer"
    target="_blank"
    class="gtmHomeClicAppleStoreIcono apple"
  >
    <span fxLayout="column">
      <img width="100" height="25" loading="lazy"src="assets/img/store/Applestore-v2.svg" class="gtmHomeClicAppleStoreIcono" alt="Icon-Store" />
      <!-- <p class="white gtmHomeClicAppleStoreIcono">Apple Store</p> -->
    </span>
  </a>
  <a
    *ngIf="showLogo"
    href="https://play.google.com/store/apps/details?id=com.clickam.appcompania"
    rel="noopener noreferrer"
    target="_blank"
    class="gtmHomeClicGooglePlayIcono"
  >
    <span fxLayout="column">
      <img width="100" height="25" loading="lazy"src="assets/img/store/GooglePlay-v2.svg" class="gtmHomeClicGooglePlayIcono" alt="Icon-Google" />
      <!-- <p class="white gtmHomeClicGooglePlayIcono">Google Play</p> -->
    </span></a
  >
  <a
    *ngIf="showLogo"
    href="https://appgallery.cloud.huawei.com/marketshare/app/C101678383?locale=es_US&source=appshare&subsource=C101678383"
    rel="noopener noreferrer"
    target="_blank"
    class="gtmHomeClicAppGalleryIcono"
  >
    <span fxLayout="column">
      <img width="100" height="25" loading="lazy"src="assets/img/store/AppGallery-v2.svg" class="gtmHomeClicAppGalleryIcono" alt="Icon-Galery-Huawei" />
      <!-- <p class="white gtmHomeClicAppGalleryIcono">App Gallery</p> -->
    </span></a
  >
</div>
