
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slider; let i = index" class="slide m-2 p-0" fxLayoutAlign="center center">
        <mat-card class="card-testimonial" fxFlex.xs="100%">
            <i class="tio-quotes top font"></i>
            <app-title showTitleh3="true" [text]="slide.title"></app-title>
            <p ngClass.xs="f-16">{{slide.testimony}}</p>
            <i class="tio-quotes bottom font"></i>
        </mat-card>
    </div>
  </ngx-slick-carousel>
