
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slider; let i = index" class="slide m-2 p-0" fxLayoutAlign="center center">
        <mat-card class="card-testimonial" fxFlex.gt-xs="40%" fxFlex.xs="100%">
            <i class="tio-quotes top font"></i>
            <app-title showTitleh3="true" [text]="slide.title"></app-title>
            <p>{{slide.testimonial}}</p>
            <i class="tio-quotes bottom font"></i>
        </mat-card>
    </div>
  </ngx-slick-carousel>

  <div fxHide.xs="true" class="position-absolute" fxLayout="row" fxLayoutAlign="space-around">
    <button mat-mini-fab color="orange" class="ml-4 op" (click)="prev()">
      <i class="tio-back_ui f-20 arrow-position"></i>
    </button>
    <button mat-mini-fab color="orange" class="mr-4 op" (click)="next()">
      <i class="tio-next_ui f-20 arrow-position"></i>
    </button>
  </div>

