@import "variables";
@import "general";

.table-container {
  overflow: auto;
  margin: 40px 0 30px;
  max-height: 65vh;
  min-height: 420px;
  position: relative;
  width: 100%;

  .highlighted-column {
    background-color: #FFDEB8;
    color: #D8821D !important;
  }
}

table.setting th:first-of-type,
table.setting tr td:first-of-type {
  position: sticky;
  left: 0;
  z-index: 6;
}

table.setting tr td:first-of-type {
  background-color: white;
}

table.setting th {
  position: sticky;
  top: 0;
  z-index: 6;
  background-color: #f3f1f6;

  &:first-of-type {
    z-index: 10;
  }
}

.user-container {
  p {
    margin: 0;
    font-family: $font-family-sans-serif;
    font-size: 14px;
  }

  .super-admin {
    color: #FFBC6D;
    font-size: 10px;
    font-family: $font-galano-bold;
  }
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}

.button-save {
  background-color: #37236a;
  box-shadow: 0px 3px 9px #3a226a80;
  color: #ffffff;
  padding: 5px 30px;
  margin-right: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-r-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.delete-container {
  max-width: 395px;
  text-align: center;
}

.center-buttons {
  justify-content: center !important;
  margin-top: 20px;
}

.title_delete {
  color: #f21905;
}