<app-banner
  title="Configuración"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>
<div class="container">
  <div class="table-container">
    <table mat-table [dataSource]="servicios" class="users-table setting">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="min-width: 230px; font-weight: bold; ">Nombre</th>
        <td mat-cell *matCellDef="let element: let i=index" >
          <div class="flex-r-sb">
            <div class="user-container">
              <p>{{element.fullname}}</p>
              <p *ngIf="element.issuperadmin" class="super-admin">SUPER ADMIN</p>
            </div>
            <img
              class="cursor-pointer {{element.userid == userId || role !== 'SUPERADMIN' ? 'icon-disabled' : ''}}"
              (click)="openConfirmPassword(element.userid)"
              src="/assets/img/dashboard/icon-remove-comision.svg"
              alt="delete"
            />
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="superadmin">
        <th mat-header-cell *matHeaderCellDef class="highlighted-column" style="min-width: 110px; font-weight: bold; text-align: center;">Super Admin</th>
        <td mat-cell *matCellDef="let element: let i=index"> 
          <div class="flex-center">
              <mat-slide-toggle 
                [disabled]="element.userid == userId || role !== 'SUPERADMIN'"
                [(ngModel)]="element.issuperadmin"
                (change)="cambio()"
                color="orange2-toggle" 
              ></mat-slide-toggle>
          </div>
        </td>
      </ng-container>
      <ng-container 
        *ngFor="let column of permisionColumns"
        matColumnDef="{{column.menu.split(' ')[0]}}"
      >
        <th mat-header-cell *matHeaderCellDef style="min-width: 110px; font-weight: bold; text-align: center;">{{column.menu}}</th>
        <td mat-cell *matCellDef="let element: let i=index"> 
          <div class="flex-center">
            <mat-checkbox
              (change)="changePermission($event, i, column.idmenu)"
              [checked]="getPermissionValue(element, column.idmenu)"
              [disabled]="element.issuperadmin || role !== 'SUPERADMIN'"
              class="check-dull-purple"
            >
            </mat-checkbox>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;let i= index" ></tr>
    </table>
  </div>
  <div class="buttons-container">
    <button mat-raised-button class="button-save" (click)="addNewAdmin()">Agregar administrador</button>
    <button mat-raised-button class="button-save" (click)="saveeraser()" [disabled]="disableBoton" >Guardar cambios</button>
  </div>
</div>

<ng-template #templateDeleteAdmin>
  <div [formGroup]="adminFormDelete" ngClass="delete-container">
    <h3 ngClass="title_delete">Eliminar administrador</h3>
    <p ngClass="text-container">
      ¿Está seguro que desea eliminar el administrador seleccionado?
    </p>
    <mat-form-field ngClass="mb-2">
      <mat-pass-toggle-visibility
        #toggleVisbility
        matSuffix
      ></mat-pass-toggle-visibility>
      <input
        matInput
        id="password"
        [type]="toggleVisbility.type"
        placeholder="{{ 'GENERIC.PASSWORD' | translate }}"
        autocomplete="new-password"
        formControlName="Password"
        spacebar
        required
      />

      <mat-error
        id="introducePassword"
        *ngIf="
          adminFormDelete.controls.Password.invalid &&
          adminFormDelete.controls.Password.errors.required
        "
        >{{ "LOGIN.INTRODUCE_PASSWORD" | translate }}</mat-error
      >

      <mat-error
        id="minPassword"
        *ngIf="
          adminFormDelete.controls.Password.invalid &&
          adminFormDelete.controls.Password.errors.minlength
        "
        >{{
          "GENERIC.MIN_CHARACTERS"
            | translate
        }}</mat-error
      >
      <mat-error
        id="maxPassword"
        *ngIf="
          adminFormDelete.controls.Password.invalid &&
          adminFormDelete.controls.Password.errors.maxlength
        "
        >{{
          "GENERIC.MAX_CHARACTERS"
            | translate
        }}</mat-error
      >
    </mat-form-field>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-start center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="5px"
      class="center-buttons"
    >
      <div>
        <button mat-button ngClass="button_cancel" (click)="cancel()">
          Cancelar
        </button>
      </div>
      <div>
        <button
          mat-button
          class="red"
          (click)="deleteAdminService()"
          [disabled]="!adminFormDelete.valid"
          [ngClass]="{ 'red-disable': !adminFormDelete.valid }"
        >
          <span fxLayoutAlign="center space-between">Eliminar</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateAddAdmin>
  <div>
    <form [formGroup]="dataAddAdmin">
      <mat-form-field style="width: 370px">
        <input
          matInput
          placeholder="NOMBRE"
          formControlName="name"
          type="text"
          required
          style="color: #37236a"
        />
        <mat-error
          id="requiredName"
          *ngIf="
            dataAddAdmin.controls.name.invalid &&
            dataAddAdmin.controls.name.errors.required
          "
          >{{
            "GENERIC.REQUIRED" | translate: { formValue: "Nombre" }
          }}</mat-error
        >
      </mat-form-field>
      <mat-form-field style="width: 370px">
        <input
          matInput
          placeholder="CORREO ELECTRÓNICO"
          formControlName="email"
          autocomplete="off"
          type="text"
          required
          style="color: #37236a"
        />
        <mat-error
          id="requiredName"
          *ngIf="
            dataAddAdmin.controls.email.invalid &&
            dataAddAdmin.controls.email.errors.required
          "
          >{{
            "GENERIC.REQUIRED" | translate: { formValue: "Correo electrónico" }
          }}</mat-error
        >
      </mat-form-field>
      <mat-form-field style="width: 370px">
        <input
          matInput
          placeholder="CONTRASEÑA TEMPORAL"
          formControlName="password"
          autocomplete="new-password"
          type="password"
          required
          style="color: #37236a"
        />
        <mat-error
          id="requiredName"
          *ngIf="
            dataAddAdmin.controls.password.invalid &&
            dataAddAdmin.controls.password.errors.required
          "
          >{{
            "GENERIC.REQUIRED" | translate: { formValue: "Contraseña temporal" }
          }}</mat-error
        >
      </mat-form-field>
    </form>

    <div class="mt-3 mb-2" fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="cancel()">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="orange"
        (click)="addAdminService()"
        id="download-users"
        class="ml-2"
        [disabled]="!dataAddAdmin.valid"
      >
        Agregar
      </button>
    </div>
  </div>
</ng-template>