<app-banner
  title="Catálogos"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>

<div class="container">
  <div>
    <h3 class="popup-category">Catálogos publicados <span class="line"></span></h3>
    <app-catologue-card
      *ngFor="let element of dataCatalogueActive; let i = index"
      [idCatalogue]="element.id"
      [title]="element.description"
      [download]="element.download"
      [img]="element.imageurl"
      [links]="element.urls.length"
      [template]="element.template"
      [dateStart]="element.startdate"
      [dateEnd]="element.enddate"
      [showHidden]="element.active"
      (edit)="editCatalogueModal(element)"
      (delete)="deleteCatalogue($event)"
      (setShowHidden)="activate($event)"
    >
    </app-catologue-card>

    <h3 class="popup-category">Catálogos Inactivos <span class="line"></span></h3>
    <app-catologue-card
      *ngFor="let element of dataCatalogueInactive; let i = index"
      [idCatalogue]="element.id"
      [title]="element.description"
      [download]="element.download"
      [img]="element.imageurl"
      [links]="element.urls.length"
      [template]="element.template"
      [dateStart]="element.startdate"
      [dateEnd]="element.enddate"
      [showHidden]="element.active"
      (edit)="editCatalogueModal(element)"
      (delete)="deleteCatalogue($event)"
      (setShowHidden)="activate($event)"
    >
    </app-catologue-card>
  </div>

  <div fxLayoutAlign="end center">
    <app-button title="Agregar catálogo" (action)="addCatalogue()" [haveIcon]="false" class="mb-3" classButton="shadow-purple"></app-button>
  </div>
</div>
