<div
class="row align-content-center justify-content-center"
@simpleFadeAnimation
>
<div class="col-sm-12">
  <mat-card color="transparent" class="login">
    <mat-card-header class="container p-0">
      <mat-card-title id="{{idTitle}}"
        ><h2 class="border-bottom-orange-init">
         {{title}}
        </h2></mat-card-title
      >
      <mat-card-subtitle>
        <p class="text-left">
          {{ description }}
          <span class="link" (click)="showRegister()" id="{{idAction}}"
            >{{ action }}
          </span>
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngTemplateOutlet="template">
        </ng-container>
    </mat-card-content>
  </mat-card>
</div>
</div>
