@import 'variables';
@import 'general';
@import 'animations';

.wrapper {
  height: 100%;
  .header {
    .title-name {
      color: #37236a;
      font-size: 20px;
      line-height: 28px;
      strong {
        color: #878195;
      }
    }
  }

  .list-notes {
    max-height: 500px;
    overflow-y: auto;
    .note {
      border-radius: 10px;
      padding: 10px 15px;
      overflow: hidden;
      margin: 10px 10px 10px 0;
      .change-state {
        text-transform: uppercase;

        font-size: 11px;
      }
      .text {
        font-size: 12px;
        font-weight: normal;
      }

      .footer-note {
        span {
          font-size: 10px;
          font-weight: lighter;
        }
      }
      &.type-status {
        background-color: #fff0de;
        .change-state {
          color: #9d5f17;
        }
        .text {
          p {
            color: #9d5f17;
          }
        }

        .footer-note {
          span {
            color: #9d5f17;
          }
        }
      }
      &.type-note {
        background-color: #f1f3f6;

        .text {
          p {
            color: $primary-color;
          }
        }

        .footer-note {
          span {
            color: $primary-color;
          }
        }
      }
    }
  }
}
