
<div fxLayout="row" fxLayoutGap="15px" class="overflow-auto mb-3">
    
    <div fxLayout="column" fxFlex="30">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
            <!--bussiness Column -->
            <ng-container matColumnDef="bussiness">
                <th mat-header-cell *matHeaderCellDef> {{ 'DASHBOARD.NEW_BUSINESS' | translate }} </th>
                <td mat-cell *matCellDef="let element"> 
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                        <span fxLayout="column">
                            <img class="iconb" [src]="element.icon" [alt]=" element.bussiness ">
                        </span>
                        <span fxLayout="column" class="galano-bold f-16" fxHide.xs="true">
                            {{ element.bussiness }}
                        </span>
                    </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;let i= index;"></tr>
        </table>
    </div>
    <div fxLayout="column" fxFlex="70">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    
        <!-- links generated Column -->
        <ng-container matColumnDef="linksGenerated">
          <th mat-header-cell *matHeaderCellDef> {{ 'DASHBOARD.LINKS_GENERATED' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.linksGenerated}}</td>
        </ng-container>
    
        <!-- links clicked Column -->
        <ng-container matColumnDef="linksClicked">
          <th mat-header-cell *matHeaderCellDef> {{ 'DASHBOARD.LINKS_CLICKS' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.linksClicked}}</td>
        </ng-container>
    
        <!-- total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> {{ 'DASHBOARD.TOTAL' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.total | currency: "":"symbol":"1.0-0"}}</td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;let i= index;"></tr>
      </table>
    </div>

</div>
