@import 'variables';

table {
    width: 100%;
    th{
      font-family: $font-galano-bold;
      color: $primary-color;
      text-align: center;
    }
    td{
      padding-right: 15px;
      text-align: center;
    }
  }

  .iconb{
    width: 45px;
  }

  .overflow-auto{
    overflow: auto;
  }