<div class="personal-information">
  <h3 class="secundary-text">
    Información personal
    <i class="tio-edit style-icon cursor-pointer"></i>
  </h3>
  <p fxLayout="row">
    <span class="galano-bold gray w-label">DOCUMENTO</span>
    <span class="normal-text">{{ data.identification }}</span>
  </p>
  <p fxLayout="row">
    <span class="galano-bold gray w-label">CORREO ELECTRÓNICO </span>
    <span class="normal-text">{{ data.email }}</span>
  </p>
  <p fxLayout="row">
    <span class="galano-bold gray w-label">CELULAR</span>
    <span class="normal-text">{{ data.cellphone }}</span>
  </p>
  <p fxLayout="row">
    <span class="galano-bold gray w-label">DIRECCIÓN</span>
    <span class="normal-text">{{ data.address }}</span>
  </p>
</div>
