@import 'variables';

.personal-information{
    .w-label{
        font-size: 11px;
        color: $gray4 ;
        max-width: 100px;
        min-width: 100px;
    }
    .normal-text{
        font-size: 14px;
        color: $primary-color;
        min-width: 200px;
    }

    .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}