<div class="help-center">
    <header class="help-center__header">
      <p></p>
      <p>NOMBRE</p>
      <p></p>
      <p class="help-center__actions">ACCIONES</p>
    </header>
    <div class="help-center__content">
      <div
        class="help-center__list-sections"
        cdkDropList
        (cdkDropListDropped)="dropSection($event)"
      >
        <app-faq-group
          *ngFor="let section of sectionsFaqs"
          [section]="section"
          (editGroup)="editFaqGroup($event)"
          (deleteGroup)="deleteFaqGroup($event)"
          (addItem)="addFaqItem($event)"
          (editItem)="editFaqItem($event)"
          (deleteItem)="deleteFaqItem($event)"
          (saveOrderItems)="saveOrderItems($event)"
          (previewItems)="previewFaq($event)"
          cdkDrag
        >
        </app-faq-group>

      </div>
      <div
        fxLayout="row"
        fxLayoutAlign.gt-xs="end center"
        fxLayoutAlign.xs="center center"
        class="container button-padding mb-4"
      >
        <button
          mat-raised-button
          color="orange"
          class="ml-2"
          [disabled]="isInvalidAddSection"
          (click)="addSection()"
        >
          Nuevo grupo
        </button>
      </div>
    </div>
  </div>
  
  <ng-template #templateDeleteFaqGroup>
    <div ngClass="delete-container">
      <h3 ngClass="title_delete">Eliminar grupo</h3>
      <p ngClass="text-container">
        ¿Está seguro que desea eliminar el grupo seleccionado?
      </p>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-start center"
        fxLayoutGap="30px"
        fxLayoutGap.xs="5px"
        class="center-buttons"
      >
        <div ngClass="mt-3 mb-2 hide-button-on-mobile">
          <button mat-button ngClass="button_cancel" (click)="cancelDelete()">
            Cancelar
          </button>
        </div>
        <div>
          <button
            mat-button
            class="red"
            (click)="deleteFaqSectionService()"
          >
            <span fxLayoutAlign="center space-between"> Eliminar grupo </span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-template #templateDeleteFaqItem>
    <div ngClass="delete-container">
      <h3 ngClass="title_delete">Eliminar pregunta frecuente</h3>
      <p ngClass="text-container">
        ¿Está seguro que desea eliminar la pregunta frecuente?
      </p>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-start center"
        fxLayoutGap="30px"
        fxLayoutGap.xs="5px"
        class="center-buttons"
      >
        <div ngClass="mt-3 mb-2 hide-button-on-mobile">
          <button mat-button ngClass="button_cancel" (click)="cancelDelete()">
            Cancelar
          </button>
        </div>
        <div>
          <button mat-button class="red" (click)="deleteFaqItemService()">
            <span fxLayoutAlign="center space-between"> Eliminar pregunta </span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-template #templatePreviewFaq>
    <div [innerHtml]="infoItemFaq"></div>
  </ng-template>