<div class="container">
  <div class="row align-content-center justify-content-center h-100">
    <div class="col-sm-6">
      <mat-card class="login mat-elevation-z5">
        <mat-card-header>
          <mat-card-title>
            <div>
              <button mat-button (click)="backLogin()"><mat-icon>arrow_back</mat-icon></button>
              <span class="title-center">
                {{ "FORGOTPASSWORD.FORGOT_PASSWORD" | translate
              }}
              </span>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>
          {{ "FORGOTPASSWORD.ENTER_EMAIL" | translate }}
        </mat-card-subtitle>
        <mat-card-content>
          <app-forgotpasswordform></app-forgotpasswordform>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
