<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        
        <span fxLayout="column" fxFlex.gt-xs="50%" ngClass.xs="pt-4 pb-4">
            <img class="logo-allies" *ngIf="buttonAllies" src="assets/img/clickam-horizontal.svg" alt="clickam">
            <app-title showTitleh1="true" [text]="title" classWeb="m-0 pb-2 f-48" classMobile="m-0 pb-2"></app-title>
            <app-title showTitleh2="true" [text]="subtitle" classWeb="m-0" classMobile="m-0 f-16"></app-title>
            <p ngClass.gt-xs="f-20" ngClass.xs="f-16">{{text}}</p>
            
            <span fxLayout.gt-xs="row" fxLayout.xs="column-reverse" fxLayoutGap="20px">
                <app-button *ngIf="buttonHome" [haveIcon]="false" title="Empezar" (action)="begin()" classButton="shadow-purple"></app-button>
                <app-button *ngIf="buttonAllies" [haveIcon]="false" title="¡Unirme!" (action)="openForm()" classButton="shadow-purple"></app-button>
                <app-button direction="row-reverse" color="yellow-not-bg" title="Ver cómo funciona" (action)="works()" classButton="shadow-purple p-0" classIcon="tio-play_circle f-40 mr-2"></app-button>
            </span>

        </span>

        <span fxLayout="column" fxHide.xs="true" fxShow.gt-xs="true">
            <app-image src="/assets/img/home/cel.png" alt="clickam-app" ></app-image>
        </span>

    </div>
</div>


<ng-template #templateVideo>
    <div>
      <iframe
        width="560"
        height="315"
        [src]="video"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </ng-template>