<div class="container" ngClass.xs="card-style">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        
        <span fxLayout="column" fxFlex.gt-xs="50%" ngClass.xs="pt-4 pb-4">
            <img loading="lazy"class="logo-allies" *ngIf="buttonAllies" src="assets/img/clickam-horizontal.svg" alt="clickam">
            <app-title showTitleh1="true" [text]="title" classWeb="m-0 pb-2 f-32" classMobile="m-0 pb-2"></app-title>
            <app-title showTitleh2="true" [text]="subtitle" classWeb="m-0 galano f-22" classMobile="m-0 galano f-16"></app-title>
            <p ngClass.gt-xs="f-16 galano">{{text}}</p>
            
            <span fxLayout.gt-xs="row" fxLayout.xs="column-reverse" fxLayoutGap="20px">
                <app-button direction="row-reverse" title="Empezar" (action)="openVideo()" gtm="gtmHomeBannerBienvenidovercomofunciona" classButton="shadow-purple p-0 d-block px-3" classIcon="tio-play_circle f-30 mr-2 red-text"></app-button>
            </span>

        </span>

        <span fxLayout="column" fxHide.lt-md="true" >
            <app-image width="185" height="230" src="/assets/img/home/cel.png" alt="clickam-app" ></app-image>
        </span>

        <span fxLayout="column" fxHide.lt-md="true" >
            <app-image width="436" height="232" src="/assets/img/home/data.png" alt="clickam-app" ></app-image>
        </span>

    </div>
</div>


<ng-template #templateVideo>
    <div>
      <iframe
        width="560"
        height="315"
        [src]="video"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </ng-template>