@import 'variables';
@import 'general';

.facebook {
    background: hsl(221, 44%, 41%);
}

.twitter {
    background: #55acee;
}

.instagram{
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.whatsapp{
    background: #00e676;
}

.fa-2x{
    font-size: 1.5em;
}
