<div class="container" id="Inicio">
  <app-slider></app-slider>
  <app-tabs></app-tabs>

  <div class="ofertas pb-2 pt-4">
    <img [fxShow.gt-xs]="false"  class="responsive-img mat-elevation-z3 w-100" src="assets/img/ver-ofertas.png" alt="ofertas">
    <img  [fxShow.xs]="false" class="responsive-img mat-elevation-z3 w-100" src="assets/img/banner desk-1.png" alt="ofertas">
  </div>
  <div fxLayout.gt-md="row" fxLayout.xs="column">
    <app-month-resume></app-month-resume>
    <app-general-resume></app-general-resume>
  </div>

</div>
