<div class="container" id="Inicio">
  <app-slider></app-slider>
  <app-tabs></app-tabs>

  <div fxLayout.gt-md="row" fxLayout.xs="column" fxLayoutAlign="space-between space-around">
    <div fxLayout="column">
      <app-month-resume></app-month-resume>
    </div>
  
    <div fxLayout="column" fxFlex="35">
      <h2 class="border-bottom-orange-init">
          {{ "HOME.MY_COMMISSIONS" | translate }}
        </h2>
      <div fxLayout="row">
        <span fxLayout="column" fxFlex="100" class="available">
          <app-card-data [number]="available | currency : '' : 'symbol' : '1.0-0'" text="{{ 'REPORTS.AVAILABLE' | translate }}"></app-card-data>
        </span>
        <span fxLayout="column" fxFlex="100">
          <app-card-data class="no-shadow" [number]="account | currency : '' : 'symbol' : '1.0-0'" text="{{ 'REPORTS.ACCOUNT' | translate }}"></app-card-data>
        </span>
      </div>
      <p class="mb-0">{{ 'REPORTS.AVAILABLE_TEXT' | translate }}</p>
      <p>{{ 'REPORTS.ACCOUNT_TEXT' | translate }}</p>
        <div class="ofertas pb-2">
        <img [fxShow.gt-xs]="false" [routerLink]="['/ofertas']" class="responsive-img w-100 cursor-pointer" src="assets/img/ofertas-mob.png" alt="ofertas">
        <img  [fxShow.xs]="false" [routerLink]="['/ofertas']" class="responsive-img  w-100 cursor-pointer" src="assets/img/ofertas-desk.png" alt="ofertas">
      </div>
    </div>
  </div>

</div>
