<app-banner
  title="{{ 'DASHBOARD.BUSINESS' | translate}}"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>
<div class="container mt-3">
    <div fxLayout="row" >
        <img class="image-bussiness" [src]="image" alt="">
        <span> <h3>{{title}} / Categorias</h3></span>
    </div>
    <div fxLayout="row" fxLayoutGap="15px" class="mb-3 mt-3">
        <div fxLayout="column" fxFlex="100">
            <table mat-table #table class="mat-elevation-z2"  
            [dataSource]="bussinessCategory" 
            cdkDropList
            [cdkDropListData]="bussinessCategory"
            (cdkDropListDropped)="dropTable($event)">
                <!--bussiness Column -->
                <ng-container matColumnDef="drag">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element;let i= index" > 
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="end center" fxLayoutAlign.xs="center center">
                            <mat-icon  matSuffix class="mr-1 blue cursor-pointer" cdkDragHandle>drag_indicator</mat-icon>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> IMAGEN </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                            <span fxLayout="column">
                                <img class="iconb-bussiness" [src]="element.imageurl" [alt]="element.description">
                            </span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                            <span fxLayout="column" class="text-information" >
                                {{ element.description }}
                            </span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="comission">
                    <th class="w-th" mat-header-cell *matHeaderCellDef> DESCRIPCIÓN DE COMISIÓN </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                            <span fxLayout="column" class="text-information" >
                                {{ element.infoaditional }}
                            </span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="typeCommision">
                    <th class="w-th3" mat-header-cell *matHeaderCellDef> TIPO </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                            <span *ngIf="element.typecommission === 'PORCENTAJE'" fxLayout="column" class="text-information" >
                                Porcentaje (%)
                            </span>
                            <span *ngIf="element.typecommission === 'FIJO'" fxLayout="column" class="text-information" >
                                Fijo ($)
                            </span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="commisionBussiness">
                    <th class="w-th2" mat-header-cell *matHeaderCellDef> COMISIÓN DEL NEGOCIO </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                            <span fxLayout="column" class="text-information" >
                                {{ element.commissionbusiness }}
                            </span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th class="w-th4" mat-header-cell *matHeaderCellDef> ESTADO </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                            <span *ngIf="element.active" fxLayout="column" class="text-active" >
                                Activo
                            </span>
                            <span *ngIf="!element.active" fxLayout="column" class="text-wrong" >
                                Inactivo
                            </span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                            <img class="cursor-pointer" (click)=editCategory(element) src="/assets/img/dashboard/icon-edit.svg" alt="">
                            <img class="cursor-pointer" (click)="deleteCategory(element)" src="/assets/img/dashboard/icon-trash.svg" alt="">
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;let i= index" cdkDrag [cdkDragData]="row"></tr>
            </table>
        </div>
    </div>
    <div class="container button-padding mb-4">
        <div fxLayout="row" fxLayoutAlign.gt-xs="end center" fxLayoutAlign.xs="center center">
        <button mat-raised-button color="orange" (click)="agregarCategory()" id="download-users" class="ml-2" [disabled]="disableButon">
            Agregar 
            <img class="icon-download" src="assets/img/dashboard/icon-plus.svg" alt="descarga">
        </button>    
        </div>
    </div>
</div>

<ng-template #templateDeleteCategory>
    <div ngClass="delete-container">
        <h3 ngClass="title_delete">Eliminar Categoría</h3>
        <p ngClass="text-container">¿Está seguro que desea eliminar la categoría seleccionada?</p>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-start center" fxLayoutGap="30px" fxLayoutGap.xs="5px" class="center-buttons">
        <div ngClass="mt-3 mb-2 hide-button-on-mobile">
          <button mat-button ngClass="button_cancel" (click)="cancelDelete()"
          > Cancelar </button>
        </div>
        <div>
        <button mat-button class="red" (click)="deleteCategoryService()">
            <span fxLayoutAlign="center space-between">
                Eliminar categoria
            </span>
        </button>
      </div>
    </div>
    </div>    
  </ng-template>
  