@import "variables";
@import "general";
table {
  width: 100%;
  th {
    font-family: $font-galano-bold;
    color: $primary-color;
  }
}
.image-bussiness {
  width: 132px;
  height: 58px;
}
.iconb-bussiness {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.text-information {
  color: #726d7e;
  font-size: 14px;
  font-family: $font-family-sans-serif;
}
.text-active {
  color: #528e00;
  font-size: 14px;
}

.text-wrong {
  color: #fd5555;
  font-size: 14px;
}
.icon-download {
  position: relative;
  left: 5px;
  bottom: 2px;
}
.button-padding {
  padding-right: 0px !important;
}
.w-th {
  width: 120px;
}
.w-th2 {
  width: 105px;
}
.w-th3 {
  width: 130px;
}
.w-th4 {
  width: 130px;
}
.delete-container {
  max-width: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title_delete {
  color: #f21905;
}
.button_cancel {
  color: #37236a;
  font-weight: bold;
  background-color: transparent;
}
.style-icon {
  font-size: 22px;
  color: $purple2;
}
.style-icon-delete {
  font-size: 22px;
  color: #fd5555;
}
