@import 'variables';
@import 'general';
@import 'skeleton';

.rewards {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    margin-bottom: 12px;
    width: 100%;
    .rewards__image-container {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      .rewards__image {
        object-fit: contain;
        object-position: center;
        width: 100%;
        max-height: 70px;
      }
    }
    .rewards__info {
      width: calc(100% - 100px);
      .rewards__title {
        color: #37236a;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        margin: 4px 0px;
      }
      .rewards__money {
        color: #37236a;
        font-family: $font-galano-bold;
        font-size: 14px;
        margin: 4px 0px;
      }
      .rewards__count {
        color: #8c80b4;
        font-family: $font-galano;
        font-size: 14px;
        margin: 4px 0px;
      }
    }
  }

  @media screen and (min-width: 900px) {
    width: 100%;
  }
}

.no-rewards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 209px;
  &__title {
    font-family: $font-family-base;
    color: #8c80b4;
    letter-spacing: -0.32px;
    color: #8c80b4;
    opacity: 1;
    text-align: center;
  }
}
.content-exist {
  justify-content: center;
  align-items: center;
}
