@import 'variables';
@import 'general';
@import 'skeleton';

.rewards {
  display: flex;
  flex-direction: column;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 16px #9aaacf1a;
  border-radius: 12px;
  opacity: 1;
  padding: 15px;
  max-width: 372px;
  &__item {
    display: flex;
    margin-right: 19px;
    align-items: center;
    gap: 1rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 10px;
    text-align: left;
    p {
      margin: 4px 0;
    }
  }

  &__title {
    font-family: $font-family-sans-serif;
    color: #37236a;
  }

  &__money {
    font-family: $font-galano-bold;
    color: #37236a;
  }

  &__count {
    font-family: $font-galano;
    color: #8c80b4;
    opacity: 1;
  }

  &__img {
    width: 108px;
    min-width: 108px;
    max-width: 108px;
  }

  @media screen and (min-width: 900px) {
    width: 100%;
  }
}

.no-rewards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 209px;
  &__title {
    font-family: $font-family-base;
    color: #8c80b4;
    letter-spacing: -0.32px;
    color: #8c80b4;
    opacity: 1;
    text-align: center;
  }
}
.conteng-exist {
  justify-content: center;
  align-items: center;
}
