@import 'variables';
@import 'general';

.card-basic {
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #00000029;
  margin-right: 10px;
  position: relative;
}

.mw{
  min-width: 130px;
}

.widht-card{
  width: 335px;
}

.icon-alert {
  width: 25px;
}



.color-card-2 {
  background: transparent linear-gradient(90deg, #735cf2 0%, #968bf4 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  height: 142px;
  box-shadow: 0px 16px 16px #7D6AF21A;
}

@media screen and (max-width: 425px) {
  .color-card-2 {
    width: 100%;
  }
}

.text-white {
  color: #ffffff;
  font-size: 13px;
  font-family: $font-galano-bold;
}
.payment-card {
  font-size: 28px;
  font-family: $font-galano-bold;
  color: #ffffff;
}
.position-absolute {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 20px;

  z-index: 0;
}

.z-index-top {
  position: relative;
  z-index: 100;
}
.marco-mini-card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 72px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
}

.marco-p-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  font-family: $font-galano-bold;
}
.marco-span-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 11px;
}

.padding-card{
  padding-top: 20px !important;
  padding-left: 24px !important;
}

.admin{
  align-items: center;
  justify-content: center;
  width: 194px;
  .text-white{
    font-family: $font-galano;
  }
  .payment-card{
    font-size: 16px;
  }
  .icon-alert{
    position:absolute;
    top: 10px;
    right: 10px;
  }
  .info{
    text-align: center;
  }

  .marco-mini-card{
    border: none;
    width: 62px;
  }

}