@import 'animations';
@import 'variables';
@import 'general';

.login{
    box-shadow: none !important;
  }


  .mat-transparent{
    background: transparent;
  }

  .link{
    color: $primary-color;
    text-decoration: underline;
    cursor: pointer;
  }

  .cursor{
    &-pointer{
      cursor: pointer;
    }
  }
  
  .text-decoration{
      text-decoration: underline;
  }

  .side-heigth{
    min-height: 520px;
  }

  .shadow{
    box-shadow: 2px 0px 14px 2px #CECECE4D;
  }

  .paymentInfo {
    margin-top: 10px;
    border-radius: 10px;
    width: 300px;
    p, h4{
      color: #fff;
    }
}

// @media screen and (min-width: 768px) {
//   .sidenav{
//     display: none;
//   }
// }

  // .sideMenu {
  //   float: left;
  //   width: 20%;
  //   margin-right: 2rem;
  //   min-height: 500px;
  // }