@import 'animations';
@import 'variables';
@import 'general';

.login {
  box-shadow: none !important;
}

.sidenav {
  width: 300px;
  padding: 0 20px;
}

.mat-transparent {
  background: transparent;
}

.link {
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.text-decoration {
  text-decoration: underline;
}

.side-heigth {
  min-height: 520px;
}

.shadow {
  box-shadow: 2px 0px 14px 2px #cecece4d;
}

.paymentInfo {
  margin-top: 10px;
  border-radius: 10px;
  background: #8d7eb7;
  margin-right: 10px;
  p,
  h4 {
    color: #fff;
  }
}

.border-close {
  color: white;
  border-radius: 20px;
  font-size: 20px;
  background-color: #8d7eb7;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.left_menu {
  background-color: $gray3;
}

.fix {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #fff;
}


