<app-banner
  title="Notificaciones"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>

<div class="container m-t4 fade-in">
  <span fxLayout="row" fxLayoutAlign="space-between center">
    <h3 title-name>{{ title }} notificación</h3>

    <button mat-raised-button  class="back-button" [routerLink]="['/notificaciones-admin']">
      <span
        class="galano-bold f-16"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
        {{ "BUTTONS.BACK" | translate}}
      </span>
    </button>
  </span>

    <form [formGroup]="notificationForm">
        <div fxLayout="row" fxLayoutGap="20px">
        <mat-card>
            <mat-form-field class="w-100">
              <input
                matInput
                id="title"
                type="text"
                placeholder="Titulo"
                formControlName="title"
                maxlength="100"

              />
              <mat-error
                id="requiredtitle"
                *ngIf="notificationForm.controls.title.invalid &&
                  notificationForm.controls.title.errors.required">{{
                  "GENERIC.REQUIRED" | translate: { formValue: "Titulo" }
                }}</mat-error
              >
            </mat-form-field>

            <h3>CONTENIDO</h3>
            <angular-editor
              [config]="configurarEditor"
              formControlName="termsEditor"
            ></angular-editor>
        </mat-card>

        <div fxLayout="column" class="w-100">

            <mat-card fxLayout="column" class="mb-3">
                <h3 class="border-bottom-gray pb-1 pt-1" title-name>ENVÍAR A</h3>

                <mat-form-field class="selected-filter">
                    <mat-select
                      placeholder="GRUPO DE USUARIOS"
                      id="filterUsers"
                      formControlName="filterUsers"
                      class="selected-filter"
                      (selectionChange)="showOption($event)"
                    >
                      <mat-option *ngFor="let selected of filters" value="{{ selected.value }}">
                        <span>{{ selected.name }}</span>
                      </mat-option>
                    </mat-select>

                    <mat-error
                    id="requiredfilterUsers"
                    *ngIf="notificationForm.controls.filterUsers.invalid &&
                    notificationForm.controls.filterUsers.errors.required">{{
                    "GENERIC.REQUIRED" | translate: { formValue: "Grupo de usuarios" }
                    }}</mat-error
                >

                  </mat-form-field>

                  <span *ngIf="showUploadFile">
                      <label class="label" >adjuntar lista de usuarios (formato .xlsx)</label>
                      <br/>
                      <app-load-form-file
                        [fileForm]="fileFormNotification"
                        [nameFile]="nameFileNotification"
                        label="Notification"
                        (uploadFile)="onFileChangeNotification($event)"
                    ></app-load-form-file>
                    <mat-error *ngIf="showErrorExtNotification" class="small">
                        {{ "GENERIC.INVALID_FORMAT_FILE" | translate }}
                    </mat-error>
                    <hr *ngIf="urlDownload !== null">
                      <span class="f-11" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="urlDownload !== null">
                      Descargar archivo cargado previamente
                      <a class="icon-down" [href]="urlDownload" target="_blank">
                        <i class="tio-download_from_cloud"></i>
                      </a>
                    </span>
                  </span>

                  <span *ngIf="showDate" class="position-relative">
                    <i class="tio-date_range icon-date pos"></i>
                    <input
                      formControlName="dateRange"
                      [locale]="locale"
                      placeholder="Seleccione fechas"
                      type="text"
                      [maxDate]="maxDate"
                      ngxDaterangepickerMd
                      [showDropdowns]="true"
                      opens="left"
                      class="form-control border-input mat-elevation-z1 p-2 border-radius"
                    />
                  </span>

            </mat-card>

            <mat-card fxLayout="column">
                <h4 class="border-bottom-gray pb-1 pt-1">PUBLICACIÓN</h4>

                <div fxLayout="row" class="mt-2" fxLayoutGap="10px">
                  <div>
                    <label class="label mt-2 mb-1">
                      FECHA DE PUBLICACIÓN
                    </label>
                   <span class="mat-elevation-z1 border-radius" fxLayout="row-reverse">
                        <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="date"
                        readonly
                      />
                      <mat-datepicker-toggle
                        class="icon-date"
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>

                      <mat-datepicker
                        class="icon-date"
                        touchUi
                        #picker
                      ></mat-datepicker>
                    </span>
                    </div>

                    <div>
                    <label class="label mt-2 mb-1">
                      HORA DE PUBLICACIÓN
                    </label>

                    <span class="mat-elevation-z1 p-2 border-radius" fxLayout="row-reverse">
                      <input
                        [ngxTimepicker]="min"
                        matInput
                        aria-label="default time"
                        [ngxTimepicker]="defaultValue"
                        [min]="minHours"
                        formControlName="hour"
                        readonly
                      />
                    <mat-icon  matPrefix class="clock-time">alarm</mat-icon>
                      <ngx-material-timepicker #min></ngx-material-timepicker>
                    </span>
                    </div>

                </div>

                <div class="mt-3" fxLayout="row" fxLayoutAlign="end space-between">
                  <button
                    mat-raised-button
                    color="orange"
                    class="button-save-notification"
                    (click)="saveNotification()"
                    [disabled]="!notificationForm.valid || uploadFile"
                  >
                    {{titleBoton}}
                  </button>
                </div>

              </mat-card>

        </div>

    </div>

      </form>
</div>
