@import "variables";

.title-upload {
  color: #86888a;
  font-size: 12px;
}

.custom-file-upload {
  border: 1px solid #707070;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  background: #707070;
  color: #ffffff;
}

.file-input {
  max-width: 269px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.small {
  font-size: 11px;
}

.border-input {
  border: none;
  outline: none;
  height: 32px;
}

.border-radius {
  border-radius: 5px;
}

.icon-download {
  position: relative;
  left: 5px;
  bottom: 2px;
}

.icon-date {
  font-size: 22px;
  color: #8d7eb7;
}

.form-control {
  padding-left: 35px !important;
  font-family: $font-galano !important;
}

.downloadUsers {
  position: relative;
  left: -23px;
}
.style-icon {
  font-size: 18px;
  position: relative;
  bottom: 4px;
}

.label {
  font-size: 11px;
  font-family: $font-galano-bold;
  text-transform: uppercase;
  color: #a7a3b1;
  display: block;
}

.mat-icon-button {
  position: absolute;
  right: -9px;
  bottom: 0;
}
