<div
  class="card {{ classCard }}"
  style="
    position: relative;
    display: flex !important;
    display: -webkit-flex !important;
    flex-direction: column !important;
    -webkit-flex-direction: column !important;
  "
>
  <img class="position-absolute" src="assets/img/icon-clickam-white.svg" alt="fondo-clickam" />
  <div style="display: flex !important; flex-direction: row !important; justify-content: space-between !important; z-index: 1">
    <div style="display: flex !important; flex-direction: column !important">
      <span class="payment-card">{{ number }}</span>
      <span class="text-white">
        {{ text }}
        <img
          class="pl-2 icon-alert"
          src="assets/img/icon-info-white.svg"
          alt="alert"
          matTooltip="{{ textToolTip }}"
          matTooltipClass="purple-tip"
        />
      </span>
    </div>
    <div>
      <img class="z-index-top" [src]="imgCard" alt="icono comisiones" />
    </div>
  </div>
  <a class="button-card  mt-2 cursor-pointer {{ Classtag }}" (click)="detail()">
    {{ 'GENERIC.SEE_DETAIL' | translate }}
  </a>
</div>
