<div class="card {{classCard}}" style="display: flex; flex-direction: column;">
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div  style="display: flex; flex-direction: column;">
    <span class="payment-card">{{number}}</span>
    <span class="text-white">
      {{text}}
      <img class="pl-2 icon-alert" src="assets/img/icon-info-white.svg" alt="alert" matTooltip="{{textToolTip}}" matTooltipClass="purple-tip">
    </span>
  </div>
    <img class="z-index-top" [src]="imgCard" alt="icono comisiones" >
  </div>
  <a class="button-card  mt-2 cursor-pointer {{Classtag}}" (click)="detail()"> {{ 'GENERIC.SEE_DETAIL' | translate }} </a>
  <img class="position-absolute" src="assets/img/icon-clickam-white.svg" alt="fondo-clickam">
</div>
