<div id="{{ data.id }}">
  <div fxLayout="column" fxLayoutAlign="center" class="border-bottom-gray border-blue">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3 class="mb-3 title-name">
        <img class="icon-dashboard" src="assets/img/usuario-black.svg" alt="user" />
        {{ data.name }} {{ data.lastNames }}
      </h3>
      <div fxLayout="column" style="align-items: flex-end">
        <a class="position-relative-close" id="closeDialog" matRipple (click)="onNoClick()"><mat-icon class="close">close</mat-icon></a>
        <div fxLayoutGap="2px" class="position-relative-tab">
          <button (click)="changeTabs(1)" [class]="selectedTab === 1 ? 'button-tab-life ' : 'button-tab-data cursor-pointer'">
            <i class="tio-chart_bar_4" [class]="selectedTab === 1 ? 'img-tabs-selected tio-chart_bar_4' : 'img-tabs tio-chart_bar_4'"></i>
            DATOS
          </button>
          <button (click)="changeTabs(2)" [class]="selectedTab === 2 ? 'button-tab-life ' : 'button-tab-data cursor-pointer'">
            <i [class]="selectedTab === 2 ? 'img-tabs-selected tio-chart_bar_4' : 'img-tabs tio-chart_bar_4'"></i>

            HOJA DE VIDA
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedTab === 1" mat-dialog-content class="dialog-height">
    <div fxLayout="row" fxLayoutGap="50px">
      <div fxLayout="column" fxFlex="75">
        <div class="personal-information">
          <h3 class="secundary-text">
            Información personal
            <i class="tio-edit style-icon cursor-pointer" (click)="editInfoPersonal()"></i>
          </h3>
          <p fxLayout="row">
            <span class="galano-bold gray w-label">DOCUMENTO</span>
            <span class="normal-text">{{ data.identification }}</span>
          </p>
          <p fxLayout="row">
            <span class="galano-bold gray w-label">CORREO ELECTRÓNICO </span>
            <span class="normal-text">{{ data.email }}</span>
          </p>
          <p fxLayout="row">
            <span class="galano-bold gray w-label">CELULAR</span>
            <span class="normal-text">{{ data.cellphone }}</span>
          </p>
          <p fxLayout="row">
            <span class="galano-bold gray w-label">DIRECCIÓN</span>
            <span class="normal-text">{{ data.address }}</span>
          </p>
        </div>
        <div class="bank-information">
          <h3 class="secundary-text">Información Bancaria</h3>
          <p fxLayout="row">
            <span class="galano-bold gray w-label">BANCO</span>
            <span class="normal-text">{{ data.bank }}</span>
          </p>
          <p fxLayout="row">
            <span class="galano-bold gray w-label">CUENTA</span>
            <span class="normal-text" *ngIf="data.typeBankAccount === '1'"> Ahorros</span>
            <span class="normal-text" *ngIf="data.typeBankAccount === '2'"> Corriente</span>
            <span class="normal-text"> - {{ data.bankAccountNumber }}</span>
          </p>
          <p fxLayout="row">
            <span class="galano-bold gray w-label">FECHA DE CARGA</span>
            <span class="normal-text" *ngIf="data.typeBankAccount === '1'"> {{ data.AntdateCertBank | date: 'yyyy-MM-dd' }}</span>
          </p>
        </div>
        <div class="add-information">
          <h3 class="secundary-text">Archivos Adjuntos</h3>
          <p fxLayout="row">
            <span class="galano-bold gray s-label"></span>
            <span class="galano-bold gray w-label">ARCHIVO</span>
            <span class="galano-bold gray s-label">TIPO</span>
            <span class="galano-bold gray wx-label">PRIMERA CARGA</span>
            <span class="galano-bold gray wx-label">ÚLTIMA CARGA</span>
          </p>
          <p fxLayout="row">
            <span class="s-label">
              <mat-checkbox class="mr-3 mb-2" (change)="changeValue($event, 'IdentificationCard1')"> </mat-checkbox>
            </span>
            <span class="w-label preview-container"
              ><a class="text-link text-underline cursor-pointer" (click)="showVisibilityPreview($event)"> Cédula 1</a>
              <div *ngIf="base64IdentificationCard1" class="preview-image">
                <img [src]="base64IdentificationCard1" alt="Preview Cédula 1" />
              </div>
            </span>
            <span class="s-label normal-text">{{ data.extensionIdentificationCard1 }}</span>
            <span class="wx-label normal-text">{{ data.AntdateCed1 | date: 'yyyy/MM/dd hh:mm:ss' }}</span>
            <span class="wx-label normal-text">{{ data.dateCed1 | date: 'yyyy/MM/dd hh:mm:ss' }}</span>
          </p>
          <p fxLayout="row">
            <span class="s-label">
              <mat-checkbox class="mr-3 mb-2" (change)="changeValue($event, 'IdentificationCard2')"> </mat-checkbox>
            </span>
            <span class="w-label preview-container"
              ><a class="text-link text-underline cursor-pointer" (click)="showVisibilityPreview($event)" target="_blank" id="ced2">
                Cédula 2</a
              >
              <div *ngIf="base64IdentificationCard2" class="preview-image">
                <img [src]="base64IdentificationCard2" alt="Preview Cédula 2" />
              </div>
            </span>
            <span class="s-label normal-text">{{ data.extensionIdentificationCard2 }}</span>
            <span class="wx-label normal-text">{{ data.AntdateCed2 | date: 'yyyy/MM/dd hh:mm:ss' }}</span>
            <span class="wx-label normal-text">{{ data.dateCed2 | date: 'yyyy/MM/dd hh:mm:ss' }}</span>
          </p>
          <p fxLayout="row">
            <span class="s-label">
              <mat-checkbox class="mr-3 mb-2" (change)="changeValue($event, 'BankCertificate')"> </mat-checkbox>
            </span>
            <span class="w-label preview-container"
              ><a class="text-link text-underline cursor-pointer" (click)="showVisibilityPreview($event)" target="_blank" id="certbank">
                Cert.bancaria</a
              >
              <div *ngIf="base64BankCard" class="preview-image">
                <img [src]="base64BankCard" alt="Preview Cert.bancaria" />
              </div>
            </span>
            <span class="s-label normal-text">{{ data.extensionBankCertificate }}</span>
            <span class="wx-label normal-text">{{ data.AntdateCertBank | date: 'yyyy/MM/dd hh:mm:ss' }}</span>
            <span class="wx-label normal-text">{{ data.dateCertBank | date: 'yyyy/MM/dd hh:mm:ss' }}</span>
          </p>
          <p fxLayout="row">
            <span class="s-label">
              <mat-checkbox class="mr-3 mb-2" (change)="changeValue($event, 'Rut')"> </mat-checkbox>
            </span>
            <span class="w-label preview-container"
              ><a class="text-link text-underline cursor-pointer" (click)="showVisibilityPreview($event)" target="_blank" id="Rut"> RUT</a>
              <div *ngIf="base64RUT" class="preview-image">
                <img [src]="base64RUT" alt="Preview RUT" />
              </div>
            </span>
            <span class="s-label normal-text">{{ data.extensionRUT }}</span>
            <span class="wx-label normal-text">{{ data.AntdateRUT | date: 'yyyy/MM/dd hh:mm:ss' }}</span>
            <span class="wx-label normal-text">{{ data.dateRUT | date: 'yyyy/MM/dd hh:mm:ss' }}</span>
          </p>
          <button (click)="downloadSelectedFiles()" class="download-button" mat-raised-button color="orange">
            {{ 'USERS.DOWNLOAD_SELECT' | translate }}
            <i class="tio-download_from_cloud style-icon-download"></i>
          </button>
        </div>
      </div>
      <div fxLayout="column" fxFlex="25" fxLayoutAlign="start start">
        <div class="user-status">
          <h3 class="secundary-text">Usuario</h3>

          <div *ngIf="data.userId !== idAdmin">
            <p class="galano-bold gray">ESTADO</p>

            <mat-slide-toggle
              [(ngModel)]="data.state"
              (change)="changeStatus()"
              color="orange-toggle"
              labelPosition="before"
              id="state-toggle"
            >
              <span class="third-text" *ngIf="data.state === true"> Activo </span>
              <span class="third-text" *ngIf="data.state === false"> Inactivo </span>
            </mat-slide-toggle>
          </div>

          <p class="galano-bold gray">RECIBE COMUNICACIONES</p>
          <mat-slide-toggle
            [(ngModel)]="data.receiveCommunications"
            (change)="changeComunications()"
            color="orange-toggle"
            labelPosition="before"
            id="comunications-toggle"
          >
            <span class="third-text" *ngIf="data.receiveCommunications === true"> Si </span>
            <span class="third-text" *ngIf="data.receiveCommunications === false"> No </span>
          </mat-slide-toggle>

          <p class="galano-bold gray">ORIGEN</p>
          <span class="normal-text" *ngIf="data.isEmployeeGrupoExito === true"> Interno </span>
          <span class="normal-text" *ngIf="data.isEmployeeGrupoExito === false"> Externo </span>
          <div>
            <p class="galano-bold gray">VERIFICACIÓN</p>
            <form [formGroup]="dateSelectedState">
              <mat-form-field class="selected-state-account">
                <mat-select formControlName="state">
                  <mat-option
                    (click)="changeVerified()"
                    *ngFor="let accountStatus of accountStatements"
                    value="{{ accountStatus.id }}"
                    class="select-option-status"
                  >
                    <span>{{ accountStatus.value }}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>

            <p class="galano-bold gray edit-message">
              MENSAJE DE RECHAZO
              <i
                class="tio-edit style-icon cursor-pointer {{ enableRejectionMessage ? 'style-icon-enable' : 'style-icon-disabled' }}"
                (click)="editRejectionMessage()"
              ></i>
            </p>
            <p class="rejection-message">
              {{ this.enableRejectionMessage && this.data.responseAccountBank ? this.data.responseAccountBank : '-' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedTab === 2" mat-dialog-content class="dialog-height-life">
    <div fxLayout="row" class="mt-3 mb-3">
      <p class="p-range">RANGO DE FECHAS</p>
      <form class="form-relative" [formGroup]="dateFormHoja">
        <div fxLayout="row">
          <i class="tio-date_range icon-date"></i>
          <input
            formControlName="dateRange"
            (change)="getDatas()"
            [locale]="locale"
            [placeholder]="placeholder"
            type="text"
            [maxDate]="maxDate"
            ngxDaterangepickerMd
            class="form-control border-input mat-elevation-z1 p-2 border-radius"
          />
        </div>
      </form>
    </div>
    <div>
      <table mat-table [dataSource]="dataSourceBusi" class="users-table">
        <ng-container matColumnDef="negocio">
          <th mat-header-cell *matHeaderCellDef style="width: 40%; border-top-left-radius: 10px; font-weight: bold; padding-left: 10px">
            NEGOCIOS
          </th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-left' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element: let i=index"
          >
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
              <span fxLayout="column">
                <img *ngIf="element.icondashboard != ''" class="iconb" [src]="element.icondashboard" alt=" negocios " />
              </span>
              <span
                fxLayout="column"
                [class]="element.icondashboard != '' ? 'galano-bold f-16 text-color-table' : 'text-color-total galano-bold'"
                fxHide.xs="true"
              >
                {{ element.negocio }}
              </span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="linksgenerator">
          <th mat-header-cell *matHeaderCellDef style="width: 15%; font-weight: bold">LINKS GENERADOS</th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-int' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element: let i=index"
          >
            <div fxLayout="row">
              <p [class]="element.negocio === 'TOTAL' ? 'color-last-rigth-p' : 'm-0 text-font'">
                {{ element.linksgenerados }}
              </p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="linksclicker">
          <th mat-header-cell *matHeaderCellDef style="width: 15%; font-weight: bold">LINKS CLICKEADOS</th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-int' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element: let i=index"
          >
            <div fxLayout="row">
              <p [class]="element.negocio === 'TOTAL' ? 'color-last-rigth-p' : 'm-0 text-font'">
                {{ element.linkclickeados }}
              </p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="commision">
          <th mat-header-cell *matHeaderCellDef style="width: 20%; font-weight: bold">COMISIONES</th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-int' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element: let i=index"
          >
            <div fxLayout="row">
              <p [class]="element.negocio === 'TOTAL' ? 'color-last-rigth-p' : 'm-0 text-font'">
                {{ element.comisiones | currency: '':'symbol':'1.0-0' }}
              </p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="sells">
          <th mat-header-cell *matHeaderCellDef style="width: 30%; border-top-right-radius: 10px; font-weight: bold">VENTA ACUMULADA</th>
          <td
            [class]="element.negocio === 'TOTAL' ? 'color-last-rigth' : 'padding-top-bottom'"
            mat-cell
            *matCellDef="let element: let i=index"
          >
            <div fxLayout="row">
              <p [class]="element.negocio === 'TOTAL' ? 'color-last-rigth-p' : 'm-0 text-font'">
                {{ element.ventas | currency: '':'symbol':'1.0-0' }}
              </p>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr id="user-{{ i }}" mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
      </table>
    </div>

    <div class="card-blue mt-2" fxLayout="row">
      <div class="span-corte" fxLayout="row">
        <b class="mr-2">ÚLTIMO PAGO ({{ dateLastPayment | date: 'yyyy-MM-dd' }})</b>
        <p>{{ afterPayment | currency: '':'symbol':'1.0-0' }}</p>
      </div>
      <div class="span-corte ml-4 mr-3" fxLayout="row">
        <b class="mr-2">PAGO PRÓXIMO CORTE</b>
        <p>{{ nextPayment | currency: '':'symbol':'1.0-0' }}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #templateInfoPersonal>
  <div>
    <form [formGroup]="dataAddImagen">
      <mat-form-field style="width: 370px">
        <input matInput placeholder="NÚMERO DE DOCUMENTO" formControlName="number" type="text" required style="color: #37236a" />
        <mat-error id="requiredName" *ngIf="dataAddImagen.controls.number.invalid && dataAddImagen.controls.number.errors.required">{{
          'GENERIC.REQUIRED' | translate: { formValue: 'Número de documento' }
        }}</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 370px">
        <input matInput placeholder="CORREO ELECTRÓNICO" formControlName="email" type="text" required style="color: #37236a" />
        <mat-error id="requiredName" *ngIf="dataAddImagen.controls.email.invalid && dataAddImagen.controls.email.errors.required">{{
          'GENERIC.REQUIRED' | translate: { formValue: 'Correo electrónico' }
        }}</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 370px">
        <input matInput placeholder="NÚMERO DE CELULAR" formControlName="cellphone" type="text" required style="color: #37236a" />
        <mat-error id="requiredName" *ngIf="dataAddImagen.controls.cellphone.invalid && dataAddImagen.controls.cellphone.errors.required">{{
          'GENERIC.REQUIRED' | translate: { formValue: 'Número de celular' }
        }}</mat-error>
      </mat-form-field>
    </form>

    <div class="mt-3 mb-2" fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClickEdit()">Cancelar</button>
      <button
        mat-raised-button
        color="orange"
        (click)="saveInfoPersonal()"
        id="download-users"
        class="ml-2"
        [disabled]="!dataAddImagen.valid"
      >
        Guardar Cambios
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateRejectionMessage>
  <div>
    <form [formGroup]="dataRejectionMessage">
      <mat-form-field style="width: 370px">
        <textarea
          matInput
          placeholder="Mensaje de rechazo"
          formControlName="message"
          type="text"
          required
          class="text-area-heigth"
          style="color: #37236a"
          value="{{ this.data.responseAccountBank ? this.data.responseAccountBank : '' }}"
        ></textarea>
        <mat-error
          id="requiredMessage"
          *ngIf="dataRejectionMessage.controls.message.invalid && dataRejectionMessage.controls.message.errors.required"
          >{{ 'GENERIC.REQUIRED' | translate: { formValue: 'Mensaje de rechazo' } }}</mat-error
        >
      </mat-form-field>
    </form>

    <div class="mt-3 mb-2" fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClickEdit()">Cancelar</button>
      <button
        mat-raised-button
        color="orange"
        (click)="saveRejectionMessage()"
        id="saveMessage"
        class="ml-2"
        [disabled]="!dataRejectionMessage.valid"
      >
        Guardar Cambios
      </button>
    </div>
  </div>
</ng-template>
