<div id="{{ data.id }}">
  <div fxLayout="column" fxLayoutAlign="center" class="border-bottom-gray border-blue">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="mb-3 title-name">  <img class="icon-dashboard" src="/assets/img/dashboard/icon-perfil.svg" alt="user"> {{ data.name }} {{data.lastNames}}</h3>
        <a id="closeDialog" matRipple (click)="onNoClick()"
          ><mat-icon class="close">close</mat-icon></a
          >
      </div>
  </div>
  <div mat-dialog-content class="dialog-height" >  
      <div fxLayout="row" fxLayoutGap="50px">
          <div fxLayout="column" fxFlex="75">
              <div class="personal-information">
                  <h3 class="secundary-text">Información personal</h3>
                  <p fxLayout="row">
                      <span class="galano-bold gray w-label">DOCUMENTO</span> 
                      <span class="normal-text">{{data.identification}}</span>
                  </p>
                  <p fxLayout="row">
                      <span class="galano-bold gray w-label">CORREO ELECTRÓNICO </span>
                      <span class="normal-text">{{data.email}}</span>
                    </p>
                  <p fxLayout="row">
                      <span class="galano-bold gray w-label">CELULAR</span> 
                      <span class="normal-text">{{data.cellphone}}</span>
                    </p>
                  <p fxLayout="row">
                      <span class="galano-bold gray w-label">DIRECCIÓN</span> 
                      <span class="normal-text">{{data.address}}</span>
                    </p>
              </div>
              <div class="bank-information">
                  <h3 class="secundary-text">Información Bancaria</h3>
                  <p fxLayout="row">
                      <span class="galano-bold gray w-label">BANCO</span> 
                      <span class="normal-text">{{data.bank}}</span>
                    </p>
                  <p fxLayout="row">
                      <span class="galano-bold gray w-label">CUENTA</span> <span class="normal-text" *ngIf="data.typeBankAccount === '1'"> Ahorros</span> <span class="normal-text" *ngIf="data.typeBankAccount === '2'"> Corriente</span> <span class="normal-text"> - {{data.bankAccountNumber}}</span></p>
                      <p fxLayout="row">
                        <span class="galano-bold gray w-label">FECHA DE CARGA</span> <span class="normal-text" *ngIf="data.typeBankAccount === '1'"> {{data.AntdateCertBank | date: 'yyyy-MM-dd'}}</span> </p>
              </div>
              <div class="add-information">
                <h3 class="secundary-text">Archivos Adjuntos</h3>
                <p fxLayout="row">
                    <span class="galano-bold gray w-label">ARCHIVO</span> 
                    <span class="galano-bold gray wx-label ">PRIMERA CARGA</span> 
                    <span class="galano-bold gray wx-label ">ÚLTIMA CARGA</span>     
                </p>
                <p fxLayout="row">
                    <span class="w-label"><a class="text-link text-underline cursor-pointer" (click)="IdentificationCard1Download()"> Cédula 1</a></span>
                    <span class="wx-label normal-text">{{data.AntdateCed1 | date: 'yyyy/MM/dd hh:mm:ss'}}</span>  
                    <span class=" wx-label normal-text">{{data.dateCed1 | date: 'yyyy/MM/dd hh:mm:ss'}}</span>  
                </p>
                <p fxLayout="row">
                    <span class="w-label"><a class="text-link text-underline cursor-pointer" (click)="IdentificationCard2Download()" target="_blank" id="ced2"> Cédula 2</a></span>
                    <span class="wx-label normal-text">{{data.AntdateCed2 | date: 'yyyy/MM/dd hh:mm:ss'}}</span>  
                    <span class="wx-label normal-text">{{data.dateCed2 | date: 'yyyy/MM/dd hh:mm:ss'}}</span>  
                </p>
                <p fxLayout="row">
                    <span class="w-label"><a class="text-link text-underline cursor-pointer" (click)="bankCardDownload()" target="_blank" id="certbank"> Cert.bancaria</a></span>
                    <span class="wx-label normal-text">{{data.AntdateCertBank | date: 'yyyy/MM/dd hh:mm:ss'}}</span>  
                    <span class="wx-label normal-text">{{data.dateCertBank | date: 'yyyy/MM/dd hh:mm:ss'}}</span>  
                </p>
            </div>
          </div>
          <div fxLayout="column" fxFlex="25" fxLayoutAlign="start start">
              <div class="user-status">
                  <h3 class="secundary-text">Usuario</h3>
                  
                  <div *ngIf="data.userId !== idAdmin">
                      <p class="galano-bold gray">ESTADO</p>
    
                      <mat-slide-toggle  [(ngModel)]="data.state" (change)="changeStatus()" color="orange-toggle" labelPosition="before" id="state-toggle">
                            <span class="third-text" *ngIf="data.state === true">
                                Activo
                            </span>
                            <span class="third-text" *ngIf="data.state === false">
                                Inactivo
                            </span>
                        </mat-slide-toggle>
                  </div>

                  <p class="galano-bold gray">RECIBE COMUNICACIONES</p>
                  <mat-slide-toggle [(ngModel)]="data.receiveCommunications" (change)="changeComunications()" color="orange-toggle" labelPosition="before" id="comunications-toggle">
                      <span class="third-text" *ngIf="data.receiveCommunications === true">
                          Si
                      </span>
                      <span class="third-text" *ngIf="data.receiveCommunications === false">
                          No
                      </span>
                  </mat-slide-toggle>

                  <p class="galano-bold gray">ORIGEN</p>
                     <span class="normal-text" *ngIf="data.isEmployeeGrupoExito === true">
                        Interno
                    </span>
                    <span class="normal-text" *ngIf="data.isEmployeeGrupoExito === false">
                        Externo
                    </span>
                    <div >
                  <p class="galano-bold gray">VERIFICACIÓN</p>
                    <mat-slide-toggle [(ngModel)]="data.verified" (change)="changeVerified()" color="orange-toggle" labelPosition="before" id="verified-toggle">
                        <span class="third-text" *ngIf="data.verified === true">
                            Aprobado
                        </span>
                        <span class="third-text" *ngIf="data.verified === false">
                             Pendiente
                        </span>
                    </mat-slide-toggle>
                </div>
              </div>

              
          </div>
      </div>
  </div>
</div>
