<div class="download-documents">

    <table mat-table [dataSource]="dataSource" class="w-100 mat-elevation-z0 mb-3">
      
        <!-- Position Column -->
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef class="galano-bold text-uppercase"> </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox class="mr-3 mb-2" (change)="changeValue($event, element.document)"> </mat-checkbox>
          </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="galano-bold text-uppercase"> NOMBRE DEL ARCHIVO </th>
          <td mat-cell *matCellDef="let element">
            <a class="text-link text-underline cursor-pointer" (click)="previewDocument(element.document)">
               {{element.name}} 
            </a>
            </td>
        </ng-container>
      
        <!-- TIPO Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef class="galano-bold text-uppercase"> TIPO </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
      
        <!-- PRIMERA CARGA Column -->
        <ng-container matColumnDef="first">
          <th mat-header-cell *matHeaderCellDef class="galano-bold text-uppercase"> PRIMERA CARGA </th>
          <td mat-cell *matCellDef="let element"> {{element.dateFirst | date: 'yyyy/MM/dd hh:mm:ss'}} </td>
        </ng-container>

        <!-- ÚLTIMA CARGA Column -->
        <ng-container matColumnDef="last">
          <th mat-header-cell *matHeaderCellDef class="galano-bold text-uppercase"> ÚLTIMA CARGA </th>
          <td mat-cell *matCellDef="let element"> {{element.dateLast | date: 'yyyy/MM/dd hh:mm:ss'}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <span fxLayout="row" fxLayoutAlign="end end" >
          <button (click)="downloadSelectedFiles()" class="download-button" mat-raised-button color="orange">
            <span fxLayout="row" fxLayoutAlign="space-between center">
                {{ 'USERS.DOWNLOAD_SELECT' | translate }}
                <i class="tio-download_from_cloud style-icon-download ml-2"></i>
            </span>
          </button>
      </span>
  </div>