<div
  class="sidenav_container"
  [@onSideNavChange]="sideNavState ? 'open' : 'close'"
>
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%">
    <div>
      
      <!-- <mat-nav-list *ngIf="auth.isLoggedIn()">
        <a
          [@animateText]="linkText ? 'hide' : 'show'"
          mat-list-item
          class="link linkDiv"
          *ngFor="let page of currentPages; let i = index"
          [ngClass]="{ active: page.id === itemSelected }"
          routerLink="{{ page?.menus[0].route }}"
          (click)="setItemSelected(page.id)"
        >
          <i
            ngClass="{{
              page?.description === 'Sin Grupo'
                ? page?.menus[0].name + '_mini'
                : page?.description + '_mini'
            }}"
          ></i>
        </a>

        <div [@animateText]="linkText ? 'show' : 'hide'" mat-list-item>
          <h3 class="border-bottom-primary-init user" *ngIf="auth.isLoggedIn()">
            Hola, {{ name }}
          </h3>
          <section
            mat-list-item
            *ngFor="let page of currentPages; let i = index"
            class="menu-item"
          >
            <a
              mat-list-item
              *ngIf="page.description === 'Sin Grupo'"
              class="link cursor-pointer"
              routerLink="{{ page.route }}"
              (click)="setItemSelected(page.id)"
              [ngClass]="{ active: page.id === itemSelected }"
            >
              <span
                ngClass="gtmHomeClicMenuLightbox{{
                  page?.menus[0].name
                }} f-16 {{ page?.menus[0].name }}"
                class="page_name_2"
                >{{ page?.menus[0].name }}
              </span>
            </a>
            <details *ngIf="page.description !== 'Sin Grupo'">
              <summary>
                <span
                  ngClass="cursor-pointer gtmHomeClicMenuLightbox{{
                    page?.description
                  }} f-16 {{ page?.description }}"
                  class="page_name"
                  >{{ page?.description }}
                </span>
              </summary>
              <ul class="leftul">
                <li *ngFor="let item of page.menus">
                  <a
                    routerLink="{{ item.route }}"
                    (click)="setItemSelected(item.name)"
                    class="subItem"
                    [ngClass]="{ active: item.name === itemSelected }"
                    >{{ item.name }}</a
                  >
                </li>
              </ul>
            </details>
          </section>
        </div>
      </mat-nav-list> -->

      <mat-nav-list *ngIf="!auth.isLoggedIn()">
        <a
          [@animateText]="linkText ? 'hide' : 'show'"
          mat-list-item
          class="link linkDiv"
          *ngFor="let page of currentPages[0]?.menus; let i = index"
          [ngClass]="{ active: page.name === itemSelected }"
          routerLink="{{ page.route }}"
          (click)="setItemSelected(page.name)"
        >
          <i ngClass="{{ page.name + '_mini' }}"></i>
        </a>

        <div [@animateText]="linkText ? 'show' : 'hide'" mat-list-item>
          <section
            mat-list-item
            *ngFor="let page of currentPages[0]?.menus; let i = index"
            class="menu-item"
          >
            <a
              mat-list-item
              class="link cursor-pointer"
              routerLink="{{ page.route }}"
              (click)="setItemSelected(page.name)"
              [ngClass]="{ active: page.name === itemSelected }"
            >
              <span
                ngClass="gtmHomeClicMenuLightbox{{ page.name }} f-16 {{
                  page.name
                }}"
                class="page_name_2"
                >{{ page.name }}
              </span>
            </a>
          </section>
        </div>
      </mat-nav-list>

      <span class="spacer"></span>
      <div class="contarr">
        <div fxLayout="row" fxLayoutAlign="end center" class="arrcont">
          <button mat-icon-button (click)="onSinenavToggle()">
            <mat-icon *ngIf="sideNavState" class="rotate arrow"
              >double_arrow</mat-icon
            >
            <mat-icon *ngIf="!sideNavState" class="arrow pl"
              >double_arrow</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
