<div class="offers container">
  <h1>{{ "OFFERS.OFFERS_TITLE" | translate }}</h1>
  <div class="arrows" fxLayout="row" fxLayoutAlign="space-between"  class="mt-5">
  <h3 class="gray border-left-orange">
    {{ "OFFERS.TENDENT" | translate }}
  </h3>
  <span fxLayout="row" fxLayoutAlign="end">
    <button mat-button class="p-1" (click)="prev()"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <button mat-button class="p-1" (click)="next()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </span>
  </div>
  <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                      >
        <div ngxSlickItem *ngFor="let mostprominent of mostprominent; let i = index" class="slide">
                <app-card-offer
                  ngxSlickItem
                  fxLayout="column"
                  classButton="mb-1 button-100 gtmOfertasClicLinkBannerDest{{i}}"
                  [(business)]="mostprominent.business"
                  offers="true"
                  id="productTitle{{ i }}"
                  btnid="mostprominent{{ i }}"
                  [productName]="mostprominent.title"
                  [image]="mostprominent.imageurl"
                  [alt]="mostprominent.productName"
                  textbutton="{{ 'PRODUCTS.GET_LINK' | translate }}"
                  (infoProduct)="dataProduct(mostprominent)"
                ></app-card-offer>
              
        </div>
    </ngx-slick-carousel>

 
    <div class="arrows" fxLayout="row" fxLayoutAlign="space-between"  class="mt-5">
        <h3 class="gray border-left-orange">
            {{ "OFFERS.BEST_BUY" | translate }}
        </h3>
        <span fxLayout="row" fxLayoutAlign="end">
          <button mat-button class="p-1" (click)="prev2()"><mat-icon>keyboard_arrow_left</mat-icon></button>
            <button mat-button class="p-1" (click)="next2()"><mat-icon>keyboard_arrow_right</mat-icon></button>
          </span>
        </div>

  <ngx-slick-carousel class="carousel" 
                        #slickModal2="slick-carousel" 
                        [config]="slideConfig" 
                      >
  <div ngxSlickItem *ngFor="let mostsold of mostsold; let i = index" class="slide">
    <app-card-offer
      fxLayout="column"
      classButton="mb-1  button-100 orange-border gtmOfertasClicLinkBannerVend{{i}}"
      [(business)]="mostsold.business"
      offers="true"
      id="productTitle{{ i }}"
      btnid="mostsold{{ i }}"
      [productName]="mostsold.title"
      [image]="mostsold.imageurl"
      [alt]="mostsold.productName"
      textbutton="{{ 'PRODUCTS.GET_LINK' | translate }}"
      (infoProduct)="dataProduct(mostsold)"
    ></app-card-offer>
  </div>
  </ngx-slick-carousel>

  <div class="arrows" fxLayout="row" fxLayoutAlign="space-between"  class="mt-5">
      <h3 class="gray border-left-orange">
          {{ "OFFERS.BEST_COMISSION" | translate }}
      </h3>
      <span fxLayout="row" fxLayoutAlign="end">
        <button mat-button class="p-1" (click)="prev3()"><mat-icon>keyboard_arrow_left</mat-icon></button>
          <button mat-button class="p-1" (click)="next3()"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </span>
      </div>

  <ngx-slick-carousel class="carousel" 
  #slickModal3="slick-carousel" 
  [config]="slideConfig" 
>
<div ngxSlickItem *ngFor="let highercommission of highercommission; let i = index" class="slide">
    <app-card-offer
      fxLayout="column"
      classButton="mb-1 button-100 gtmOfertasClicLinkBannerComis{{i}}"
      [(business)]="highercommission.business"
      offers="true"
      id="productTitle{{ i }}"
      btnid="highercommission{{ i }}"
      [productName]="highercommission.title"
      [image]="highercommission.imageurl"
      [alt]="highercommission.productName"
      textbutton="{{ 'PRODUCTS.GET_LINK' | translate }}"
      (infoProduct)="dataProduct(highercommission)"
    ></app-card-offer>
  </div>
</ngx-slick-carousel>
</div>

<ng-template #templateDialog>
    <form [formGroup]="formLink">
        <div fxLayout="row" fxLayoutGap="20px"> 
        <div fxLayout="column" fxFlex="90">
          <mat-form-field appearance="dashed" class="dashed mt-2">
            <input
              id="url"
              matInput
              formcontrolName="link"
              [value]="urlshorten"
              #linkInput
              readonly
            />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="10" class="mt-2">
          <button
            mat-mini-fab
            id="btnCopy"
            class="gtmOfertasClicLinkCopiarLink"
            color="orange"
            (click)="copyInputMessage(linkInput)"
          >
            <span fxLayoutAlign="space-between center" class="gtmOfertasClicLinkCopiarLink">
              <mat-icon matSuffix class="gtmOfertasClicLinkCopiarLink">link</mat-icon>
            </span>
          </button>
        </div>
      </div>
      </form>

  <div id="share">
    <h3 class="border-bottom-orange-init">{{ "GENERIC.SHARE" | translate }}</h3>
    <button  theme="circles-dark" shareButton="facebook" [url]="urlshorten" class="sharebutton gtmInicioClicFiltroExitocomFacebook mr-2"><i class="fab fa-facebook-f gtmInicioClicFiltroExitocomFacebook"></i></button>
    <button  theme="circles-dark" shareButton="twitter" [url]="urlshorten" class="sharebutton gtmInicioClicFiltroExitocomTwitter mr-2"><i class="fab fa-twitter gtmInicioClicFiltroExitocomTwitter"></i></button>
    <button  theme="circles-dark" shareButton="whatsapp" [url]="urlshorten" class="sharebutton gtmInicioClicFiltroExitocomWhatsapp"><i class="fab fa-whatsapp gtmInicioClicFiltroExitocomWhatsapp"></i></button>
  </div>
</ng-template>
