<div
  fxLayout="row"
  fxLayoutAlign="start start"
  @simpleFadeAnimation
>
  <mat-card  fxLayout="column" fxFlex="100" class="mt-2 mb-2" fxLayoutAlign="center center">
    <mat-card-content class="w-100">
      
        <div class="img-container-2">
          <img
            class="img-responsive mt-3"
            mat-card-image
            src="{{ image }}"
            alt="{{ alt }}"
          />
        </div>
      

      <h3 class="m-0 gray regular" id="{{ id }}" matTooltip={{productName}}>{{ productName | truncate: '10' }}</h3>
      <div *ngIf="business === 'viajes'">
      <p class="min-comi">
        <span>Comisión:</span>
        <span class="discount">
          {{ price | currency: "":"symbol":"1.0-0" }}
        </span>
      </p>
    </div>
      <div *ngIf="business === 'exito'">
      <p>
        <span class="discount d-block">
          {{ price | currency: "":"symbol":"1.0-0" }}
        </span>
        <span class="plu"> PLU:{{ plu }} </span>
      </p>
    </div>
      <button *ngIf="auth.isLoggedIn() && (auth.getRole$ | async ) === 'CLICKER'"
        id="{{ btnid }}"
        mat-raised-button
        color="orange"
        ngClass="{{classButton}}"
        (click)="product()"
      >
        {{ textbutton }}
      </button>
    </mat-card-content>
  </mat-card>
</div>
