<app-banner title="{{'BANNERS.HELP_CENTER' | translate}}" img="/assets/img/banners/centro-ayuda-pc.jpg" imgMobile="/assets/img/banners/centro-ayuda-mobile.jpg"></app-banner>
<div class="container">
    <div fxLayout.gt-xs="row" fxLayoutGap.gt-xs="30px" ngClass.gt-xs="mt-3">
        <span fxHide.gt-xs="true">
            <button mat-button [routerLink]="[ '/centro-de-ayuda/comisiones' ]">
                <span class="galano-bold f-16" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Volver
                </span>
            </button>
        </span>
        <div fxLayout.gt-xs="column" fxFlex.gt-xs="25" fxShow.gt-xs="true" fxShow.xs="false">
            <app-menu-help-center></app-menu-help-center>
        </div>
        <div fxLayout.gt-xs="column">
            <mat-card>
            <span fxLayout="row">
                <img src="/assets/img/ayuda/comisiones/fechas-de-pago.svg" alt="{{'HELP_CENTER.COMMISSIONS.PAYMENT_TITLE' | translate}}">
                <h3 class="f-20">{{'HELP_CENTER.COMMISSIONS.PAYMENT_TITLE' | translate}}</h3>
            </span>
            
            <p> *Las compras efectivas pueden completarse los días posteriores a la fecha en la que el cliente compra, ya que pasa por varios estados de validación antes de hacerse efectiva.</p>
            <table  class='table-payment-dispar w-100'>
                <tbody>
                    <tr>
                        <th>FECHAS DE CORTE</th>
                        <th>DÍAS DE PAGO</th>
                    </tr>
                    <tr>
                        <td>Del 1° al 31 de enero</td>
                        <td>Semana del 15 al 20 de febrero</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 31 de enero</td>
                        <td>Semana del 15 al 20 de febrero</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 28 de febrero</td>
                        <td>Semana del 15 al 20 de marzo</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 31 de marzo</td>
                        <td>Semana del 15 al 20 de abril</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 30 de abril</td>
                        <td>Semana del 15 al 20 de mayo</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 31 de mayo</td>
                        <td>Semana del 15 al 20 de junio</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 30 de junio</td>
                        <td>Semana del 15 al 20 de julio</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 31 de julio</td>
                        <td>Semana del 15 al 20 de agosto</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 31 de agosto</td>
                        <td>Semana del 15 al 20 de septiembre</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 30 de septiembre</td>
                        <td>Semana del 15 al 20 de octubre</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 31 de octubre</td>
                        <td>Semana del 15 al 20 de noviembre</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 30 de noviembre</td>
                        <td>Semana del 15 al 20 de diciembre</td>
                    </tr>
                    <tr>
                        <td>Del 1° al 31 de diciembre</td>
                        <td>Semana del 15 al 20 de enero</td>
                    </tr>
                </tbody>
            </table>
            
        </mat-card>
        </div>
    </div>
</div>


