<app-banner
  title="{{ 'DASHBOARD.BUSINESS' | translate }}"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>
<div class="container mt-3">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row">
      <img class="image-bussiness" [src]="image" alt="" />
      <span>
        <h3>{{ title }} / Administrar comisiones</h3></span
      >
    </div>
    <span fxLayout="row">
      <!-- <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.BUSSINESS' | translate }}</h3> -->
      <button mat-button [routerLink]="['/negocios-admin']">
        <span
          class="galano-bold f-16"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
          Volver
        </span>
      </button>
    </span>
  </div>
  <div>
    <div class="container-search">
      <div fxLayout="row">
        <div fxLayout="row">
          <app-search-users
            class="searchUser"
            (search)="searchUser($event)"
          ></app-search-users>
          <div
            style="
              margin-top: 25px;
              margin-left: 20px;
              color: #37236a;
              font-weight: bold;
            "
            fxLayout="row"
          >
            Mostrar Marketplace:
            <mat-slide-toggle
              (change)="changeStatus()"
              style="position: relative; bottom: 2px; margin-left: 5px"
              [(ngModel)]="marketplace"
              color="orange2-toggle"
            ></mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      class="users-table"
      matSort
      (matSortChange)="sort($event)"
    >
      <ng-container matColumnDef="code">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 20%; font-weight: bold"
          mat-sort-header="code"
        >
          CÓDIGO DE CATEGORÍA
        </th>
        <td mat-cell *matCellDef="let element: let i=index">
          <p class="m-0 text-font">{{ element.code }}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="nombreCat">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 25%; font-weight: bold"
          mat-sort-header="description"
        >
          NOMBRE DE CATEGORÍA
        </th>
        <td mat-cell *matCellDef="let element: let i=index">
          <p class="m-0 text-font">{{ element.description }}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="comisionClik">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 20%; font-weight: bold; text-align: center"
          mat-sort-header="commissionClicker"
        >
          COMISIÓN DE CLICKER
        </th>
        <td mat-cell *matCellDef="let element: let i=index">
          <p class="m-0 text-font">{{ element.commissionclicker }} %</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="comisionBus">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 20%; font-weight: bold; text-align: center"
          mat-sort-header="commissionBusiness"
        >
          COMISIÓN DE NEGOCIO
        </th>
        <td mat-cell *matCellDef="let element: let i=index">
          <p class="m-0 text-font">{{ element.commissionbusiness }} %</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="comisionTotal">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 20%; font-weight: bold; text-align: center"
          mat-sort-header="commissionTotal"
        >
          COMISIÓN TOTAL
        </th>
        <td mat-cell *matCellDef="let element: let i=index">
          <p class="m-0 text-font">{{ element.commissiontotal }} %</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 5%; font-weight: bold"
          mat-sort-header="actions"
        >
          ACCIONES
        </th>
        <td mat-cell *matCellDef="let element: let i=index">
          <i
            class="tio-edit style-icon cursor-pointer mr-2"
            (click)="editCategoryCom(element)"
          ></i>
          <i
            class="tio-delete style-icon-delete cursor-pointer"
            (click)="deleteCategoryCom(element)"
          ></i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        id="user-{{ i }}"
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
      ></tr>
    </table>
    <div class="mt-3">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[20]"
        [pageIndex]="pageIndex"
        (page)="pagination($event)"
      ></mat-paginator>
    </div>
    <div class="mt-2 mb-2" fxLayout="row" fxLayoutAlign="end end">
      <button
        mat-raised-button
        color="orange"
        (click)="addComisionCategory()"
        id="download-users"
        class="ml-2"
      >
        Agregar categoría
      </button>
    </div>
  </div>
</div>

<ng-template #templateAddCategory>
  <div ngClass="delete-container">
    <div>
      <form [formGroup]="dataTip">
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="CÓDIGO DE CATEGORÍA"
            formControlName="codCategory"
            type="text"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataTip.controls.codCategory.invalid &&
              dataTip.controls.codCategory.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Código de categoría" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="NOMBRE DE CATEGORÍA"
            type="text"
            formControlName="nameCategory"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataTip.controls.nameCategory.invalid &&
              dataTip.controls.nameCategory.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Nombre de categoría" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="COMISIÓN DE CLICKER (%)"
            type="number"
            formControlName="comisionClicker"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataTip.controls.comisionClicker.invalid &&
              dataTip.controls.comisionClicker.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Comisión de clicker" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="COMISIÓN DE NEGOCIO (%)"
            type="number"
            formControlName="commisionBussiness"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataTip.controls.commisionBussiness.invalid &&
              dataTip.controls.commisionBussiness.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Comisión de negocio" }
            }}</mat-error
          >
        </mat-form-field>
      </form>
    </div>

    <div fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClick()">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="orange"
        (click)="saveComisionCategory()"
        id="download-users"
        class="ml-2"
        [disabled]="!dataTip.valid"
      >
        Guardar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templateEditCategory>
  <div ngClass="delete-container">
    <div>
      <form [formGroup]="dataEditTip">
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="CÓDIGO DE CATEGORÍA"
            formControlName="codEditCategory"
            type="text"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataEditTip.controls.codEditCategory.invalid &&
              dataEditTip.controls.codEditCategory.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Código de categoría" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="NOMBRE DE CATEGORÍA"
            type="text"
            formControlName="nameEditCategory"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataEditTip.controls.nameEditCategory.invalid &&
              dataEditTip.controls.nameEditCategory.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Nombre de categoría" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="COMISIÓN DE CLICKER (%)"
            type="number"
            formControlName="comisionEditClicker"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataEditTip.controls.comisionEditClicker.invalid &&
              dataEditTip.controls.comisionEditClicker.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Comisión de clicker" }
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="COMISIÓN DE NEGOCIO (%)"
            type="number"
            formControlName="commisionEditBussiness"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
          <mat-error
            id="requiredName"
            *ngIf="
              dataEditTip.controls.commisionEditBussiness.invalid &&
              dataEditTip.controls.commisionEditBussiness.errors.required
            "
            >{{
              "GENERIC.REQUIRED"
                | translate: { formValue: "Comisión de negocio" }
            }}</mat-error
          >
        </mat-form-field>
      </form>
    </div>

    <div fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClick()">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="orange"
        (click)="editSaveComisionCategory()"
        id="download-users"
        class="ml-2"
        [disabled]="!dataEditTip.valid"
      >
        Guardar
      </button>
    </div>
  </div>
</ng-template>
