<app-banner
  title="{{ 'DASHBOARD.BUSINESS' | translate }}"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>
<div class="container mt-3">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row">
      <img class="image-bussiness" [src]="image" alt="" />
      <span>
        <h3>{{ title }} / Administrar comisiones</h3></span
      >
    </div>
    <span fxLayout="row">
      <!-- <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.BUSSINESS' | translate }}</h3> -->
      <p
        ngClass.gt-xs="f-20"
        class="cursor-pointer text-underline purple-text"
        [routerLink]="['/negocios-admin']"
      >
        Regresar
      </p>
    </span>
  </div>
</div>
