<div class="container m-t4 fade-in">
    
    <h1 class="border-bottom-orange-init">{{ 'USERS.USERS' | translate}}</h1>
    <p>Elige un rango de fechas para descargar usuarios</p>
    
    <form
        [formGroup]="dateForm"
        class="downloadUsers"
        >
            <mat-icon class="icon-date" matPrefix>date_range</mat-icon>
            <input formControlName="dateRange" [locale]="locale" placeholder="Seleccione fechas" type="text" [maxDate]="maxDate"  ngxDaterangepickerMd class="form-control border-input mat-elevation-z1 p-2 border-radius"/>
            <button mat-raised-button color="orange" (click)="getUserExcel()" id="download-users" class="ml-2" [disabled]="!dateForm.valid">Descargar <img class="icon-download" src="assets/img/dashboard/descarga.svg" alt="descarga"></button>
    </form>

    <app-search-users (search)="searchUser($event)"></app-search-users>
    <div id="users-table">
        <app-table-users (dataUser)="userData($event)" [dataSource]="dataSource" (sortDataUser)="sort($event)"></app-table-users>
        <mat-paginator
        [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="[50]"
            [pageIndex]="pageIndex"
            (page)="pagination($event)"
       ></mat-paginator>
    </div>
</div>