@import "variables";
@import "general";
@import "animations";

.border-input {
  border: none;
  outline: none;
  height: 32px;
}

.border-radius {
  border-radius: 5px;
}

.icon-download {
  position: relative;
  left: 5px;
  bottom: 2px;
}

.icon-date {
  position: relative;
  top: 4px;
  left: 30px;
  font-size: 22px;
  color: #8d7eb7;
}

.form-control {
  padding-left: 35px !important;
  font-family: $font-galano !important;
}

.downloadUsers {
  position: relative;
  left: -23px;
}

.formw {
  width: 270px;
}

.border-separators {
  margin-left: 30px;
  padding-left: 40px;
  border-left: 1px solid #d1d2f9;
}
.container-search {
  width: 300px;
  margin-right: 30px !important;
}
.selected-report {
  width: 280px !important;
  color: #37236a;
  div {
    div {
      span {
        color: #37236a;
      }
    }
  }
}
.selected-placeholder {
  color: #37236a;
}
.mat-select-arrow {
  border: none !important;
  background: url("/assets/img/icon-arrow-down.svg") no-repeat !important;
  width: 26px !important;
  height: 26px !important;
  background-size: 25px;
  position: relative;
  bottom: 4px;
}
.selected-title {
  color: #37236a;
}

.container-forms {
  justify-content: space-between;
}
.title-blue {
  color: #37236a;
  font-weight: bold;
  font-size: 16px;
}
.style-icon {
  font-size: 18px;
  position: relative;
  bottom: 4px;
}

