<app-banner
  title="{{ 'HEADER.PROFILE' | translate }}"
  img="/assets/img/banners/banner-perfil-pc.jpg"
  imgMobile="/assets/img/banners/banner-perfil-mobile.jpg"
></app-banner>

<div class="container mb-4" [ngClass]="{ 'd-none': !profile, 'd-block': profile }">

  <mat-tab-group #tabGroup [(selectedIndex)]=selectedIndex>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="gtmPerfilClicCuentaClickam">PERFIL</span>
      </ng-template>
      <app-profile-form [showBankInfo]="false" [showInfoAccount]="true"></app-profile-form>
    </mat-tab>

    <mat-tab *ngIf="(auth.getRole$ | async) !== 'ADMIN'">
      <ng-template mat-tab-label>
        <span class="gtmPerfilClicInfoirmacionAdicionalClickam">DATOS PERSONALES</span>
      </ng-template>
      <app-aditional-info-form></app-aditional-info-form>
    </mat-tab>

    <mat-tab *ngIf="!managedPayments || !isEmployee">
      <ng-template mat-tab-label>
        <span class="gtmPerfilClicGestionarPagosClickam">DATOS FINANCIEROS</span>
      </ng-template>
      <!-- <app-payment-info *ngIf="(auth.getRole$ | async) !== 'ADMIN' && !isEmployee"></app-payment-info> -->
      <ng-container *ngIf="(auth.getRole$ | async) !== 'ADMIN' && !isEmployee">
        <app-payment-info></app-payment-info>
        <!-- <app-payment-info *ngIf="!managedPayments"></app-payment-info>
        <app-profile-form *ngIf="managedPayments" [showBankInfo]="true" [showInfoAccount]="false"></app-profile-form> -->
      </ng-container>
      <!-- <ng-container *ngIf="(auth.getRole$ | async) !== 'ADMIN'">
        <app-payment-info *ngIf="false"></app-payment-info>
        <app-profile-form *ngIf="true" [showBankInfo]="true" [showInfoAccount]="false"></app-profile-form>
      </ng-container> -->
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="gtmPerfilClicGestionarPagosClickam">PREFERENCIAS</span>
      </ng-template>
      <app-preferences></app-preferences>
    </mat-tab>
  </mat-tab-group>
</div>
