<app-logo></app-logo>

<div class="container mb-4">
  <h2 class="border-bottom-orange-init">{{ "PROFILE.PROFILE" | translate }}</h2>

  <mat-tab-group>
    <mat-tab label="Cuenta">
      <app-profile-form></app-profile-form>
    </mat-tab>
    <mat-tab label="Información adicional" *ngIf="(auth.getRole$ | async ) !== 'ADMIN'">
      <app-aditional-info-form></app-aditional-info-form>
    </mat-tab>
  <mat-tab label="Gestionar pagos" *ngIf="(auth.getRole$ | async ) !== 'ADMIN'">
    <app-payment-info></app-payment-info>
  </mat-tab>
</mat-tab-group>
</div>
