<form
  [formGroup]="storieForm"
  class="form-container"
  fxLayout="row"
  fxLayoutAlign="space-between start"
  fxLayoutGap="30px"
>
  <div fxLayout="column" fxFlex="30%" class="upload" fxLayoutAlign="center center">
    <label for="image-story" id="upload" class="cursor-pointer">
    <span  *ngIf="imageEdit === ''">
      <span *ngIf="!showErrorImg">
        <span *ngIf="nameFile === ''">
            <i fxLayout="column"  class="tio-upload_on_cloud style-icon mb-2"></i>
          <strong class="text-upload-file uppercase"
            >Adjuntar imagen en formato vertical (1080x1920px, formato .jpg,
            .mp4, max 7MB, 72MB)</strong
          >
        </span>

        <span *ngIf="nameFile !== '' && file!== undefined" class="over">
        <img class="preview-img" [src]="'data:image/jpg;base64,' + file" [alt]="nameFile" />
        <div class="overlay">
            <i class="tio-edit style-icon"></i> 
            <p class="m-0">Editar</p>
          </div>
      </span>
      </span>
    

    <mat-error *ngIf="showErrorImg" class="text-small small pb-2 d-block">
      Formato inválido, solo se pueden subir archivos con la extensión JPG max
      7MB y MP4 max 72MB
    </mat-error>
    </span>

    <span *ngIf="imageEdit !== ''" class="over">
        <img class="preview-img" [src]="imageEdit" />
        <div class="overlay">
            <i class="tio-edit style-icon"></i> 
            <p class="m-0">Editar</p>
          </div>
    </span>

    </label>

    <input
      (change)="onFileChangeFiles($event)"
      id="image-story"
      type="file"
      formControlName="image"
    />
  </div>

  <div fxLayout="column" fxFlex="70%">
    <h3 class="mt-0">Nueva story</h3>

    <mat-form-field >
        <input
          matInput
          placeholder="Nombre de contenido"
          formControlName="nameContent"
          type="text"
        />
        <mat-error
          id="requiredName"
          *ngIf="
            storieForm.controls.nameContent.invalid &&
            storieForm.controls.nameContent.errors.required
          "
          >{{
            "GENERIC.REQUIRED" | translate: { formValue: "Nombre de contenido" }
          }}</mat-error
        >
      </mat-form-field>
      <mat-form-field >
        <input
          matInput
          placeholder="Link"
          formControlName="link"
          type="text"
        />

      </mat-form-field>
      <mat-form-field >
        <input
          matInput
          placeholder="Comisión"
          formControlName="commission"
          type="text"
        />

      </mat-form-field>

      <mat-slide-toggle (toggleChange)="date()" formControlName="eraser">Borrador</mat-slide-toggle>

      <h4 *ngIf="showDate"  class="border-bottom-gray pb-1 pt-1">PUBLICACIÓN</h4>

      <div *ngIf="showDate" fxLayout="row" class="mt-2" fxLayoutGap="10px">
        <div>
          <label class="label mt-2 mb-1">
            FECHA DE PUBLICACIÓN 
          </label>
         <span class="mat-elevation-z1 border-radius" fxLayout="row-reverse">
              <input
              matInput
              [matDatepicker]="picker"
              formControlName="date"
              [min]="minDate"
              (dateChange)="changeDate()"
              readonly
              />
              <mat-datepicker-toggle
              class="icon-date"
              matSuffix
              [for]="picker"
              ></mat-datepicker-toggle>
              
              <mat-datepicker
              class="icon-date"
              touchUi
              #picker
            ></mat-datepicker>
          </span>
          </div>
          
          <div>
          <label class="label mt-2 mb-1">
            HORA DE PUBLICACIÓN 
          </label>
          
          <span class="mat-elevation-z1 p-2 border-radius" fxLayout="row-reverse">
            <input
              [ngxTimepicker]="min"
              matInput
              aria-label="disabled time picker"
              [ngxTimepicker]="defaultValue"
              [min]="minHours"
              formControlName="hour"
              [disabled]="disableHour"
              readonly
            />
          <mat-icon  matPrefix class="clock-time">alarm</mat-icon>
            <ngx-material-timepicker #min></ngx-material-timepicker>
          </span>
          </div>

      </div>

        <div fxLayout="row" fxLayoutAlign="end center" class="mt-2">
            <button mat-button ngClass="button_cancel" (click)="onNoClick()"> Cancelar </button>
            <button mat-raised-button color="orange" (click)="saveStory()" id="download-users" class="ml-2" [disabled]="!storieForm.valid"> {{titleButton}} </button>    
        </div>

  </div>
</form>
