<form class="recover-container" [formGroup]="recoverPasswordForm">
    <mat-form-field>
        <input matInput id="password" type="password" placeholder="{{ 'GENERIC.PASSWORD' | translate }}"
            formControlName="password" required spacebar />
        <mat-error id="requiredPassword"
            *ngIf="recoverPasswordForm.controls.password.invalid  && recoverPasswordForm.controls.password.errors.required">{{
                  "GENERIC.REQUIRED" | translate: {formValue: 'Contraseña'}
                }}</mat-error>

        <mat-error id="minPassword"
            *ngIf="recoverPasswordForm.controls.password.invalid && recoverPasswordForm.controls.password.errors.minlength">{{
                  "GENERIC.MIN_CHARACTERS" | translate: {minchar:recoverPasswordForm.controls.password.errors.minlength.requiredLength}
                }}</mat-error>

        <mat-error id="maxPassword"
            *ngIf="recoverPasswordForm.controls.password.invalid && recoverPasswordForm.controls.password.errors.maxlength">{{
                  "GENERIC.MAX_CHARACTERS" | translate: {maxchar:recoverPasswordForm.controls.password.errors.maxlength.requiredLength}
                }}</mat-error>

        <mat-error id="patternPassword" *ngIf="recoverPasswordForm.controls.password.invalid && recoverPasswordForm.controls.password.errors.pattern">{{
          "GENERIC.PASSWORD_PATTERN" | translate
        }}</mat-error>

    </mat-form-field>

    <mat-form-field>
        <input matInput id="confirmPassword" type="password" placeholder="{{ 'GENERIC.CONFIRM_PASSWORD' | translate }}"
            formControlName="confirmPassword" required spacebar />
        <mat-error id="notmatchPassword" *ngIf="recoverPasswordForm.get('confirmPassword').errors && 
                recoverPasswordForm.get('confirmPassword').errors.ConfirmPassword">{{
                  "REGISTER.PASSWORD_NOT_MATCH" | translate
                }}</mat-error>

        <mat-error id="requiredConfirmPassword"
            *ngIf="recoverPasswordForm.controls.confirmPassword.invalid  && recoverPasswordForm.controls.confirmPassword.errors.required">{{
                  "GENERIC.REQUIRED" | translate: {formValue: 'Contraseña'}
                }}</mat-error>

        <mat-error id="minConfirmPassword"
            *ngIf="recoverPasswordForm.controls.confirmPassword.invalid && recoverPasswordForm.controls.confirmPassword.errors.minlength">{{
                  "GENERIC.MIN_CHARACTERS" | translate: {minchar:recoverPasswordForm.controls.confirmPassword.errors.minlength.requiredLength}
                }}</mat-error>

        <mat-error id="maxConfirmPassword"
            *ngIf="recoverPasswordForm.controls.confirmPassword.invalid && recoverPasswordForm.controls.confirmPassword.errors.maxlength">{{
                  "GENERIC.MAX_CHARACTERS" | translate: {maxchar:recoverPasswordForm.controls.confirmPassword.errors.maxlength.requiredLength}
                }}</mat-error>
    </mat-form-field>
    <button mat-raised-button id="recoverPassword" color="orange" (click)="recoverPassword()" [disabled]="!recoverPasswordForm.valid">
        {{ "GENERIC.SAVE" | translate }}
    </button>
</form>