@import 'variables';
@import 'general';

.recover-container {
  display: flex;
  flex-direction: column;
}

.recover-container > * {
  width: 100%;
}

.weak {
  color: #f44336;
  font-size: 11px;
}

.normal {
  color: $primary-color !important;
  font-size: 11px;
}

.acceptable {
  color: #6bc541 !important;
  font-size: 11px;
}
