@import 'variables';
@import 'general';

img{
  object-fit: contain;
}

.position-absolute {
  position: absolute;
  width: 100%;
  padding: 10px 15px;
  left: 0;
  right: 0;
}

.shadow {
  box-shadow: 0px 1px 6px 2px #00000029;
}

.headercolor {
  color: #ffffff;
}

header {
  min-height: 58px;
  margin-left: 15px;

  .login-text {
    color: $color-headings;
    font-family: $font-galano-bold !important;
  }
}

.divContainer {
  height: 58px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 9;
  background: #fff;
}

.border-orange {
  border-bottom: 1px solid $primary-color;
}

.border-right {
  border-right: 1px solid #86888a9c;
  padding: 0 10px;
  z-index: 1;
  position: relative;
}

.initials {
  width: 30px !important;
  height: 30px !important;
  background: $primary-color;
  border-radius: 50% !important;
  color: white;
  display: flex;
  padding: 0 !important;
  min-width: 30px;
  font-size: 12px;
  justify-content: center;
  line-height: 0;
  &::before {
    border: 1px solid $primary-color;
    content: '';
    padding: 2px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
    right: 0px;
    bottom: 0;
  }
}

.button10k {
  line-height: 20px;
  position: relative;
  padding: 5px 15px;
  margin-bottom: 3px;
  height: 35px;
}

.border-right-white {
  border-right: 1px solid $color-p;
  z-index: 1;
  position: relative;
  height: 25px;
}

.spanLink-active {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 1rem;
  cursor: pointer;
  background-color: $purple2;

  a {
    color: $white;
  }
}

.burger-menu {
  i {
    font-size: 22px;
    font-weight: $font-weight-bold;
    color: $primary-color;
  }

  span {
    font-size: 8px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $primary-color;
  }
}

.divIcons {
  margin-right: 1rem;
}

.iconContainer {
  button{
    border:none;
  }
  background-color: #9aaacf29;
  border-radius: 50%;
  height: 35px;
  width: 36px;

  a {
    text-decoration: none;
  }
}

.icon {
  font-size: 22px;
  font-weight: $font-weight-bold;
  color: $purple2;
}

.links {
  list-style-type: none;
  padding-left: 0;

  a {
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: $primary-color;
  }
}

.btnRegister {
  background-color: $purple2;
  box-shadow: 0px 3px 9px #3a226a80;
  color: white !important;
}

.loginButtons {
  margin-right: 15px;
}

.logo {
  padding: 1rem 0;
}

.divContainerLoggedIn {
  padding: 0;
}

.menuProfile {
  border-radius: 10px;

  button {
    color: $color-p;
  }

  .title-notification {
    color: $primary-color;
    text-transform: uppercase;
    padding: 10px;
    font-size: 12px;
    font-family: $font-galano-bold;
  }

  .title-inner {
    font-size: 12px;
    color: #534f5c;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: $font-galano-bold;
    max-width: 160px;
  }

  .date {
    font-size: 10px;
    color: #a7a3b1;
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .initials {
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .button10k {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

@media screen and (max-width: 350px) {
  .button10k {
    font-size: 11px;
    padding: 5px;
  }

  .elipsis {
    width: 105px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 425px) {
  .elipsis {
    width: 85px;
  }
}

@media screen and (max-width: 425px) {
  .elipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
  }

  .button10k[_ngcontent-kvs-c12] {
    font-size: 11px;
  }
}

.icon-props {
  color: #8d7eb7;
  font-size: 20px;
}

.icr {
  color: #fd5555;
  font-size: 12px;
}

.separate {
  padding: 2px 0;
  border-top: 1px solid #f3f1f6;
  display: block;
}

.open-notifications {
  font-size: 12px;
  min-width: 280px;
  text-align: center;
  color: #8d7eb7 !important;
}

.not-notifications {
  color: #a7a3b1;
  i {
    font-size: 2rem;
  }
  p {
    font-size: 18px;
    text-align: center;
  }
}

.logo-mobile{
  width: 45px;
  object-fit: contain;
}