@import 'variables';

.position-absolute{
    position: absolute;
    width: 100%;
    padding: 10px 0;
}

header{
    color: #ffffff;

    .nav{
        color:$color-p !important;
        border-bottom: 1px solid $primary-color;
        min-height: 50px;
    }

}
