@import 'variables';
@import 'general';
@import 'animations';

.border-input {
  border: none;
  outline: none;
  height: 32px;
}

.border-radius {
  border-radius: 5px;
}

.icon-date {
  position: relative;
  top: 4px;
  left: 30px;
  font-size: 22px;
  color: #8d7eb7;
}
.form-control {
  padding-left: 35px !important;
  font-family: $font-galano !important;
}
.container-forms {
  justify-content: space-between;
}
.mw {
  min-width: 270px;
}
.title-blue {
  color: #37236a;
  font-weight: bold;
  font-size: 16px;
}
.downloadUsers {
  margin-left: 0px !important;
}
.form-relative {
  right: 28px;
  position: relative;
}
.label-up-text {
  color: #a7a3b1;
  font-family: $font-galano-bold !important;
  margin-bottom: 15px;
  font-size: 11px;
}
.text-link {
  color: #8d7eb7 !important;
  text-decoration: underline;
}
.border-blue {
  border-bottom-color: #352767 !important;
}
.title-name {
  color: #37236a;
  font-size: 20px;
  line-height: 28px;
}
.w-label {
  width: 160px;
}
.w-label-info {
  width: 178px;
}
.gray {
  color: $gray2;
  font-size: 11px;
}
.normal-text {
  color: #37236a;
  font-size: 14px;
  //line-height: 28px;
  //font-family: "galano-medium";
}
.margin-zero-bottom {
  margin-bottom: 0px !important;
}
.margin-zero-top {
  margin-top: 0px !important;
}
.w-description {
  width: 350px;
}
.normal-link {
  color: #8d7eb7 !important;
  text-decoration: underline;
}
.status-img {
  position: relative;
  top: 4px;
}
.left-text {
  div {
    button {
      text-align: left;
    }
  }
}
.style-icon {
  font-size: 18px;
  position: relative;
  bottom: 4px;
}

.validity-time {
  margin-left: 25px;
  color: $primary-color;
  font-family: $font-family-sans-serif;
  font-size: 12px;
}
.card-container-1 {
  grid-template-columns: repeat(4, 1fr);
  .card-news{
    padding: 30px 20px;
  }
}
.card-container-2 {
  grid-template-columns: repeat(5, 1fr);
  .card-news{
    padding: 20px 20px;
  }
}
.card-container-1,
.card-container-2 {
  display: grid;
  grid-gap: 20px;
  .card-news {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 16px 16px #9aaacf1a;

    i {
      margin-bottom: 15px;
      font-size: 38px;
      margin-right: 25px;
    }

    h3 {
      margin: 0 0 5px;
      font-size: 13px;
      font-family: $font-family-sans-serif;
    }

    p {
      font-size: 30px;
      margin: 0;
      color: $primary-color;
      font-family: $font-galano-bold;
    }

    .tio-message_failed {
      color: #9489f4;
    }

    .tio-info {
      color: #f48989;
    }

    .tio-time {
      color: #f4ce89;
    }

    .tio-document_text {
      color: #f79e67;
    }

    .tio-checkmark_circle.success {
      color: #85cf3b;
    }

    .tio-checkmark_circle {
      color: #b6c36f;
    }

    .tio-account_circle {
      color: #ba8af4;
    }

    .tio-chart_bar_4 {
      color: #89caf4;
    }
  }

  .pending-document{
    padding: 13px 20px;
  }

  .card-satisfaction {
    align-items: flex-start;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 16px 16px #9aaacf1a;

    .tio-heart {
      color: #fd5555;
    }

    .right {
      .items {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        .item {
          display: flex;
          align-items: center;
          img {
            width: 16px;
          }
          span {
            font-size: 16px;
            margin-left: 6px;
            color: $primary-color;
          }
        }
      }
    }
  }
}
