<app-banner
  title="Novedades"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>
<div class="container m-t4 fade-in">
  <p class="title-blue">REPORTE DE NOVEDADES</p>
  <div class="mt-4 container-forms" fxLayout="row">
    <div class="ml-4 downloadUsers user-transactions"></div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
      <div>
        <button mat-raised-button color="orange" (click)="openModalFilters()" id="download-users">
          Ordenar y filtrar
          <i class="tio-filter style-icon"></i>
        </button>

        <button mat-raised-button color="orange" (click)="getReportExcel()" id="download-users" class="ml-2">
          Exportar
          <i class="tio-download_from_cloud style-icon"></i>
        </button>
      </div>

      <div class="container-search mt-2">
        <app-search-users class="searchUser" (search)="searchUser($event)"></app-search-users>
      </div>
    </div>
  </div>
  <div class="card-container mt-4 mb-4">
    <div class=" col-card" *ngFor="let item of items">
    <div class="card-news" *ngIf="item.code !== 'satisfaction'">
        <i class="{{ item.icon }}"></i>
        <div>
          <h3>{{ item.title }}</h3>
          <p>{{ item.number | number: '1.0' }}{{ item.code === 'effectiveness' ? '%' : '' }}</p>
        </div>
      </div>
      <div class="card-news card-satisfaction" *ngIf="item.code === 'satisfaction'">
        <div class="left">
          <i [class]="item.icon"></i>
        </div>
        <div class="right">
          <h3>{{ item.title }}</h3>
          <div class="items">
            <div class="item">
              <img src="/assets/img/status/llorando.svg" alt="" />
              <span>{{ item.values[0].cry }}%</span>
            </div>
            <div class="item">
              <img src="/assets/img/status/feliz.svg" alt="" />
              <span>{{ item.values[1].happy }}%</span>
            </div>
            <div class="item">
              <img src="/assets/img/status/triste.svg" alt="" />
              <span>{{ item.values[2].sad }}%</span>
            </div>
            <div class="item">
              <img src="/assets/img/status/enamorado.svg" alt="" />
              <span>{{ item.values[3].love }}%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-table-novelties
    (dataNoveltie)="goToNovelty($event)"
    [(dataSource)]="dataSource"
    (sortNoveltie)="sort($event)"
    [size]="pageSize"
    [p]="pageIndex"
    [totalItems]="totalItems"
  ></app-table-novelties>

  <div class="mt-3">
    <pagination-template #p="paginationApi" (pageChange)="pagination($event)">
      <div fxLayout="row" fxLayoutGap="12px" class="paginator" fxLayoutAlign="end center">
        <span class="items">Items por página {{ pageSize }}</span>
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
          <a (click)="p.previous()"> <i class="tio-back_ui"></i> </a>
        </div>

        <div class="bubble" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
          <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
            <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
              <span class="cursor-pointer">{{ page.label }}</span>
            </a>
            <div *ngIf="p.getCurrent() === page.value">
              <span class="cursor-pointer">{{ page.label }}</span>
            </div>
          </div>
        </div>

        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          <a (click)="p.next()"> <i class="tio-next_ui"></i> </a>
        </div>
      </div>
    </pagination-template>
  </div>
</div>

<!-- template filter-->

<ng-template #templateDialogFilter>
  <app-dialog-filter-novelties (objectSend)="infoFilter($event)" (close)="onNoClick()"></app-dialog-filter-novelties>
</ng-template>
