<form class="forgotpassword-container" [formGroup]="forgotPaswordForm">
        <mat-form-field>
          <input
            matInput
            id="email"
            type="email"
            placeholder="{{ 'GENERIC.EMAIL' | translate }}"
            formControlName="Username"
            spacebar
            required
          />
          <mat-error
            id="introduceEmail"
            *ngIf="
              forgotPaswordForm.controls.Username.invalid &&
              forgotPaswordForm.controls.Username.errors.required
            "
            >{{ "LOGIN.INTRODUCE_EMAIL" | translate }}</mat-error
          >
          <mat-error
            id="invalidEmail"
            *ngIf="
              forgotPaswordForm.controls.Username.invalid &&
              forgotPaswordForm.controls.Username.errors.pattern
            "
            >{{ "LOGIN.INVALID_EMAIL" | translate }}</mat-error
          >
      
          <mat-error id="maxUsername" *ngIf="forgotPaswordForm.controls.Username.invalid && forgotPaswordForm.controls.Username.errors.maxlength">{{
              "GENERIC.MAX_CHARACTERS" | translate: {maxchar:forgotPaswordForm.controls.Username.errors.maxlength.requiredLength}
            }}</mat-error>
      
        </mat-form-field>
      
      
        <button
          mat-raised-button
          class="button button-100 gtmIniciarSesiónClicLtrlOlvidoClaveEnviar"
          id="recoverPassword"
          color="orange"
          (click)="forgotPassword()"
          [disabled]="!forgotPaswordForm.valid"
        >
          <span class="gtmIniciarSesiónClicLtrlOlvidoClaveEnviar">{{ "GENERIC.SEND" | translate }}</span>
        </button>
      </form>
      