@import 'variables';

.bg-header{
    background-color: #F3F1F6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.weak {
    color: #f44336;
    font-size: 11px;
  }
  
  .normal {
    color: $primary-color;
    font-size: 11px;
  }
  
  .acceptable {
    color: #6bc541;
    font-size: 11px;
  }