<app-banner
  title="Recuperar contraseña"
  img="/assets/img/banners/banner-perfil-pc.jpg"
  imgMobile="/assets/img/banners/banner-perfil-mobile.jpg"
></app-banner>

<div class="container mb-4">
  <div class="row align-content-center justify-content-center">
    <div>
      <p class="galano-bold f-16">Por favor introduzca su nueva contraseña</p>
      <br>
      <mat-card class="login p-0 card mat-card-box-shadow">
        <mat-card-header class="justify-content-start text-left bg-header" id="recoverPasswordTitle">
          <mat-card-title>
            <h3 class="f-16 px-3">
              NUEVA CONTRASEÑA
            </h3></mat-card-title
          >
        </mat-card-header>
        <mat-card-content class="px-3">
          <app-recoverpasswordform></app-recoverpasswordform>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
