@import 'variables';

.verification{
  .w-label {
    font-size: 11px;
    color: $gray4;
    &-width{
        max-width: 100px;
        min-width: 100px;
    }
  }
  .normal-text {
    font-size: 14px;
    color: $primary-color;
    min-width: 200px;
  }

  .style-icon {
    font-size: 15px;
    color: $purple2;
    position: relative;
    top: 5px;
  }
  
  .style-icon-enable {
    color: $purple2;
  }
  
  .style-icon-disabled {
    color: #d2d0d4;
    pointer-events: none;
  }

  .selected-state-account{
      width: 100%;
  }

}
