.principal-banner-container{
    width: 100%;
    .banner-image{
        width: 100%;
        height: auto;
        border-radius: 12px;
        &.banner-image-link{
            cursor: pointer;
        }
    }
}