<div class="principal-banner-container py-3" *ngIf="banner">
  <a [href]="route" target="_blank" *ngIf="isAnExternalRedirect; else internalRedirectTemplate">
    <img class="banner-image banner-image-link" (click)="bannerClick()" [src]="currentImage" alt="" />
  </a>
  <ng-template #internalRedirectTemplate>
    <img class="banner-image" [ngClass]="{ 'banner-image-link': route }" (click)="bannerClick()" [src]="currentImage" alt="" />
  </ng-template>
</div>

<ng-template #modalReferirComprarTemplate>
  <app-modal-referir-comprar [banner]="banner"></app-modal-referir-comprar>
</ng-template>
