@import "variables";
@import "general";

.menu-mobile {
    a{
        font-family: $font-galano-bold;
        height: 30px;
        position: relative;
    }

    .Mi.perfil, .Usuarios{
        &::before {
            content: "";
            background: url("/assets/img/menu-mobile/mi-perfil.svg") no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 24%;
            left: 2%;
        }
    }

    .Inicio, .DashBoard{
        &::before {
            content: "";
            background: url("/assets/img/menu-mobile/inicio.svg") no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 24%;
            left: 2%;
        }
    }

    .Click.Academy{
        &::before {
            content: "";
            background: url("/assets/img/menu-mobile/clickacademy.svg") no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 24%;
            left: 2%;
        }
    }

    .Preguntas.Frecuentes{
        &::before {
            content: "";
            background: url("/assets/img/menu-mobile/preguntas-frecuentes.svg") no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 24%;
            left: 2%;
        }
    }

    .Reportes, .Auditoría{
        &::before {
            content: "";
            background: url("/assets/img/menu-mobile/reportes.svg") no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 24%;
            left: 2%;
        }
    }

    .whatsapp{
        &::before {
            content: "";
            background: url("/assets/img/menu-mobile/whatsapp.svg") no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 24%;
            left: 2%;
        }
    }

    .logout{
        &::before {
            content: "";
            background: url("/assets/img/menu-mobile/cerrar-sesion.svg") no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 33%;
            left: 2%;
        }
    }

}


.terms {
    margin-top: 2rem;
    border-bottom: 1px solid $gray2;
    padding-bottom: 1rem;
    a {
      text-decoration: underline;
      font-size: $font-size-sm - 0.1rem;
      color: $gray2;
    }
  }

  .border-footer {
    height: 1px;
    background:$gray2;
    width: 280px;
  }

  .copy{
      color:#86888A;
      font-size: 12px;
  }
