<div
  fxLayout.lt-md="{{ layoutmd }}"
  fxLayout.gt-xs="{{ layoutxs }}"
  fxLayoutAlign="{{ aligmentdesktop }}"
  fxLayoutAlign.xs="{{ aligment }}"
>
  <span
    *ngFor="let item of options; let i = index"
    routerLink="{{ item.route }}"
    routerLinkActive="active"
    (click)="hide()"
    class="menu-mobile"
    matRipple
  >
    <span *ngIf="showIcon">
      <img src="assets/img/dashboard/icon-{{ i }}.svg" alt="icon" />
    </span>
    <a
      mat-list-item
      ngClass="cursor-pointer gtmHomeClicMenu{{ i }} f-16 {{item.name}}"
      id="{{ section }}{{ i }}"
      >{{ item.name }}</a
    >
  </span>
  <span class="menu-mobile">
    <a
    mat-list-item
    href="https://api.whatsapp.com/send?phone=573052559105&text=Hola,%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20sobre%20Clickam."
    target="_blank"
    class="cursor-pointer f-16 whatsapp"
    >WhatsApp</a
  >
    <span *ngIf="auth.isLoggedIn()">
      <a
      mat-list-item
      (click)="logout();hide()"
      class="cursor-pointer f-16 logout gtmHomeClicSupCerrarSesionPerfil"
      >{{ 'HEADER.LOGOUT' | translate }}</a
    >  
    </span>
  </span>

  <span class="text-center">
    <h3 class="f-21 m-2">{{ 'GENERIC.SUPPORT' | translate }} </h3>
    <p class="f-12">{{ 'GENERIC.EMAIL_SUPPORT' | translate }}</p>
  </span>

  <div class="text-center">
      <h3 class="m-2"> {{ 'FOOTER.FOLLOW_US' | translate }}</h3>
    
      <div fxLayoutAlign="center center" class="social-links">
        <img  src="assets/img/arrow-footer.svg" alt="Clickam" />
        <app-sociallinks></app-sociallinks>
        <img  class="rotate" src="assets/img/arrow-footer.svg" alt="Clickam" />
      </div>
    
    
      <div class="terms gtmHomeClicInfTerminos" id="terms-footer" fxLayout="column" fxLayoutAlign="center center">
        <a (click)="goTerms();hide()" class="gtmHomeClicInfTerminos">Términos y condiciones</a>
    </div>
    
    <div fxLayout="column" fxLayoutAlign="center center" class="width-border">
      <span class="copy pt-3 pb-3">{{ 'GENERIC.COPYRIGHT' | translate }} &copy;</span>
    </div>
  </div>


</div>
