<div>
    <app-title showTitleh3="true" text="Blog" commonClass="pl-3"></app-title>
    <mat-list-item *ngFor="let blog of blogs | slice: 0:3">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" mat-line class="purple2-text f-16 galano-bold pb-3 pt-3 border-bottom-gray">
            <a class="purple-text galano-bold pl-3" [routerLink]=" '/blog/' + blog.pathurl">{{blog.title}}</a>
        </div>
      </mat-list-item>
      <span fxLayoutAlign="end end" class="mt-3 mb-3 pr-3">
        <app-button title="Ver más" [routerLink]="['/blog']" color="gray" classIcon="tio-share_vs style-icon"></app-button>
    </span>
</div>
