<div>
    <div fxLayout="column" fxLayoutAlign="center" >
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <a class="close-button-relative" matRipple (click)="onNoClick()"
            ><mat-icon class="close">close</mat-icon></a
            >
        </div>
    </div>
    <div mat-dialog-content class="dialog-height" >  
      <div>
        <img style="width: 100%; height: 100%; object-fit: cover;" class="w-image" [src]="data.urlVideo" alt="contenido-negocio">
        <button class="download-file cursor-pointer" (click)="downloadFile()"><img class="icon-download" src="assets/img/dashboard/descarga.svg" alt="descarga"> Descargar </button>
    </div>
    </div>
  </div>
  