@import 'variables';

.faq-group {
  background-color: #f3f1f6;
  border: 1px solid #8c80b4;
  border-radius: 5px;
  cursor: pointer;

  &__header {
    display: grid;
    grid-template-columns: 5% 80% 15%;
    align-items: center;
    padding: 0.5rem;
    color: $primary-color;
    font-weight: $font-weight-bold;
    border-bottom: 1px solid #8c80b4;
  }

  &__drag {
    color: $purple2;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    column-gap: 1rem;
    font-size: 22px;
    color: $purple2;
  }

  &__addIcon {
    opacity: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 1rem;
  }

  .icmen {
    font-size: 20px;
    margin-right: 5px;
  }
}
