<div class="bank-information">
    <h3 class="secundary-text">Información Bancaria</h3>
    <p fxLayout="row">
      <span class="galano-bold gray w-label">BANCO</span>
      <span class="normal-text">{{ data.bank }}</span>
    </p>
    <p fxLayout="row">
      <span class="galano-bold gray w-label">CUENTA</span>
      <span class="normal-text" *ngIf="data.typeBankAccount === '1'"> Ahorros</span>
      <span class="normal-text" *ngIf="data.typeBankAccount === '2'"> Corriente</span>
      <span class="normal-text"> - {{ data.bankAccountNumber }}</span>
    </p>
    <p fxLayout="row">
      <span class="galano-bold gray w-label">FECHA DE CARGA</span>
      <span class="normal-text" *ngIf="data.typeBankAccount === '1'"> {{ data.mindateidentificationcard1 | date: 'yyyy-MM-dd' }}</span>
    </p>
  </div>