<app-banner
  title="{{ 'AUDIT.AUDIT' | translate }}"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>

<div class="container minaud">
  <!-- <h1 class="border-bottom-orange-init">{{ 'AUDIT.AUDIT' | translate}}</h1> -->
  <p>Elige un rango de fechas para exportar la audioria</p>

  <form [formGroup]="dateForm" class="downloadUsers">
    <i class="tio-date_range icon-date"></i>
    <input
      (change)="change()"
      formControlName="dateRange"
      [locale]="locale"
      placeholder="Seleccione fechas"
      type="text"
      [maxDate]="maxDate"
      ngxDaterangepickerMd
      class="form-control border-input mat-elevation-z1 p-2 border-radius"
    />
    <button
      mat-raised-button
      color="orange"
      (click)="exportAudit()"
      id="download-users"
      class="ml-2"
      [disabled]="!dateForm.valid || disButon"
    >
      Exportar <i class="tio-download_from_cloud style-icon"></i>
    </button>
  </form>
</div>
