<div fxLayout="column" class="card {{ classCard }}">
  <img *ngIf="showIcon" class="position-absolute" src="assets/img/icon-clickam-white.svg" alt="fondo-clickam" />
  <div class="z-index-1 info" fxLayout="row" fxLayoutAlign="space-between start ">
    <div [fxLayout]="direction">
      <span class="payment-card">{{ number }}</span>
      <span class="text-white">
        {{ text }}
        <img
          class="pl-2 icon-alert"
          src="assets/img/icon-info-white.svg"
          alt="alert"
          matTooltip="{{ textToolTip }}"
          matTooltipClass="purple-tip"
        />
      </span>
    </div>
    <div>
      <img *ngIf="showIcon" class="z-index-1" [src]="imgCard" alt="icono comisiones" />
    </div>
  </div>
  <a class="button-card  mt-2 cursor-pointer {{ Classtag }}" (click)="detail()">
    {{ 'GENERIC.SEE_DETAIL' | translate }}
  </a>
</div>
