@import 'variables';

.card {
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #00000029;
  margin-right: 10px;
  position: relative;
}

.mw {
  min-width: 130px;
  &-a{
    min-width: 173px;
  }
}


.icon-alert {
  width: 25px;
}

.z-index-1 {
  z-index: 1;
}

.widht-card {
  width: 100%;
}

.padding-card{
  padding-top: 20px !important;
  padding-left: 24px !important;
}

.color-card {
  background: transparent linear-gradient(90deg, #61b751 0%, #79ce68 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  height: 142px;
  box-shadow: 0px 16px 16px #6AC2591A;
}

.color-card-1 {
  background: transparent linear-gradient(90deg, #ffae5e 0%, #ffc183 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  height: 142px;
  box-shadow: 0px 16px 16px #F187651A;
}

.color-card-3 {
  background: transparent linear-gradient(90deg, #f25c5c 0%, #f48b8b 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  height: 142px;
  box-shadow: 0px 16px 16px #F36F6F1A;
}

.color-card-4 {
  background: transparent linear-gradient(90deg, #F27E5B 0%, #F4A68A 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  height: 142px;
  box-shadow: 0px 16px 16px #F36F6F1A;
}

@media screen and (max-width: 425px) {
  .color-card,
  .color-card-1,
  .color-card-3 {
    width: 100%;
    padding-top: 20px !important;
    padding-left: 24px !important;
  }
}
.button-card {
  background: #ffffff40 0% 0% no-repeat padding-box;
  color: #ffffff;
  width: 110px;
  height: 32px;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  position: relative;
  bottom: 0px;
}
.button-card-ios {
  background: #ffffff40 0% 0% no-repeat padding-box;
  color: #ffffff;
  width: 110px;
  height: 32px;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.text-white {
  color: #ffffff;
  font-size: 13px;
  font-family: $font-galano-bold;
}
.payment-card {
  font-size: 28px;
  font-family: $font-galano-bold;
  color: #ffffff;
}
.position-absolute {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 20px;

  z-index: 0;
}

.z-index-top {
  z-index: 100;
  position: relative;
}

.admin{
  align-items: center;
  justify-content: center;
  .text-white{
    font-family: $font-galano;
    min-height: 28px;
  }
  .payment-card{
    font-size: 16px;
  }
  .icon-alert{
    position:absolute;
    top: 10px;
    right: 10px;
  }
  .info{
    text-align: center;
  }
}