@import 'variables';
@import 'general';
@import 'animations';

table {
  width: 100%;
  th {
    font-family: $font-galano-bold;
    color: $primary-color;
    text-align: center;
    text-transform: uppercase;
  }
  td {
    padding-right: 15px;
    text-align: center;
  }
}

.imageboard {
  max-width: 100%;
  object-fit: cover;
  width: 150px;
  height: 50px;
}

.style-icon {
  font-size: 22px;
  color: $purple2;
}

.text-left{
    text-align: left !important;
}

.avatar{
  width: 50px;
  height: auto;
  object-fit: contain;
}