<h2 class="border-bottom-orange-init">{{ 'MONTH_RESUME.TITLE' | translate }}</h2>

<div class="stadistic" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.xs="30px" fxLayoutGap.gt-xs="20px" fxLayoutAlign.xs="start center"  fxLayoutAlign.gt-xs="flex-start flex-start">
    <div fxLayout="row" fxLayoutGap.xs="20px" fxLayoutAlign="space-around">
    <div fxLayout="column" fxFLex="50" class="card">
        <span class="number">$ 189.215</span>
        <span class="gray border-bottom-blue-init">{{ 'MONTH_RESUME.COMISSIONS' | translate }}</span>
    </div>

    <div fxLayout="column" fxFLex="50"  class="card">
            <span class="number">{{linksGenerated}}</span>
            <span class="gray border-bottom-blue-init">{{ 'MONTH_RESUME.LINKS_CREATED' | translate }}</span>
    </div>
    </div>
    <google-chart type="ComboChart" [data]="myData" [options]="myoptions"></google-chart>
</div>
