<app-banner
  title="Biblioteca de contenido"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>

<div class="container mt-3">
    <div fxLayout="row" fxLayoutAlign="space-between" >
        <div fxLayout="row">
            <img class="image-bussiness" [src]="image" alt="">
            <span> <h3>{{title}} / Biblioteca de contenido</h3></span>
        </div>
        <span  fxLayout="row" >
            <!-- <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.BUSSINESS' | translate }}</h3> -->
            <button mat-button [routerLink]="[ '/negocios-admin']">
                <span class="galano-bold f-16" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Volver
                </span>
            </button>
          </span>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="row">
            <button  mat-raised-button  color="orange" (click)="selectAll()" class="button-selected mr-2"><img class="icon-download" src="assets/img/dashboard/icon-check.svg" alt="descarga"> Seleccionar todos</button>        
            <button mat-raised-button  (click)="deleteEvery()" [ngClass]="(active===true)? 'button-selected-red':'button-selected-red-disabled'" [disabled] = "!active" ><img class="icon-download" src="assets/img/dashboard/icon-trash-red.svg" alt="descarga"> Borrar</button>        
        </div>    
        <span fxLayout="row" >
            <!-- <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.BUSSINESS' | translate }}</h3> -->
            
            <label  for="cont" class="button-selected-label cursor-pointer"><img class="icon-download-file" src="assets/img/dashboard/icon-upload-img.svg" alt="descarga"> Cargar Contenido</label>
            <input
                (change)="handleFileInput($event)"
                id="cont"
                type="file"
            />
          </span>
    </div>

    <div fxLayout="row" >
        <h3>Imágenes</h3> 
        <hr class="separator-img">
    </div>
    <div  fxLayout="row wrap"  fxLayoutGap="5px">
        <h3 style="color:#726D7E;" *ngIf="!imagenDispo">No hay imágenes disponibles para este negocio.</h3>
        <ng-container class="mt-4" *ngFor="let product of dataReal; let i = index">
            <div class="image-hover">
                <img class="image-size" [src]="product.url" alt="">
                <div class="image-background">
                    <div class="image-viewer-x"  (click)="viewerPhoto(product)"></div>
                    <div class="image-viewer-y"  (click)="viewerPhoto(product)"></div>
                    <img class="cursor-pointer image-vysor" (click)="viewerPhoto(product)" src="assets/img/dashboard/icon-view-img.svg" alt="">
                    <div class="custom-color-primary">
                        <mat-checkbox [(ngModel)]="product.dataR" (change)="loadDelete()" class="check-margin">
                        </mat-checkbox>
                    </div>
                    
                </div>
            </div>
        </ng-container>
    </div>
    <div fxLayout="row" >
        <h3>Videos</h3> 
        <hr class="separator-img">
    </div>
    <div  fxLayout="row wrap"  fxLayoutGap="5px">
        <h3 style="color:#726D7E;" *ngIf="!videosDispo">No hay videos disponibles para este negocio.</h3>
        <ng-container class="mt-4" *ngFor="let product of dataRealVideo; let i = index">
            <div class="image-hover">
                <video class="image-size" [src]="product.url"></video>
                
                <div class="image-background">
                    <div class="image-viewer-x"  (click)="viewerVideo(product)"></div>
                    <div class="image-viewer-y"  (click)="viewerVideo(product)"></div>
                    <img class="cursor-pointer image-vysor" (click)="viewerVideo(product)" src="assets/img/dashboard/icon-view-img.svg" alt="">
                    <div class="custom-color-primary">
                        <mat-checkbox [(ngModel)]="product.dataR"  (change)="loadDelete()"  class="check-margin">
                        </mat-checkbox>
                    </div>
                    
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #templateImage>
    <div>
        <img class="w-image" [src]="url" alt="">
    </div>
</ng-template>
<ng-template #templateVideo>
    <div>
        <video class="w-image" [src]="url" controls></video>
    </div>
</ng-template>
<ng-template #templateDeleteContent>
    <div class="center-template">
        <h3 class="delete-title">Eliminar contenido</h3>
        <p class="w-container">¿Está seguro que desea eliminar el contenido seleccionado?</p>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-start center" fxLayoutGap="30px" fxLayoutGap.xs="5px" class="center-buttons">
            <div ngClass="mt-3 mb-2 hide-button-on-mobile">
              <button mat-button ngClass="button_cancel" (click)="cancelDelete()"
              > Cancelar </button>
            </div>
            <div>
            <button mat-button class="red" (click)="deleteVideos()"
            ><span
            fxLayoutAlign="center space-between"
            >
            Eliminar contenido
            </span></button>
          </div>
    </div>
    </div>
</ng-template>