<div [fxLayout]="direction" class="mt-3 mb-3">
     
  <span fxLayout="row" fxLayoutAlign="space-between center" class="move">
    <p class="p-range">RANGO DE FECHAS</p>
    <p fxHide.xs="true" class="p-range" *ngIf="compare">FECHAS A COMPARAR</p>
  </span>
    
    <form class="form-relative" [formGroup]="dateRangeForm">
      
      <div fxLayout="row wrap" [ngClass]="classLayout">
        
        <i class="tio-date_range icon-date"></i>
        <input
          formControlName="dateRange"
          (change)="getDate($event)"
          [locale]="locale"
          [placeholder]="placeholder"
          [ranges]="custom === true ? ranges : empty"
          [alwaysShowCalendars]="true"
          type="text"
          [maxDate]="range === true ? maxDate : ''"
          [showDropdowns]="true"
          [showClearButton]="clear"
          ngxDaterangepickerMd
          class="form-control border-input mat-elevation-z1 p-2 border-radius"
        />
        <span *ngIf="compare">
          <p fxHide.gt-xs="true" class="p-range px-4" *ngIf="compare">FECHAS A COMPARAR</p>
          <i class="tio-date_range icon-date"></i>
          <input
            formControlName="compareRange"
            (change)="getCompareDate($event)"
            [ranges]="custom === true ? ranges : empty"
            [alwaysShowCalendars]="true"
            [locale]="locale"
            [placeholder]="placeholder"
            type="text"
            [maxDate]="maxDate"
            [showDropdowns]="true"
            ngxDaterangepickerMd
            class="form-control border-input mat-elevation-z1 p-2 border-radius"
          />

          <i *ngIf="!clearButton" (click)="clearAction()" class="tio-remove_from_trash cursor-pointer f-22 red-text ml-2"></i>

        </span>
        

        <app-button fxHide.xs="true" title="Exportar" (action)="call()" classButton="shadow-purple ml-3" classIcon="tio-download_from_cloud style-icon" [disabled]="!dateRangeForm.valid || clearButton"></app-button>
        
      </div>
      <br/>
      <app-button fxHide.gt-xs="true" title="Exportar" (action)="call()" classButton="shadow-purple" classIcon="tio-download_from_cloud style-icon" [disabled]="!dateRangeForm.valid || clearButton"></app-button>

    </form>

  </div>
