<div [fxLayout]="direction" class="mt-3 mb-3">
      
    <p class="p-range">RANGO DE FECHAS</p>
    
    <form class="form-relative" [formGroup]="dateRangeForm">
      
      <div fxLayout="row" [ngClass]="classLayout">
        <i class="tio-date_range icon-date"></i>
        <input
          formControlName="dateRange"
          (change)="getDate($event)"
          [locale]="locale"
          [placeholder]="placeholder"
          type="text"
          [maxDate]="maxDate"
          [showDropdowns]="true"
          ngxDaterangepickerMd
          class="form-control border-input mat-elevation-z1 p-2 border-radius"
        />

        <app-button title="Exportar" (action)="call()" classButton="shadow-purple ml-3" classIcon="tio-download_from_cloud style-icon" [disabled]="!dateRangeForm.valid"></app-button>

      </div>


    </form>

  </div>
