<app-banner color="purple" title="{{'TERMS.CONDITION_TAB' | translate}}" img="/assets/img/banners/banner-T_Y-pc.jpg" imgMobile="/assets/img/banners/banner-T_Y-mobile.jpg"></app-banner>
<!-- <app-logo></app-logo> -->

<div class="terms container mb-3">
  <mat-tab-group>

  <mat-tab>
      <ng-template mat-tab-label>
           <span class="gtmTerminosCondicionesClicTerminosLegales">{{ 'TERMS.CONDITION_TAB' | translate }}</span>
      </ng-template>
      <div innerHtml="{{ 'TERMS.CONDITION' | translate }}"></div>  
  </mat-tab>

  <mat-tab>
      <ng-template mat-tab-label>
           <span class="gtmTerminosCondicionesClicEmprendedor">{{ 'TERMS.LEGAL_TAB' | translate }}</span>
      </ng-template>
      <div innerHtml="{{ 'TERMS.LEGAL' | translate }}"></div> 
  </mat-tab>

  <mat-tab>
      <ng-template mat-tab-label>
           <span class="gtmTerminosCondicionesClicProteccionDatos">{{ 'TERMS.PROTECTION_TAB' | translate }}</span>
      </ng-template>
      <div innerHtml="{{ 'TERMS.PROTECTION' | translate }}"></div> 
  </mat-tab>

  <mat-tab>
      <ng-template mat-tab-label>
           <span class="gtmTerminosCondicionesClicRefiere">{{ 'TERMS.REFER_TAB' | translate }}</span>
      </ng-template>
      <div innerHtml="{{ 'TERMS.REFER' | translate: { sale: amountReferred | currency : '' : 'symbol' : '1.0-0', amount: amount | currency : '' : 'symbol' : '1.0-0' } }}"></div> 
  </mat-tab>

  </mat-tab-group>

</div>
