.attach-file-container {
  .control-label {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-right: 50px;
    cursor: pointer;
    .control-placeholder {
      color: #a7a3b1;
      font-size: 16px;
      font-family: 'galano-bold', sans-serif;
      margin-bottom: 4px;
    }
    .control-file-name {
      color: #37236a;
      font-size: 12px;
      margin-bottom: 4px;
    }
    .control-icon {
      position: absolute;
      width: 40px;
      height: 40px;
      right: 8px;
      top: calc(50% - 20px);
    }
  }
  .control-error {
    font-size: 12px;
  }
  .input-control {
    display: none !important;
  }
}
