<div class="business-stories">
  <div [id]="id" class="card-story">
    <div *ngIf="showProgress" class="story-progress">
      <span class="final-progress"></span>
      <span class="current-progress"></span>
    </div>
    <div class="story-info">
      <div class="client-info {{!showInfo ? 'visibility-hidden' : ''}}">
        <img *ngIf="showImageClient" class="img-client" [src]="story.businessImage" alt="{{story.name}}">
        <h4 *ngIf="showTitleClient">{{ story.businessName }}</h4>
        <span>{{timeStory}}</span>
      </div>
      <div class="action-container">
        <button 
          id="shared-{{index}}"
          *ngIf="showShared" 
          class="btn-shared"
          (click)="dataSliderCategory()"
        >
          <img src="/assets/img/shared.svg" alt="shared">
        </button>
        <mat-checkbox
          *ngIf="showCheck"
          [(ngModel)]="check"
          (change)="checkDeleteStory()"
          class="check-margin check-transparent"
          >
          </mat-checkbox>
      </div>
      <div *ngIf="cardOpen" class="card-open" (click)="viewStory()">
        <i class="tio-play_circle"></i>
      </div>
    </div>
    <div class="container-absolute">
      <img *ngIf="isImage"
        class="img-story"
        [src]="story.image" 
        alt="story {{story.name}}"
      >
      <video 
        *ngIf="!isImage"
        id="video-{{id}}"
        [src]="story.image"
        class="video-story"
      ></video>
    </div>
  </div>
</div>

<!-- template share -->

<ng-template #templateCategories>
  <div *ngIf="!reference">
    <form [formGroup]="formLink">
      <div fxLayout="column">
        <div fxLayout="column" fxFlex="100" fxFlex.xs="100">
          <mat-form-field appearance="dashed" class="dashed mt-2">
            <input
              id="url"
              matInput
              formcontrolName="link"
              [value]="urlshorten"
              #linkInput
              readonly
            />
          </mat-form-field>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="center space-between"
          fxLayoutGap="10px"
          class="mt-2 share-desktop"
        >
          <button
            mat-button
            id="btnCopy"
            color="orange"
            [disabled]="enableCopy"
            ngClass="{{ classButtonCopy }}"
            (click)="copyInputMessage(linkInput)"
          >
            <span
              fxLayoutAlign="center space-between"
              ngClass="{{ classButtonCopy }}"
            >
              {{ "GENERIC.COPY_LINK" | translate }}
            </span>
          </button>

          <button
            *ngIf="showReferenceButton"
            mat-button
            id="refer"
            color="orange"
            ngClass="{{ classButtonRefer }}"
            (click)="showReference()"
          >
            <span
              ngClass="{{ classButtonRefer }}"
              fxLayoutAlign="center space-between"
            >
              Referir
            </span>
          </button>

          <button
            mat-button
            id="buy"
            color="orange"
            ngClass="orange-border {{ classButtonBuy }}"
            (click)="buy()"
          >
            <span
              ngClass="{{ classButtonBuy }}"
              fxLayoutAlign="center space-between"
            >
              Comprar
            </span>
          </button>
        </div>
      </div>
    </form>

    <h3 class="border-bottom-orange-init share-desktop">
      {{ "GENERIC.SHARE" | translate }}
    </h3>

    <div class="share-desktop" id="share">
      <button
        theme="circles-dark"
        shareButton="facebook"
        ngClass="sharebutton {{ classButtonFacebook }} mr-2"
      >
        <i ngClass="fab fa-facebook-f {{ classButtonFacebook }}"></i>
      </button>
      <button
        theme="circles-dark"
        shareButton="twitter"
        ngClass="sharebutton {{ classButtonTwitter }} mr-2"
      >
        <i ngClass="fab fa-twitter {{ classButtonTwitter }}"></i>
      </button>
      <a
        href="https://web.whatsapp.com/send?text={{ urlshorten }}"
        target="_blank"
        data-action="share/whatsapp/share"
        ngClass="sharebutton p-3 {{ classButtonWhatsapp }}"
      >
        <i ngClass="fab fa-whatsapp {{ classButtonWhatsapp }}"></i>
      </a>
    </div>

    <div class="share-mobile">
      <button
        mat-button
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonShare }}"
        (click)="share()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span
          ngClass="gtmrs f-15 {{ classButtonShare }}"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <img
            ngClass="icon-compartir pr-2 {{ classButtonShare }}"
            src="/assets/img/Compartir.svg"
            alt="user"
          />
          Compartir</span
        >
      </button>

      <button
        *ngIf="showReferenceButton"
        mat-button
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonRefer }}"
        (click)="showReference()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span
          ngClass="gtmrs f-15 {{ classButtonRefer }}"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <img
            ngClass="icon-compartir pr-2 {{ classButtonRefer }}"
            src="/assets/img/Referir.svg"
            alt="user"
          />
          Referir
        </span>
      </button>

      <button
        mat-button
        ngClass="gtmrs  mb-2 mt-2 {{ classButtonBuy }}"
        (click)="buy()"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <span
          ngClass="gtmrs f-15 {{ classButtonBuy }}"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <img
            ngClass="icon-compartir pr-2 {{ classButtonBuy }}"
            src="/assets/img/Comprar.svg"
            alt="user"
          />
          Comprar
        </span>
      </button>
    </div>
  </div>
  <br />
  <form
    class="forgotpassword-container"
    [formGroup]="idCustomerForm"
    fxLayout="column"
    *ngIf="reference"
  >
    <span
      (click)="backStep()"
      class="cursor-pointer gray"
      fxLayout="row"
      fxLayoutAlign="start start"
      fxFlex="12"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span class="text-back">Volver</span>
    </span>
    <p>{{ "GENERIC.REFERENCE_IDENTIFICATION" | translate }}</p>
    <mat-form-field appearance="outline" class="mt-2">
      <input
        matInput
        class="p-2"
        id="idcustomer"
        type="text"
        placeholder="N° de Documento"
        formControlName="identification"
        required
      />
      <mat-error
        id="reuiredId"
        *ngIf="
          idCustomerForm.controls.identification.invalid &&
          idCustomerForm.controls.identification.errors.required
        "
        >{{
          "GENERIC.REQUIRED" | translate: { formValue: "Número de documento" }
        }}</mat-error
      >

      <mat-error
        id="maxId"
        *ngIf="
          idCustomerForm.controls.identification.invalid &&
          idCustomerForm.controls.identification.errors.maxlength
        "
        >{{
          "GENERIC.MAX_CHARACTERS"
            | translate
              : {
                  maxchar:
                    idCustomerForm.controls.identification.errors.maxlength
                      .requiredLength
                }
        }}</mat-error
      >

      <mat-error
        id="numberId"
        *ngIf="
          idCustomerForm.controls.identification.invalid &&
          idCustomerForm.controls.identification.errors.pattern
        "
        >{{ "GENERIC.ONLY_NUMBERS" | translate }}</mat-error
      >
    </mat-form-field>

    <div fxLayout="column">
      <button
        mat-raised-button
        class="button button-100 p-1 gtmCrearCedulaSiguiente"
        id="recoverPassword"
        color="orange"
        (click)="saveLinkReference()"
        [disabled]="!idCustomerForm.valid"
      >
        <span class="gtmCrearCedulaSiguiente">{{
          "GENERIC.ACCEPT" | translate
        }}</span>
      </button>
    </div>
  </form>
</ng-template>