<app-banner
  title="{{ 'DASHBOARD.BUSINESS' | translate }}"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>
<div class="container mt-3">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row">
      <img class="image-bussiness" [src]="image" alt="" />
      <span>
        <h3>{{ title }} / Información</h3></span
      >
    </div>
    <span fxLayout="row">
      <!-- <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.BUSSINESS' | translate }}</h3> -->
      <button mat-button [routerLink]="['/negocios-admin']">
        <span
          class="galano-bold f-16"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
          Volver
        </span>
      </button>
    </span>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="gtmTerminosCondicionesClicTerminosLegales"
            >Sobre el negocio</span
          >
        </ng-template>
        <div class="mt-3">
          <mat-card style="width: 800px">
            <h3>Sobre el negocio</h3>
            <form [formGroup]="aboutBuss">
              <mat-form-field style="width: 755px">
                <textarea
                  matInput
                  placeholder="SOBRE EL NEGOCIO"
                  type="text"
                  required
                  formControlName="aboutBuss"
                  class="text-area-heigth"
                  style="height: 160px; color: #37236a"
                ></textarea>
                <mat-error
                  id="requiredName"
                  *ngIf="
                    aboutBuss.controls.aboutBuss.invalid &&
                    aboutBuss.controls.aboutBuss.errors.required
                  "
                  >{{
                    "GENERIC.REQUIRED"
                      | translate: { formValue: "Sobre el negocio" }
                  }}</mat-error
                >
                <mat-error
                  id="maxName"
                  *ngIf="
                    aboutBuss.controls.aboutBuss.invalid &&
                    aboutBuss.controls.aboutBuss.errors.maxlength
                  "
                  >{{
                    "GENERIC.MAX_CHARACTERS"
                      | translate
                        : {
                            maxchar:
                              aboutBuss.controls.aboutBuss.errors.maxlength
                                .requiredLength
                          }
                  }}</mat-error
                >
                <mat-error
                  id="invalidName"
                  *ngIf="
                    aboutBuss.controls.aboutBuss.invalid &&
                    aboutBuss.controls.aboutBuss.errors.pattern
                  "
                  >{{
                    "GENERIC.INVALID_FORMAT"
                      | translate: { val: "Sobre el negocio" }
                  }}</mat-error
                >
                <mat-error
                  id="minPhone"
                  *ngIf="
                    aboutBuss.controls.aboutBuss.invalid &&
                    aboutBuss.controls.aboutBuss.errors.minlength
                  "
                  >{{
                    "GENERIC.MIN_CHARACTERS"
                      | translate
                        : {
                            minchar:
                              aboutBuss.controls.aboutBuss.errors.minlength
                                .requiredLength
                          }
                  }}</mat-error
                >
              </mat-form-field>
            </form>
            <div fxLayout="row" fxLayoutAlign="end end">
              <button
                mat-button
                ngClass="button_cancel"
                [routerLink]="['/negocios-admin']"
              >
                Descartar Cambios
              </button>
              <button
                mat-raised-button
                color="orange"
                (click)="addAboutBussiness()"
                id="download-users"
                class="ml-2"
                [disabled]="!aboutBuss.valid"
              >
                Guardar Cambios
              </button>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="gtmTerminosCondicionesClicTerminosLegales"
            >Términos & Condiciones</span
          >
        </ng-template>
        <div class="mt-3">
          <mat-card style="width: 800px">
            <h3>Términos & Condiciones</h3>
            <mat-form-field style="width: 755px">
              <textarea
                matInput
                placeholder="GENERAL"
                type="text"
                required
                class="text-area-heigth"
                [(ngModel)]="generalInfo"
                style="height: 160px; color: #37236a"
              ></textarea>
            </mat-form-field>
            <mat-form-field style="width: 755px">
              <textarea
                matInput
                placeholder="EXCEPCIONES"
                type="text"
                required
                [(ngModel)]="exceptionsInfo"
                class="text-area-heigth"
                style="height: 160px; color: #37236a"
              ></textarea>
            </mat-form-field>
            <mat-form-field style="width: 755px">
              <textarea
                matInput
                placeholder="CASOS ESPECIALES"
                type="text"
                required
                [(ngModel)]="caseSpecial"
                class="text-area-heigth"
                style="height: 160px; color: #37236a"
              ></textarea>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end end">
              <button
                mat-button
                ngClass="button_cancel"
                [routerLink]="['/negocios-admin']"
              >
                Descartar Cambios
              </button>
              <button
                mat-raised-button
                color="orange"
                (click)="addTermsConditions()"
                id="download-users"
                class="ml-2"
              >
                Guardar Cambios
              </button>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="gtmTerminosCondicionesClicTerminosLegales"
            >Tips de ventas</span
          >
        </ng-template>
        <div class="mt-3">
          <h3>Tips de ventas</h3>
          <table
            mat-table
            #table
            class="mat-elevation-z2"
            [dataSource]="dataSource"
            cdkDropList
            [cdkDropListData]="dataSource"
            (cdkDropListDropped)="dropTable($event)"
          >
            <ng-container matColumnDef="drag">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index">
                <div
                  fxLayout="row"
                  fxLayoutGap="10px"
                  fxLayoutAlign.gt-xs="end center"
                  fxLayoutAlign.xs="center center"
                >
                  <mat-icon
                    matSuffix
                    class="mr-1 blue cursor-pointer"
                    cdkDragHandle
                    >drag_indicator</mat-icon
                  >
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef style="width: 20%">
                TITULO
              </th>
              <td mat-cell *matCellDef="let element">
                <div
                  fxLayout="row"
                  fxLayoutGap="10px"
                  fxLayoutAlign.gt-xs="start center"
                  fxLayoutAlign.xs="center center"
                >
                  <span fxLayout="column" class="f-16 mr-2" fxHide.xs="true">
                    {{ element.title }}
                  </span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th
                mat-header-cell
                class="tr"
                *matHeaderCellDef
                style="width: 70%"
              >
                DESCRIPCIÓN
              </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <div fxLayout="row" fxLayoutGap="10px">
                  <span fxLayout="column" class="f-16" fxHide.xs="true">
                    {{ element.description }}
                  </span>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="edition">
              <th mat-header-cell *matHeaderCellDef class="center-text">
                ACCIONES
              </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <div
                  fxLayout="row"
                  fxLayoutGap="10px"
                  fxLayoutAlign.gt-xs="center"
                  fxLayoutAlign.xs="center center"
                >
                  <img
                    class="cursor-pointer"
                    (click)="editTipModal(element)"
                    src="/assets/img/dashboard/icon-edit.svg"
                    alt=""
                  />
                  <img
                    class="cursor-pointer"
                    (click)="deleteTip(element)"
                    src="/assets/img/dashboard/icon-remove-comision.svg"
                    alt=""
                  />
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns; let i = index"
              cdkDrag
              [cdkDragData]="row"
            ></tr>
          </table>
          <div class="mt-3 mb-3" fxLayout="row" fxLayoutAlign="end end">
            <button
              mat-raised-button
              color="orange"
              (click)="addTip()"
              id="download-users"
              class="ml-2"
            >
              Agregar Tip
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #templateAddTips>
  <div ngClass="delete-container">
    <div>
      <form [formGroup]="dataTip">
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="TÍTULO"
            formControlName="title"
            type="text"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <textarea
            matInput
            placeholder="DESCRIPCIÓN"
            type="text"
            formControlName="description"
            required
            class="text-area-heigth"
            style="height: 145px; color: #37236a"
          ></textarea>
        </mat-form-field>
      </form>
    </div>

    <div fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClick()">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="orange"
        (click)="saveTip()"
        id="download-users"
        class="ml-2"
        [disabled]="!dataTip.valid"
      >
        Guardar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templateEditTips>
  <div ngClass="delete-container">
    <div>
      <form [formGroup]="dataEditTip">
        <mat-form-field style="width: 370px">
          <input
            matInput
            placeholder="TÍTULO"
            formControlName="title"
            type="text"
            required
            class="text-area-heigth"
            style="color: #37236a"
          />
        </mat-form-field>
        <mat-form-field style="width: 370px">
          <textarea
            matInput
            placeholder="DESCRIPCIÓN"
            type="text"
            formControlName="description"
            required
            class="text-area-heigth"
            style="height: 145px; color: #37236a"
          ></textarea>
        </mat-form-field>
      </form>
    </div>

    <div fxLayout="row" fxLayoutAlign="end end">
      <button mat-button ngClass="button_cancel" (click)="onNoClick()">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="orange"
        (click)="editTip()"
        id="download-users"
        class="ml-2"
        [disabled]="!dataEditTip.valid"
      >
        Guardar
      </button>
    </div>
  </div>
</ng-template>
