<app-title showTitleh3="true" text="Testimonio"></app-title>

<form [formGroup]="testimonyForm">
  <mat-form-field class="w-100">
    <input
      matInput
      placeholder="Nombre del usuario"
      formControlName="username"
      type="text"
      required
      class="text-area-heigth"
    />
    <mat-error id="requiredName" *ngIf="testimonyForm.controls.username.invalid && testimonyForm.controls.username.errors.required">{{
      'GENERIC.REQUIRED' | translate: { formValue: 'Nombre del usuario' }
    }}</mat-error>
  </mat-form-field>

  <mat-form-field class="selected-rate w-100">
    <mat-select placeholder="Raiting" id="rate" formControlName="rate" class="selected-report">
      <mat-option *ngFor="let rate of rating" value="{{ rate.value }}">
        <span>{{ rate.value }}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Usuario de Instagram o Facebook (Opcional)" type="text" formControlName="usersocialnetwork" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Testimonio del usuario (300 carácteres)</mat-label>
    <textarea matInput formControlName="testimony" required></textarea>
    <mat-error id="maxTestimony" *ngIf="testimonyForm.controls.testimony.invalid && testimonyForm.controls.testimony.errors.maxlength">{{
        'GENERIC.MAX_CHARACTERS'
          | translate
            : {
                maxchar: testimonyForm.controls.testimony.errors.maxlength.requiredLength
              }
      }}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Link del video (Opcional)" type="text" formControlName="link" />
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" fxLayoutGap.xs="5px" class="pb-3">
    <div fxLayout="column" fxLayoutAlign="center" class="space">
      <strong class="title-gray f-12">FOTO PERFIL (150X150PX, FORMATO .JPG, MAX 300KB)</strong>
      <span class="title-secondary" *ngIf="nameFile === ''">No hay archivo seleccionado</span>
      <span class="file-input" *ngIf="nameFile !== ''">{{ nameFile | truncate: '20' }}</span>
    </div>
    <div>
      <label for="image" id="upload" class="cursor-pointer">
        <span *ngIf="!errorFile">
          <i class="tio-upload_on_cloud mt-1 f-25 purple2-text" *ngIf="nameFile === ''"></i>
          <i class="tio-cloud_on mt-1 f-25 purple2-text" *ngIf="nameFile !== ''"></i>
        </span>
        <i class="tio-cloud_disabled mt-1 f-25 purple2-text" *ngIf="errorFile"></i>
      </label>
    </div>
  </div>
  <mat-error *ngIf="errorFile" class="text-small small pb-2 d-block f-11">
    Formato inválido solo se pueden subir archivos con la extensión {{ extension }} y menores de {{ size }}KB
  </mat-error>
  <input (change)="uploadFileImage($event)" id="image" type="file" style="display: none" formControlName="imageurl" />
  
  <div fxLayout="row" fxLayoutAlign="end end" class="mb-3">
      <mat-slide-toggle formControlName="active"> <span class="purple-text galano-bold">Visible</span> </mat-slide-toggle>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
      <app-button title="Cancelar" [haveIcon]="false" (action)="onNoClick()" color="white" classButton="no-shadow"></app-button>
      <app-button title="Guardar"  [haveIcon]="false" (action)="saveTestimony()" classButton="shadow-purple" [disabled]="!testimonyForm.valid"></app-button>
  </div>

</form>
