@import 'variables';
//  Desktop
.qr {
  &__container {
    position: fixed;
    z-index: 10;
    top: 85px;
    right: 53px;
    // position: relative;
    transition: 400ms;
    @media (max-width: 600px) {
      display: none;
    }
  }
  &__hidden {
    transform: translateX(194px);
    transition: 400ms;
  }
  &__content {
    width: 151px;
    padding: 40px 20px 20px 20px;
    border-radius: 12px;

    background-color: #230040;
    color: $white;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin: 10px 0px 0px 0px;
  }
  &__toggle-button {
    width: 42px;
    height: 57px;
    border-radius: 12px 0 0 12px;
    background-color: $secondary-color;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #ce0f0f;
    }
  }
  &__cross {
    background: transparent;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    right: 10px;
    cursor: pointer;
  }
  &__cross:after {
    content: '';
    height: 16px;
    border-left: 2px solid $white;
    position: absolute;
    transform: rotate(45deg);
  }

  &__cross:before {
    content: '';
    height: 16px;
    border-left: 2px solid $white;
    position: absolute;
    transform: rotate(-45deg);
  }

  &__image {
    width: 102px;
    height: 102px;
    border-radius: 5px;
  }
}
