<div class="qr__container {{ isQrOpen ? '' : 'qr__hidden' }}">
  <div class="qr__content">
    <div class="qr__cross" (click)="toggleShow()"></div>
    <img
      class="qr__image"
      [src]="environment.URL_BLOB + 'img-ofertas/qr/qr-image.png'"
      alt="qr-descargar-app-clickam"
    />
    <span class="qr__title">
      Descarga aquí<br />
      nuestra App
    </span>
  </div>
  <div class="qr__toggle-button" (click)="toggleShow()">
    <img [src]="environment.URL_BLOB + 'img-ofertas/qr/clickam-white-blue.png'" alt="" />
  </div>
</div>
