<div class="qr__container {{ isQrOpen ? '' : 'qr__hidden' }}">
  <div class="qr__content">
    <div class="qr__cross" (click)="toggleShow()"></div>
    <img
      class="qr__image"
      [src]="environment.URL_BLOB + 'img-ofertas/qr/qr-image.png'"
      alt="qr-descargar-app-clickam"
    />
    <span class="qr__title">
      Descarga <br />
      nuestra App
    </span>
  </div>
  <div class="qr__toggle-button" (click)="toggleShow()">
    <img [src]="environment.URL_BLOB + 'img-ofertas/qr/clickam-white-blue.png'" alt="" />
  </div>
</div>

<div class="download-app__container">
  <div class=" download-app__content {{ isQrOpen ? '' : 'download-app__content-closed' }}">
    <img
      (click)="detectStore()"
      [src]="environment.URL_BLOB + 'img-ofertas/qr/descargar-app-icon.png'"
      alt="download-app-icon"
    />
    <span (click)="detectStore()" class="download-app__title {{ isQrOpen ? '' : 'download-app__title-hidden' }}">
      <span>Descarga aquí</span>
      <span>nuestra App</span>
    </span>
    <div [hidden]="!isQrOpen" class="download-app__cross" (click)="toggleShow()"></div>
  </div>
</div>
