<app-banner
  title="Novedades"
  img="/assets/img/banners/banner-dashboard-pc.jpg"
  imgMobile="/assets/img/banners/banner-dashboard-mobile.jpg"
></app-banner>

<div class="container m-t4 fade-in" *ngIf="currentNovelty">
  <div class="row-1" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="left" fxLayout="row">
      <div class="icon">
        <img src="/assets/img/message_failed.svg" alt="" />
      </div>
      <p>
        No. de caso <span class="number">{{ currentNovelty.consecutive }} </span> <span class="gray" *ngIf="currentNovelty.responsetime !== null" > (Solucionado en {{currentNovelty.responsetime}} días)</span>
      </p>
    </div>
    <div class="right">
      <button mat-raised-button class="back-button" [routerLink]="['/novedades']">
        <span class="galano-bold f-16" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>keyboard_arrow_left</mat-icon>
          {{ 'BUTTONS.BACK' | translate }}
        </span>
      </button>
    </div>
  </div>

  <div class="row-2" fxLayout="row" fxLayoutAlign="flex-start center">
    <div
      class="step"
      *ngFor="let item of selecteds"
      [ngClass]="{
        '-succes': item.state === 2,
        '-current': item.state === 1,
        '-document': item.titulo === 'Pendiente de documentación'
      }"
    >
      <div class="icon" *ngIf="item.state === 2 && item.titulo !== 'Pendiente de documentación'">
        <i class="tio-checkmark_circle"></i>
      </div>
      <div class="icon" *ngIf="item.state === 1">
        <i class="tio-time"></i>
      </div>
      <div class="icon" *ngIf="item.state === 2 && item.titulo === 'Pendiente de documentación'">
        <i class="tio-document_text"></i>
      </div>
      {{ item.titulo }}
    </div>
  </div>

  <mat-card>
    <mat-card-title class="card-title"> Información de Clicker </mat-card-title>
    <div class="info" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="left" fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="flex-start">
          <span>NOMBRE DEL CLICKER</span>
          <span>{{ currentNovelty.name }}</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="flex-start">
          <span>ID</span>
          <span>{{ currentNovelty.idclicker }}</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="flex-start">
          <span>CÉDULA</span>
          <span>{{ currentNovelty.identification }}</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="flex-start">
          <span>CELULAR</span>
          <span>{{ currentNovelty.cellphone }}</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="flex-start">
          <span>CORREO</span>
          <span>{{ currentNovelty.email }}</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="flex-start">
          <span>SCORE</span>
          <span>{{ currentNovelty.score }}</span>
        </div>
      </div>

      <div class="right">
        <label> MÁS NOVEDADES ({{ listMoreNovelties.length }})</label>
        <mat-form-field appearance="fill" class="select-custom">
          <mat-label>Seleccionar</mat-label>
          <mat-select>
            <mat-option class="select-custom-novelties" (click)="goToNovelty(item)" *ngFor="let item of listMoreNovelties">
              <div class="mat-option-novelty">
                <div class="left">
                  <span
                    >No. <strong>{{ item.code }}</strong></span
                  >
                  <span>({{ item.dateNovelty | date: 'dd/MM/yyyy' }})</span>
                </div>
                <div class="right">
                  <span *ngIf="item.status === 'Pendiente'" class="span-relative-new normal-text"
                    ><img class="status-img" src="/assets/img/dashboard/icon-info.svg" alt="pendind" /> Pendiente</span
                  >
                  <span *ngIf="item.status === 'Pendiente de documentación'" class="span-relative-new normal-text"
                    ><img class="status-img" src="/assets/img/dashboard/document_text.svg" alt="pendind" />
                    {{ 'Pendiente de documentación' | truncate: '16' }}</span
                  >
                  <span *ngIf="item.status === 'Solucionado'" class="span-relative-new normal-text"
                    ><img class="status-img" src="/assets/img/dashboard/icon-check-new.svg" alt="pendind" /> Solucionado</span
                  >
                  <span *ngIf="item.status === 'Solución parcial'" class="span-relative-new normal-text"
                    ><img class="status-img" src="/assets/img/dashboard/icon-check-partial.svg" alt="pendind" /> Solución parcial</span
                  >
                  <span *ngIf="item.status === 'En gestión'" class="span-relative-new normal-text"
                    ><img class="status-img" src="/assets/img/dashboard/icon-revision.svg" alt="pendind" /> En gestión</span
                  >
                </div>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <div class="row-3" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="left">
      <app-novelty-chat [novelty]="currentNovelty" [listNotes]="listNovelties" (updateNovelty)="updateNovelty($event)"></app-novelty-chat>
    </div>
    <div class="right">
      <div fxLayout="column" fxLayoutAlign="center" class="border-bottom-gray">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="mb-2 mt-2 title-name">Información de la novedad</h3>
        </div>
      </div>

      <div fxLayout="row" class="pb-2">
        <div fxLayout="column" fxLayoutGap="20px">
          <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">FECHA DE LA SOLICITUD</span>
            <span class="normal-text">{{ currentNovelty.date | date: 'dd/MM/yyyy' }}</span>
          </p>
          <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">FECHA DE NOVEDAD</span>
            <span class="normal-text">{{ currentNovelty.datenovelty | date: 'dd/MM/yyyy' }}</span>
          </p>
          <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">FECHA DE SOLUCIÓN</span>
            <span class="normal-text">{{ currentNovelty.solutiondate | date: 'dd/MM/yyyy' }}</span>
          </p>
          <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">NEGOCIO</span>
              <mat-select (selectionChange)="saveBusiness($event)" [(value)]="selectedBusiness" id="business" class="selected-business" placeholder="Negocio">
                <mat-option *ngFor="let item of businesses" [value]="item">
                  <span>{{ item.description }}</span>
                </mat-option>
              </mat-select>
          </p>
          <p fxLayout="row" class="margin-zero-bottom">
            <span class="galano-bold gray w-label">REFERENCIA DE ORDEN/SERVICIO</span>
            <span class="normal-text">{{ currentNovelty.code }} </span>
          </p>
          <div fxLayout="column" class="margin-zero-bottom">
            <span class="galano-bold gray mt-2">DESCRIPCIÓN DE LA NOVEDAD</span>
            <div class="class-description">
              <span class="normal-text w-description">{{ currentNovelty.description }}</span>
            </div>
          </div>
          <div fxLayout="row" class="evidence-state-satisfaction">
            <p fxLayout="column" class="margin-zero-bottom margin-top-5px">
              <span class="galano-bold gray w-label">EVIDENCIA</span>
              <span (click)="viewerImage()" class="normal-link cursor-pointer">{{ image | truncate: '15' }}</span>
            </p>
            <p fxLayout="column" class="margin-zero-bottom margin-top-5px margin-left-10px">
              <span class="galano-bold gray">ESTADO</span>

              <span *ngIf="currentNovelty.statusnovelty === 'Pendiente'" class="span-relative-new normal-text"
              ><img class="status-img" src="/assets/img/dashboard/icon-info.svg" alt="pendind" /> Pendiente</span
            >
            <span *ngIf="currentNovelty.statusnovelty === 'Pendiente de documentación'" class="span-relative-new normal-text"
              ><img class="status-img" src="/assets/img/dashboard/document_text.svg" alt="pendind" />
              {{ 'Pendiente de documentación' | truncate: '10' }}</span
            >
            <span *ngIf="currentNovelty.statusnovelty === 'Solucionado'" class="span-relative-new normal-text"
              ><img class="status-img" src="/assets/img/dashboard/icon-check-new.svg" alt="pendind" /> Solucionado</span
            >
            <span *ngIf="currentNovelty.statusnovelty === 'Solución parcial'" class="span-relative-new normal-text"
              ><img class="status-img" src="/assets/img/dashboard/icon-check-partial.svg" alt="pendind" /> Solución parcial</span
            >
            <span *ngIf="currentNovelty.statusnovelty === 'En gestión'" class="span-relative-new normal-text"
              ><img class="status-img" src="/assets/img/dashboard/icon-revision.svg" alt="pendind" /> En gestión</span
            >
            </p>

            <p fxLayout="column" class="satisfaction margin-zero-bottom margin-top-5px margin-left-10px">
              <span class="galano-bold gray w-label">SATISFACCIÓN</span>
              <span class="content" *ngIf="currentNovelty.qualification === 3">
                <img src="\assets\img\status\feliz.svg" alt="" />
                <span>¡Conforme!</span>
                <span (click)="viewComment()" class="normal-link cursor-pointer">(Ver comentario)</span>
              </span>

              <span class="content" *ngIf="currentNovelty.qualification === 1">
                <img src="\assets\img\status\llorando.svg" alt="" />
                <span>Muy triste</span>
                <span (click)="viewComment()" class="normal-link cursor-pointer">(Ver comentario)</span>
              </span>

              <span class="content" *ngIf="currentNovelty.qualification === 2">
                <img src="\assets\img\status\triste.svg" alt="" />
                <span>Inconforme</span>
                <span (click)="viewComment()" class="normal-link cursor-pointer">(Ver comentario)</span>
              </span>

              <span class="content" *ngIf="currentNovelty.qualification === 4">
                <img src="\assets\img\status\enamorado.svg" alt="" />
                <span>¡Feliz!</span>
                <span (click)="viewComment()" class="normal-link cursor-pointer">(Ver comentario)</span>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="mt-3" fxLayout="row" fxLayoutAlign="end">
        <form [formGroup]="dateForm" fxLayout="column" class="w-100">
          
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

            <mat-form-field class="selected-report" class="w-50">
              <mat-placeholder class="label-up-text-selected">NUEVO ESTADO</mat-placeholder>
              <mat-select id="tipoReport" formControlName="status" class="selected-report">
                <mat-option (click)="onChangeSelected(selected.titulo)" *ngFor="let selected of selecteds" value="{{ selected.titulo }}">
                  <span>{{ selected.titulo }}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field class="selected-label" class="w-50">
              <mat-placeholder class="label-up-text-selected">ETIQUETA</mat-placeholder>
              <mat-select id="tipolabel" formControlName="label" class="selected-label">
                <mat-option (click)="saveLabel(label.titulo)" *ngFor="let label of labels" value="{{ label.titulo }}">
                  <span>{{ label.titulo }}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <angular-editor appearance="fill" [config]="configurarEditor" formControlName="responsenovelty"></angular-editor>
          
          <mat-error id="maxName" *ngIf="dateForm.controls.responsenovelty.invalid && dateForm.controls.responsenovelty.errors.maxlength">{{
            'GENERIC.MAX_CHARACTERS'
              | translate
                : {
                    maxchar: dateForm.controls.responsenovelty.errors.maxlength.requiredLength
                  }
          }}</mat-error>
        </form>
      </div>
      <div fxLayout="column" *ngIf="currentNovelty.responsedocumenturl">
        <p class="mt-3 mb-1 attached">DOCUMENTO ADJUNTO</p>
                
        <div fxLayout="row">
          <i class="tio-link style-icon"></i>
          <a href="{{ currentNovelty.responsedocumenturl }}" class="doc_anchor">
            <span class="document__link">
              {{ currentNovelty.responsedocumenturl.split('/').slice(-1) }}
            </span>
          </a>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="end end" class="mt-4">
        <span class="file-input" *ngIf="namePDF !== ''">{{ namePDF }}</span>
      
        <label for="file-upload" class="ml-2 button-element attach-button">
          Adjuntar PDF <i class="tio-pin style-icon"></i>
        </label>

        <input id="file-upload" type="file" (change)="onFileChange($event)" class="file-upload-input" />
        <button
          mat-raised-button
          color="orange"
          [disabled]="active || !dateForm.valid"
          (click)="saveChanges()"
          id="download-users"
          class="ml-2 send-button"
        >
          Guardar
        </button>
      </div>
      <ng-template #templateImage>
        <div>
          <img class="w-image" [src]="currentNovelty.documenturl" alt="" />
        </div>
      </ng-template>
    </div>
  </div>
</div>
