@import 'variables';
@import 'general';
@import 'animations';

.row-1 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  .left {
    .icon {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
    p {
      color: $gray-5;
      font-family: $font-galano-bold !important;
      font-size: 24px;
      margin: 0;
      span {
        color: $primary-color;
      }
    }
  }
}

.row-2 {
  padding: 20px 0;
  .step {
    width: 20%;
    padding: 8px 0px;
    text-align: center;
    clip-path: polygon(96% 0%, 100% 50%, 96% 100%, 0% 100%, 4% 50%, 0% 0%);
    color: $white;
    font-size: 14px;
    background-color: $gray4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .icon {
      color: $white;
      font-size: 16px;
      position: absolute;
      top: 25%;
      left: 26px;
    }
    &.-succes {
      background-color: $green;
    }
    &.-current {
      background-color: $third-color;
    }
    &.-document {
      text-align: left;
      line-height: 14px;
      width: 18%;
      max-width: 200px;
      padding: 2px 0 2px 52px;
    }
  }
}

mat-card {
  padding: 20px 16px;
  box-shadow: 0px 16px 16px #9aaacf1a !important;
  border-radius: 10px;
  .card-title {
    font-size: 16px;
    color: $primary-color;
    font-family: $font-galano-bold;
  }

  .info {
    margin-top: 15px;
    justify-content: space-between;
    .left {
      div {
        margin-right: 25px;
        span:nth-child(1) {
          font-size: 12px;
          font-family: $font-galano-bold;
          color: $gray4;
          font-weight: bold;
        }
      }

      span:nth-child(2) {
        font-size: 14px;
        color: $primary-color;
      }
    }

    .right {
      width: 20%;
      label {
        font-size: 12px;
        font-family: 'galano-bold', sans-serif;
        color: #a7a3b1;
        font-weight: bold;
      }
      mat-form-field {
        width: 100%;
        height: 40px;
        .mat-form-field-wrapper {
          height: 100%;
          padding: 0;

          .mat-form-field-flex {
            height: 100%;
            background: transparent;
          }
          .mat-form-field-underline::before {
            bottom: -21px;
          }
        }

        .mat-form-field-ripple {
          bottom: -21px;
        }
      }
    }
  }
}

.row-3 {
  .left {
    width: 49%;
    padding: 20px 16px;
    box-shadow: 0px 16px 16px #9aaacf1a !important;
    border-radius: 10px;
    background-color: $white;
    margin: 20px 0;
  }
  .right {
    width: 49%;
    padding: 20px 16px;
    box-shadow: 0px 16px 16px #9aaacf1a !important;
    border-radius: 10px;
    background-color: $white;
    margin: 20px 0;
    .text-link {
      color: #8d7eb7 !important;
      text-decoration: underline;
    }
    .title-name {
      color: #37236a;
      font-size: 20px;
      line-height: 28px;
      strong {
        color: #878195;
      }
    }
    .w-label {
      width: 160px;
    }
    .w-label-info {
      width: 178px;
    }
    .gray {
      color: $gray2;
      font-size: 11px;
    }
    .normal-text {
      color: #37236a;
      font-size: 14px;
      //line-height: 28px;
      //font-family: "galano-medium";
    }

    .margin-zero-bottom {
      margin-bottom: 0px !important;
    }
    .margin-zero-top {
      margin-top: 0px !important;
    }
    .w-description {
      width: 350px;
      margin-right: 10px;
    }
    .normal-link {
      color: #8d7eb7 !important;
      text-decoration: underline;
    }
    .label-up-text-selected {
      color: #a7a3b1;
      font-family: $font-galano-bold !important;
      margin-top: 15px;
      font-size: 14px;
    }
    .w-image {
      width: 100%;
    }
    .download-file {
      border-radius: 10px;
      padding: 10px;
      color: #ffffff;
      position: absolute;
      bottom: -45px;
      right: 0px;
      background-color: #8e7cbb;
    }
    .span-relative-new {
      position: relative;
      bottom: 7px;
    }
    .status-img {
      position: relative;
      top: 4px;
    }

    .evidence-state-satisfaction {
      justify-content: space-between;
      p:nth-child(1) {
        width: 25%;
      }

      .satisfaction {
        .content {
          display: flex;
          align-items: center;
          img {
            width: 20px;
          }
          span:nth-child(2) {
            margin: 0 4px;
          }
        }
      }
    }
    .class-description {
      height: auto;
      max-height: 50px;
      overflow-y: auto;
      margin-right: 5px;
      width: 100%;
      margin-top: 10px;
    }
    .margin-top-5px {
      margin-top: 5px;
    }
    .margin-left-10px {
      margin-left: 10px;
    }
    .style-icon {
      font-size: 19px;
      color: black;
    }
    .document__link {
      color: #37236a;
      font-size: 16px;
    }
    .doc_anchor {
      overflow: hidden;
    }
    .attached {
      font-size: 11px;
    }
  }
  .button-element {
    background-color: #37236a;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgb(61 47 86 / 18%), 0 2px 2px 0 rgb(61 47 86 / 18%), 0 1px 5px 0 rgb(61 47 86 / 18%);
    height: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .attach-button {
    min-width: 145px;
  }
  .style-icon {
    font-size: 20px;
  }
  .file-upload-input {
    display: none;
  }
}

.gray{
  color:#726d7e !important;
}
@media (max-width: 992px) {
  .selected-business {
    width: 160px;
  }
}