@import 'variables';
@import 'general';

.text-banner {
  top: 30%;
}

.text-banner-mobile {
  top: 10%;
}

.position {
  &-relative {
    position: relative;
  }
  &-absolute {
    position: absolute;
  }
}

.banner {
  min-height: 170px;
  &-mobile {
    min-height: 110px;
    img {
      object-fit: cover;
      height: 88px;
    }
  }
  img {
    object-fit: cover;
    height: 100%;
  }
}
