<form [formGroup]="fileForm" fxLayout="row" fxLayoutAlign="space-between center" #form>
  <span *ngIf="nameFile === ''">No hay archivo seleccionado</span>
  <span class="file-input" *ngIf="nameFile !== ''">{{ nameFile }}</span>

  <!-- <span *ngIf="nameFileAssured === ''">No hay archivo seleccionado</span>
  <span class="file-input" *ngIf="nameFileAssured !== ''">{{ nameFileAssured }}</span> -->

  <label for="file-upload{{label}}" class="custom-file-upload mat-elevation-z1">
    Explorar
  </label>

  <input id="file-upload{{label}}" type="file" (click)="reset()" (change)="onFileChange($event)" />
  
</form>

