<app-banner
  title="Blog"
  img="/assets/img/banners/banner-perfil-pc.jpg"
  imgMobile="/assets/img/banners/banner-perfil-mobile.jpg"
></app-banner>
<div class="container">
  <div class="mt-3">
    <span fxLayout="row">
      <!-- <h3 class="border-bottom-orange-init title-h3">{{ 'HOME.BUSSINESS' | translate }}</h3> -->
      <button mat-button [routerLink]="['/blog']" class="button-padding">
        <span class="galano-bold f-16" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>keyboard_arrow_left</mat-icon>
          Volver
        </span>
      </button>
    </span>
  </div>
  <div>
    <h2 class="center-title-text">{{ datas.title }}</h2>
    <img class="blog-image-content" [src]="datas.imageurl" alt="" fxShow.xs="false" />
    <div class="mt-3 container-blogs" fxLayout="row" fxLayout.xs="column">
      <div class="mr-3" fxLayout="column" fxShow.xs="false" fxLayoutGap="5px">
        <img shareButton="facebook" [url]="url" src="/assets/img/ico-facebook.svg" alt="shared-facebook" />
        <img src="/assets/img/ico-mail.svg" (click)="sendEmail()" alt="shared-email" />
        <img (click)="copyLink(linkInput)" src="/assets/img/ico-copy.svg" alt="copy-link" />
      </div>
      <div>
        <span class="mt-4 text-date-content">{{ datas.date | date: 'yyyy/MM/dd' }}</span>
        <h3 class="mt-0 text-author-content">{{ datas.author }}</h3>
        <div class="style-blogs" [innerHtml]="datas.content"></div>
        <div class="border-gray-blog mt-2">
          <p><strong>Etiquetas: </strong> {{ datas.tags }}</p>
        </div>
      </div>
      <div class="mr-3" fxLayout="row" fxShow.gt-xs="false" fxLayoutGap="10px" fxLayoutAlign="center center">
        <img shareButton="facebook" [url]="url" src="/assets/img/ico-facebook.svg" alt="shared-facebook" />
        <img src="/assets/img/ico-mail.svg" (click)="sendEmail()" alt="shared-email" />
        <img #btnCopy (click)="copyLink(linkInput)" src="/assets/img/ico-copy.svg" alt="copy-link" />
      </div>
    </div>
  </div>
</div>
<input class="hiden-link" type="text" [value]="valueLink" #linkInput readonly />

<ng-template #templateSendEmail>
  <form [formGroup]="dateForm" fxLayout="column">
    <mat-form-field>
      <input matInput id="nameBussiness" type="text" placeholder="EMAIL" formControlName="nameBussiness" required />
      <mat-error id="requiredName" *ngIf="dateForm.controls.nameBussiness.invalid && dateForm.controls.nameBussiness.errors.required">{{
        'GENERIC.REQUIRED' | translate: { formValue: 'Email' }
      }}</mat-error>
      <mat-error id="invalidEmail" *ngIf="dateForm.controls.nameBussiness.invalid">{{
        'LOGIN.INVALID_EMAIL' | translate: { formValue: 'Email' }
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="mt-3">
      <input matInput id="namePerson" type="text" placeholder="TU NOMBRE" formControlName="namePerson" required />
      <mat-error id="requiredName" *ngIf="dateForm.controls.namePerson.invalid && dateForm.controls.namePerson.errors.required">{{
        'GENERIC.REQUIRED' | translate: { formValue: 'Nombre' }
      }}</mat-error>

      <mat-error id="maxName" *ngIf="dateForm.controls.namePerson.invalid && dateForm.controls.namePerson.errors.maxlength">{{
        'GENERIC.MAX_CHARACTERS'
          | translate
            : {
                maxchar: dateForm.controls.namePerson.errors.maxlength.requiredLength
              }
      }}</mat-error>
      <mat-error id="minName" *ngIf="dateForm.controls.namePerson.invalid && dateForm.controls.namePerson.errors.minlength">{{
        'GENERIC.MIN_CHARACTERS'
          | translate
            : {
                minchar: dateForm.controls.namePerson.errors.minlength.requiredLength
              }
      }}</mat-error>
      <mat-error id="invalidName" *ngIf="dateForm.controls.namePerson.invalid && dateForm.controls.namePerson.errors.pattern">{{
        'GENERIC.INVALID_FORMAT' | translate: { val: 'Email' }
      }}</mat-error>
    </mat-form-field>
  </form>
  <div class="container-blogs mt-3 mb-3" fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button class="button-save" (click)="sendMessage()" [disabled]="!dateForm.valid">Enviar</button>
  </div>
</ng-template>
