<div [fxLayout]="direction" class="mt-3 mb-3">
      
    <p class="p-range">{{title}}</p>
    
    <form class="form-relative" [formGroup]="dateRangeForm">
      
      <div fxLayout="row">
        <i class="tio-date_range icon-date"></i>
        <input
          formControlName="dateRange"
          (change)="getDate($event)"
          [locale]="locale"
          [placeholder]="placeholder"
          type="text"
          [maxDate]="maxDate"
          [showDropdowns]="true"
          ngxDaterangepickerMd
          [drops]="drop"
          [opens]="open"
          class="form-control border-input mat-elevation-z1 p-2 border-radius"
        />
      </div>

    </form>

  </div>
