<div class="mat-elevation-z0 mt-4 mb-4 overflow-auto">
    <table mat-table [dataSource]="dataSource" class="users-table">
  
      <!-- Links Column -->
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef> <span class="galano-bold gray-light">{{ 'HISTORICAL.LINK' | translate }} </span></th>
        <td mat-cell *matCellDef="let element; let i=index"> 
          <span class="orange-text">{{element.link}}</span>
        </td>
      </ng-container>

      <!-- Date column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="text-center"> <span class="galano-bold gray-light">{{ 'HISTORICAL.DATE' | translate }} </span></th>
        <td mat-cell class="text-center" *matCellDef="let element"> 
        {{element.date | date: 'yyyy-MM-dd'}}
        </td>
      </ng-container>
  
      <!-- Comissions Column -->
      <ng-container matColumnDef="comission">
        <th mat-header-cell *matHeaderCellDef class="text-center" > <span class="galano-bold gray-light">{{ 'HISTORICAL.GENERATED_COMISSIONS' | translate }}</span></th>
        <td mat-cell class="text-center" *matCellDef="let element"> {{element.commission  | currency : '' : 'symbol' : '1.0-0'}} </td>
      </ng-container>

      <!-- total Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef class="text-center" > <span class="galano-bold gray-light">{{ 'HISTORICAL.TOTAL_SELL' | translate }}</span></th>
        <td mat-cell class="text-center" *matCellDef="let element"> {{element.products}} </td>
      </ng-container>

      <!-- visits Column -->
      <ng-container matColumnDef="visits">
        <th mat-header-cell *matHeaderCellDef class="text-center" > <span class="galano-bold gray-light">{{ 'HISTORICAL.VISITS' | translate }}</span></th>
        <td mat-cell class="text-center" *matCellDef="let element"> {{element.visits}} </td>
      </ng-container>
  
      <!-- Buttons Column -->
      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef class="text-center"></th>
        <td mat-cell class="text-center" *matCellDef="let element; let i=index"> 
            <button
            mat-raised-button
            color="orange"
            (click)="infoProduct((dataSource.data)[i])"
          >
            <span>{{ 'PRODUCTS.GET_LINK'  | translate }}</span>
            
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr  mat-row *matRowDef="let row; columns: displayedColumns;let i= index;"></tr>
    </table>
  </div>