@import 'variables';

.mat-card-title {
  color: $primary-color;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.card-group {
  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    column-gap: 1rem;
    font-size: 22px;
    color: $purple2;
  }
}

.truncate {
  max-width: 480px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.mat-card-subtitle {
  display: inline-flex;
  gap: 10px;
}

.user {
  color: #b4a6db;
}
