<div class="catalogue-card">
    <div class="container-left">
      <img class="img-desktop mr-3" src="{{ img }}" [alt]="title" />
      <div class="Catalogue-info-container">
        <h4>{{ title }}</h4>
        <div>
          <span class="catalogue-info">
            <h5>FECHA INICIO</h5>
            <p>{{ dateStart ? formatDate(dateStart) : '-' }}</p>
          </span>
          <span class="catalogue-info">
            <h5>FECHA FIN</h5>
            <p>{{ dateEnd ? formatDate(dateEnd) : '-' }}</p>
          </span>
          <span class="catalogue-info">
            <h5>NO. LINKS</h5>
            <p>{{ links }}</p>
          </span>
          <span class="catalogue-info">
            <h5>PLANTILLA</h5>
            <p>{{ template }}</p>
          </span>
          <span class="catalogue-info">
            <h5>DESCARGAS</h5>
            <p>{{ download }}</p>
          </span>
        </div>
      </div>
    </div>
    <div class="container-right">
      <div class="container-toggle">
        <span class="toggle-text">Mostrar / ocultar</span>
        <mat-slide-toggle [(ngModel)]="showHidden" (change)="showHiddenCatalogue()" color="orange2-toggle"></mat-slide-toggle>
      </div>
      <div class="container-actions">
        <i class="tio-edit style-icon cursor-pointer" (click)="openEdit()"></i>
        <img class="cursor-pointer" (click)="deleteCatalogue()" src="/assets/img/dashboard/icon-remove-comision.svg" alt="delete" />
      </div>
    </div>
  </div>
  
