<app-banner title="{{'GENERIC.WIN10K' | translate}}" img="/assets/img/banners/banner-refiere-pc.jpg" imgMobile="/assets/img/banners/banner-refiere-mobile.jpg"></app-banner>
<app-back-navigation
fxHide.gt-xs="true"
title="Referir"
(close)="goback()"
></app-back-navigation>

<div class="container mt-2 refer-tabs">
    <mat-tab-group>
        <!-- REFERS -->
        <mat-tab>
            <ng-template mat-tab-label>
                 <span>{{'REFER.REFER' | translate}}</span>
            </ng-template>
            <div>
                <app-refer-share #share (shareMobile)="shareEvent($event)" (urlClicker)="copyInputMessage($event)"></app-refer-share>
                <app-refer-email (email)="sendEmail($event)"></app-refer-email>
            </div>
        </mat-tab>

        <!-- MY REFERS -->
        <mat-tab>
            <ng-template mat-tab-label>
                 <span>{{'REFER.MY_REFERS' | translate}}</span>
            </ng-template>
            <app-table-refer [dataSource]="dataSource"></app-table-refer>
            <mat-paginator
                    [length]="totalItems"
                    [pageSize]="pageSize"
                    [pageIndex]="pageIndex"
                    (page)="pagination($event)"
            ></mat-paginator>
        </mat-tab>
    
      </mat-tab-group>
      <div  innerHtml="{{'REFER.CONDITIONS' | translate: { sale: amountReferred | currency : '' : 'symbol' : '1.0-0', amount: amount | currency : '' : 'symbol' : '1.0-0' } }}"></div> 
      <div  innerHtml="{{'REFER.TERMS' | translate: { amount: amount | currency : '' : 'symbol' : '1.0-0' } }}"></div> 
</div>
