@import 'variables';
@import 'general';
@import 'mixins';

.video-home-card {
  /*   height: 100%; */
  background-size: cover;
  border-radius: 12px;
  width: 100%;
  @media (min-width: 840px) {
    max-height: 300px;
  }
}
