@import 'variables';
@import 'general';
@import 'mixins';

.video-home-card {
  /*   height: 100%; */
  background-size: cover;
  border-radius: 12px;
  max-height: 268px;
}

@media (max-width: 840px) {
  .video-home-card {
    width: 100%;
  }
}
