<form autocomplete="off" class="info-basic" [formGroup]="externalForm">
  <div fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px" class="mt-3">
    <mat-card class="p-0 mb-3 mat-card-box-shadow" fxLayout="column">
      <mat-card-header>
        <mat-card-title
          ><h3 class="mt-2 mb-2 pt-1 pb-1 f-16">
            {{ 'REGISTER.ACOUNT_INFO' | translate }}
          </h3></mat-card-title
        >
      </mat-card-header>
      <mat-card-content fxFlex>
        <div class="input-fields">
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
            fxLayoutAlign="start center"
            fxLayoutAlign.xs="start start"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{ 'REGISTER.BANK' | translate }}</label>
            <span class="info" ngClass.xs="w-100" fxLayout="column" fxLayout.xs="row" fxFLex="70" fxFLex.xs="0">
              <mat-form-field>
                <mat-select placeholder="Seleccione" id="bank" formControlName="bank">
                  <mat-option *ngFor="let bank of banks" value="{{ bank.description }}">
                    <span>{{ bank.description }}</span>
                  </mat-option>
                </mat-select>

                <mat-error id="requiredBank" *ngIf="externalForm.controls.bank.invalid && externalForm.controls.bank.errors.required">{{
                  'GENERIC.REQUIRED' | translate : { formValue: 'Banco' }
                }}</mat-error>
              </mat-form-field>
            </span>
          </span>

          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
            fxLayoutAlign="start center"
            fxLayoutAlign.xs="start start"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{ 'REGISTER.TYPE_ACCOUNT' | translate }}</label>
            <span class="info" ngClass.xs="w-100" fxLayout="column" fxLayout.xs="row" fxFLex="70" fxFLex.xs="0">
              <mat-form-field>
                <mat-select placeholder="Seleccione" id="typeAccount" formControlName="typeAccount">
                  <mat-option *ngFor="let account of typeAccount" value="{{ account.id }}"
                    ><span>{{ account.description }}</span></mat-option
                  >
                </mat-select>

                <mat-error
                  id="requiredTypeAccount"
                  *ngIf="externalForm.controls.typeAccount.invalid && externalForm.controls.typeAccount.errors.required"
                  >{{ 'GENERIC.REQUIRED' | translate : { formValue: 'Tipo de cuenta' } }}</mat-error
                >
              </mat-form-field>
            </span>
          </span>

          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
            fxLayoutAlign="start center"
            fxLayoutAlign.xs="start start"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{ 'REGISTER.NUMBER_ACCOUNT' | translate }}</label>
            <span class="info" ngClass.xs="w-100" fxLayout="column" fxLayout.xs="row" fxFLex="70" fxFLex.xs="0">
              <mat-form-field>
                <input spacebar matInput id="numberAccount" type="text" formControlName="numberAccount" />

                <mat-error
                  id="requiredTypeAccount"
                  *ngIf="externalForm.controls.numberAccount.invalid && externalForm.controls.numberAccount.errors.required"
                  >{{ 'GENERIC.REQUIRED' | translate : { formValue: 'Número de cuenta' } }}</mat-error
                >

                <mat-error
                  id="invalidNumber"
                  *ngIf="externalForm.controls.numberAccount.invalid && externalForm.controls.numberAccount.errors.pattern"
                  >{{ 'GENERIC.ONLY_NUMBERS' | translate }}</mat-error
                >

                <mat-error
                  id="minAccount"
                  *ngIf="externalForm.controls.numberAccount.invalid && externalForm.controls.numberAccount.errors.minlength"
                  >{{
                    'GENERIC.MIN_CHARACTERS'
                      | translate
                        : {
                            minchar: externalForm.controls.numberAccount.errors.minlength.requiredLength
                          }
                  }}</mat-error
                >

                <mat-error
                  id="maxAccount"
                  *ngIf="externalForm.controls.numberAccount.invalid && externalForm.controls.numberAccount.errors.maxlength"
                  >{{
                    'GENERIC.MAX_CHARACTERS'
                      | translate
                        : {
                            maxchar: externalForm.controls.numberAccount.errors.maxlength.requiredLength
                          }
                  }}</mat-error
                >
              </mat-form-field>
            </span>
          </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end">
          <span fxLayout="column" fxFlex="20" fxFlex.xs="150px" class="m-3">
            <button
              mat-raised-button
              id="payment-info-btn"
              class="center button button-100 gtmPerfilClicGestionarPagosClickam"
              color="orange"
              (click)="sendPayment()"
              [disabled]="!externalForm.valid"
            >
              <span class="gtmPerfilClicGestionarPagosClickam">{{ 'GENERIC.SAVE' | translate }}</span>
            </button>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <section class="aditional-info-container">
    <h3 class="f-18">{{ 'REGISTER.ADITIONAL_FILE' | translate }}</h3>

    <p>{{ 'REGISTER.INFO_ADDITIONAL' | translate }}</p>
    <p class="purple-text">
      <strong>{{ 'REGISTER.INFO_ADDITIONAL_2' | translate }}</strong>
    </p>

    <div class="input-file-container">
      <app-input-file
        [validFormats]="['jpg', 'jpeg', 'pdf']"
        (fileOutput)="onFileChangeFiles($event, 'cedulaFrontal')"
        [maxSize]="1000"
        placeholder="Cédula parte frontal"
        idControl="cedulaFrontalControl"
        [errorFile]="fileCedulaFrontal.error"
        [nameFile]="fileCedulaFrontal.name"
        *ngIf="!cedulaFrontalIsLoading; else fileIsLoading"
      ></app-input-file>
    </div>
    <div class="input-file-container">
      <app-input-file
        [validFormats]="['jpg', 'jpeg', 'pdf']"
        (fileOutput)="onFileChangeFiles($event, 'cedulaPosterior')"
        [maxSize]="1000"
        placeholder="Cédula parte porterior"
        idControl="cedulaPosteriorControl"
        [errorFile]="fileCedulaPosterior.error"
        [nameFile]="fileCedulaPosterior.name"
        *ngIf="!cedulaPosteriorIsLoading; else fileIsLoading"
      ></app-input-file>
    </div>
    <div class="input-file-container">
      <app-input-file
        [validFormats]="['jpg', 'jpeg', 'pdf']"
        (fileOutput)="onFileChangeFiles($event, 'certificadoBancario')"
        [maxSize]="1000"
        placeholder="Certificación bancaria"
        idControl="certificadoBancarioControl"
        [errorFile]="fileCertificadoBancario.error"
        [nameFile]="fileCertificadoBancario.name"
        *ngIf="!certificadoBancarioIsLoading; else fileIsLoading"
      ></app-input-file>
    </div>
    <div class="input-file-container">
      <app-input-file
        [validFormats]="['jpg', 'jpeg', 'pdf']"
        (fileOutput)="onFileChangeFiles($event, 'rut')"
        [maxSize]="1000"
        placeholder="RUT"
        idControl="rutControl"
        [errorFile]="fileRut.error"
        [nameFile]="fileRut.name"
        *ngIf="!rutIsLoading; else fileIsLoading"
      ></app-input-file>
    </div>
  </section>
</form>


<ng-template #fileIsLoading>
  <div class="input-file-loading loading"></div>
</ng-template>
