<form autocomplete="off" class="info-basic" [formGroup]="externalForm">
  <div fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px" class="mt-3">
    <!-- <mat-card class="p-0 mb-3 mat-card-box-shadow">
      <mat-card-header>
        <mat-card-title
          ><h3 class="mt-2 mb-2 pt-1 pb-1 f-16">
            {{ 'REGISTER.INFO_HOME' | translate }}
          </h3></mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <span
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="80px"
          fxLayoutGap.xs="0px"
          class="item"
          fxLayoutAlign="start center"
          fxLayoutAlign.xs="start start"
        >
          <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{ 'REGISTER.DEPARTMENT' | translate }}</label>
          <span class="info" ngClass.xs="w-100" fxLayout="column" fxLayout.xs="row" fxFLex="70" fxFLex.xs="0">
            <mat-form-field>
              <input
                matInput
                id="departmentCode"
                [matAutocomplete]="auto"
                formControlName="department"
                autocomplete="nope"
                (blur)="checkDepartment()"
              />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDepartment">
                <mat-option
                  (onSelectionChange)="selectDepartment(department)"
                  *ngFor="let department of filteredDepartments | async; let i = index"
                  [value]="department"
                >
                  <span>{{ department.description }}</span>
                </mat-option>
              </mat-autocomplete>

              <mat-error
                id="requiredDepartment"
                *ngIf="externalForm.controls.department.invalid && externalForm.controls.department.errors.required"
                >{{ 'GENERIC.REQUIRED' | translate: { formValue: 'Departamento' } }}</mat-error
              >
              <mat-error
                id="selectDepartementError"
                *ngIf="externalForm.controls.department.invalid && externalForm.controls.department.errors.incorrect"
                >{{ 'REGISTER.ERROR_DEPARTMENT' | translate }}</mat-error
              >
            </mat-form-field>
          </span>
        </span>

        <span
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="80px"
          fxLayoutGap.xs="0px"
          class="item"
          fxLayoutAlign="start center"
          fxLayoutAlign.xs="start start"
        >
          <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{ 'REGISTER.CITY' | translate }}</label>
          <span class="info" ngClass.xs="w-100" fxLayout="column" fxLayout.xs="row" fxFLex="70" fxFLex.xs="0">
            <mat-form-field>
              <input matInput id="city" [matAutocomplete]="city" formControlName="city" autocomplete="nope" (blur)="checkCity()" />
              <mat-autocomplete #city="matAutocomplete">
                <mat-option (onSelectionChange)="selectCity(city)" *ngFor="let city of filteredCities | async" [(value)]="city.description">
                  <span>{{ city.description }}</span>
                </mat-option>
              </mat-autocomplete>

              <mat-error
                id="selectCityError"
                *ngIf="externalForm.controls.city.invalid && externalForm.controls.city.errors.incorrectCity"
                >{{ 'REGISTER.ERROR_CITY' | translate }}</mat-error
              >

              <mat-error id="requiredCity" *ngIf="externalForm.controls.city.invalid && externalForm.controls.city.errors.required">{{
                'GENERIC.REQUIRED' | translate: { formValue: 'Ciudad' }
              }}</mat-error>
            </mat-form-field>
          </span>
        </span>

        <span
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="80px"
          fxLayoutGap.xs="0px"
          class="item"
          fxLayoutAlign="start center"
          fxLayoutAlign.xs="start start"
        >
          <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{ 'REGISTER.ADDRESS' | translate }}</label>
          <span class="info" ngClass.xs="w-100" fxLayout="column" fxLayout.xs="row" fxFLex="70" fxFLex.xs="0">
            <mat-form-field>
              <input matInput id="address" type="text" formControlName="address" autocomplete="off" />

              <mat-error
                id="requiredAddress"
                *ngIf="externalForm.controls.address.invalid && externalForm.controls.address.errors.required"
                >{{ 'GENERIC.REQUIRED' | translate: { formValue: 'Ciudad' } }}</mat-error
              >
            </mat-form-field>
          </span>
        </span>
      </mat-card-content>
    </mat-card> -->

    <mat-card class="p-0 mb-3 mat-card-box-shadow" fxLayout="column">
      <mat-card-header>
        <mat-card-title
          ><h3 class="mt-2 mb-2 pt-1 pb-1 f-16">
            {{ 'REGISTER.ACOUNT_INFO' | translate }}
          </h3></mat-card-title
        >
      </mat-card-header>
      <mat-card-content fxFlex>
        <div class="input-fields">
          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
            fxLayoutAlign="start center"
            fxLayoutAlign.xs="start start"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{ 'REGISTER.BANK' | translate }}</label>
            <span class="info" ngClass.xs="w-100" fxLayout="column" fxLayout.xs="row" fxFLex="70" fxFLex.xs="0">
              <mat-form-field>
                <mat-select placeholder="Seleccione" id="bank" formControlName="bank">
                  <!-- <mat-option>{{ "REGISTER.BANK" | translate }}</mat-option> -->
                  <mat-option *ngFor="let bank of banks" value="{{ bank.description }}">
                    <span>{{ bank.description }}</span></mat-option
                  >
                </mat-select>

                <mat-error id="requiredBank" *ngIf="externalForm.controls.bank.invalid && externalForm.controls.bank.errors.required">{{
                  'GENERIC.REQUIRED' | translate : { formValue: 'Banco' }
                }}</mat-error>
              </mat-form-field>
            </span>
          </span>

          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
            fxLayoutAlign="start center"
            fxLayoutAlign.xs="start start"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{ 'REGISTER.TYPE_ACCOUNT' | translate }}</label>
            <span class="info" ngClass.xs="w-100" fxLayout="column" fxLayout.xs="row" fxFLex="70" fxFLex.xs="0">
              <mat-form-field>
                <mat-select placeholder="Seleccione" id="typeAccount" formControlName="typeAccount">
                  <mat-option *ngFor="let account of typeAccount" value="{{ account.id }}"
                    ><span>{{ account.description }}</span></mat-option
                  >
                </mat-select>

                <mat-error
                  id="requiredTypeAccount"
                  *ngIf="externalForm.controls.typeAccount.invalid && externalForm.controls.typeAccount.errors.required"
                  >{{ 'GENERIC.REQUIRED' | translate : { formValue: 'Tipo de cuenta' } }}</mat-error
                >
              </mat-form-field>
            </span>
          </span>

          <span
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="80px"
            fxLayoutGap.xs="0px"
            class="item"
            fxLayoutAlign="start center"
            fxLayoutAlign.xs="start start"
          >
            <label fxLayout="column" fxFLex="50" fxFLex.xs="0" fxLayout.xs="row">{{ 'REGISTER.NUMBER_ACCOUNT' | translate }}</label>
            <span class="info" ngClass.xs="w-100" fxLayout="column" fxLayout.xs="row" fxFLex="70" fxFLex.xs="0">
              <mat-form-field>
                <input spacebar matInput id="numberAccount" type="text" formControlName="numberAccount" />

                <mat-error
                  id="requiredTypeAccount"
                  *ngIf="externalForm.controls.numberAccount.invalid && externalForm.controls.numberAccount.errors.required"
                  >{{ 'GENERIC.REQUIRED' | translate : { formValue: 'Número de cuenta' } }}</mat-error
                >

                <mat-error
                  id="invalidNumber"
                  *ngIf="externalForm.controls.numberAccount.invalid && externalForm.controls.numberAccount.errors.pattern"
                  >{{ 'GENERIC.ONLY_NUMBERS' | translate }}</mat-error
                >

                <mat-error
                  id="minAccount"
                  *ngIf="externalForm.controls.numberAccount.invalid && externalForm.controls.numberAccount.errors.minlength"
                  >{{
                    'GENERIC.MIN_CHARACTERS'
                      | translate
                        : {
                            minchar: externalForm.controls.numberAccount.errors.minlength.requiredLength
                          }
                  }}</mat-error
                >

                <mat-error
                  id="maxAccount"
                  *ngIf="externalForm.controls.numberAccount.invalid && externalForm.controls.numberAccount.errors.maxlength"
                  >{{
                    'GENERIC.MAX_CHARACTERS'
                      | translate
                        : {
                            maxchar: externalForm.controls.numberAccount.errors.maxlength.requiredLength
                          }
                  }}</mat-error
                >
              </mat-form-field>
            </span>
          </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end">
          <span fxLayout="column" fxFlex="20" fxFlex.xs="150px" class="m-3">
            <button
              mat-raised-button
              id="payment-info-btn"
              class="center button button-100 gtmPerfilClicGestionarPagosClickam"
              color="orange"
              (click)="sendPayment()"
              [disabled]="!externalForm.valid"
            >
              <span class="gtmPerfilClicGestionarPagosClickam">{{ 'GENERIC.SAVE' | translate }}</span>
            </button>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <section class="aditional-info-container">
    <h3 class="f-18">{{ 'REGISTER.ADITIONAL_FILE' | translate }}</h3>

    <p>{{ 'REGISTER.INFO_ADDITIONAL' | translate }}</p>
    <p class="purple-text">
      <strong>{{ 'REGISTER.INFO_ADDITIONAL_2' | translate }}</strong>
    </p>

    <div class="input-file-container">
      <app-input-file
        [validFormats]="['jpg', 'jpeg', 'pdf']"
        (fileOutput)="onFileChangeFiles($event, 'cedulaFrontal')"
        placeholder="Cédula parte frontal"
        idControl="cedulaFrontalControl"
        [errorFile]="fileCedulaFrontal.error"
        [nameFile]="fileCedulaFrontal.name"
      ></app-input-file>
    </div>
    <div class="input-file-container">
      <app-input-file
        [validFormats]="['jpg', 'jpeg', 'pdf']"
        (fileOutput)="onFileChangeFiles($event, 'cedulaPosterior')"
        placeholder="Cédula parte porterior"
        idControl="cedulaPosteriorControl"
        [errorFile]="fileCedulaPosterior.error"
        [nameFile]="fileCedulaPosterior.name"
      ></app-input-file>
    </div>
    <div class="input-file-container">
      <app-input-file
        [validFormats]="['jpg', 'jpeg', 'pdf']"
        (fileOutput)="onFileChangeFiles($event, 'certificadoBancario')"
        placeholder="Certificación bancaria"
        idControl="certificadoBancarioControl"
        [errorFile]="fileCertificadoBancario.error"
        [nameFile]="fileCertificadoBancario.name"
      ></app-input-file>
    </div>
    <div class="input-file-container">
      <app-input-file
        [validFormats]="['jpg', 'jpeg', 'pdf']"
        (fileOutput)="onFileChangeFiles($event, 'rut')"
        placeholder="RUT"
        idControl="rutControl"
        [errorFile]="fileRut.error"
        [nameFile]="fileRut.name"
      ></app-input-file>
    </div>
  </section>

  <!-- <ng-container>
    <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px">
      <div fxLayout="column" fxLayoutAlign="center" class="space">
        <strong class="gray">{{ 'REGISTER.CED1' | translate }}</strong>
        <span *ngIf="nameFileCed1 === ''">No hay archivo seleccionado</span>
        <span class="file-input" *ngIf="nameFileCed1 !== ''">{{ nameFileCed1 | truncate : '20' }}</span>
      </div>
      <div class="space">
        <label for="ced1" id="upload" class="cursor-pointer">
          <span *ngIf="!showErrorCed1">
            <i class="tio-upload_on_cloud mt-1 f-25 purple2-text" *ngIf="nameFileCed1 === ''"></i>
            <i class="tio-cloud_on mt-1 f-25 purple2-text" *ngIf="nameFileCed1 !== ''"></i>
          </span>
          <i class="tio-cloud_disabled mt-1 f-25 purple2-text" *ngIf="showErrorCed1"></i>
        </label>
      </div>
    </div>
    <mat-error *ngIf="showErrorFormatCed1" class="small pb-2">
      {{ 'GENERIC.INVALID_FORMAT_FILE_REGISTER' | translate }}
    </mat-error>
    <br />
    <input (change)="onFileChangeFiles($event, 'IdentificationCard1')" id="ced1" type="file" formControlName="ced1" />

    <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px">
      <div fxLayout="column" fxLayoutAlign="center" class="space">
        <strong class="gray">{{ 'REGISTER.CED2' | translate }}</strong>
        <span *ngIf="nameFileCed2 === ''">No hay archivo seleccionado</span>
        <span class="file-input" *ngIf="nameFileCed2 !== ''">{{ nameFileCed2 | truncate : '20' }}</span>
      </div>
      <div class="space">
        <label for="ced2" id="upload" class="cursor-pointer">
          <span *ngIf="!showErrorCed2">
            <i class="tio-upload_on_cloud mt-1 f-25 purple2-text" *ngIf="nameFileCed2 === ''"></i>
            <i class="tio-cloud_on mt-1 f-25 purple2-text" *ngIf="nameFileCed2 !== ''"></i>
          </span>
          <i class="tio-cloud_disabled mt-1 f-25 purple2-text" *ngIf="showErrorCed2"></i>
        </label>
      </div>
    </div>
    <mat-error *ngIf="showErrorFormatCed2" class="small pb-2">
      {{ 'GENERIC.INVALID_FORMAT_FILE_REGISTER' | translate }}
    </mat-error>
    <br />
    <input (change)="onFileChangeFiles($event, 'IdentificationCard2')" id="ced2" type="file" formControlName="ced2" />

    <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" class="pb-3">
      <div fxLayout="column" fxLayoutAlign="center" class="space">
        <strong class="gray">{{ 'REGISTER.ACCOUNT_CERT' | translate }}</strong>
        <span *ngIf="nameFileCert === ''">No hay archivo seleccionado</span>
        <span class="file-input" *ngIf="nameFileCert !== ''">{{ nameFileCert | truncate : '20' }}</span>
      </div>
      <div class="space">
        <label for="cert" id="upload" class="cursor-pointer">
          <span *ngIf="!showErrorCert">
            <i class="tio-upload_on_cloud mt-1 f-25 purple2-text" *ngIf="nameFileCert === ''"></i>
            <i class="tio-cloud_on mt-1 f-25 purple2-text" *ngIf="nameFileCert !== ''"></i>
          </span>
          <i class="tio-cloud_disabled mt-1 f-25 purple2-text" *ngIf="showErrorCert"></i>
        </label>
      </div>
    </div>
    <mat-error *ngIf="showErrorFormatCert" class="small pb-2 d-block">
      {{ 'GENERIC.INVALID_FORMAT_FILE_REGISTER' | translate }}
    </mat-error>
    <input (change)="onFileChangeFiles($event, 'BankCertificate')" id="cert" type="file" formControlName="cert" />

    <div fxLayout="row" fxLayoutAlign="space-start center" fxLayoutGap="50px" class="pb-3">
      <div fxLayout="column" fxLayoutAlign="center" class="space">
        <strong class="gray">{{ 'REGISTER.RUT' | translate }}</strong>
        <span *ngIf="nameFileRUT === ''">No hay archivo seleccionado</span>
        <span class="file-input" *ngIf="nameFileRUT !== ''">{{ nameFileRUT | truncate : '20' }}</span>
      </div>
      <div class="space">
        <label for="rut" id="upload" class="cursor-pointer">
          <span *ngIf="!showErrorRUT">
            <i class="tio-upload_on_cloud mt-1 f-25 purple2-text" *ngIf="nameFileRUT === ''"></i>
            <i class="tio-cloud_on mt-1 f-25 purple2-text" *ngIf="nameFileRUT !== ''"></i>
          </span>
          <i class="tio-cloud_disabled mt-1 f-25 purple2-text" *ngIf="showErrorRUT"></i>
        </label>
      </div>
    </div>
    <mat-error *ngIf="showErrorFormatRUT" class="small pb-2 d-block">
      {{ 'GENERIC.INVALID_FORMAT_FILE_REGISTER' | translate }}
    </mat-error>
    <input (change)="onFileChangeFiles($event, 'Rut')" id="rut" type="file" formControlName="rut" />
  </ng-container> -->
</form>
