<div class="mat-elevation-z0 mt-4 mb-4">
  <table
    mat-table
    [dataSource]="dataSource | paginate: { itemsPerPage: size, currentPage: p, totalItems: totalItems }"
    class="users-table"
    matSort
    (matSortChange)="sortData($event)"
  >
    <!-- open new window clicker -->
    <ng-container matColumnDef="new">
      <th mat-header-cell class="pl-3" *matHeaderCellDef style="width: 5%"></th>
      <td mat-cell *matCellDef="let element" class="pl-3">
        <i class="tio-open_in_new m-0 purple2 cursor-pointer" (click)="openDialog(element, 'new')"></i>
         
      </td>
    </ng-container>

    <!-- Identificaton clicker -->
    <ng-container matColumnDef="idclicker">
      <th mat-header-cell class="pl-3" *matHeaderCellDef style="width: 9%" mat-sort-header="consecutive">NO. DE CASO</th>
      <td mat-cell *matCellDef="let element" class="pl-3">
        <p class="m-0 gray-light text-link cursor-pointer" (click)="openDialog(element, '')">
          {{ element.consecutive }}
        </p>
      </td>
    </ng-container>
    <!-- Date Solicitud Column -->
    <ng-container matColumnDef="subscription">
      <th class="left-text" mat-header-cell *matHeaderCellDef style="width: 12%; text-align: left" mat-sort-header="date">
        FECHA SOLICITUD
      </th>
      <td mat-cell *matCellDef="let element" class="text-font">
        {{ element.date | date: 'dd/MM/yyyy' }}
      </td>
    </ng-container>
    <!-- User Column -->
    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef style="width: 15%" mat-sort-header="name">NOMBRE DE USUARIO</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p class="m-0 gray-light text-font">{{ element.name }}</p>
      </td>
    </ng-container>
    <!-- Identificaton Column -->
    <ng-container matColumnDef="identification">
      <th mat-header-cell *matHeaderCellDef style="width: 10%" mat-sort-header="identification">CÉDULA</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p class="m-0 gray-light text-font-cc">
          {{ element.identification }}
        </p>
      </td>
    </ng-container>

    <!-- CellPhone Column -->
    <ng-container matColumnDef="cellphone">
      <th mat-header-cell *matHeaderCellDef style="width: 10%" mat-sort-header="cellphone">
        {{ 'USERS.CELLPHONE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element" class="text-font">
        {{ element.cellphone }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef style="width: 15%" mat-sort-header="email">
        {{ 'USERS.EMAIL' | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span class="text-font" fxLayout="row" fxLayoutAlign="space-between space-between">
          {{ element.email }}
        </span>
      </td>
    </ng-container>

    <!-- days Column -->
    <ng-container matColumnDef="responsetime">
      <th mat-header-cell *matHeaderCellDef style="width: 15%" mat-sort-header="responsetime">
        DÍAS
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span class="text-font" fxLayout="row" fxLayoutAlign="space-between space-between">
          {{ element.responsetime !== null ? element.responsetime : '-' }}
        </span>
      </td>
    </ng-container>

    <!-- label Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef style="width: 15%" mat-sort-header="label">
        ETIQUETA
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span class="text-font" fxLayout="row" fxLayoutAlign="space-between space-between">
          {{ element.label !== null ? element.label : '-' }}
        </span>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="width: 10%" mat-sort-header="status">
        {{ 'USERS.STATUS' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.statusnovelty === 'Pendiente'" class="span-relative-new normal-text"
          ><img class="status-img" src="/assets/img/dashboard/icon-info.svg" alt="pendind" /><span> Pendiente</span></span
        >
        <span *ngIf="element.statusnovelty === 'Pendiente de documentación'" class="span-relative-new normal-text"
          ><img class="status-img" src="/assets/img/dashboard/document_text.svg" alt="pendind" />
          <span>Pendiente de documentación</span></span
        >
        <span *ngIf="element.statusnovelty === 'Solucionado'" class="span-relative-new normal-text"
          ><img class="status-img" src="/assets/img/dashboard/icon-check-new.svg" alt="pendind" /> <span>Solucionado</span></span
        >
        <span *ngIf="element.statusnovelty === 'Solución parcial'" class="span-relative-new normal-text"
          ><img class="status-img" src="/assets/img/dashboard/icon-check-partial.svg" alt="pendind" /> <span>Solución parcial</span></span
        >
        <span *ngIf="element.statusnovelty === 'En gestión'" class="span-relative-new normal-text"
          ><img class="status-img" src="/assets/img/dashboard/icon-revision.svg" alt="pendind" /> <span>En gestión</span></span
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr id="user-{{ i }}" mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
  </table>
</div>
