.copyinput{
    position: absolute;
    top: 0;
    right: 0;
    height: 31px;
    line-height: 11px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 8px;
    padding-right: 6px;
    z-index: 9;
}