.orange-border {
  background-color: transparent !important;
  border: 1px solid $primary-color !important;
  color: $primary-color !important;
}

.orange {
  background-color: $primary-color !important;
  border: 1px solid $primary-color !important;
}

.blue-ligth {
  background-color: $purple2 !important;
  border: 1px solid $purple2 !important;
  color: #ffffff;
}

.red-border {
  background-color: transparent !important;
  border: 1px solid $secondary-color !important;
  color: $secondary-color !important;
  background-color: $white !important;
  width: 160px !important;
}
@media screen and (max-width: 450px) {
  .red-border {
    font-size: 13px !important;
    width: 155px !important;
  }
}
.red {
  background-color: $secondary-color !important;
  border: 1px solid $secondary-color !important;
  color: $white !important;
}
