@import "buttons";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: 0.9rem;
}

.maincontent {
  overflow-x: hidden;
}

.login {
  .mat-card-header-text {
    margin: 0;
  }
}

.text-center {
  text-align: center;
}

.h {
  &-100 {
    height: 100vh;
  }
}

.w {
  &-100 {
    width: 100%;
  }
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-card, .mat-input-element, .mat-form-field-label, .mat-expansion-panel-header,.mat-expansion-panel-content, .mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: $font-family-base !important;
}

.border-bottom-orange {
  &::after {
    content: "";
    background: $primary-color;
    height: 4px;
    width: 25px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
  }

  &-init {
    &::after {
      content: "";
      background: $primary-color;
      height: 4px;
      width: 25px;
      position: relative;
      border-radius: 3px;
      display: flex;
      margin-top: 0px;
    }
  }
}

.border-bottom-blue {
  &::after {
    content: "";
    background: $primary-color;
    height: 4px;
    width: 25px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
  }

  &-init {
    &::after {
      content: "";
      background: $blue;
      height: 4px;
      width: 25px;
      position: relative;
      border-radius: 3px;
      display: flex;
      margin-top: 0px;
    }
  }
}

.orange {
  color: $primary-color;
}

.mat-orange {
  background: $primary-color;
  color: $white;
}

.gray {
  color: $color-p;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-galano-bold;
  color: $color-headings;
}

.text-right {
  text-align: right;
}

p {
  color: $color-p;
}

.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

h2 {
  font-size: $h2-font-size;
}

button {
  border-radius: 10px !important;
  // max-width: 162px;
  // width: 155px;
  font-family: $font-family-base !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 0 !important;
}

.slick-dots li.slick-active button:before {
  color: $primary-color !important;
}

.cursor-pointer {
  cursor: pointer;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $primary-color !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $primary-color !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background-color: $primary-color !important;
}

.mat-orange {
  background: $primary-color;
  color: $white;
}

.social-links{
  i{
      font-size: 1.1rem;
      color: $footer-social-links;
      padding: 0 1.3rem;
  }
  
.orange{
  color: $primary-color;
  font-size: 1.5rem;
}
}


.social-links-menu{
  i{
      font-size: 1.1rem;
      color: $color-p;
      padding: 0 1.3rem;
  }

}

.border-top{
  border-top: 1px solid $color-p;
}

.button{
  padding: 2px;
  &-100{
    width: 100%;
    max-width: 100%;
  }
}

.swal2-styled.swal2-confirm {
  background-color: transparent !important;
  color:$primary-color !important;
  background: none !important;
  &:focus{
    box-shadow: none !important;
  }
}

.mat-ink-bar{
  background-color: #00A9B3 !important;
  height: 3px !important;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.mat-tab-label-active {
  font-family: $font-galano-bold;
  color: #000000 !important;
  opacity: 1 !important;
}

.mat-paginator-page-size{
  display: none !important;
}

.mat-paginator {
  border-top: 1px solid $color-border;
  width: 100%;
  border-bottom: 1px solid $color-border;
  justify-content: flex-end;
}

.card-product {
  border: 1px solid $color-border;
  border-radius: 0px !important;
  .mat-card-image{
    margin: 0 auto !important;
  }
}

.mat-bottom-sheet-container {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.responsive-img{
  max-width: 100%;
}

.title{
  font-family: $font-galano;
  font-weight: normal;
  color:$gray;
  min-height: 58px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgb(255, 111, 17) !important;
}

.dashed .mat-form-field-infix {
  border: 1px dashed #86888A;
  padding: 12px;
  border-radius: 5px;
  background: #f5f5f5;
}

#share button {
  width: auto;
}

.sb-circles-dark .sb-wrapper.sb-facebook .sb-icon, .sb-circles-dark .sb-wrapper.sb-twitter .sb-icon, .sb-circles-dark .sb-wrapper.sb-whatsapp .sb-icon{
  background: $social-share !important;
  color: $color-p !important;
  box-shadow: none;
}

table{
  color: $color-p;
  thead {
    background: #ECECEC;
    color: #707070;
  }
  th{
    padding: 5px 10px;
  }
  td{
    padding: 20px 10px;
  }
}

.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color:$blue !important;
}
.mat-content{
  font-size: 1rem;
}
.mat-expansion-panel-content {
  background: #F0F0F0;
  color: #86888A;
}

.mat-raised-button.mat-primary{
  padding: 0 30px;
}