@import "buttons";
@import "variables";
@import "mixins";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  color: $color-p;
  font-display: swap;
}

.bg-gray {
  background: $bg-gray;
}

.comision-container {
  table {
    th {
      font-family: $font-galano-bold;
      font-size: 15px;
    }
  }
  td.mat-cell {
    border-bottom-style: none;
  }
}

.dashboard,
.generador-links,
.reportes-admin,
.usuarios,
.auditoria,
.negocios-admin,
.referidos-admin,
.click-academy,
.tabla-comisiones,
.mi-perfil,
.reportes,
.historial-links,
.centro-de-ayuda,
.inicio {
  &-page {
    background: $bg-gray;
  }
}

.maincontent {
  background: $bg-gray;
}

.mat-sidenav {
  background: $bg-gray;
  .mat-toolbar {
    background: $bg-gray !important;
  }
}

.slide {
  span {
    background: $bg-gray;
  }
}

.mat-row:nth-child(even),
thead {
  background-color: #f3f1f6 !important;
}

table tr:nth-child(even) {
  background-color: #f3f1f6 !important;
}

table.users-table.setting tr {
  &:nth-child(even) {
    background-color: white !important;
  }

  td:nth-child(even) {
    background-color: #F7F8F8;
  }
}

table.commissions-table {
  th.mat-header-cell .mat-sort-header-button {
    text-transform: uppercase;
  }

  tr:nth-child(even) {
    background-color: white !important;
  }
}

.paging-table-transparent .mat-paginator-icon {
  background-color: white;
  border-radius: 50px;
  fill: #8D7EB7;
  box-shadow: 0px 1px 2px #c0c0c080;
}

thead,
th.mat-header-cell {
  color: $primary-color !important;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: 0.9rem;
  // overflow-x: hidden;
  // background: #fff;
}

.mat-drawer-container,
.mat-dialog-container {
  color: $color-p;
}

.mat-button {
  border-radius: 10px !important;
}

.refer-tabs {
  .mat-tab-labels {
    justify-content: center;
  }

  li {
    color: $color-p;
  }

  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: $primary-color;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
  }
}

.mat-drawer-container {
  background: none !important;
}

.maincontent {
  overflow-x: hidden;
  padding-bottom: 5px;
  // min-height: 520px;
}

.login {
  .mat-card-header-text {
    margin: 0;
  }
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.h {
  &-100 {
    height: 100vh;
  }
}

.w {
  &-100 {
    width: 99.9%;
  }
  &-95 {
    width: 95%;
  }
  &-50 {
    width: 50%;
  }
  &-80 {
    width: 80%;
  }
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-card,
.mat-input-element,
.mat-form-field-label,
.mat-expansion-panel-header,
.mat-expansion-panel-content,
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button,
.mat-tab-group,
.mat-table,
.mat-bottom-sheet-container,
.mat-tooltip,
.mat-form-field {
  font-family: $font-family-base !important;
}

.border-bottom-orange {
  &::after {
    content: "";
    background: $secondary-color;
    height: 4px;
    width: 25px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
  }

  &-init {
    &::after {
      content: "";
      background: $secondary-color;
      height: 4px;
      width: 25px;
      position: relative;
      border-radius: 3px;
      display: flex;
      margin-top: 0px;
    }
  }
}

.border-bottom-orange-2 {
  &::after {
    content: "";
    background: $secondary-color;
    height: 4px;
    width: 25px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
  }

  &-init {
    &::after {
      content: "";
      background: $secondary-color;
      height: 4px;
      width: 25px;
      position: absolute;
      border-radius: 3px;
      display: flex;
      margin-top: 0px;
      left: 0;
    }
  }
}

.border-bottom-blue {
  &::after {
    content: "";
    background: $primary-color;
    height: 4px;
    width: 25px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
  }

  &-init {
    &::after {
      content: "";
      background: $blue;
      height: 4px;
      width: 25px;
      position: relative;
      border-radius: 3px;
      display: flex;
      margin-top: 0px;
    }
  }
}

.border-bottom-primary {
  &::after {
    content: "";
    background: $primary-color;
    height: 4px;
    width: 25px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
  }

  &-init {
    &::after {
      content: "";
      background: $purple2;
      height: 4px;
      width: 25px;
      position: relative;
      border-radius: 3px;
      display: flex;
      margin-top: 0px;
    }
  }
}

.mat-border-button {
  background: none;
  color: $primary-color;
  border: 1px solid !important;
}

.mat-orange-button {
  background: $third-color;
  color: #ffffff;
}

.mat-border-white {
  background: $primary-color;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.mat-white {
  background: #ffffff;
  color: $primary-color;
}

.orange {
  color: $primary-color;
}

.orange-text {
  color: $secondary-color;
}

.purple-text {
  color: $primary-color;
}

.mat-orange {
  background: $primary-color;
  color: $white;
}

.gray {
  color: $color-p;
}

.black {
  color: #2b2a27;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-galano-bold;
  color: $color-headings;
}

.galano-bold {
  font-family: $font-galano-bold;
}

.galano {
  font-family: $font-galano;
}

.text-right {
  text-align: right;
}

p {
  color: $color-p;
}

.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

h2 {
  font-size: $h2-font-size;
}

button {
  border-radius: 10px;
  // max-width: 162px;
  // width: 155px;
  font-family: $font-family-base !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0 0 7px 0 !important;
}

.slick-dots li.slick-active button:before {
  color: $secondary-color !important;
}

.cursor-pointer {
  cursor: pointer;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $primary-color !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $primary-color !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background-color: $primary-color !important;
}

.mat-orange {
  background: $primary-color;
  color: $white;
}

.social-links {
  i {
    font-size: 1.1rem;
    color: $footer-social-links;
    padding: 0 1.3rem;
  }

  .orange {
    color: $primary-color;
    font-size: 1.5rem;
  }
}

.social-links-menu {
  i {
    font-size: 1.1rem;
    color: $color-p;
    padding: 0 1.3rem;
  }
}

.border-top {
  border-top: 1px solid $color-p;
}

.button {
  padding: 2px;
  &-100 {
    width: 100%;
    max-width: 100%;
  }
  &-height {
    min-height: 48px;
  }
  &-small {
    width: 160px;
  }
}

.card-login {
  footer {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.swal2-styled.swal2-confirm {
  background-color: transparent !important;
  color: $primary-color !important;
  background: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

.mat-ink-bar {
  background-color: $primary-color !important;
  height: 3px !important;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.mat-tab-label-active {
  font-family: $font-galano-bold;
  color: #000000 !important;
  opacity: 1 !important;
}

.mat-paginator {
  border-top: 1px solid $color-border;
  width: 100%;
  border-bottom: 1px solid $color-border;
  justify-content: flex-end;
}

.border-bottom-gray {
  border-bottom: 1px solid $color-border;
}
.border-bottom-blue {
  border-bottom: 1px solid #352767;
}

.mat-card {
  color: inherit;
}

.border-left-orange::before {
  content: "";
  border-left: 3px solid $primary-color;
  border-radius: 4px;
  margin-right: 15px;
}
.border-left-red::before {
  content: "";
  border-left: 3px solid $secondary-color;
  border-radius: 4px;
  margin-right: 15px;
}

.card-product {
  // border: 1px solid $color-border;
  // border-radius: 0px !important;
  box-shadow: 0px 1px 3px #00000029;
  white-space: normal;
  border-radius: 5px;
  min-width: 160px;
  width: 100%;
  .mat-card-image {
    margin: 0 auto !important;
    height: auto;
  }
  .img-container-viajes {
    img {
      height: 100%;
    }
  }
}

.card-exito {
  box-shadow: 0px 1px 3px #00000029;
  border-radius: 5px;
  height: 100%;
  h3 {
    color: #707070;
    font-family: $font-galano;
  }
}

.product-exito {
  // height: 100%;
  margin-bottom: 20px;
}

.mat-bottom-sheet-container {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.responsive-img {
  max-width: 100%;
}

.mat-card-image:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.title {
  font-family: $font-galano;
  font-weight: normal;
  color: $gray;
  min-height: 58px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgb(255, 111, 17) !important;
}

.dashed .mat-form-field-infix {
  border: 1px dashed #86888a;
  padding: 12px;
  border-radius: 5px;
  background: #f5f5f5;
}

.dashed-2 .mat-form-field-infix {
  border: 1px dashed #86888a;
  padding: 12px;
  border-radius: 5px;
  background: #ffffff;
}

.mat-mini-fab {
  border-radius: 50% !important;
}

.sb-circles-dark .sb-wrapper.sb-facebook .sb-icon,
.sb-circles-dark .sb-wrapper.sb-twitter .sb-icon,
.sb-circles-dark .sb-wrapper.sb-whatsapp .sb-icon {
  background: $social-share !important;
  color: $color-p !important;
  box-shadow: none;
}

table {
  color: $color-p;
  thead {
    background: #ececec;
    color: $primary-color;
  }
  th {
    padding: 5px 10px;
  }
  td {
    padding: 20px 10px;
  }
}

.tableComission {
  color: $color-p;
  thead {
    color: $primary-color;
    line-height: 2;
  }
  th {
    padding: 5px 10px;
  }
  td {
    padding: 20px 10px;
    border: 1px solid #ececec;
    &:nth-child(2) {
      text-align: center;
    }
  }
}

.head {
  .mat-expansion-indicator::after {
    position: relative;
    top: -5px;
  }
}

.help-center {
  .mat-content {
    color: $color-p;
    font-family: $font-galano-bold;
    font-size: 13px;
  }
  .mat-expansion-panel-content {
    background: #ffffff;
  }
  .mat-list-item {
    color: $gray4;
    &.active {
      color: $primary-color;
    }
  }
  .mat-expansion-panel-body {
    padding: 0 !important;
  }
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: auto !important;
    padding: 4px 0px !important;
  }
  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-option .mat-list-item-content {
    font-size: 14px;
    padding: 0px 23px !important;
  }
}

.mat-expansion-panel-header {
  position: relative;
}

.mat-expansion-indicator::after,
.mat-expansion-panel-header-description {
  color: $primary-color !important;
}
.mat-content {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}
.mat-expansion-panel-content {
  background: #f0f0f0;
  color: #86888a;
}

.mat-raised-button.mat-primary {
  padding: 0 10px;
}

.fullheight {
  position: fixed;
  z-index: 10;
  top: 0;
  background: #fff;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0px 30px;
}

.text-back {
  padding: 2px 0;
}

.space {
  min-width: 250px;
}

@media screen and (min-width: 600px) {
  .logros-page {
    padding-bottom: 0;
    overflow: hidden;
    min-height: 600px;
    background: url("/assets/img/gamification/bg-home-gamification.svg")
        no-repeat,
      url("/assets/img/gamification/bg-form.svg") no-repeat;
    background-position: bottom right;
    background-size: 35%, contain;
    .mat-card {
      width: 215px !important;
      margin-bottom: 1em;
      p {
        min-width: 205px;
      }
    }

    .percent {
      bottom: -30px;
      left: 27px;
    }

    .block-text {
      margin-top: 70px;
    }
  }

  .joyride-step__holder {
    width: 500px;
    img {
      max-width: 100%;
    }
  }

  .product-exito img {
    height: 250px !important;
    width: auto !important;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  app-bussiness-card {
    min-height: 170px;
    min-width: 230px;
    position: relative;
  }

  .inner-business {
    min-height: 130px;
  }

  .img-container-viajes img[alt^="Seguro"],
  .img-container-viajes img[alt^="Wesura"],
  .img-container-viajes img[alt^="SOAT"] {
    height: 135px !important;
  }

  .store {
    width: 220px;
  }

  .slick-dots li button:before {
    font-size: 8px !important;
  }

  .fullheight {
    width: 28%;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 1px solid #ccc;
  }

  .hide-pag {
    display: none !important;
  }

  .tmin {
    min-height: 40px;
  }

  .cdk-overlay-pane {
    margin-bottom: 4% !important;
  }

  .mat-bottom-sheet-container-large,
  .mat-bottom-sheet-container-medium,
  .mat-bottom-sheet-container-xlarge {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.mat-bottom-sheet-container-large,
.mat-bottom-sheet-container-medium,
.mat-bottom-sheet-container-xlarge {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.search .mat-form-field-wrapper {
  padding: 0 !important;
}

.mat-bottom-sheet-container-large {
  min-width: 510px !important;
}

@media screen and (max-width: 600px) {
  .editaccount {
    width: 90%;
  }

  .title-tour {
    font-size: 20px;
  }

  .container-info {
    h3 {
      min-width: 200px;
    }

    .button-mar {
      margin-left: 20px;
    }
  }

  // .gtmHomeClicNegociosEnvíos {
  //   padding: 18px 8px !important;
  // }

  .users-table {
    width: 800px;
  }

  app-bussiness-card {
    width: 46%;
    @media screen and (max-width: 600px) {
      .mat-card {
        padding: 11px !important;
        min-height: 132px;
      }
    }
  }

  .mat-paginator-page-size {
    display: none !important;
    .ch-100 {
      height: 100% !important;
    }

    .drag-scroll-wrapper.drag-scroll-container .drag-scroll-content {
      flex-direction: column !important;
    }
  }

  .img-container-2 {
    max-width: 50%;
    margin: 0px auto;
    height: 90px;
  }
}

@media (max-width: 600px) {
  .drag-scroll-content {
    flex-direction: column !important;
  }
}

.mobile-menu {
  .item {
    a {
      color: #2b2a27;
      line-height: 2;
      display: block;
      margin-left: 30px;
    }
    font-family: $font-galano-bold;
    font-size: 1.4rem;
    cursor: pointer;
    &.active {
      // margin-left: 10px;
      &::before {
        background: url("/assets/img/arrow-footer.svg") no-repeat;
        content: "";
        display: block;
        width: 12px;
        height: 18px;
        position: absolute;
        top: 17px;
        background-size: 13px;
      }
      span {
        margin-left: 0.5rem;
      }
    }
  }

  .mat-list-item-content {
    margin: 0 16px;
    span {
      position: relative;
      top: 2px;
    }
  }

  .endSession {
    .mat-list-item-content {
      margin: 0 10px;
      span {
        position: relative;
        top: 0px;
      }
    }
  }
}

.position-relative {
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .card-product {
    min-width: auto;
  }
}

@media screen and (min-width: 960px) and (max-width: 991px) {
  .menu-desktop {
    width: 660px;
  }
}

.menu-desktop {
  &.colorlinks {
    a {
      color: $color-p;
    }
  }
  .active {
    color: $primary-color;
    a {
      color: $primary-color;
    }
  }
  a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
  }

  &-internal {
    a {
      color: $color-p;
      text-decoration: none;
      padding: 5px 10px;
      &.active {
        color: $primary-color;
      }
    }
  }
}

// footer {
//   background: $footer-bg;
//   color: $white;
//   a {
//     cursor: pointer;
//     color: $white;
//   }

//   .social-links {
//     i {
//       font-size: 1.1rem;
//       color: $footer-social-links;
//       padding: 0 1.3rem;
//     }

//     .orange {
//       color: $primary-color;
//       font-size: 1.5rem;
//     }
//   }

//   .footer-links {
//     .border-bottom-orange {
//       &::after {
//         margin-top: 0.2rem;
//       }
//     }
//     .section {
//       font-family: $font-galano-bold;
//       padding: 0.8rem;
//     }
//     a {
//       color: $white;
//       text-decoration: none;
//     }
//     .item {
//       padding: 10px 10px;
//     }
//   }

//   .clickacedemy {
//     a {
//       font-size: $font-size-sm;
//       padding: 0.5rem 0;
//     }
//   }

//   .terms {
//     margin-top: 3rem;
//     a {
//       text-decoration: underline;
//       font-size: $font-size-sm - 0.1rem;
//       color: #b5b8bc;
//     }
//   }

//   .border-footer {
//     height: 2px;
//     background: #86888a;
//     width: 280px;
//   }

//   .copy {
//     font-size: $font-size-sm - 0.1rem;
//     color: #86888a;
//   }

//   .rotate {
//     transform: rotate(180deg);
//   }
// }

@media screen and (min-width: 600px) {
  .mat-bottom-sheet-container-large {
    max-width: 510px !important;
  }

  // app-bussiness-card .gtmHomeClicNegociosEnvíos {
  //   padding: 2px;
  // }

  .terms {
    margin-top: 2rem !important;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #b5b8bc;
  border-radius: 5px;
}

.footer-links a::after {
  content: "";
  background: $primary-color;
  height: 4px;
  width: 25px;
  position: relative;
  border-radius: 3px;
  display: flex;
  margin-top: 0px;
  margin: 0 auto;
}

.sideMenu {
  .item {
    padding: 5px 5px 5px 15px;
    width: 85%;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: auto;
    a {
      margin-left: 5px;
    }
    &.active {
      // margin-left: 10px;
      color: $primary-color;
      background: #ff6f111a;
      font-family: $font-galano-bold;
      &::before {
        content: "";
        width: 3px;
        height: 28px;
        border-radius: 4px;
        background: $primary-color;
        position: absolute;
        left: 0px;
        bottom: 7px;
      }
    }
  }
}

.mat-cell,
.mat-footer-cell {
  color: $gray !important;
}

th.mat-header-cell {
  color: $th;
  // border-bottom-color: #3b3b3b;
}

.min-18 {
  min-height: 18px;
  max-height: 18px;
  display: block;
}

.mat-orange-toggle {
  .mat-slide-toggle-thumb {
    background: #acacac;
  }
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background: #ff5555 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #ff55554d !important;
}

.negocios-admin-page {
  .mat-slide-toggle {
    &.mat-checked {
      .mat-slide-toggle-thumb {
        background: #ff5555;
      }
    }

    .mat-slide-toggle-thumb {
      background: #acacac;
    }
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ff55554d;
  }
}

.slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mat-calendar-table-header {
  background: none;
}

.mat-calendar-body-selected {
  background-color: $primary-color !important;
}

.mat-select-value,
.mat-form-field-appearance-legacy .mat-form-field-underline {
  color: $color-p !important;
  font-family: $font-galano !important;
}

.mat-select-arrow {
  border: none !important;
  background: url("/assets/img/arrow-down.svg") no-repeat;
  width: 26px !important;
  height: 26px !important;
  background-size: 25px;
  position: relative;
  bottom: 4px;
}

.smartbanner-android .smartbanner-close {
  border: 0;
  width: 17px;
  height: 17px;
  line-height: 17px;
  margin-right: 7px;
  color: #fff;
  background: none;
  text-shadow: none;
  box-shadow: none;
}

.smartbanner-android {
  background: $primary-color;
  box-shadow: none;
}

.smartbanner-android .smartbanner-info {
  text-shadow: none;
  color: #fff;
}

.smartbanner-android .smartbanner-button-text {
  text-align: center;
  display: block;
  padding: 0 10px;
  text-transform: none;
  text-shadow: none;
  box-shadow: 0 0 0 0px #333, 0 0 0 0px #dddcdc;
  background: #fff;
  border: none;
  border-radius: 5px;
  color: $primary-color;
}

.smartbanner-android .smartbanner-button {
  box-shadow: 0 0 0 0px #333, 0 0 0 0px #dddcdc;
}

.icon-dashboard {
  width: 30px;
  height: 30px;
  position: relative;
  top: 6px;
}

.icon-dashboard-bottom {
  width: 30px;
  height: 40px;
}

.md-drppicker td.active,
.md-drppicker td.active:hover,
.md-drppicker .btn {
  background-color: $primary-color !important;
}

.md-drppicker .btn {
  color: #fff !important;
}

.users-table {
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding: 10px 5px;
  }

  &.setting {
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
      padding: 10px 15px;
    }
  }

  color: #707070;
  p {
    color: #707070;
  }

  
}

// .mat-raised-button:not([class*="mat-elevation-z"]) {
//   box-shadow: 0 3px 1px -2px rgba(255, 111, 17, 0.18),
//     0 2px 2px 0 rgba(255, 111, 17, 0.18), 0 1px 5px 0 rgba(255, 111, 17, 0.18);
// }

.mat-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: 0 3px 1px -2px rgba(61, 47, 86, 0.18),
    0 2px 2px 0 rgba(61, 47, 86, 0.18), 0 1px 5px 0 rgba(61, 47, 86, 0.18);
}

.mat-raised-button[disabled]:not([class*="mat-elevation-z"]) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
    0 0 0 0 rgba(0, 0, 0, 0.12) !important;
  color: #fff;
  background: #b5b8bc;
}

.slick-dots li {
  margin: 0;
  button:before {
    font-size: 9px;
  }
}

.mat-raised-button {
  border-radius: 10px !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #000;
}

.mat-expansion-panel-body {
  padding: 14px 24px 16px !important;
}

.drag-scroll-wrapper.drag-scroll-container {
  height: 100% !important;
}

[container="img-container-viajes"] mat-card {
  padding: 0 !important;
}

span.orange-border {
  border: none !important;
}

.register-container input,
.register-container .mat-select-value,
.register-container
  .mat-form-field-appearance-legacy
  .mat-form-field-underline {
  color: #000 !important;
}

.over-x {
  overflow-x: hidden;
  .slick-dots {
    position: relative !important;
    bottom: 0 !important;
  }
}

.register-container {
  .mat-form-field-subscript-wrapper {
    z-index: 1;
  }
  .mat-progress-bar-background,
  .mat-progress-bar-buffer,
  .mat-progress-bar-fill::after {
    fill: #6bc541 !important;
    background-color: #6bc541;
  }

  .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
    fill: $primary-color !important;
    background-color: #f9b588;
  }

  .mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
    background-color: $primary-color;
  }
}

.no-shadow {
  box-shadow: none !important;
}

.weak {
  color: #f44336;
  font-size: 11px;
}

.normal {
  color: $primary-color;
  font-size: 11px;
}

.acceptable {
  color: #6bc541;
  font-size: 11px;
}

.additional-info {
  .mat-expansion-panel {
    margin: 0 5px;
  }

  .mat-expansion-panel-content {
    background: #fff;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .mat-expansion-panel-header:not([aria-disabled="true"]) {
    border-bottom: 1px solid #ececec;
  }
}
@media screen and (max-width: 600px) {
  .info-basic {
    span.info,
    .mat-form-field {
      width: 100% !important;
    }
  }
}

// .available {
//   span{
//     color: #000 !important;
//   }
// }

.user-transactions {
  .md-drppicker.double {
    min-width: 530px;
    // position: relative;
  }
}

.history-table {
  td {
    padding: 10px;
  }
  thead {
    background: none;
    th {
      border-bottom: 2px solid #ececec;
    }
  }
}

.close {
  margin: 5px;
  background: #b5b8bc;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
}

.no-shadow .card {
  box-shadow: none !important;
}

.sharebutton {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: none;
  background: #ececec;
  cursor: pointer;
  i {
    font-size: 19px;
    color: #86888a;
  }
}

.dashed .mat-form-field-infix {
  padding: 9px !important;
}

button#btnCopy[disabled] {
  background: #ececec;
}

button.swal2-confirm.updateok.order-last.swal2-styled {
  background-color: #ff6f11 !important;
  color: #fff !important;
}
button.swal2-confirm.updateokdelete.order-last.swal2-styled {
  background-color: #f21905 !important;
  color: #fff !important;
}
.delete-title-comision {
  color: #f21905;
}

button.swal2-cancel.updatecancel.swal2-styled {
  background: none;
  background-image: none !important;
  color: #aaa;
}

@media screen and (min-width: 768px) {
  .share-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .share-desktop {
    display: none !important;
  }

  .mat-bottom-sheet-container {
    padding: 8px 25px !important;
  }
}

.mat-toolbar {
  background: #fff;
  font-family: $font-galano-bold;
}

.no-focus {
  outline: none;
}

.f {
  &-11 {
    font-size: 11px;
  }
  &-12 {
    font-size: 12px;
  }
  &-13 {
    font-size: 13px;
  }
  &-14 {
    font-size: 14px;
  }
  &-15 {
    font-size: 15px;
  }
  &-16 {
    font-size: 16px;
  }
  &-17 {
    font-size: 17px;
  }
  &-18 {
    font-size: 18px;
  }
  &-19 {
    font-size: 19px;
  }
  &-20 {
    font-size: 20px;
  }
  &-21 {
    font-size: 21px;
  }
  &-22 {
    font-size: 22px;
  }
  &-23 {
    font-size: 23px;
  }
  &-24 {
    font-size: 24px;
  }
  &-25 {
    font-size: 25px;
  }
  &-26 {
    font-size: 26px;
  }
  &-30 {
    font-size: 30px;
  }
}

.lh {
  &-20 {
    line-height: 20px;
  }
}

app-product.no-slider img {
  width: 345px;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-drawer {
  padding: 0 15px;
  // display: none;
}

.round-img {
  img {
    border-radius: 10px;
  }
}

.op {
  opacity: 0.7;
  span {
    line-height: 0 !important;
  }
}

.mt-2.share-desktop button {
  min-width: 125px;
}

.rotate {
  transform: rotate(180deg);
}

table {
  border-collapse: collapse;
}

.historical {
  .mat-paginator-page-size {
    display: none;
  }
}

.overflow-auto {
  overflow: auto;
}

.mat-toolbar {
  color: $primary-color !important;
}

re-captcha {
  display: flex;
  justify-content: center;
}

.purple-tip {
  background: #37236abf 0% 0% no-repeat padding-box;
  font-size: 14px;
}

.text-underline {
  text-decoration: underline;
}

button.swal2-confirm.payment-success.swal2-styled {
  background-color: $primary-color !important;
  color: #fff !important;
}

button.swal2-cancel.payment-cancel.swal2-styled {
  background: none !important;
  color: $primary-color !important;
}

.paymentData .swal2-actions {
  flex-direction: row-reverse;
}

.paymentData .swal2-icon.swal2-info {
  border-color: $third-color;
  color: $third-color;
}

.orange-spinner .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ff5555 !important;
}

.white {
  color: #ffffff;
}

// tour

.joyride-step__container {
  background-color: $primary-color !important;
  border-radius: 10px;
}

.joyride-arrow__left {
  border-right: 11px solid $primary-color !important;
}

.joyride-arrow__top {
  border-bottom: 11px solid $primary-color !important;
}

.joyride-arrow__bottom {
  border-top: 11px solid $primary-color !important;
}

.joyride-step__holder {
  font-family: $font-galano !important;
}

.joyride-step__title {
  color: #8d7eb7 !important;
}

.joyride-step__body {
  color: #ffffff;
}

.joyride-step__counter {
  color: #ffffff;
}

.joyride-step__close {
  background: #8d7eb7;
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
}

joy-close-button.joyride-step__close svg {
  width: 12px;
  right: 4px;
  position: absolute;
  top: 4px;
}

#joyride-step-thirdStep1 .joyride-step__prev-container {
  display: none;
}

// #joyride-step-firstStep {
//   .joyride-step__footer{
//     display: none;
//   }
// }

#joyride-step-secondStep0 {
  .joyride-step__title {
    display: none;
  }
}

.title-tour {
  color: #8d7eb7;
}

:focus {
  outline: none;
}

.arrows-video {
  .mat-mini-fab .mat-button-wrapper {
    line-height: 14px !important;
  }
}

.video-clickacademy {
  position: relative !important;
  @media screen and (max-width: 600px) {
    iframe {
      width: 100%;
      height: auto;
    }
  }

  #video-modal {
    position: relative;
  }

  .top-generic {
    position: absolute;
    right: 0;
  }

  .mat-dialog-content {
    padding: 0;
    margin: 0;
  }

  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}
.image-clickacademy {
  position: relative !important;
  @media screen and (max-width: 600px) {
    image {
      width: 100%;
      height: auto;
    }
  }

  #image-modal {
    position: relative;
  }

  .top-generic {
    position: absolute;
    right: 0;
  }

  .mat-dialog-content {
    padding: 0;
    margin: 0;
  }

  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}
.user-clickacademy {
  position: relative !important;
  #image-modal {
    position: relative;
  }

  .top-generic {
    position: absolute;
    right: 0;
  }

  .mat-dialog-content {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}
.backdropBackground {
  background: rgb(0 0 0 / 74%) !important;
}
.promo-home {
  position: relative !important;
  // width: 100%;

  .top-generic {
    position: absolute;
    right: 0;
  }

  // .mat-dialog-content {
  //   padding: 0;
  //   margin: 0;
  // }

  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}

.inf {
  p {
    margin: 0;
    color: $secondary-color;
  }
}

.table-payment {
  width: 100%;
  text-align: center;
  border: 1px solid #f3f1f6;
  thead {
    th {
      background: #f3f1f6;
      text-transform: uppercase;
      color: $primary-color;
    }
  }
}

.mat-sidenav {
  .social-links i {
    color: #b5b8bc;
  }
}

.fullheight {
  footer {
    background: #ffffff !important;
  }
  .social-links i {
    color: #b5b8bc !important;
  }
  h3 {
    color: $primary-color !important;
  }
  p,
  a {
    color: $color-p !important;
  }
  .width-border {
    span {
      color: $color-p !important;
    }
  }
}

app-menu-help-center {
  margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
}

.purple2 {
  color: $purple2;
}

#newTerms {
  #closeDialog {
    display: none;
  }
}

.card {
  &-0 {
    .mat-card {
      background: transparent linear-gradient(90deg, #735cf2 0%, #968bf4 100%)
        0% 0% no-repeat padding-box;
    }
  }
  &-1 {
    .mat-card {
      background: transparent linear-gradient(90deg, #5f71da 0%, #608ddd 100%)
        0% 0% no-repeat padding-box;
    }
  }
  &-2 {
    .mat-card {
      background: transparent linear-gradient(90deg, #7b54c4 0%, #9a6eeb 100%)
        0% 0% no-repeat padding-box;
    }
  }
  &-3 {
    .mat-card {
      background: transparent linear-gradient(90deg, #92d4d4 0%, #70c2cb 100%)
        0% 0% no-repeat padding-box;
    }
  }
  &-4 {
    .mat-card {
      background: transparent linear-gradient(90deg, #ffacf6 0%, #fd92f1 100%)
        0% 0% no-repeat padding-box;
    }
  }
  &-5 {
    .mat-card {
      background: transparent linear-gradient(90deg, #FF8646 0%, #F7BC80 100%)
        0% 0% no-repeat padding-box;
    }
  }
  &-6 {
    .mat-card {
      background: transparent linear-gradient(90deg, #fcca90 0%, #ffb664 100%)
        0% 0% no-repeat padding-box;
    }
  }
  &-7 {
    .mat-card {
      background: transparent linear-gradient(90deg, #a3bcf9 0%, #868ff8 100%)
        0% 0% no-repeat padding-box;
    }
  }
  &-8 {
    .mat-card {
      background: transparent linear-gradient(90deg, #ff9696 0%, #ff7c7c 100%)
        0% 0% no-repeat padding-box;
    }
  }
}

.md-drppicker .ranges ul li button.active {
  background: $primary-color !important;
}

#account {
  .mat-dialog-content {
    overflow-x: hidden;
  }
}

.mat-sort-header-button {
  font-family: $font-galano-bold !important;
  text-align: left;
}

.forml {
  .mat-form-field-infix {
    background: #fff !important;
  }
}

.searchUser, .searchCommission, .search {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background: #fff !important;
  }
}

.logros-page {
  .percent {
    position: absolute;
    background: white;
    color: #4b4853;
    font-family: $font-galano-bold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    z-index: 1;
    bottom: -36px;
    left: 18px;
  }

  .text-banner {
    top: 15% !important;
  }

  @media screen and (max-width: 600px) {
    .text-banner-mobile {
      top: 0% !important;
    }
  }

  .block-text {
    margin-top: 45px;
  }

  .charts-container {
    margin-top: 110px;
  }

  .mat-card {
    width: 43.5%;
    margin-bottom: 0.8em;
    p {
      color: #fff;
      margin: 3px 0px;
      text-align: center;
      width: 100%;
    }
  }

  @media screen and (max-width: 350px) {
    .mat-card {
      width: 41%;
    }
  }

  .perfil-completo {
    background: transparent linear-gradient(180deg, #ff8686 0%, #fd5555 100%) 0%
      0% no-repeat padding-box;
  }

  .comprador-inteligente {
    background: transparent linear-gradient(180deg, #958af3 0%, #735cf2 100%) 0%
      0% no-repeat padding-box;
  }

  .vendedor-innato {
    background: transparent linear-gradient(180deg, #91d3d3 0%, #70c2cb 100%) 0%
      0% no-repeat padding-box;
  }

  .reclutador-estrella {
    background: transparent linear-gradient(180deg, #608ddd 0%, #5f72da 100%) 0%
      0% no-repeat padding-box;
  }
}

.medalla-page {
  .banner {
    p {
      color: #4b4853;
      margin-bottom: 0;
      margin: 2px 0px;
      font-family: $font-galano-bold;
    }
  }

  .block-text {
    padding-top: 55px;
  }

  .color {
    &-Oro {
      color: $gold;
    }
    &-Plata {
      color: $silver;
    }
    &-Bronce {
      color: $bronze;
    }
  }

  .g-light {
    color: #a7a3b1;
  }

  @media screen and (max-width: 600px) {
    .banner {
      .responsive-img {
        min-height: 90px;
      }
    }
  }
}

.bg-white {
  background: #ffffff;
}

.mat-progress-bar {
  height: 6px !important;
  border-radius: 10px;
}

.vendedor-innato {
  .mat-progress-bar-fill::after {
    background: $innato !important;
  }

  .levcard {
    background: transparent linear-gradient(180deg, #71c2cb 0%, #90d2d2 100%) 0%
      0% no-repeat padding-box;
    color: #ffffff;
  }
}

.comprador-inteligente {
  .mat-progress-bar-fill::after {
    background: $comprador !important;
  }

  .levcard {
    background: transparent linear-gradient(180deg, #735cf2 0%, #9387f2 100%) 0%
      0% no-repeat padding-box;
    color: #ffffff;
  }
}

.perfil-completo {
  .mat-progress-bar-fill::after {
    background: $completo !important;
  }

  .levcard {
    background: transparent linear-gradient(180deg, #fd6a6a 0%, #ff7c7c 100%) 0%
      0% no-repeat padding-box;
    color: #ffffff;
  }
}

.reclutador-estrella {
  .mat-progress-bar-fill::after {
    background: $reclutador !important;
  }

  .levcard {
    background: transparent linear-gradient(180deg, #5f72da 0%, #5f8bdc 100%) 0%
      0% no-repeat padding-box;
    color: #ffffff;
  }
}

.levcard {
  @media screen and (min-width: 600px) {
    &::after {
      content: "";
      background-image: url("/assets/img/gamification/img-prize.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 100%;
      width: 160px;
      height: 160px;
      position: absolute;
      right: -100px;
      top: -46px;
      z-index: 100;
    }
  }
}

h3#bussiness2 {
  letter-spacing: -1.5px;
}

@media screen and (min-width: 1600px) {
  .whigh {
    width: 100%;
  }
}

.no-level {
  .bglabel {
    background: $no-medal !important;
  }
}

.bronze {
  .bglabel {
    background: $bronze !important;
  }
}

.silver {
  .bglabel {
    background: $silver !important;
  }
}

.gold {
  .bglabel {
    background: $gold !important;
  }
}

.bold-blue {
  color: #37236a;
}

.custom-color-primary .mat-checkbox-frame {
  border-color: #ffffff;
}
.panel-spacing {
  .mat-expansion-panel-spacing {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .mat-expansion-panel-content {
    background-color: #ffffff;
  }
  .mat-expansion-panel-body {
    padding-top: 0px !important;
  }
}
.angular-editor-textarea {
  border-radius: 10px;
  border-color: #a7a3b1 !important;
  background-color: #ffffff !important;
}
.angular-editor-toolbar {
  border-radius: 10px;
}
.select-heading {
  width: 140px !important;
}
.paginator-blog {
  .mat-paginator {
    border: none;
    background-color: transparent;
  }
  .mat-paginator-page-size {
    display: none !important;
  }
}
.timepicker-period__warning {
  background-color: #444347 !important;
  color: #ffffff !important;
  p {
    background-color: #444347 !important;
    color: #ffffff !important;
  }
}

.selected-state-account .mat-form-field-wrapper {
  padding-bottom: 8px;

  .mat-select-value-text {
    font-family:  "galano-medium", sans-serif;
    color: $primary-color;
    font-size: 15px;
  }

  .mat-form-field-infix {
    border-top: 0;
  }
}

.cdk-overlay-pane.dialog-stories {
  margin: 0 !important;

  .modal-stories, .slick-slider, .slick-list, .slick-track {
    height: 100%;
  }

  .slick-list {
    @include from(550px) {
      padding: 0;
    }
  }

  .mat-dialog-container {
    padding: 0;
  }

  @include fromMin(550px) {
    .slick-slide:not(.slick-center) {
      .card-story {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .story-progress {
        display: none;
      }
  
      .story-info {
        justify-content: center;
      }
  
      .client-info {
          flex-direction: column;
  
          h4 {
              font-size: 28px;
              text-transform: uppercase;
              margin: 10px 0 0px 0px;
          }

          span {
            font-size: 25px;
          }
      }
  
      .img-client {
          width: 130px;
          height: 130px;
          border-radius: 80px;
          border: 6px solid #352767;
      }
  
      .action-container {
          display: none;
      }
    }
  }
}

.cdk-overlay-pane.dynamic-popup {
  max-height: 80vh;

  .mat-dialog-container {
    padding: 0;
    border-radius: 10px;
  }
}

.cdk-global-scrollblock body::-webkit-scrollbar {
  width: 0;
}

.check-transparent {
  .mat-ripple-element {
    opacity: 0.1;
    background-color: black;
  }

  .mat-checkbox-frame {
    border-color: white;
    z-index: $z-floor;
  }
}

.check-transparent .mat-checkbox-background, 
.check-transparent.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: transparent !important;
}

.check-transparent.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.check-transparent .mat-ripple-element {
  opacity: 0.1;
  background-color: black;
}

.check-dull-purple.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #B4A6DB !important;
}

.check-dull-purple.mat-checkbox-disabled {
  opacity: 0.6;
}

.check-dull-purple .mat-checkbox-background {
  background-color: #D2D0D4 !important;
}

.timepicker-backdrop-overlay, .timepicker-overlay {
  z-index: 1010 !important;
}

#break1-modal, #break2-modal, #break3-modal {
  .mat-dialog-title {
    margin: 0 0 5px;
  }
}

#rejected-commission, #eliminated-commission {
  .top-generic {
    position: relative;
    justify-content: center !important;
  }

  #closeDialog {
    position: absolute;
    right: 0;
    top: 0;
  }

  h1 {
    margin: 20px 0 0;
  }
}

#rejected-commission {
  h1 {
    color: $third-color;
  }
}

#eliminated-commission {
  h1 {
    color: $secondary-color;
  }
}

.selected-color .mat-select-arrow {
  height: 16px !important;
}

.linkDiv {
  .mat-list-item-content{
    padding: 0 5px !important;
  }
}

.no-bg{
  background: none;
  box-shadow: none;

  .mat-expansion-panel-header{
    box-shadow: none;
  }

   .mat-expansion-panel-content {
    background: none;
  }

   .mat-expansion-panel-header-title{
    color: $primary-color;
    font-family: $font-galano-bold;
    margin-left: 14px
  }

   .mat-expansion-panel-body{
    padding: 0 !important;
  }

   .mat-list-item-content{
    padding: 0 7px;
  }

   .mat-list-item{
    height: 38px;
    &:hover, &:focus{
      background: none;
    }
  }

    .mat-list-base{
    padding-top: 0;
  }

  span.menu-mobile {
    color: $primary-color;
    &.active{
      color: #ffffff;
      background-color: $primary-color;
      border-radius: 15px;
      padding: 5px 10px;
    }
  }

}