@import "buttons";

html,
body {
  height: 100%;
  color: $color-p;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: 0.9rem;
  // background: #fff;
}

.maincontent {
  overflow-x: hidden;
  min-height: 520px;
}

.login {
  .mat-card-header-text {
    margin: 0;
  }
}

.text-center {
  text-align: center;
}

.h {
  &-100 {
    height: 100vh;
  }
}

.w {
  &-100 {
    width: 100%;
  }
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-card,
.mat-input-element,
.mat-form-field-label,
.mat-expansion-panel-header,
.mat-expansion-panel-content,
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button,
.mat-tab-group,
.mat-table,
.mat-bottom-sheet-container,
.mat-form-field {
  font-family: $font-family-base !important;
}

.border-bottom-orange {
  &::after {
    content: "";
    background: $primary-color;
    height: 4px;
    width: 25px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
  }

  &-init {
    &::after {
      content: "";
      background: $primary-color;
      height: 4px;
      width: 25px;
      position: relative;
      border-radius: 3px;
      display: flex;
      margin-top: 0px;
    }
  }
}

.border-bottom-orange-2 {
  &::after {
    content: "";
    background: $primary-color;
    height: 4px;
    width: 25px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
  }

  &-init {
    &::after {
      content: "";
      background: $primary-color;
      height: 4px;
      width: 25px;
      position: absolute;
      border-radius: 3px;
      display: flex;
      margin-top: 0px;
      left: 0;
    }
  }
}

.border-bottom-blue {
  &::after {
    content: "";
    background: $primary-color;
    height: 4px;
    width: 25px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
  }

  &-init {
    &::after {
      content: "";
      background: $blue;
      height: 4px;
      width: 25px;
      position: relative;
      border-radius: 3px;
      display: flex;
      margin-top: 0px;
    }
  }
}

.orange {
  color: $primary-color;
}

.mat-orange {
  background: $primary-color;
  color: $white;
}

.gray {
  color: $color-p;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-galano-bold;
  color: $color-headings;
}

.galano-bold {
  font-family: $font-galano-bold;
}

.text-right {
  text-align: right;
}

p {
  color: $color-p;
}

.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

h2 {
  font-size: $h2-font-size;
}

button {
  border-radius: 10px;
  // max-width: 162px;
  // width: 155px;
  font-family: $font-family-base !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0 0 7px 0 !important;
}

.slick-dots li.slick-active button:before {
  color: $primary-color !important;
}

.cursor-pointer {
  cursor: pointer;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $primary-color !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $primary-color !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background-color: $primary-color !important;
}

.mat-orange {
  background: $primary-color;
  color: $white;
}

.social-links {
  i {
    font-size: 1.1rem;
    color: $footer-social-links;
    padding: 0 1.3rem;
  }

  .orange {
    color: $primary-color;
    font-size: 1.5rem;
  }
}

.social-links-menu {
  i {
    font-size: 1.1rem;
    color: $color-p;
    padding: 0 1.3rem;
  }
}

.border-top {
  border-top: 1px solid $color-p;
}

.button {
  padding: 2px;
  &-100 {
    width: 100%;
    max-width: 100%;
  }
}

.swal2-styled.swal2-confirm {
  background-color: transparent !important;
  color: $primary-color !important;
  background: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

.mat-ink-bar {
  background-color: #00a9b3 !important;
  height: 3px !important;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.mat-tab-label-active {
  font-family: $font-galano-bold;
  color: #000000 !important;
  opacity: 1 !important;
}

.mat-paginator {
  border-top: 1px solid $color-border;
  width: 100%;
  border-bottom: 1px solid $color-border;
  justify-content: flex-end;
}

.border-bottom-gray {
  border-bottom: 1px solid $color-border;
}

.mat-card {
  color: inherit;
}

.border-left-orange::before {
  content: "";
  border-left: 3px solid $primary-color;
  border-radius: 4px;
  margin-right: 15px;
}

.card-product {
  // border: 1px solid $color-border;
  // border-radius: 0px !important;
  box-shadow: 0px 1px 3px #00000029;
  white-space: normal;
  border-radius: 5px;
  min-width: 160px;
  width: 100%;
  .mat-card-image {
    margin: 0 auto !important;
    height: auto;
  }
}

.card-exito {
  box-shadow: 0px 1px 3px #00000029;
  border-radius: 5px;
  height: 100%;
  h3 {
    color: #707070;
    font-family: $font-galano;
  }
}

.product-exito {
  // height: 100%;
  margin-bottom: 20px;
}

.mat-bottom-sheet-container {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.responsive-img {
  max-width: 100%;
}

.mat-card-image:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.title {
  font-family: $font-galano;
  font-weight: normal;
  color: $gray;
  min-height: 58px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgb(255, 111, 17) !important;
}

.dashed .mat-form-field-infix {
  border: 1px dashed #86888a;
  padding: 12px;
  border-radius: 5px;
  background: #f5f5f5;
}

.mat-mini-fab {
  border-radius: 50% !important;
}

.sb-circles-dark .sb-wrapper.sb-facebook .sb-icon,
.sb-circles-dark .sb-wrapper.sb-twitter .sb-icon,
.sb-circles-dark .sb-wrapper.sb-whatsapp .sb-icon {
  background: $social-share !important;
  color: $color-p !important;
  box-shadow: none;
}

table {
  color: $color-p;
  thead {
    background: #ececec;
    color: #707070;
  }
  th {
    padding: 5px 10px;
  }
  td {
    padding: 20px 10px;
  }
}

.mat-expansion-indicator::after,
.mat-expansion-panel-header-description {
  color: $blue !important;
}
.mat-content {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}
.mat-expansion-panel-content {
  background: #f0f0f0;
  color: #86888a;
}

.mat-raised-button.mat-primary {
  padding: 0 30px;
}

.fullheight {
  position: fixed;
  z-index: 10;
  top: 0;
  background: #fff;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0px 30px;
}

@media screen and (min-width: 600px) {
  .fullheight {
    width: 28%;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .hide-pag {
    display: none !important;
  }

  .tmin {
    min-height: 40px;
  }

  .cdk-overlay-pane {
    margin-bottom: 4% !important;
  }

  .mat-bottom-sheet-container-large,
  .mat-bottom-sheet-container-medium,
  .mat-bottom-sheet-container-xlarge {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.mat-bottom-sheet-container-large,
.mat-bottom-sheet-container-medium,
.mat-bottom-sheet-container-xlarge {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.search .mat-form-field-wrapper {
  padding: 0 !important;
}

.mat-bottom-sheet-container-large {
  min-width: 430px !important;
}

@media screen and (max-width: 600px) {
  .mat-paginator-page-size {
    display: none !important;
    .ch-100 {
      height: 100% !important;
    }

    .drag-scroll-wrapper.drag-scroll-container .drag-scroll-content {
      flex-direction: column !important;
    }
  }

  .img-container-2 {
    max-width: 50%;
    margin: 0px auto;
    height: 90px;
  }
}

@media (max-width: 600px) {
  .drag-scroll-content {
    flex-direction: column !important;
  }
}

.mobile-menu {
  .item {
    a {
      color: #2b2a27;
      line-height: 2;
      display: block;
      margin-left: 30px;
    }
    font-family: $font-galano-bold;
    font-size: 1.4rem;
    cursor: pointer;
    &.active {
      // margin-left: 10px;
      &::before {
        background: url("/assets/img/arrow-footer.svg") no-repeat;
        content: "";
        display: block;
        width: 12px;
        height: 18px;
        position: absolute;
        top: 17px;
        background-size: 13px;
      }
      span {
        margin-left: 0.5rem;
      }
    }
  }

  .mat-list-item-content {
    padding: 0 25px !important;
  }
}

.position-relative {
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .card-product {
    min-width: auto;
  }
}

@media screen and (min-width: 960px) and (max-width: 991px) {
  .menu-desktop {
    width: 660px;
  }
}

.menu-desktop {
  &.colorlinks {
    a {
      color: $color-p;
    }
  }
  .active {
    color: $primary-color;
    a {
      color: $primary-color;
    }
  }
  a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
  }

  &-internal {
    a {
      color: $color-p;
      text-decoration: none;
      padding: 5px 10px;
      &.active {
        color: $primary-color;
      }
    }
  }
}

footer {
  background: $footer-bg;
  color: $white;
  a {
    cursor: pointer;
    color: $white;
  }

  .social-links {
    i {
      font-size: 1.1rem;
      color: $footer-social-links;
      padding: 0 1.3rem;
    }

    .orange {
      color: $primary-color;
      font-size: 1.5rem;
    }
  }

  .footer-links {
    .border-bottom-orange {
      &::after {
        margin-top: 0.2rem;
      }
    }
    .section {
      font-family: $font-galano-bold;
      padding: 0.8rem;
    }
    a {
      color: $white;
      text-decoration: none;
    }
    .item {
      padding: 10px 10px;
    }
  }

  .clickacedemy {
    a {
      font-size: $font-size-sm;
      padding: 0.5rem 0;
    }
  }

  .terms {
    margin-top: 3rem;
    a {
      text-decoration: underline;
      font-size: $font-size-sm - 0.1rem;
      color: #b5b8bc;
    }
  }

  .border-footer {
    height: 2px;
    background: #86888a;
    width: 280px;
  }

  .copy {
    font-size: $font-size-sm - 0.1rem;
    color: #86888a;
  }

  .rotate {
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 600px) {
  .terms {
    margin-top: 2rem !important;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #b5b8bc;
  border-radius: 5px;
}

.footer-links a::after {
  content: "";
  background: $primary-color;
  height: 4px;
  width: 25px;
  position: relative;
  border-radius: 3px;
  display: flex;
  margin-top: 0px;
  margin: 0 auto;
}

.sideMenu {
  .item {
    padding: 5px 5px 5px 15px;
    width: 85%;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: auto;
    a {
      margin-left: 5px;
    }
    &.active {
      // margin-left: 10px;
      color: $primary-color;
      background: #ff6f111a;
      font-family: $font-galano-bold;
      &::before {
        content: "";
        width: 3px;
        height: 28px;
        border-radius: 4px;
        background: $primary-color;
        position: absolute;
        left: 0px;
        bottom: 7px;
      }
    }
  }
}

.mat-cell,
.mat-footer-cell {
  color: $gray !important;
}

th.mat-header-cell {
  color: $th;
  border-bottom-color: #3b3b3b;
}

.min-18 {
  min-height: 18px;
  max-height: 18px;
  display: block;
}

.mat-orange-toggle {
  .mat-slide-toggle.mat-checked,
  .mat-slide-toggle-thumb {
    background: $primary-color !important;
  }
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba($primary-color, 0.54) !important;
}

.slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mat-calendar-table-header {
  background: none;
}

.mat-calendar-body-selected {
  background-color: $primary-color !important;
}

.mat-select-value,
.mat-form-field-appearance-legacy .mat-form-field-underline {
  color: $color-p !important;
  font-family: $font-galano !important;
}

.mat-select-arrow {
  border: none !important;
  background: url("/assets/img/arrow-down.svg") no-repeat;
  width: 20px !important;
  height: 20px !important;
  background-size: 25px;
  position: relative;
  bottom: 4px;
}

.smartbanner-android .smartbanner-close {
  border: 0;
  width: 17px;
  height: 17px;
  line-height: 17px;
  margin-right: 7px;
  color: #fff;
  background: none;
  text-shadow: none;
  box-shadow: none;
}

.smartbanner-android {
  background: $primary-color;
  box-shadow: none;
}

.smartbanner-android .smartbanner-info {
  text-shadow: none;
  color: #fff;
}

.smartbanner-android .smartbanner-button-text {
  text-align: center;
  display: block;
  padding: 0 10px;
  text-transform: none;
  text-shadow: none;
  box-shadow: 0 0 0 0px #333, 0 0 0 0px #dddcdc;
  background: #fff;
  border: none;
  border-radius: 5px;
  color: $primary-color;
}

.smartbanner-android .smartbanner-button {
  box-shadow: 0 0 0 0px #333, 0 0 0 0px #dddcdc;
}

.icon-dashboard {
  width: 30px;
  height: 20px;
}

.icon-dashboard-bottom {
  width: 30px;
  height: 40px;
}

.md-drppicker td.active,
.md-drppicker td.active:hover,
.md-drppicker .btn {
  background-color: $primary-color !important;
}

.md-drppicker .btn {
  color: #fff !important;
}

.users-table {
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding: 10px 5px;
  }
  color: #707070;
  p {
    color: #707070;
  }
}

.mat-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: 0 3px 1px -2px rgba(255, 111, 17, 0.18),
    0 2px 2px 0 rgba(255, 111, 17, 0.18), 0 1px 5px 0 rgba(255, 111, 17, 0.18);
}

.mat-raised-button[disabled]:not([class*="mat-elevation-z"]) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
    0 0 0 0 rgba(0, 0, 0, 0.12) !important;
  color: #fff;
  background: #b5b8bc;
}

.slick-dots li button:before {
  font-size: 12px;
}

.mat-raised-button {
  border-radius: 10px !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #000;
}

.mat-expansion-panel-body {
  padding: 14px 24px 16px !important;
}

.drag-scroll-wrapper.drag-scroll-container {
  height: 100% !important;
}

[container="img-container-viajes"] mat-card {
  padding: 0 !important;
}

span.orange-border {
  border: none !important;
}

.register-container input,
.register-container .mat-select-value,
.register-container
  .mat-form-field-appearance-legacy
  .mat-form-field-underline {
  color: #000 !important;
}

.over-x {
  overflow-x: hidden;
  .slick-dots {
    position: relative !important;
    bottom: 0 !important;
  }
}

.register-container {
  .mat-form-field-subscript-wrapper {
    z-index: 1;
  }
  .mat-progress-bar-background,
  .mat-progress-bar-buffer,
  .mat-progress-bar-fill::after {
    fill: #6bc541 !important;
    background-color: #6bc541;
  }

  .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
    fill: $primary-color !important;
    background-color: #f9b588;
  }

  .mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
    background-color: $primary-color;
  }
}

.no-shadow{
  box-shadow: none !important;
}

.weak{
  color:#f44336;
  font-size: 11px;
}

.normal{
  color:$primary-color;
  font-size: 11px;
}

.acceptable{
  color:#6BC541;
  font-size: 11px;
}

.additional-info {
  .mat-expansion-panel{
    margin: 0 5px;
  }

  .mat-expansion-panel-content{
    background: #fff;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .mat-expansion-panel-header:not([aria-disabled=true]) {
    border-bottom: 1px solid #ECECEC;
}

}
@media screen and (max-width: 600px) {
  .info-basic{
    span.info,.mat-form-field{
      width: 100% !important;
    }
  }
}

.available {
  span{
    color: #000 !important;
  }
}

.user-transactions {
  .md-drppicker.double{
    min-width: 530px;
    // position: relative;
  }
}

