// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$primary-color: #37236A;
$purple2: #8D7EB7;
$secondary-color: #F21905;
$third-color: #FFAF51;
$footer-bg: #2B2A27;
$black: #000000;
$white: #ffffff;

$footer-social-links: #ffffff;
$social-share: #ECECEC;
$color-p: #726D7E;
$color-border: #e0e0e0;
$color-headings:$primary-color;
$blue: #00A9B3;
$gray: #707070;
$gray2: #B5B8BC;
$gray3: #F1F3F6;
$gray4: #A7A3B1;
$blue: #00A9B3;
$th: #3B3B3B;
$bg-gray:#F7F7F7;
$bronze: #EFB648;
$silver: #B8B6BE;
$gold:  #FFCE00;
$no-medal: #bdc3c7;

$innato:#78C6CC;
$reclutador:#5F74DA;
$comprador: #8979F2;
$completo: #FD6868;

$medium-grey: #B7B5BC;
$medium-yellow: #FFC27B;
$green: #6AC259;
$red: #FD5555;

// h2{
//     color: #2B2A27;
//     font-size: 2rem;
// }

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "galano-medium", sans-serif !default;
$font-family-base:            $font-family-sans-serif !default;
$font-galano-bold:            "galano-bold", sans-serif !default;
$font-galano:            "galano", sans-serif !default;

// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 1.8 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

/* Breakpoints */
$small: 440px; /*-------- Mobile devices*/
$s-medium: 570px; /*-------- Tablet devices*/
$medium: 768px;
$large: 960px; 
$x-large: 1060px; /*-------- Desktop devices*/
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;