// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$primary-color: #37236a;
$purple2: #8d7eb7;
$secondary-color: #f21905;
$third-color: #ffaf51;
$footer-bg: #2b2a27;
$black: #000000;
$white: #ffffff;
$gray-5: "#878195";
$footer-social-links: #ffffff;
$social-share: #ececec;
$color-p: #726d7e;
$color-border: #e0e0e0;
$color-headings: $primary-color;
$blue: #00a9b3;
$gray: #707070;
$gray2: #b5b8bc;
$gray3: #f1f3f6;
$gray4: #a7a3b1;
$blue: #00a9b3;
$th: #3b3b3b;
$bg-gray: #f7f7f7;
$bronze: #efb648;
$silver: #b8b6be;
$gold: #ffce00;
$no-medal: #bdc3c7;

$innato: #78c6cc;
$reclutador: #5f74da;
$comprador: #8979f2;
$completo: #fd6868;
$checkBox: #b4a6db;

$medium-grey: #b7b5bc;
$medium-yellow: #ffc27b;
$green: #6ac259;
$red: #fd5555;
$card-bg: #f3f1f6;

// h2{
//     color: #2B2A27;
//     font-size: 2rem;
// }

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'galano-medium', sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-galano-bold: 'galano-bold', sans-serif !default;
$font-galano: 'galano', sans-serif !default;

// stylelint-enable value-keyword-case

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 1.8 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

/* Breakpoints */
$small: 440px; /*-------- Mobile devices*/
$s-medium: 570px; /*-------- Tablet devices*/
$medium: 768px;
$large: 960px;
$x-large: 1060px; /*-------- Desktop devices*/
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;
/* Z-index */
$z-back: -1;
$z-none: 0;
$z-floor: 1;
$z-medium: 10;
$z-up: 50;
$z-top: 100;
