<app-banner title="{{'BANNERS.HELP_CENTER' | translate}}" img="/assets/img/banners/centro-ayuda-pc.jpg" imgMobile="/assets/img/banners/centro-ayuda-mobile.jpg"></app-banner>
<div class="container">
    <div fxLayout.gt-xs="row" fxLayoutGap.gt-xs="30px" ngClass.gt-xs="mt-3">
        <div fxLayout.gt-xs="column" fxFlex.gt-xs="25">
            <app-menu-help-center></app-menu-help-center>
        </div>
        <div fxLayout.gt-xs="column">
            <span fxLayout="row">
                <img src="/assets/img/ayuda/sobre-clickam/como-funciona.svg" alt="{{'HELP_CENTER.ABOUT_CLICKAM.WORKS_TITLE' | translate}}">
                <h3 class="f-20">{{'HELP_CENTER.ABOUT_CLICKAM.WORKS_TITLE' | translate}}</h3>
            </span>
            <div innerHtml="{{'HELP_CENTER.ABOUT_CLICKAM.WORKS_TEXT' | translate}}"></div>
        </div>
    </div>
</div>