<app-banner
  title="{{ 'CLICKACADEMY.CLICKACADEMY' | translate }}"
  img="/assets/img/banners/banner-academy-pc.jpg"
  imgMobile="/assets/img/banners/banner-academy-mobile.jpg"
></app-banner>

<div class="click-academy container">

  <app-slide-video></app-slide-video>

  <div class="tools">
    <h2 class="border-bottom-orange-init">
      {{ 'CLICKACADEMY.TOOLS' | translate }}
    </h2>
    <p>{{ 'CLICKACADEMY.TOOLS_DESCRIPTION' | translate }}</p>

    <div
      fxLayout.gt-xs="row"
      fxLayoutGap.gt-xs="20px"
      fxLayoutAlign.gt-xs="center start"
      fxLayout="column"
      fxLayoutGap="20px"
      fxLayoutAlign="start"
    >
      <span fxLayout="column" fxFlex.gt-xs="18" fxFlex="100" class="gtmClickamAcademyDescargarComoRegis">
        <a class="no-decoration gtmClickamAcademyDescargarComoRegis" href="{{ pdf }}pdf1-procesoregistro.pdf" target="_blank">
          <span class="p-0 position-relative gtmClickamAcademyDescargarComoRegis" fxLayout="row" fxLayout.gt-xs="column">
            <span fxFlex.xs="100" class="gtmClickamAcademyDescargarComoRegis">
              <img class="responsive-img gtmClickamAcademyDescargarComoRegis" fxHide.xs="true" src="/assets/img/pdf-1.png" />
              <img
                fxHide.gt-xs="true"
                class="responsive-img w-100 gtmClickamAcademyDescargarComoRegis"
                src="/assets/img/pdf-1-mobile.png"
              />
                <i class="position-absolute t-0 r-0 tio-download_from_cloud style-icon-download"></i>

            </span>
          </span>
        </a>
      </span>

      <span fxLayout="column" fxFlex.gt-xs="18" fxFlex="100" class="gtmClickamAcademyDescargarComoCertifi">
        <a class="no-decoration gtmClickamAcademyDescargarComoCertifi" href="{{ pdf }}pdf2-cuentabancaria.pdf" target="_blank">
          <span class="p-0 position-relative gtmClickamAcademyDescargarComoCertifi" fxLayout="row" fxLayout.gt-xs="column">
            <span fxFlex.xs="100" class="gtmClickamAcademyDescargarComoCertifi">
              <img class="responsive-img gtmClickamAcademyDescargarComoCertifi" fxHide.xs="true" src="/assets/img/pdf-2.png" />
              <img
                fxHide.gt-xs="true"
                class="responsive-img w-100 gtmClickamAcademyDescargarComoCertifi"
                src="/assets/img/pdf-2-mobile.png"
              />
              <i class="position-absolute t-0 r-0 tio-download_from_cloud style-icon-download"></i>
            </span>
          </span>
        </a>
      </span>

      <span fxLayout="column" fxFlex="18" class="mb-2" class="gtmClickamAcademyDescargarComoComprarSeguro">
        <a class="no-decoration gtmClickamAcademyDescargarComoComprarSeguro" href="{{ pdf }}pdf3-comprasonlineseguros.pdf" target="_blank">
          <span class="p-0 position-relative gtmClickamAcademyDescargarComoComprarSeguro" fxLayout="row" fxLayout.gt-xs="column">
            <span fxFlex.xs="100" class="gtmClickamAcademyDescargarComoComprarSeguro">
              <img class="responsive-img gtmClickamAcademyDescargarComoComprarSeguro" fxHide.xs="true" src="/assets/img/pdf-5.png" />
              <img
                fxHide.gt-xs="true"
                class="responsive-img w-100 gtmClickamAcademyDescargarComoComprarSeguro"
                src="/assets/img/pdf-5-mobile.png"
              />
             <i class="position-absolute t-0 r-0 tio-download_from_cloud style-icon-download"></i>
            </span>
          </span>
        </a>
      </span>

      <span fxLayout="column" fxFlex.gt-xs="18" fxFlex="100" class="gtmClickamAcademyDescargarComoComprarExito">
        <a class="no-decoration gtmClickamAcademyDescargarComoComprarExito" href="{{ pdf }}pdf3-comprasonlineexito.com.pdf" target="_blank">
          <span class="p-0 position-relative gtmClickamAcademyDescargarComoComprarExito" fxLayout="row" fxLayout.gt-xs="column">
            <span fxFlex.xs="100" class="gtmClickamAcademyDescargarComoComprarExito">
              <img class="responsive-img gtmClickamAcademyDescargarComoComprarExito" fxHide.xs="true" src="/assets/img/pdf-3.png" />
              <img
                fxHide.gt-xs="true"
                class="responsive-img w-100 gtmClickamAcademyDescargarComoComprarExito"
                src="/assets/img/pdf-3-mobile.png"
              />
              <i class="position-absolute t-0 r-0 tio-download_from_cloud style-icon-download"></i>
            </span>
          </span>
        </a>
      </span>

      <span fxLayout="column" fxFlex="18" class="mb-2 gtmClickamAcademyDescargarComoValorLinks">
        <a class="no-decoration gtmClickamAcademyDescargarComoValorLinks" href="{{ pdf }}pdf4-atencionlinks.pdf" target="_blank">
          <span class="p-0 position-relative gtmClickamAcademyDescargarComoValorLinks" fxLayout="row" fxLayout.gt-xs="column">
            <span fxFlex.xs="100" class="gtmClickamAcademyDescargarComoValorLinks">
              <img class="responsive-img gtmClickamAcademyDescargarComoValorLinks" fxHide.xs="true" src="/assets/img/pdf-4.png" />
              <img
                fxHide.gt-xs="true"
                class="responsive-img w-100 gtmClickamAcademyDescargarComoValorLinks"
                src="/assets/img/pdf-4-mobile.png"
              />
             <i class="position-absolute t-0 r-0 tio-download_from_cloud style-icon-download"></i>
            </span>
          </span>
        </a>
      </span>
    </div>
  </div>

</div>
