<app-logo></app-logo>

<div class="click-academy container">
    <h1>{{'CLICKACADEMY.CLICKACADEMY' | translate}}</h1>
    <div class="video-responsive mb-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pWK0PApymSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- 

    <div class="tools">
        <h2 class="border-bottom-orange-init">{{'CLICKACADEMY.TOOLS' | translate}}</h2>
        <p>{{'CLICKACADEMY.TOOLS_DESCRIPTION' | translate}}</p>

        <div fxLayout="row" fxLayoutGap="10px">
            <span fxLayout="column" fxFlex="33">
                <img class="responsive-img" src="https://dummyimage.com/300x300/#D5D5D/#D5D5D.png">
                <p>{{'CLICKACADEMY.TOOLS_TEXT1' | translate}}</p>
            </span>
            <span fxLayout="column" fxFlex="33">
                <img class="responsive-img" src="https://dummyimage.com/300x300/#D5D5D/#D5D5D.png">
                <p>{{'CLICKACADEMY.TOOLS_TEXT2' | translate}}</p>
            </span>
            <span fxLayout="column" fxFlex="33">
                <img class="responsive-img" src="https://dummyimage.com/300x300/#D5D5D/#D5D5D.png">
                <p>{{'CLICKACADEMY.TOOLS_TEXT3' | translate}}</p>
            </span>
        </div>
    </div> -->
    
</div>
