<div class="click-academy container">
    <h1>Click Academy</h1>
    <div class="video-responsive mb-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2MpUj-Aua48" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="tools">
        <h2 class="border-bottom-orange-init">{{'CLICKACADEMY.TOOLS' | translate}}</h2>
        <p>{{'CLICKACADEMY.TOOLS_DESCRIPTION' | translate}}</p>

        <div fxLayout="row" fxLayoutGap="10px">
            <span fxLayout="column" fxFlex="33">
                <img class="responsive-img" src="https://dummyimage.com/300x300/#D5D5D/#D5D5D.png">
                <p>{{'CLICKACADEMY.TOOLS_TEXT1' | translate}}</p>
            </span>
            <span fxLayout="column" fxFlex="33">
                <img class="responsive-img" src="https://dummyimage.com/300x300/#D5D5D/#D5D5D.png">
                <p>{{'CLICKACADEMY.TOOLS_TEXT2' | translate}}</p>
            </span>
            <span fxLayout="column" fxFlex="33">
                <img class="responsive-img" src="https://dummyimage.com/300x300/#D5D5D/#D5D5D.png">
                <p>{{'CLICKACADEMY.TOOLS_TEXT3' | translate}}</p>
            </span>
        </div>
    </div>

    <div class="comissions">
        <h2 class="border-bottom-orange-init">{{'CLICKACADEMY.COMISSIONS' | translate}}</h2>
        <p>{{'CLICKACADEMY.COMISSIONS_TEXT' | translate}}</p>
    </div>

    
  <mat-tab-group>
        <!-- exito -->
        <mat-tab label="exito.com" id="exitoTab">
            <table class="w-100 text-left mt-3">
                <thead>
                    <th>{{'CLICKACADEMY.CATEGORY' | translate}}</th>
                    <th>{{'CLICKACADEMY.COMISSION' | translate}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Textiles</td>
                        <td>9.60%</td>
                    </tr>
                    <tr>
                        <td>Ropa hogar y otros</td>
                        <td>6.40%</td>
                    </tr>
                    <tr>
                        <td>Ropa hogar y otros</td>
                        <td>4.00%</td>
                    </tr>
                    <tr>
                        <td>Accesorios de telefonia, Categoria generica, Punto liquidacion, Garantias extendidas, Ventilacion, Calefaccion, Combos sublinea 51, Cuidado pisos, Cuidado ropa, Cuidado personal, Aires acondicionados, Accesorios preparacion alimentos, Bebidas, Coccion electrica, Preparacion Alimentos</td>
                        <td>2.40%</td>
                    </tr>
                    <tr>
                        <td>DVD, Accesorios pata TV, Teatro en casa, Equipos de sonido, Portables de audio, Accesorios audio, Networking, Telefonos, Accesorios TV-Audio y teatro en casa, Perifericos, Accesorios para PC.</td>
                        <td>1.60%</td>
                    </tr>
                    <tr>
                        <td>Televisores, Celulares gama alta</td>
                        <td>0.96%</td>
                    </tr>
                    <tr>
                        <td>Calefaccion, Coccion, Refrigeracion, Maquinas de coser, Lavadoras, Secadoras, Video juegos</td>
                        <td>0.80%</td>
                    </tr>
                    <tr>
                        <td>Celulares gama media, Celulares gama baja</td>
                        <td>0.64%</td>
                    </tr>
                    <tr>
                        <td>Informatica, Impresión, Camaras fotograficas y filmadoras.</td>
                        <td>0.48%</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
    
         <!-- seguros -->
        <mat-tab label="Seguros"> 
                <table class="w-100 text-left mt-3">
                        <thead>
                            <th>{{'CLICKACADEMY.CATEGORY' | translate}}</th>
                            <th>{{'CLICKACADEMY.COMISSION' | translate}}</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SOAT Auto</td>
                                <td>$32.000</td>
                            </tr>
                            <tr>
                                <td>SOAT Moto</td>
                                <td>$8.000</td>
                            </tr>
                            <tr>
                                <td>Seguro viaje internacional</td>
                                <td>$16.000</td>
                            </tr>
                            <tr>
                                <td>Seguro Celular</td>
                                <td>$12.000</td>
                            </tr>
                            <tr>
                                <td>Seguro Smartwatch</td>
                                <td>$12.000</td>
                            </tr>
                            <tr>
                                <td>Seguro Tablet</td>
                                <td>$12.000</td>
                            </tr>
                            <tr>
                                <td>Seguro Portátil</td>
                                <td>$12.000</td>
                            </tr>
                            <tr>
                                <td>Seguro consola de videojuego</td>
                                <td>$12.000</td>
                            </tr>
                            <tr>
                                <td>Seguro mascotas</td>
                                <td>$12.000</td>
                            </tr>
                            <tr>
                                <td>Seguro motos</td>
                                <td>$12.000</td>
                            </tr>
                            <tr>
                                <td>Seguro bicicletas</td>
                                <td>$12.000</td>
                            </tr>
                            <tr>
                                <td>Seguro de viaje nacional</td>
                                <td>$4.800</td>
                            </tr>
                        </tbody>
                    </table>
        </mat-tab>
    
         <!-- viajes -->
        <mat-tab label="Viajes">  
                <table class="w-100 text-left mt-3">
                        <thead>
                            <th>{{'CLICKACADEMY.CATEGORY' | translate}}</th>
                            <th>{{'CLICKACADEMY.COMISSION' | translate}}</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Paquetes de viaje</td>
                                <td>$40.000</td>
                            </tr>
                            <tr>
                                <td>Vuelos, actividades, autos, circuitos, hoteles</td>
                                <td>$16.000</td>
                            </tr>
                        </tbody>
                    </table>
        </mat-tab>
    
      </mat-tab-group>

      <p>{{'CLICKACADEMY.MARKETPLACE' | translate}}</p>

</div>
