<app-title showTitleh3="true" text="Agregar campaña"></app-title>

<form [formGroup]="campaignForm" fxLayout="column">
  <mat-form-field>
    <input matInput id="campaign" type="text" placeholder="Nombre de la campaña" formControlName="campaign" />
    <mat-error id="requiredcampaign" *ngIf="campaignForm.controls.campaign.invalid && campaignForm.controls.campaign.errors.required">{{
      'GENERIC.REQUIRED' | translate: { formValue: 'Nombre de la campaña' }
    }}</mat-error>
    <mat-error id="invalidUrl" *ngIf="campaignForm.controls.campaign.invalid && campaignForm.controls.campaign.errors.pattern">Nombre de campaña inválida</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput id="link" type="text" placeholder="Link" formControlName="link" />
    <mat-error id="requiredlink" *ngIf="campaignForm.controls.link.invalid && campaignForm.controls.link.errors.required">{{
      'GENERIC.REQUIRED' | translate: { formValue: 'Link' }
    }}</mat-error>
  </mat-form-field>
  <div>
    <span class="mat-elevation-z1 border-radius" fxLayout="row-reverse">
      <input matInput [matDatepicker]="picker" formControlName="date" readonly />
      <mat-datepicker-toggle class="icon-date purple2" matSuffix [for]="picker"></mat-datepicker-toggle>

      <mat-datepicker class="icon-date" touchUi #picker></mat-datepicker>
    </span>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" class="mt-3">
      <mat-slide-toggle formControlName="register">Registro</mat-slide-toggle>
  </div>

</form>

<div fxLayout="row" fxLayoutAlign="end center" class="mt-3">
    <app-button title="Cancelar" [haveIcon]="false" (action)="onNoClick()" color="transparent" classButton="no-shadow"></app-button>
    <app-button title="Agregar campaña" (action)="saveCampaign()" [haveIcon]="false"  classButton="shadow-purple" [disabled]="!campaignForm.valid"></app-button>
  </div>
