<div
  class="newbusiness"
  fxLayout="column"
  fxLayout.gt-xs="row"
  fxLayoutGap.gt-xs="50px"
  fxLayoutGap.xs="0"
  fxLayoutAlign="space-between center"
  fxLayoutAlign.xs="none"
>


  <div [routerLink]="['/blog']" class="newblog__text cursor-pointer" fxLayout.gt-xs="column" fxFlex="40">
    <!-- <h3 class="border-bottom-orange-init f-23">Nuestro blog</h3> -->
    <app-title showTitleh2="true" text="Nuestro blog" classWeb="mb-0" classMobile="mb-0"></app-title>
    <p ngClass.gt-xs="f-20" ngClass.xs="f-16">Descubre las últimas novedades y artículos relacionados con nuestra plataforma.</p>
    <app-button fxHide.xs="true" title="Ver todos los artículos" (action)="routeBlog()" color="gray" classIcon="tio-share_vs style-icon"></app-button>
  </div>

  <div class="newblog__img gtmHomeClicRgistroNuevosNegociosIrAlRegistro" fxLayout.gt-xs="column" fxFlex="50">
    <img
      fxShow.xs="false"
      [routerLink]="['/blog']"
      class="imagen-responsive-blog responsive-img radius pt-2 mt-5 cursor-pointer gtmHomeClicRgistroNuevosNegociosIrAlRegistro"
      src="assets/img/blog-banner.png"
      alt="blogsdesktop"
    />
    <img
      fxShow.gt-xs="false"
      [routerLink]="['/blog']"
      class="imagen-responsive-blog-mobile responsive-img radius gtmHomeClicRgistroNuevosNegociosIrAlRegistro"
      src="assets/img/blog-banner.png"
      alt="blogsmobile"
    />
    <div class="content-type">
      <h3 class="text-title-blog">Blog</h3>
      <p class="text-line-blog">No te pierdas lo último en novedades de Clickam.</p>
    </div>
    <div class="mt-3 mb-3" fxLayout="row" fxLayoutAlign="center center">
      <app-button fxHide.gt-xs="true" title="Ver todos los artículos" (action)="routeBlog()" color="gray" classIcon="tio-share_vs style-icon"></app-button>
    </div>
  </div>
</div>
