<div class="login-container" [formGroup]="loginForm">
  <mat-form-field>
    <input
      matInput
      id="email"
      type="email"
      placeholder="{{ 'GENERIC.EMAIL' | translate }}"
      formControlName="Username"
      required
    />
    <mat-error *ngIf="loginForm.controls.Username.invalid">{{
      "LOGIN.INVALID_EMAIL" | translate
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      id="password"
      type="password"
      placeholder="{{ 'GENERIC.PASSWORD' | translate }}"
      formControlName="Password"
      required
    />
    <mat-error *ngIf="loginForm.controls.Password.invalid">{{
      "LOGIN.INVALID_PASSWORD" | translate
    }}</mat-error>
  </mat-form-field>

  <p>{{ "LOGIN.FORGOT_PASSWORD" | translate}}</p>

  <button
  mat-raised-button
  id="login"
  color="primary"
  (click)="login()"
  [disabled]="!loginForm.valid"
>
  {{ "LOGIN.LOGIN" | translate }}
</button>

</div>
