@import 'variables';

.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.cursor{
  &-pointer{
    cursor: pointer;
  }
}

.text-decoration{
  &:hover{
    text-decoration: underline;
  }
}

.mat-orange{
  background: $primary-color;
  color: $white;
}
