.graph-bussiness-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
  .graph-container {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    @media screen and (min-width: 900px) {
      width: 70%;
    }
  }
  .bussiness-container {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    @media screen and (min-width: 900px) {
      width: 30%;
    }
  }

  .purchase-detail-container {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    @media screen and (min-width: 900px) {
      width: 100%;
    }
  }
}
