<div class="navigation-group" *ngIf="section.isgroup === true">
  <div class="navigation-group__header">
    <span class="navigation-group__drag">
      <mat-icon matSuffix class="mr-1 blue cursor-pointer" cdkDragHandle>drag_indicator</mat-icon>
    </span>

    <span class="navigation-group__description">
      <span fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <i *ngIf="section.icon" ngClass="{{ section.icon }} icmen"></i>
        {{ section.description }}
      </span>
    </span>
    <div class="navigation-group__actions">
      <i *ngIf="isValidAddItems" class="tio-add style-icon cursor-pointer" (click)="addNavigationItem()"></i>
      <i *ngIf="!isValidAddItems" class="tio-add style-icon navigation-group__addIcon"></i>

      <i class="tio-edit style-icon cursor-pointer" (click)="editNavigationGroup()"></i>

      <img
        *ngIf="isValidDeleteGroup"
        class="cursor-pointer"
        (click)="openDeleteNavigationSection()"
        src="/assets/img/dashboard/icon-remove-comision.svg"
        alt="icono borrar"
      />
    </div>
  </div>
  <div class="navigation-group__content" cdkDropList (cdkDropListDropped)="dropItems($event)">
    <app-navigation-item
      *ngFor="let link of section.links || section.menus"
      [link]="link"
      (editItem)="editNavigationItem($event)"
      (deleteItem)="deleteNavigationItem($event)"
      (changeStateItem)="changeStateOfItem($event)"
      cdkDrag
    ></app-navigation-item>
  </div>
  
</div>

<div *ngIf="section.isgroup === false" cdkDropList (cdkDropListDropped)="dropItems($event)">

  <div class="navigation-item">
    <span class="navigation-item__drag">
      <mat-icon matSuffix class="mr-1 blue cursor-pointer" cdkDragHandle>drag_indicator</mat-icon>
    </span>
    <span ngClass="navigation-item__description {{ section.icon }}">{{ section.description || section.name }}</span>
    <span class="navigation-item__link">
      <a href="{{ section.link }}" class="text-link text-underline cursor-pointer" target="_blank"> {{ section.link || section.route }}</a>
    </span>
    <div class="navigation-item__actions">
      <i class="tio-edit style-icon cursor-pointer" (click)="editNavigationItem(section)"></i>
  
      <i
        class="style-icon cursor-pointer"
        [ngClass]="{
          'tio-visible': section.active === true,
          'tio-hidden': section.active === false
        }"
        (click)="changeStateOfItem(section)"
      ></i>
  
      <img
        class="cursor-pointer"
        (click)="deleteNavigationItem(section)"
        src="/assets/img/dashboard/icon-remove-comision.svg"
        alt=""
      />
    </div>
  </div>

</div>


