<div class="navigation-group">
  <div class="navigation-group__header">
    <span class="navigation-group__drag">
      <mat-icon matSuffix class="mr-1 blue cursor-pointer" cdkDragHandle
        >drag_indicator</mat-icon
      >
    </span>

    <span class="navigation-group__description">{{ section.description }}</span>
    <div class="navigation-group__actions">
      <i
        class="tio-add style-icon cursor-pointer"
        (click)="addNavigationItem()"
      ></i>

      <i
        class="tio-edit style-icon cursor-pointer"
        (click)="editNavigationGroup()"
      ></i>

      <img
        class="cursor-pointer"
        (click)="openDeleteNavigationSection()"
        src="/assets/img/dashboard/icon-remove-comision.svg"
        alt=""
      />
    </div>
  </div>
  <div class="navigation-group__content">
    <app-navigation-item
      *ngFor="let link of section.links"
      [link]="link"
    ></app-navigation-item>
  </div>
</div>

<ng-template #templateDeleteNavigationGroup>
  <div ngClass="delete-container">
    <h3 ngClass="title_delete">Eliminar grupo</h3>
    <p ngClass="text-container">
      ¿Está seguro que desea eliminar el grupo seleccionado?
    </p>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-start center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="5px"
      class="center-buttons"
    >
      <div ngClass="mt-3 mb-2 hide-button-on-mobile">
        <button mat-button ngClass="button_cancel" (click)="cancelDelete()">
          Cancelar
        </button>
      </div>
      <div>
        <button mat-button class="red" (click)="deleteNavigationSectionService()">
          <span fxLayoutAlign="center space-between"> Eliminar grupo </span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
