.form-container {
  width: 400px;
  display: flex;
  flex-direction: column;
}
input[type='file'] {
  display: none;
}
.w-icon {
  width: 30px;
}
.third-text {
  color: #37236a;
  font-family: 'galano-bold', sans-serif;
}
.end-label {
  display: flex;
  justify-content: flex-end;
}
.button-padding {
  padding-right: 0px;
}
.title-gray {
  color: #a7a3b1;
  font-size: 11px;
  font-family: 'galano-bold', sans-serif;
}
.title-secondary {
  color: #a7a3b1;
  font-size: 12px;
}
.dialog-height {
  max-height: 80vh !important;
}
.file-input {
  color: #37236a;
  font-weight: bold;
  font-size: 12px;
}
.text-small {
  font-size: 11px;
}
