.rewards-graph {
  .compare-percent {
    margin: 0px;
    padding-right: 20px;
    text-align: left;
    width: 100%;
    color: #2c1b4a;
    margin-bottom: 16px;
    @media screen and (min-width: 840px) {
      text-align: right;
    }
    &__icon {
      vertical-align: sub;
      &.more {
        color: #61b751;
      }
      &.less {
        color: #f25c5c;
      }
    }
  }
  .chart-container {
    height: 350px;
    .rewards-chart {
      width: 100%;
      height: 100%;
    }
  }
}
