<div id="{{ data.id }}" class="modal-width">
  <div fxLayoutAlign="space-between">
    <h1 class="f-18 galano-bold" mat-dialog-title *ngIf="data.history">{{ 'HISTORICAL.PRODUCT' | translate }} : {{ data.title }}</h1>
    <a id="closeDialog" matRipple (click)="onNoClick()" *ngIf="data.history"><mat-icon class="close cursor-pointer">close</mat-icon></a>
  </div>

  <div fxLayoutAlign="end" *ngIf="!data.history">
    <a id="closeDialog" matRipple (click)="onNoClick()" *ngIf="data.showCloseIcon"><mat-icon class="close">close</mat-icon></a>
  </div>

  <h1 mat-dialog-title *ngIf="data.showTitle">{{ data.title }}</h1>
  <div mat-dialog-content>
    <!-- exito -->
    <div fxLayout="row" *ngIf="data.exito === true" fxLayoutGap="15px" class="mb-2">
      <div fxLayout="column" fxFlex="26">
        <img class="responsive-img img-desk" src="{{ data.img }}" alt="{{ data.title }}" />
      </div>
      <div fxLayout="column" fxFlex="50" *ngIf="data.home">
        <h3 class="title m-0">{{ data.title }}</h3>
        <span class="f-13 gray"></span>
        <span class="d-block orange-text">
          {{ data.infoaditional }}
        </span>
        <span *ngIf="data.showComission"></span>
        <span class="discount small text-line" *ngIf="data.discount !== data.price">{{
          data.discount | currency: '':'symbol':'1.0-0'
        }}</span>
        <span class="discount">{{ data.price | currency: '':'symbol':'1.0-0' }}</span>
        <span class="plu" *ngIf="data.showPlu">PLU:{{ data.plu }} </span>
      </div>
      <div fxLayout="column" fxFlex="50" *ngIf="data.offers">
        <h3 class="title m-0">{{ data.title }}</h3>
      </div>
    </div>
    <!-- others -->
    <div fxLayout="row" *ngIf="data.showProduct && data.infoaditional" fxLayoutGap="15px" class="mb-2">
      <div fxLayout="column" fxFlex="26">
        <img class="responsive-img img-desk" src="{{ data.img }}" alt="{{ data.title }}" />
      </div>
      <div fxLayout="column" fxFlex="50" *ngIf="data.home">
        <h3 class="title m-0">{{ data.title }}</h3>
        <span class="f-13 gray">Comisión:</span>
        <span class="d-block orange-text inf">
          <div [innerHTML]="data.infoaditional"></div>
        </span>
        <span *ngIf="data.showComission">Comisión:</span>
        <span class="discount small text-line" *ngIf="data.discount !== data.price">{{
          data.discount | currency: '':'symbol':'1.0-0'
        }}</span>
        <span class="discount">{{ data.price | currency: '':'symbol':'1.0-0' }}</span>
        <span class="plu" *ngIf="data.showPlu">PLU:{{ data.plu }} </span>
      </div>
      <div fxLayout="column" fxFlex="50" *ngIf="data.offers">
        <h3 class="title m-0">{{ data.title }}</h3>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="data.template"> </ng-container>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" *ngIf="data.showClose">
      {{ data.buttonClose }}
    </button>
    <button mat-button *ngIf="data.showOk">{{ data.buttonOk }}</button>
  </div>
</div>
