@import 'variables';
@import 'general';

.close {
  margin: 12px 10px;
  background:$gray2;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
}

.discount{
  color: $primary-color;
  font-size: 1rem;
  &-aliance{
    color: red;
  }
}

.plu{
  color: $gray2;
}


.small {
  font-size: .8rem !important;
}

.text-line{
  text-decoration: line-through;
  color: $color-p !important;
}
.aliance-img{
  width: 30px;
}


@media screen and (min-width: 600px) {
  .img-desk{
    width: 100px;
    border-radius: 10px;
  }

}

.title {
  font-family: $font-galano-bold;
  color: #707070;
  min-height: 32px;
}

.gray{
  color: $gray2;
}