<app-top (close)="hideMenu()"></app-top>
<div fxLayout="column" fxLayoutAlign="flex-end" class="menu">
  <div class="position-relative pb-3">
    <mat-list>
      <mat-list-item
        *ngFor="let item of options; let i =index"
        routerLink="{{ item.route }}"
        (click)="hideMenu()"
        class="item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        matRipple
      >
        <span id="menuTop{{i}}"> {{ item.name }} </span>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxLayout="row" fxLayoutAlign="center"  class="mb-4" *ngIf="!auth.isLoggedIn()">
      <button mat-raised-button class="orange-border button button-100" color="primary" id="register-bg" (click)="openRegister()">{{ 'GENERIC.REGISTER2' | translate }}</button>
  </div>
  <div class="social-links-menu border-top pt-3">
    <app-sociallinks></app-sociallinks>
  </div>
</div>
