<div class="bg-purple"  ngClass.xs="py-3" fxLayout="column" fxLayoutAlign="center center">
    <div class="container" fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <p  ngClass.xs="text-center galano" fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="galano-bold white"><span ngClass.gt-xs="parallelogram mr-4" ngClass.xs="galano-bold f-18">Gana $10.000 pesos</span> Invita un amigo y gana por su primera compra</p>
        <app-button [haveIcon]="false" title="Invita y gana" color="red" (action)="openRegister()"  classButton="shadow-purple"></app-button>
    </div>
</div>
